<div class="content-layout fullwidth-tabbed-nav-inner-scroll">

    <!-- Header -->
    <div class="header">

        <div class="breadcrumb">
            <span class="path">CONTENT LAYOUTS</span>
            <span class="separator">/</span>
            <span class="path">FULLWIDTH</span>
            <span class="separator">/</span>
            <span class="path current">TABBED NAV INNER SCROLL</span>
        </div>
        <h1>Fullwidth tabbed nav inner scroll layout</h1>

    </div>

    <!-- Main -->
    <div class="main">

        <!-- Navbar -->
        <nav mat-tab-nav-bar>

            <a mat-tab-link
               *ngFor="let link of navLinks"
               [routerLink]="link.path"
               routerLinkActive
               [active]="rla.isActive"
               #rla="routerLinkActive">
                {{link.title}}
            </a>

        </nav>

        <!-- Main inner -->
        <div class="main-inner">

            <router-outlet></router-outlet>

        </div>

    </div>

</div>
