colors {

    .main {

        /* Example viewer */
        .example-viewer {
            display: flex;
            flex-direction: column;
            margin: 32px 0;
            border-radius: 4px;
            overflow: hidden;
            @apply bg-card shadow;

            .title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 88px;
                min-height: 88px;
                max-height: 88px;
                padding: 0 40px;

                h6 {
                    font-weight: 700;
                }

                .controls {
                    display: flex;
                    align-items: center;

                    > * + * {
                        margin-left: 8px;
                    }
                }
            }

            mat-tab-group {

                .mat-tab-header {
                    @apply border-t bg-gray-50 dark:bg-card;
                }

                .mat-tab-body-content {
                    padding: 40px;

                    .treo-highlight {
                        margin: 0;

                        pre {
                            padding: 0;
                            border-radius: 0;
                            box-shadow: none;
                        }

                        pre[class*='language-'] {
                            border: none;
                        }

                        code[class*='language-'],
                        pre[class*='language-'] {
                            background: none;
                        }
                    }
                }
            }
        }

        .example-viewer {

            .colors {
                display: flex;
                align-items: center;

                + .colors {
                    margin-top: 32px;
                }

                > div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 120px;
                    min-width: 120px;
                    max-width: 120px;
                    height: 120px;
                    padding: 16px;
                    margin-right: 32px;
                    border-radius: 4px;
                    text-align: center;
                    font-size: 13px;
                    @apply shadow-md;
                }
            }
        }

        .palettes {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;

            @screen sm {
                width: auto;
            }

            .palette {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-top: 40px;

                @screen sm {
                    margin-top: 48px;
                }

                .colors {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 16px -12px 0 -12px;

                    @screen sm {
                        margin-left: -16px;
                        margin-right: -16px;
                    }

                    .color {
                        display: flex;
                        flex-direction: column;
                        width: 160px;
                        padding: 24px;
                        font-weight: 500;
                        margin: 12px;
                        border-radius: 8px;
                        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);

                        @screen sm {
                            margin: 16px;
                        }

                        .hue {
                            display: flex;
                            align-items: center;

                            .mat-icon {
                                margin-right: 12px;
                            }

                            .hue-value {
                                text-transform: capitalize;
                            }
                        }

                        .divider {
                            padding-top: 16px;
                            margin-bottom: 16px;
                            border-bottom: 1px solid;
                        }
                    }
                }
            }
        }
    }
}
