<div class="content-layout left-sidebar-fullheight-basic">

    <mat-drawer-container>

        <!-- Drawer -->
        <mat-drawer [mode]="'side'"
                    [opened]="true">

            <!-- Demo sidebar content -->
            <asm-demo-sidebar-content></asm-demo-sidebar-content>

        </mat-drawer>

        <mat-drawer-content>

            <!-- Main -->
            <div class="main">

                <!-- Demo content -->
                <asm-demo-content></asm-demo-content>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>


