@import 'src/@assembly/styles/assembly';

classic-layout {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;

    .container {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    // Fixed header
    &.fixed-header {

        header {
            position: sticky;
            top: 0;
        }
    }

    // Fixed footer
    &.fixed-footer {

        footer {
            position: sticky;
            bottom: 0;
        }
    }
}