<!-- LEFT NAVIGATION -->
<asm-navigation class="navigation"
                *ngIf="!asmConfig.layout.navigation.hidden"
                name="leftNavigation"
                [color]="asmConfig.layout.navigation.background"
                [mode]="isScreenSmall ? 'over' : 'side'"
                [opened]="!isScreenSmall">

    <div class="navigation-header"
         asmNavigationHeader>

        <div class="logo">

            <div class="logo-image">
                <img src="assets/images/logo.svg">
            </div>

            <div class="logo-text">
                Assembly
            </div>

        </div>

    </div>

</asm-navigation>
<!-- / LEFT NAVIGATION -->

<!-- CONTAINER -->
<div class="container"
     asmScrollbar>

    <!-- HEADER -->
    <div class="header mat-elevation-z1"
         [ngClass]="asmConfig.layout.header.background"
         *ngIf="!asmConfig.layout.header.hidden">

        <button mat-icon-button
                (click)="toggleNavigation('leftNavigation')">
            <mat-icon class="mat-18">menu</mat-icon>
        </button>

        Header

        <button mat-icon-button
                (click)="toggleDrawer('rightDrawer')">
            <mat-icon class="mat-18">settings</mat-icon>
        </button>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <!--
            *ngIf="true" hack is required here for router-outlet to work correctly. Otherwise,
            it won't register the changes on the layout and won't update the view.
        -->
        <router-outlet *ngIf="true"></router-outlet>

    </div>
    <!-- / CONTENT -->

    <!-- FOOTER -->
    <div class="footer"
         [ngClass]="asmConfig.layout.footer.background"
         *ngIf="!asmConfig.layout.footer.hidden">

        Footer

    </div>
    <!-- / FOOTER -->

</div>
<!-- / CONTAINER -->

<!-- RIGHT DRAWER -->
<asm-drawer name="rightDrawer"
            [position]="'right'"
            [mode]="'over'">
    <asm-theme-configurator></asm-theme-configurator>
</asm-drawer>
<!-- / RIGHT DRAWER -->
