<!-- LEFT NAVIGATION -->
<asm-navigation *ngIf="!asmConfig.layout.navigation.hidden"
                name="leftNavigation"
                [color]="asmConfig.layout.navigation.background"
                [mode]="isScreenSmall ? 'over' : 'side'"
                [opened]="!isScreenSmall">

    <navigation asmNavigationHeader></navigation>

</asm-navigation>
<!-- / LEFT NAVIGATION -->

<!-- CONTAINER -->
<div class="container"
     asmScrollbar>

    <!-- HEADER -->
    <header [ngClass]="asmConfig.layout.header.background"
            *ngIf="!asmConfig.layout.header.hidden"></header>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <content></content>
    <!-- / CONTENT -->

    <!-- FOOTER -->
    <footer [ngClass]="asmConfig.layout.footer.background"
            *ngIf="!asmConfig.layout.footer.hidden"></footer>
    <!-- / FOOTER -->

</div>
<!-- / CONTAINER -->

<!-- RIGHT DRAWER -->
<asm-drawer name="rightDrawer"
            [position]="'right'"
            [mode]="'over'">
    <asm-theme-configurator></asm-theme-configurator>
</asm-drawer>
<!-- / RIGHT DRAWER -->
