<ng-container *ngIf="!item.hidden">

    <ng-container>

        <div class="asm-navigation-item"
             [ngClass]="{'asm-navigation-item-active': active}">

            <mat-icon *ngIf="item.icon"
                      class="asm-navigation-item-icon secondary-text s-18">
                {{item.icon}}
            </mat-icon>

            <div class="asm-navigation-item-title">
                {{item.title}}
            </div>

            <div *ngIf="item.badge"
                 class="asm-navigation-item-badge"
                 [ngStyle]="{'background-color': item.badge.background, 'color': item.badge.color}">
                {{item.badge.title}}
            </div>

        </div>

    </ng-container>

    <ng-container *ngIf="!skipChildren">

        <div class="asm-navigation-item-children">

            <ng-container *ngFor="let item of item.children">

                <!-- Basic -->
                <asm-navigation-basic-item *ngIf="item.type === 'item'"
                                           [item]="item"></asm-navigation-basic-item>

                <!-- Collapsable -->
                <asm-navigation-collapsable-item *ngIf="item.type === 'collapsable'"
                                                 [item]="item"></asm-navigation-collapsable-item>

                <!-- Group -->
                <asm-navigation-group-item *ngIf="item.type === 'group'"
                                           [item]="item"></asm-navigation-group-item>

            </ng-container>

        </div>

    </ng-container>

</ng-container>
