<!-- LEFT NAVIGATION -->
<asm-navigation class="navigation bg-gray-50 theme-light"
                [name]="'leftNavigation'"
                [appearance]="'classic'"
                [mode]="isScreenSmall ? 'over' : 'side'"
                [opened]="!isScreenSmall">

    <div asmNavigationHeader>

        <div class="logo">

            <div class="logo-image">
                <img src="assets/images/logo/logo-blue-grey.svg">
            </div>

            <div class="logo-text">
                Assembly
            </div>

        </div>

    </div>

</asm-navigation>
<!-- / LEFT NAVIGATION -->

<!-- CONTAINER -->
<div class="container">

    <!-- HEADER -->
    <div class="header">

        <button mat-icon-button
                (click)="toggleNavigation('leftNavigation')">
            <mat-icon [svgIcon]="'menu'"></mat-icon>
        </button>

        Header

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <!--
            *ngIf="true" hack is required here for router-outlet to work correctly. Otherwise,
            it won't register the changes on the layout and won't update the view.
        -->
        <router-outlet *ngIf="true"></router-outlet>

    </div>
    <!-- / CONTENT -->

    <!-- FOOTER -->
    <div class="footer">

        Footer

    </div>
    <!-- / FOOTER -->

</div>
<!-- / CONTAINER -->
