@import 'assembly';

cards-content {

    .main {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        asm-card {
            margin: 32px;

            @include asm-media-breakpoint('lt-sm') {
                margin: 16px;
            }
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-theme {

}
