@import 'assembly';

cards-content {

    .main {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1600px;

        asm-card {
            margin: 16px;
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-theme {

}
