<!-- Empty -->
<layout *ngIf="layout === 'empty'"
        type="empty"></layout>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Vertical Layouts -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<!-- Basic -->
<layout *ngIf="layout === 'vertical-basic'"
        type="vertical-basic"></layout>

<!-- Classic -->
<layout *ngIf="layout === 'vertical-classic'"
        type="vertical-classic"></layout>

<!-- Classy -->
<layout *ngIf="layout === 'vertical-classy'"
        type="vertical-classy"></layout>

<!-- Compact -->
<layout *ngIf="layout === 'vertical-compact'"
        type="vertical-compact"></layout>

<!-- Dense -->
<layout *ngIf="layout === 'vertical-dense'"
        type="vertical-dense"></layout>

<!-- Modern -->
<layout *ngIf="layout === 'vertical-modern'"
        type="vertical-modern"></layout>

<!-- Thin -->
<layout *ngIf="layout === 'vertical-thin'"
        type="vertical-thin"></layout>

<!-- Thin light -->
<layout *ngIf="layout === 'vertical-thin-light'"
        type="vertical-thin-light"></layout>
