<!-- Empty -->
<layout *ngIf="layout === 'empty'"
        type="empty"></layout>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Vertical Layouts -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<!-- Basic -->
<layout *ngIf="layout === 'basic-vertical'"
        type="basic-vertical"></layout>

<!-- Classic -->
<layout *ngIf="layout === 'classic-vertical'"
        type="classic-vertical"></layout>

<!-- Classy -->
<layout *ngIf="layout === 'classy-vertical'"
        type="classy-vertical"></layout>

<!-- Compact -->
<layout *ngIf="layout === 'compact-vertical'"
        type="compact-vertical"></layout>

<!-- Dense -->
<layout *ngIf="layout === 'dense-vertical'"
        type="dense-vertical"></layout>

<!-- Modern -->
<layout *ngIf="layout === 'modern-vertical'"
        type="modern-vertical"></layout>

<!-- Thin -->
<layout *ngIf="layout === 'thin-vertical'"
        type="thin-vertical"></layout>

<!-- Thin light -->
<layout *ngIf="layout === 'thin-light-vertical'"
        type="thin-light-vertical"></layout>
