<!-- Empty -->
<layout *ngIf="layout === 'empty'"
        type="empty"></layout>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Layouts with vertical navigation -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<!-- Basic -->
<layout *ngIf="layout === 'basic'"
        type="basic"></layout>

<!-- Classic -->
<layout *ngIf="layout === 'classic'"
        type="classic"></layout>

<!-- Classy -->
<layout *ngIf="layout === 'classy'"
        type="classy"></layout>

<!-- Compact -->
<layout *ngIf="layout === 'compact'"
        type="compact"></layout>

<!-- Dense -->
<layout *ngIf="layout === 'dense'"
        type="dense"></layout>

<!-- Thin -->
<layout *ngIf="layout === 'thin'"
        type="thin"></layout>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Configurator -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<asm-drawer [name]="'configuratorDrawer'"
            [position]="'right'"
            [mode]="'over'">
    <!-- Layout -->
    <fieldset>
        <legend>Theme</legend>
        <mat-radio-group [color]="'primary'"
                         [value]="theme"
                         (change)="setDefaultTheme($event)">
            <mat-radio-button [value]="'light'">Light</mat-radio-button>
            <mat-radio-button [value]="'dark'">Dark</mat-radio-button>
        </mat-radio-group>
    </fieldset>

    <fieldset>
        <legend>Layout</legend>
        <mat-radio-group [color]="'primary'"
                         [value]="layout"
                         (change)="setDefaultLayout($event)">
            <mat-radio-button [value]="'basic'">Basic</mat-radio-button>
            <mat-radio-button [value]="'classic'">Classic</mat-radio-button>
            <mat-radio-button [value]="'classy'">Classy</mat-radio-button>
            <mat-radio-button [value]="'compact'">Compact</mat-radio-button>
            <mat-radio-button [value]="'dense'">Dense</mat-radio-button>
            <mat-radio-button [value]="'empty'">Empty</mat-radio-button>
            <mat-radio-button [value]="'thin'">Thin</mat-radio-button>
        </mat-radio-group>
    </fieldset>

</asm-drawer>

