@import 'assembly';

@mixin asm-spinner-theme($theme) {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    asm-spinner {

        &.asm-spinner-appearance-material {

            // Current color
            &.asm-spinner-color-currentColor {

                .path {
                    stroke: currentColor;
                }
            }

            // Primary
            &.asm-spinner-color-primary {

                .path {
                    stroke: map-get($primary, default);
                }
            }

            // Accent
            &.asm-spinner-color-accent {

                .path {
                    stroke: map-get($accent, default);
                }
            }

            // Warn
            &.asm-spinner-color-warn {

                .path {
                    stroke: map-get($warn, default);
                }
            }
        }
    }
}
