@import 'assembly';

error-404 {
    display: flex;
    padding: 32px;

    .image {
        max-width: 640px;
        width: 100%;
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-angular-material-theme() {

    error-404 {

    }
}
