@import 'assembly';

layout[type="thin"] {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    width: 100%;

    > asm-navigation {

        .asm-navigation-content-header {

            .logo {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 80px;
                min-height: 80px;
                max-height: 80px;

                img {
                    max-width: 32px;
                }
            }
        }
    }

    > .wrapper {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        min-width: 0;

        > .header {
            position: relative;
            display: flex;
            flex: 1 1 auto;
            align-items: center;
            width: 100%;
            height: 80px;
            max-height: 80px;
            min-height: 80px;
            padding: 0 24px;
            z-index: 49;

            .navigation-toggle-button {
                margin-right: 8px;
            }

            .spacer {
                display: flex;
                flex: 1 1 auto;
                height: 1px;
            }

            .configurator-toggle-button {
                margin-right: 8px;
            }

            shortcuts {
                margin-right: 8px;
            }

            messages {
                margin-right: 8px;
            }

            .user {
                height: 48px;
                min-height: 48px;
                max-height: 48px;

                .avatar {
                    position: relative;

                    img {
                        width: 32px;
                        min-width: 32px;
                        height: 32px;
                        min-height: 32px;
                        border-radius: 50%;
                    }

                    .status {
                        position: absolute;
                        right: -2px;
                        bottom: -3px;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        border-width: 2px;
                    }
                }

                .info {
                    display: flex;
                    align-items: center;
                    margin-left: 12px;
                    overflow: hidden;

                    @include asm-media-breakpoint('xs') {
                        display: none;
                    }

                    .name {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        line-height: 1;
                    }

                    .menu {
                        margin-left: 4px;
                        height: 20px;
                        min-height: 20px;
                        max-height: 20px;

                        .mat-icon {
                            @include asm-icon-size(20);
                        }
                    }
                }
            }
        }

        > .content {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;

            > *:not(router-outlet) {
                position: relative;
                display: flex;
                flex: 1 1 auto;
            }
        }

        > .footer {
            display: flex;
            flex: 1 1 auto;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            height: 80px;
            max-height: 80px;
            min-height: 80px;
            padding: 0 24px;
            z-index: 49;
        }
    }

    &.fixed-header {

        > .wrapper {

            > .header {
                position: sticky;
                top: 0;
            }
        }
    }

    &.fixed-footer {

        > .wrapper {

            > .footer {
                position: sticky;
                bottom: 0;
            }
        }
    }
}

.user-status-menu {

    .status {
        width: 16px;
        height: 16px;
        margin-right: 12px;
        border-radius: 50%;
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-theme {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $is-dark: map-get($theme, is-dark);

    layout[type='thin'] {

        > asm-navigation {

            asm-navigation-subheader-item {

                .asm-navigation-item {

                    .asm-navigation-item-title {
                        color: map-get($primary, 400);
                    }
                }
            }
        }

        > .wrapper {

            > .header {
                @if ($is-dark) {
                    box-shadow: 0 1px 0 0 map-get($foreground, divider);
                } @else {
                    background: map-get($background, card);
                    @include asm-elevation(1);
                }

                .user {

                    .avatar {

                        .status {
                            border-color: map-get($background, card);

                            &.online {
                                background: asm-color($asm-green, 500);
                            }

                            &.away {
                                background: asm-color($asm-orange, 500);
                            }

                            &.busy {
                                background: asm-color($asm-red, 500);
                            }

                            &.not-visible {
                                background: asm-color($asm-gray, 500);
                            }
                        }
                    }
                }
            }

            > .footer {
                @if (not $is-dark) {
                    background: map-get($background, card);
                    @include asm-elevation(1);
                }
                box-shadow: 0 -1px 0 0 map-get($foreground, divider);
                color: map-get($foreground, secondary-text);
            }
        }
    }

    .user-status-menu {

        .status {

            &.online {
                background: asm-color($asm-green, 500);
            }

            &.away {
                background: asm-color($asm-orange, 500);
            }

            &.busy {
                background: asm-color($asm-red, 500);
            }

            &.not-visible {
                background: asm-color($asm-gray, 500);
            }
        }
    }
}
