<div class="content-layout fullwidth-basic-normal-scroll">

    <!-- Card -->
    <asm-card class="modern">

        <!-- Form area -->
        <div class="form">

            <!-- Logo -->
            <div class="logo">
                <img class="logo-dark"
                     src="assets/images/logo/logo-dark.svg">
                <img class="logo-light"
                     src="assets/images/logo/logo-light.svg">
            </div>

            <!-- Title -->
            <h3>Create your account</h3>
            <h6>Join us to enjoy Assembly</h6>

            <!-- Message -->
            <asm-message *ngIf="message"
                         [type]="message.type"
                         @shake>
                {{message.content}}
            </asm-message>

            <!-- Signup form -->
            <form [formGroup]="signupForm">

                <!-- Name field -->
                <mat-form-field class="name-field">
                    <mat-label>Name</mat-label>
                    <input id="name"
                           matInput
                           [formControlName]="'name'">
                    <mat-icon matSuffix
                              [svgIcon]="'account_circle'"></mat-icon>
                    <mat-error *ngIf="signupForm.get('name').hasError('required')">
                        Name is required
                    </mat-error>
                </mat-form-field>

                <!-- Email field -->
                <mat-form-field class="email-field">
                    <mat-label>Email</mat-label>
                    <input id="email"
                           matInput
                           [formControlName]="'email'">
                    <mat-icon matSuffix
                              [svgIcon]="'mail'"></mat-icon>
                    <mat-error *ngIf="signupForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="password-field">
                    <mat-label>Password</mat-label>
                    <input id="password"
                           matInput
                           type="password"
                           [formControlName]="'password'"
                           #passwordField>
                    <button mat-icon-button
                            (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                            tabindex="-1"
                            matSuffix>
                        <mat-icon *ngIf="passwordField.type === 'password'"
                                  [svgIcon]="'visibility'"></mat-icon>
                        <mat-icon *ngIf="passwordField.type === 'text'"
                                  [svgIcon]="'visibility_off'"></mat-icon>
                    </button>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <!-- Password confirm field -->
                <mat-form-field class="password-confirm-field">
                    <mat-label>Password (Confirm)</mat-label>
                    <input id="password-confirm"
                           matInput
                           type="password"
                           [formControlName]="'passwordConfirm'"
                           #passwordConfirmField>
                    <button mat-icon-button
                            (click)="passwordConfirmField.type === 'password' ? passwordConfirmField.type = 'text' : passwordConfirmField.type = 'password'"
                            tabindex="-1"
                            matSuffix>
                        <mat-icon *ngIf="passwordConfirmField.type === 'password'"
                                  [svgIcon]="'visibility'"></mat-icon>
                        <mat-icon *ngIf="passwordConfirmField.type === 'text'"
                                  [svgIcon]="'visibility_off'"></mat-icon>
                    </button>
                    <mat-error *ngIf="signupForm.get('passwordConfirm').hasError('required')">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        Passwords must match
                    </mat-error>
                </mat-form-field>

                <!-- Submit button -->
                <button class="submit-button asm-mat-button-large"
                        mat-raised-button
                        [color]="'primary'"
                        [disabled]="signupForm.disabled || signupForm.invalid">
                    <span *ngIf="!signupForm.disabled">
                        Create Account
                    </span>
                    <asm-spinner *ngIf="signupForm.disabled"
                                 [appearance]="'material'"
                                 [diameter]="24"></asm-spinner>
                </button>

                <!-- Footer link -->
                <div class="footer-link">
                    <span>Already have an account?</span>
                    <a class="link"
                       [routerLink]="['/login']">Log in</a>
                </div>

                <!-- Terms and privacy -->
                <div class="terms-and-privacy">
                    <span>By clicking "<b>Create Account</b>" you agree to the</span>
                    <a class="link"
                       [routerLink]="['./']">Terms of Service</a>
                    <span>and</span>
                    <a class="link"
                       [routerLink]="['./']">Privacy Policy</a>.
                </div>

            </form>

        </div>

        <!-- Content area -->
        <div class="content"></div>

    </asm-card>

</div>
