<div class="content-layout with-centered-content">

    <!-- Card -->
    <div class="card auth modern">

        <!-- Form container -->
        <div class="form-container">

            <!-- Logo -->
            <div class="logo">
                <img class="logo-dark"
                     src="assets/images/logo/logo-dark.svg">
                <img class="logo-light"
                     src="assets/images/logo/logo-light.svg">
            </div>

            <!-- Title -->
            <div class="title">Create your account</div>
            <div class="subtitle text-secondary">Join us to enjoy Assembly</div>

            <!-- Message -->
            <asm-message *ngIf="message"
                         [appearance]="'solid'"
                         [type]="message.type"
                         [@shake]="messageAnimationState">
                <div asmMessageContent>{{message.content}}</div>
            </asm-message>

            <!-- Signup form -->
            <form [formGroup]="signupForm"
                  novalidate>

                <!-- Name field -->
                <mat-form-field class="name-field"
                                [appearance]="'standard'">
                    <mat-label>Name</mat-label>
                    <input id="name"
                           matInput
                           [formControlName]="'name'">
                    <mat-icon matSuffix>account_circle</mat-icon>
                    <mat-error *ngIf="signupForm.get('name').hasError('required')">
                        Name is required
                    </mat-error>
                </mat-form-field>

                <!-- Email field -->
                <mat-form-field class="email-field"
                                [appearance]="'standard'">
                    <mat-label>Email</mat-label>
                    <input id="email"
                           matInput
                           [formControlName]="'email'">
                    <mat-icon matSuffix>mail</mat-icon>
                    <mat-error *ngIf="signupForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="password-field"
                                [appearance]="'standard'">
                    <mat-label>Password</mat-label>
                    <input id="password"
                           matInput
                           type="password"
                           [formControlName]="'password'"
                           #passwordField>
                    <button mat-icon-button
                            (mousedown)="passwordField.type = 'text'"
                            (mouseup)="passwordField.type = 'password'"
                            [disableRipple]="true"
                            tabindex="-1"
                            matSuffix>
                        <mat-icon *ngIf="passwordField.type === 'password'">visibility_on</mat-icon>
                        <mat-icon *ngIf="passwordField.type === 'text'">visibility_off</mat-icon>
                    </button>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <!-- Password confirm field -->
                <mat-form-field class="password-confirm-field"
                                [appearance]="'standard'">
                    <mat-label>Password (Confirm)</mat-label>
                    <input id="password-confirm"
                           matInput
                           type="password"
                           [formControlName]="'passwordConfirm'"
                           #passwordConfirmField>
                    <button mat-icon-button
                            (mousedown)="passwordConfirmField.type = 'text'"
                            (mouseup)="passwordConfirmField.type = 'password'"
                            [disableRipple]="true"
                            tabindex="-1"
                            matSuffix>
                        <mat-icon *ngIf="passwordConfirmField.type === 'password'">visibility_on</mat-icon>
                        <mat-icon *ngIf="passwordConfirmField.type === 'text'">visibility_off</mat-icon>
                    </button>
                    <mat-error *ngIf="signupForm.get('passwordConfirm').hasError('required')">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="signupForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        Passwords must match
                    </mat-error>
                </mat-form-field>

                <!-- Sign up button -->
                <button class="signup-button asm-mat-button-large"
                        mat-raised-button
                        [color]="'primary'"
                        [disabled]="signupForm.disabled || signupForm.invalid">
                    <span *ngIf="!signupForm.disabled">
                        Create Account
                    </span>
                    <asm-spinner *ngIf="signupForm.disabled"
                                 [appearance]="'material'"
                                 [diameter]="24"></asm-spinner>
                </button>

                <!-- Terms and privacy -->
                <div class="terms-and-privacy">
                    <span>By clicking "<b>Create Account</b>" you agree to the</span>
                    <a class="link"
                       [routerLink]="['./']">Terms of Service</a>
                    <span>and</span>
                    <a class="link"
                       [routerLink]="['./']">Privacy Policy</a>.
                </div>

                <!-- Login link -->
                <div class="login-link">
                    <span>Already have an account?</span>
                    <a class="link"
                       [routerLink]="['/login']">Log in</a>.
                </div>

            </form>

        </div>

        <!-- Content container -->
        <div class="content-container"></div>

    </div>

</div>
