<div class="content-layout fullwidth-standard-normal-scroll docs">

    <div class="header">

        <div class="container">

            <div class="breadcrumb">
                <span class="path">UI ELEMENTS</span>
                <span class="separator">/</span>
                <span class="path current">MATERIAL COMPONENTS</span>
            </div>
            <h1>Overview</h1>

        </div>

    </div>

    <div class="main">

        <div class="container">

            <!-- Introduction -->
            <h2>
                Introduction
            </h2>
            <p>
                Assembly uses Angular Material as its primary user interface library. It offers form controls,
                buttons, tabs, sidebars, icons, modals, tooltips, data tables and many more well tested and
                widely used components.
            </p>
            <p>
                Even though Assembly doesn't follow Google's Material design specifications, Angular Material
                is one of the best Angular component libraries out there and since it's developed and maintained
                by Google itself, it offers the best compatibility and support for Angular.
            </p>
            <p>
                Assembly is 100% compatible with all Angular Material components.
            </p>

            <!-- Components -->
            <h2>
                Components
            </h2>
            <p>
                Under <b>Components</b> section, you can find all the base components that Angular Material library
                provides. Examples and documentation on the <b>Components</b> section are embedded directly from the
                Angular Material's official documentation and they are for the Angular Material version which Assembly
                currently uses. It also provides a visual testing bed for Assembly to test the compatibility of the
                components.
            </p>
            <p>
                Please note, the <b>Components</b> section may be couple versions behind of the latest version of
                Angular Material. Even though Assembly updates regularly, it's not possible to release updates as soon
                as Angular or Angular Material releases a new version.
            </p>

            <!-- Official docs -->
            <h2>
                Official docs
            </h2>
            <p>
                Official Angular Material documentation:
                <a class="link"
                   href="https://material.angular.io/components/categories"
                   target="_blank">
                    https://material.angular.io/components/categories
                </a>
            </p>

        </div>

    </div>

</div>
