<div class="content-layout fullwidth-tabbed">

    <!-- Header -->
    <div class="header">

        <div class="breadcrumb">
            <span class="path">CONTENT LAYOUTS</span>
            <span class="separator">/</span>
            <span class="path">FULLWIDTH</span>
            <span class="separator">/</span>
            <span class="path current">TABBED</span>
        </div>
        <h1>Fullwidth tabbed layout</h1>

    </div>

    <!-- Main -->
    <div class="main">

        <!-- Tabs -->
        <mat-tab-group>

            <mat-tab label="First">

                <!-- Demo content -->
                <asm-demo-content></asm-demo-content>

            </mat-tab>

            <mat-tab label="Second">

                <!-- Demo content -->
                <asm-demo-content></asm-demo-content>

            </mat-tab>

            <mat-tab label="Third">

                <!-- Demo content -->
                <asm-demo-content></asm-demo-content>

            </mat-tab>

            <mat-tab label="Fourth">

                <!-- Demo content -->
                <asm-demo-content></asm-demo-content>

            </mat-tab>

            <mat-tab label="Fifth">

                <!-- Demo content -->
                <asm-demo-content></asm-demo-content>

            </mat-tab>

            <mat-tab label="Sixth">

                <!-- Demo content -->
                <asm-demo-content></asm-demo-content>

            </mat-tab>

        </mat-tab-group>

    </div>

</div>
