<div class="content-layout with-centered-content">

    <!-- Card -->
    <asm-card class="modern">

        <!-- Primary content area -->
        <div class="primary-content">

            <!-- Logo -->
            <div class="logo">
                <img class="logo-dark"
                     src="assets/images/logo/logo-dark.svg">
                <img class="logo-light"
                     src="assets/images/logo/logo-light.svg">
            </div>

            <!-- Title -->
            <div class="title">Confirmation required!</div>

            <!-- Description -->
            <div class="description">

                <p>
                    A confirmation mail has been sent to <b>{{email}}</b>
                </p>

                <p>
                    Click on the <b>"Confirm my e-mail address"</b> link from the e-mail to confirm your address.
                </p>

            </div>

            <!-- Login link -->
            <div class="login-link">
                <span>Back to</span>
                <a class="link"
                   [routerLink]="['/login']">login</a>.
            </div>

        </div>

    </asm-card>

</div>
