<div class="content-layout fullwidth-basic-normal-scroll">

    <!-- Card -->
    <asm-card class="modern">

        <!-- Form area -->
        <div class="form">

            <!-- Logo -->
            <div class="logo">
                <img class="logo-dark"
                     src="assets/images/logo/logo-dark.svg">
                <img class="logo-light"
                     src="assets/images/logo/logo-light.svg">
            </div>

            <!-- Title -->
            <h3>Confirmation required!</h3>

            <!-- Description -->
            <div class="description">

                <p>
                    A confirmation mail has been sent to <b>{{email}}</b>
                </p>

                <p>
                    Click on the <b>"Confirm my e-mail address"</b> link from the e-mail to confirm your address.
                </p>

            </div>

            <!-- Footer link -->
            <div class="footer-link">
                <span>Go to</span>
                <a class="link"
                   [routerLink]="['/login']">login</a>
            </div>

        </div>

        <!-- Content area -->
        <div class="content"></div>

    </asm-card>

</div>
