tasks {

    // Mat drawer
    .mat-drawer {
        overflow: hidden;

        .mat-drawer-inner-container {
            overflow: hidden;
        }
    }

    // Mat drawer content
    .mat-drawer-content {
        overflow: hidden;
    }
}
