@import 'assembly';

pricing-simple {
    display: flex;

    .content-layout {
        padding: 32px;
        justify-content: center;

        @include asm-media-breakpoint('lt-sm') {
            padding: 16px;
        }

        .background {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 752px;
            z-index: -1;

            svg {
                width: 100%;
                height: 752px;
            }
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 1200px;

            .header {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                margin: 64px 0 80px 0;

                @include asm-media-breakpoint('lt-sm') {
                    margin: 48px 0 56px 0;
                }

                > .title {
                    @extend %title-xl;
                    text-align: center;
                    max-width: 600px;
                }

                > .subtitle {
                    @extend %title-sm;
                    text-align: center;
                    margin-top: 32px;
                    max-width: 480px;
                }

                .recurring-selector {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 64px;

                    @include asm-media-breakpoint('lt-sm') {
                        margin-top: 48px;
                    }

                    > span {
                        font-weight: bold;
                        cursor: pointer;
                        user-select: none;
                    }

                    mat-slide-toggle {
                        margin: 0 16px;
                    }
                }
            }

            .cards {
                position: relative;
                display: flex;
                z-index: 10;
                width: 100%;

                @include asm-media-breakpoint('lt-lg') {
                    flex-direction: column;
                    align-items: center;
                }

                .card {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    flex: 1 0 auto;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 64px;
                    z-index: 1;
                    overflow: visible;

                    &:nth-child(1),
                    &:nth-child(3) {
                        margin: 64px 0;
                        padding: 48px 64px;
                        max-width: 378px;
                    }

                    &:nth-child(1) {
                        border-radius: 8px 0 0 8px;
                    }

                    &:nth-child(2) {
                        padding: 112px 64px;
                        z-index: 5;
                    }

                    &:nth-child(3) {
                        border-radius: 0 8px 8px 0;
                    }

                    @include asm-media-breakpoint('lt-lg') {
                        width: 100% !important;
                        max-width: 384px !important;
                        padding: 64px 48px !important;
                        margin: 0 0 32px 0 !important;
                        border-radius: 8px !important;
                    }

                    .tag {
                        position: absolute;
                        top: -16px;
                        left: calc(50% - 64px);
                        width: 128px;
                        height: 32px;
                        line-height: 32px;
                        font-weight: 500;
                        text-align: center;
                        border-radius: 16px;
                    }

                    .title {
                        @extend %title-md;
                        font-weight: bold;
                        margin-bottom: 16px;
                    }

                    .price {
                        white-space: nowrap;

                        .currency {
                            position: relative;
                            top: -2px;
                            @extend %title-lg;
                            font-weight: 400;
                            margin-right: 6px;
                        }

                        .amount {
                            font-size: 64px;
                            font-weight: bold;
                        }

                        .per {
                            @extend %title-lg;
                            font-weight: bold;
                            margin-left: 8px;
                        }
                    }

                    .price-details {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    .features {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 40px 0;

                        .feature {
                            display: flex;
                            align-items: center;
                            margin-top: 8px;

                            &:first-child {
                                margin-top: 0;
                            }

                            .mat-icon {
                                margin-right: 8px;
                            }
                        }
                    }

                    .cta-button {
                        min-width: 128px;
                    }
                }
            }

            .features-section {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 96px;
                max-width: 1200px;

                @include asm-media-breakpoint('lt-sm') {
                    margin-top: 72px;
                }

                .title-container {
                    max-width: 480px;

                    .title {
                        @extend %title-lg;
                        text-align: center;
                    }

                    .subtitle {
                        @extend %title-xs;
                        text-align: center;
                        margin-top: 8px;
                    }
                }

                .grid {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    justify-content: center;

                    .feature {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        max-width: 384px;
                        padding: 64px 40px 0 40px;
                        text-align: center;

                        @include asm-media-breakpoint('lt-sm') {
                            padding: 64px 0 0 0;
                        }

                        .title-container {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-bottom: 8px;

                            .mat-icon {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 50%;
                                margin-bottom: 24px;
                                @include asm-icon-size(22);
                                width: 48px !important;
                                height: 48px !important;
                            }

                            div {
                                @extend %title-xs;
                                font-weight: bold;
                            }
                        }

                        .description {
                            @extend %title-xs;
                        }
                    }
                }
            }

            .faqs-section {
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 1200px;
                width: 100%;
                margin: 152px 0 32px 0;

                @include asm-media-breakpoint('lt-sm') {
                    margin: 128px 0 32px 0;
                }

                .title-container {
                    max-width: 480px;

                    .title {
                        @extend %title-lg;
                        text-align: center;
                    }

                    .subtitle {
                        @extend %title-xs;
                        text-align: center;
                        margin-top: 8px;
                    }
                }

                .grid {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    justify-content: space-around;
                    width: 100%;
                    margin-top: 32px;

                    @include asm-media-breakpoint('lt-sm') {
                        max-width: 384px;
                    }

                    .column {
                        display: flex;
                        flex-direction: column;
                        margin-top: 48px;
                        max-width: 480px;

                        .question {
                            @extend %title-xs;
                            font-weight: bold;
                            margin: 48px 0 8px 0;

                            &:first-of-type {
                                margin-top: 0;
                            }
                        }

                        .answer {
                            @extend %title-xs;
                        }
                    }
                }
            }
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-theme {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    pricing-simple {

        .cards {

            .card {

                .tag {
                    background: map-get($accent, default);
                    color: map-get($accent, default-contrast)
                }

                .divider {
                    background: map-get($primary, default);
                }
            }
        }
    }
}
