<button (click)="content.sidebar.toggle()">Toggle Sidebar</button>

Mail List

<br><br><br>

Mail List

<br><br><br>

Mail List

<br><br><br>

Mail List

<br><br><br>

Mail List

<br><br><br>

Mail List

<br><br><br>

Mail List

<br><br><br>

Mail List

<br><br><br>

Mail List

<br><br><br>

Mail List

<br><br><br>

Mail List

<br><br><br>

Mail List

<br><br><br>

Mail List

<br><br><br>

Mail List

<br><br><br>

Mail List

<br><br><br>

Mail List

<br><br><br>

Mail List

<br><br><br>

Mail List

<br><br><br>

Mail List

<br><br><br>

