<!-- HEADER -->
<div class="header"
     *ngIf="!asmConfig.layout.options.header.hidden"
     [ngClass]="asmConfig.layout.options.header.background">

    <button mat-icon-button
            (click)="toggleNavigation('leftNavigation')">
        <mat-icon>menu</mat-icon>
    </button>

    Header

    <button mat-icon-button
            (click)="toggleDrawer('rightDrawer')">
        <mat-icon>settings</mat-icon>
    </button>

</div>
<!-- / HEADER -->

<!-- CONTAINER -->
<div class="container">

    <!-- LEFT NAVIGATION -->
    <asm-navigation class="navigation"
                    *ngIf="!asmConfig.layout.options.navigation.hidden"
                    [name]="'leftNavigation'"
                    [appearance]="'compact'"
                    [mode]="isScreenSmall ? 'over' : 'side'"
                    [opened]="!isScreenSmall">
    </asm-navigation>
    <!-- / LEFT NAVIGATION -->

    <!-- CONTAINER -->
    <div class="container">

        <!-- CONTENT -->
        <div class="content">

            <!--
                *ngIf="true" hack is required here for router-outlet to work correctly. Otherwise,
                it won't register the changes on the layout and won't update the view.
            -->
            <router-outlet *ngIf="true"></router-outlet>

        </div>
        <!-- / CONTENT -->

        <!-- FOOTER -->
        <div class="footer"
             *ngIf="!asmConfig.layout.options.footer.hidden"
             [ngClass]="asmConfig.layout.options.footer.background">

            Footer

        </div>
        <!-- / FOOTER -->

    </div>
    <!-- / CONTAINER -->

</div>
<!-- / CONTAINER -->

<!-- RIGHT DRAWER -->
<asm-drawer [name]="'rightDrawer'"
            [position]="'right'"
            [mode]="'over'">
    <asm-theme-configurator></asm-theme-configurator>
</asm-drawer>
<!-- / RIGHT DRAWER -->
