// -----------------------------------------------------------------------------------------------------
// @ Icon size mixin
// -----------------------------------------------------------------------------------------------------
@mixin asm-icon-size($size, $important: false) {

    font-size: #{($size) + 'px'} if($important == true, !important, null);
    width: #{($size) + 'px'} if($important == true, !important, null);
    height: #{($size) + 'px'} if($important == true, !important, null);
    min-width: #{($size) + 'px'} if($important == true, !important, null);
    min-height: #{($size) + 'px'} if($important == true, !important, null);
    line-height: #{($size) + 'px'} if($important == true, !important, null);
}
