@import 'assembly';

mailbox-details {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 40px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    > .header {
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        padding-bottom: 40px;
        border-bottom: 1px solid;

        .subject {
            margin: 0;
        }

        .labels {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 16px;

            .label {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 20px;
                padding: 0 10px;
                margin-right: 8px;
                border-radius: 10px;
                font-size: 11px;
                font-weight: bold;
                white-space: nowrap;
                text-transform: uppercase;
            }
        }
    }

    .thread {
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-top: 32px;

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .left {
                display: flex;
                align-items: center;

                .avatar {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    min-width: 40px;
                    height: 40px;
                    min-height: 40px;
                    border-radius: 50%;
                    overflow: hidden;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        border-radius: 50%;
                    }
                }

                .info {
                    margin-left: 24px;

                    .from {
                        display: flex;
                        flex-direction: column;
                        font-weight: 500;
                    }

                    .to {
                        display: flex;

                        .to-label {
                            margin-right: 4px;
                        }

                        .person {
                            display: flex;

                            .comma {
                                margin-right: 4px;
                            }

                            .and-label {
                                margin: 0 4px;
                            }
                        }
                    }
                }
            }

            .right {
                display: flex;
                align-items: center;

                .date {
                    margin-right: 24px;
                    font-size: 13px;
                    font-weight: 600;
                    white-space: nowrap;
                    line-height: normal;
                }

                .toggle-important,
                .toggle-starred,
                .toggle-labels {
                    margin-right: 8px;

                    .mat-icon {
                        @include asm-icon-size(20);
                    }
                }

                .other-actions {

                    .mat-icon {
                        @include asm-icon-size(20);
                    }
                }
            }
        }

        .content {
            display: flex;
            margin-top: 32px;
            white-space: pre-line;
            line-height: 1.8;
        }

        .attachments {

            .title {
                display: flex;
                align-items: center;
                margin-top: 40px;
                margin-bottom: 16px;

                .mat-icon {
                    margin-right: 8px;
                    @include asm-icon-size(20);
                }

                div {
                    font-size: 15px;
                    font-weight: 500;
                }
            }

            .files {
                display: flex;

                .file {
                    margin-right: 16px;
                    width: 112px;

                    &:last-child {
                        margin-right: 0;
                    }

                    .preview-image {
                        width: 112px;
                        height: 112px;
                        border-radius: 8px;
                    }

                    .preview-file {
                        width: 112px;
                        height: 112px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 8px;
                        border: 1px solid;

                        .file-type {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0 8px;
                            font-weight: bold;
                            height: 24px;
                            border-radius: 4px;
                        }
                    }

                    .file-name {
                        margin-top: 8px;
                        font-size: 13px;
                        font-weight: 500;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
        }

        .buttons {
            display: flex;
            width: 100%;
            margin-top: 64px;

            .mat-stroked-button {
                margin-right: 8px;

                &:last-child {
                    margin-right: 0;
                }

                > span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .mat-icon {
                    margin-right: 8px;
                    @include asm-icon-size(16);
                }
            }
        }
    }

    .select-mail-to-read {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .mat-icon {
            @include asm-icon-size(96);
        }

        h4 {
            margin-top: 16px;
        }
    }
}

.mailbox-details-toggle-label-menu-panel {

    .mat-checkbox {
        display: flex;
        align-items: center;
        height: 100%;

        .mat-checkbox-layout {
            align-items: center;
            height: 100%;
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-angular-material-theme {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    mailbox-details {
        background: map-get($background, card);

        > .header {
            border-bottom-color: map-get($foreground, divider);
        }

        .thread {

            .header {

                .left {

                    .info {

                        .to {
                            color: map-get($foreground, secondary-text);
                        }
                    }
                }

                .right {

                    .date {
                        color: map-get($foreground, secondary-text);
                    }

                    .toggle-important {

                        .important {
                            color: asm-color($asm-red);
                        }

                        .not-important {
                            color: map-get($foreground, secondary-text);
                        }
                    }

                    .toggle-starred {

                        .starred {
                            color: asm-color($asm-orange);
                        }

                        .not-starred {
                            color: map-get($foreground, secondary-text);
                        }
                    }
                }
            }

            .attachments {

                .title {

                    .mat-icon {
                        color: map-get($foreground, secondary-text);
                    }
                }

                .file {

                    .preview-file {
                        border-color: map-get($foreground, divider);

                        .file-type {
                            background: map-get($background, hover);
                            color: map-get($foreground, secondary-text);
                        }
                    }

                    .file-name {
                        color: map-get($foreground, secondary-text);
                    }
                }
            }
        }

        .select-mail-to-read {

            .mat-icon {
                color: map-get($foreground, secondary-text);
            }

            h4 {
                color: map-get($foreground, secondary-text);
            }
        }
    }
}
