@mixin mailbox-details-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    mailbox-details {
        background: map-get($background, card);

        .header {
            border-bottom-color: map-get($foreground, divider);
        }

        .content-container {

            .attachments {

                .attachment {

                    .preview-file {
                        border-color: map-get($foreground, divider);

                        .filetype {
                            background: map-get($background, hover);
                        }
                    }
                }
            }
        }
    }
}
