<ng-container *ngIf="mail; else selectMailToRead">

    <div class="header">

        <div class="subject title">
            {{mail.subject}}
        </div>

        <div class="labels"
             *ngIf="mail.labels && mail.labels.length > 0">

            <div class="label"
                 *ngFor="let label of (mail.labels | lookUpBy:'id':labels)"
                 [ngClass]="['text-' + label.color, 'bg-' + label.color + '-50']">
                {{label.title}}
            </div>

        </div>

    </div>

    <div class="content-container">

        <div class="flex items-center justify-between w-full">

            <div class="flex items-center">

                <div class="avatar">
                    <img [src]="mail.from.avatar">
                </div>

                <div class="flex flex-col ml-24">
                    <div>{{mail.from.contact.split('<')[0].trim()}}</div>
                    <div class="flex text-secondary">
                        <div class="mr-4">to</div>
                        <div class="flex"
                             *ngFor="let to of mail.to; let index = index; let last = last;"
                             [title]="to.split('<')[1].split('>')[0].trim()">
                            {{to.split('<')[0].trim()}}
                            <div class="mr-4"
                                 *ngIf="!last && index !== mail.to.length - 2">
                                ,
                            </div>
                            <div class="mx-4"
                                 *ngIf="index === mail.to.length - 2">
                                and
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="flex items-center">

                <div class="date text-secondary mr-24">
                    {{mail.date | date}}
                </div>

                <button class="mr-8"
                        mat-icon-button
                        (click)="toggleImportant()">
                    <mat-icon class="text-red icon-size-20"
                              *ngIf="mail.important">
                        label_important
                    </mat-icon>
                    <mat-icon class="text-secondary icon-size-20"
                              *ngIf="!mail.important">
                        label_important
                    </mat-icon>
                </button>

                <button class="mr-8"
                        mat-icon-button
                        (click)="toggleStar()">
                    <mat-icon class="text-orange icon-size-20"
                              *ngIf="mail.starred">
                        star
                    </mat-icon>
                    <mat-icon class="text-secondary icon-size-20"
                              *ngIf="!mail.starred">
                        star_border
                    </mat-icon>
                </button>

                <button mat-icon-button
                        [matMenuTriggerFor]="toggleLabelMenu">
                    <mat-icon class="icon-size-20">label</mat-icon>
                </button>
                <mat-menu class="mailbox-details-toggle-label-menu-panel"
                          #toggleLabelMenu="matMenu">
                    <div mat-menu-item
                         *ngFor="let label of labels">
                        <mat-checkbox (change)="toggleLabel(label)"
                                      [color]="'primary'"
                                      [checked]="mail.labels.includes(label.id)"
                                      [disableRipple]="true">
                            {{label.title}}
                        </mat-checkbox>
                    </div>
                </mat-menu>

                <button mat-icon-button
                        [matMenuTriggerFor]="mailMenu">
                    <mat-icon class="icon-size-20">more_vert</mat-icon>
                </button>
                <mat-menu #mailMenu="matMenu">
                    <!-- Unread -->
                    <button mat-menu-item
                            *ngIf="mail.unread"
                            (click)="toggleUnread(false)">
                        <mat-icon>mail</mat-icon>
                        <span>Mark as read</span>
                    </button>
                    <button mat-menu-item
                            *ngIf="!mail.unread"
                            (click)="toggleUnread(true)">
                        <mat-icon>mail</mat-icon>
                        <span>Mark as unread</span>
                    </button>
                    <!-- Spam -->
                    <button mat-menu-item
                            *ngIf="getCurrentFolder() !== 'spam' && getCurrentFolder() !== 'drafts'"
                            (click)="moveToFolder('spam')">
                        <mat-icon>error_outline</mat-icon>
                        <span>Spam</span>
                    </button>
                    <button mat-menu-item
                            *ngIf="getCurrentFolder() === 'spam'"
                            (click)="moveToFolder('inbox')">
                        <mat-icon>inbox</mat-icon>
                        <span>Not spam</span>
                    </button>
                    <!-- Delete -->
                    <button mat-menu-item
                            *ngIf="getCurrentFolder() !== 'trash'"
                            (click)="moveToFolder('trash')">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>

            </div>

        </div>

        <div class="content"
             [innerHTML]="mail.content">
        </div>

        <ng-container *ngIf="mail.attachments && mail.attachments.length > 0">

            <div class="attachments-title text-secondary">
                <mat-icon class="icon-size-16 mr-8">attachment</mat-icon>
                <div>Attachments</div>
            </div>

            <div class="attachments">

                <div class="attachment"
                     *ngFor="let attachment of mail.attachments">

                    <img class="preview-image"
                         *ngIf="attachment.type.startsWith('image/')"
                         [src]="'assets/images/apps/mailbox/' + attachment.preview">

                    <div class="preview-file"
                         *ngIf="attachment.type.startsWith('application/')">
                        <div class="filetype text-secondary">{{attachment.type.split('/')[1].trim().toUpperCase()}}</div>
                    </div>

                    <div class="filename text-secondary"
                         [title]="attachment.name">
                        {{attachment.name}}
                    </div>

                </div>

            </div>

        </ng-container>

        <div class="buttons">

            <button mat-stroked-button
                    [color]="'primary'">
                <mat-icon class="icon-size-16 mr-8">reply
                </mat-icon>
                <span>Reply</span>
            </button>

            <button mat-stroked-button
                    [color]="'primary'">
                <mat-icon class="icon-size-16 mr-8">reply_all
                </mat-icon>
                <span>Reply All</span>
            </button>

            <button mat-stroked-button
                    [color]="'primary'">
                <mat-icon class="icon-size-16 mr-8"
                          [color]="'primary'">forward
                </mat-icon>
                <span>Forward</span>
            </button>

        </div>

    </div>

</ng-container>

<ng-template #selectMailToRead>

    <div class="flex flex-1 flex-col items-center justify-center">

        <mat-icon class="text-secondary icon-size-96"
                  [fontSet]="'iconsmind'">
            mail
        </mat-icon>
        <div class="title mt-16 text-secondary">Select an e-mail to start reading</div>

    </div>

</ng-template>

