<ng-container *ngIf="mail; else selectMailToRead">

    <!-- Header -->
    <div class="header">

        <!-- Subject -->
        <h3 class="subject">
            {{mail.subject}}
        </h3>

        <!-- Labels -->
        <div class="labels"
             *ngIf="mail.labels && mail.labels.length > 0">

            <div class="label"
                 *ngFor="let label of (mail.labels | lookUpBy:'id':labels)"
                 [ngClass]="['text-' + label.color, 'bg-' + label.color + '-50']">
                {{label.title}}
            </div>

        </div>

    </div>

    <!-- Thread -->
    <div class="thread">

        <!-- Thread header -->
        <div class="header">

            <!-- Thread header left -->
            <div class="left">

                <!-- Sender avatar -->
                <div class="avatar">
                    <img [src]="mail.from.avatar">
                </div>

                <!-- From & to info -->
                <div class="info">
                    <div class="from">{{mail.from.contact.split('<')[0].trim()}}</div>
                    <div class="to">
                        <div class="to-label">to</div>
                        <div class="person"
                             *ngFor="let to of mail.to; let index = index; let last = last;"
                             [title]="to.split('<')[1].split('>')[0].trim()">
                            {{to.split('<')[0].trim()}}
                            <div class="comma"
                                 *ngIf="!last && index !== mail.to.length - 2">
                                ,
                            </div>
                            <div class="and-label"
                                 *ngIf="index === mail.to.length - 2">
                                and
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Thread header right -->
            <div class="right">

                <!-- Date -->
                <div class="date">
                    {{mail.date | date}}
                </div>

                <!-- Toggle important button -->
                <button class="toggle-important"
                        mat-icon-button
                        (click)="toggleImportant()">
                    <mat-icon class="important"
                              *ngIf="mail.important">
                        label_important
                    </mat-icon>
                    <mat-icon class="not-important"
                              *ngIf="!mail.important">
                        label_important
                    </mat-icon>
                </button>

                <!-- Toggle starred button -->
                <button class="toggle-starred"
                        mat-icon-button
                        (click)="toggleStar()">
                    <mat-icon class="starred"
                              *ngIf="mail.starred">
                        star
                    </mat-icon>
                    <mat-icon class="not-starred"
                              *ngIf="!mail.starred">
                        star_border
                    </mat-icon>
                </button>

                <!-- Toggle labels button & menu -->
                <button class="toggle-labels"
                        mat-icon-button
                        [matMenuTriggerFor]="toggleLabelMenu">
                    <mat-icon>label</mat-icon>
                </button>
                <mat-menu class="mailbox-details-toggle-label-menu-panel"
                          #toggleLabelMenu="matMenu">
                    <div mat-menu-item
                         *ngFor="let label of labels">
                        <mat-checkbox (change)="toggleLabel(label)"
                                      [color]="'primary'"
                                      [checked]="mail.labels.includes(label.id)"
                                      [disableRipple]="true">
                            {{label.title}}
                        </mat-checkbox>
                    </div>
                </mat-menu>

                <!-- Other actions button & menu -->
                <button class="other-actions"
                        mat-icon-button
                        [matMenuTriggerFor]="mailMenu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #mailMenu="matMenu">
                    <!-- Mark as read / unread -->
                    <button mat-menu-item
                            *ngIf="mail.unread"
                            (click)="toggleUnread(false)">
                        <mat-icon>mail</mat-icon>
                        <span>Mark as read</span>
                    </button>
                    <button mat-menu-item
                            *ngIf="!mail.unread"
                            (click)="toggleUnread(true)">
                        <mat-icon>mail</mat-icon>
                        <span>Mark as unread</span>
                    </button>
                    <!-- Marks as spam / not span-->
                    <button mat-menu-item
                            *ngIf="getCurrentFolder() !== 'spam' && getCurrentFolder() !== 'drafts'"
                            (click)="moveToFolder('spam')">
                        <mat-icon>error_outline</mat-icon>
                        <span>Spam</span>
                    </button>
                    <button mat-menu-item
                            *ngIf="getCurrentFolder() === 'spam'"
                            (click)="moveToFolder('inbox')">
                        <mat-icon>inbox</mat-icon>
                        <span>Not spam</span>
                    </button>
                    <!-- Delete -->
                    <button mat-menu-item
                            *ngIf="getCurrentFolder() !== 'trash'"
                            (click)="moveToFolder('trash')">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>

            </div>

        </div>

        <!-- Content -->
        <div class="content"
             [innerHTML]="mail.content">
        </div>

        <!-- Attachments -->
        <ng-container *ngIf="mail.attachments && mail.attachments.length > 0">

            <div class="attachments">

                <div class="title">
                    <mat-icon>attachment</mat-icon>
                    <div>Attachments</div>
                </div>

                <div class="files">

                    <div class="file"
                         *ngFor="let attachment of mail.attachments">

                        <img class="preview-image"
                             *ngIf="attachment.type.startsWith('image/')"
                             [src]="'assets/images/apps/mailbox/' + attachment.preview">

                        <div class="preview-file"
                             *ngIf="attachment.type.startsWith('application/')">
                            <div class="file-type">{{attachment.type.split('/')[1].trim().toUpperCase()}}</div>
                        </div>

                        <div class="file-name"
                             [title]="attachment.name">
                            {{attachment.name}}
                        </div>

                    </div>

                </div>

            </div>

        </ng-container>

        <!-- Buttons -->
        <div class="buttons">

            <!-- Reply -->
            <button mat-stroked-button
                    [color]="'primary'">
                <mat-icon>reply</mat-icon>
                <span>Reply</span>
            </button>

            <!-- Reply all -->
            <button mat-stroked-button
                    [color]="'primary'">
                <mat-icon>reply_all</mat-icon>
                <span>Reply All</span>
            </button>

            <!-- Forward -->
            <button mat-stroked-button
                    [color]="'primary'">
                <mat-icon [color]="'primary'">forward</mat-icon>
                <span>Forward</span>
            </button>

        </div>

    </div>

</ng-container>

<!-- Select mail to read template -->
<ng-template #selectMailToRead>

    <div class="select-mail-to-read">
        <mat-icon [fontSet]="'iconsmind'">mail</mat-icon>
        <h4>Select an e-mail to start reading</h4>
    </div>

</ng-template>

