@import 'assembly';

mailbox-details {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 40px 32px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    > .header {
        display: flex;
        align-items: center;
        width: 100%;
        padding-bottom: 40px;
        border-bottom: 1px solid;

        .back-button {
            display: none !important;
            margin: 0 24px 0 -12px;

            @include asm-media-breakpoint('lt-lg') {
                display: inline-block !important;
            }
        }

        .subject-and-labels {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .subject {
                margin: 0;
            }

            .labels {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-top: 16px;

                .label {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 20px;
                    padding: 0 10px;
                    margin-right: 8px;
                    border-radius: 10px;
                    font-size: 11px;
                    font-weight: bold;
                    line-height: 1;
                    white-space: nowrap;
                    text-transform: uppercase;
                }
            }
        }
    }

    .thread {
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-top: 40px;

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            @include asm-media-breakpoint('(max-width:799px), (min-width:960px) and (max-width: 1103px), (min-width:1280px) and (max-width: 1519px)') {
                flex-direction: column;
                align-items: flex-start;
            }

            .from-to-info {
                display: flex;
                align-items: center;
                min-width: 0;
                max-width: 100%;

                .avatar {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    min-width: 40px;
                    height: 40px;
                    min-height: 40px;
                    border-radius: 50%;
                    overflow: hidden;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        border-radius: 50%;
                    }
                }

                .info {
                    margin-left: 16px;
                    min-width: 0;

                    .from {
                        font-size: 15px;
                        font-weight: 500;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .to {
                        display: flex;
                        align-items: center;
                        height: 20px;

                        .to-label {
                            margin-right: 4px;
                        }

                        .me-label {
                            margin-right: 4px;
                            font-weight: 500;
                        }

                        .others {

                            .and-label {
                                margin-right: 4px;
                            }

                            .count {
                                margin-right: 4px;
                                font-weight: 500;
                            }

                            .label {
                                margin-right: 4px;
                                font-weight: 500;
                            }
                        }

                        .person {
                            display: flex;
                            font-weight: 500;

                            .comma {
                                margin-right: 4px;
                                font-weight: normal;
                            }
                        }

                        .info-details-panel-button {
                            width: 20px;
                            height: 20px;
                            min-height: 20px;
                            line-height: 20px !important;

                            .mat-icon {
                                @include asm-icon-size(20);
                            }
                        }
                    }
                }
            }

            .action-buttons {
                display: flex;
                align-items: center;
                margin-left: 24px;

                @include asm-media-breakpoint('(max-width:799px), (min-width:960px) and (max-width: 1103px), (min-width:1280px) and (max-width: 1519px)') {
                    margin: 24px 0 0 -12px
                }

                .toggle-important,
                .toggle-starred,
                .toggle-labels {
                    margin-right: 8px;

                    .mat-icon {
                        @include asm-icon-size(20);
                    }
                }

                .other-actions {

                    .mat-icon {
                        @include asm-icon-size(20);
                    }
                }
            }
        }

        .content {
            display: flex;
            margin-top: 32px;
            white-space: pre-line;
            font-size: 15px;
            line-height: 1.8;
        }

        .attachments {
            display: flex;
            flex-direction: column;
            width: 100%;

            .title {
                display: flex;
                align-items: center;
                margin-top: 64px;

                .mat-icon {
                    margin-right: 8px;
                    @include asm-icon-size(20);
                }

                div {
                    font-size: 15px;
                    font-weight: 500;
                }
            }

            .files {
                display: flex;
                flex-direction: column;

                .file {
                    display: flex;
                    align-items: center;
                    margin-top: 24px;

                    &:last-child {
                        margin-right: 0;
                    }

                    .preview-image {
                        width: 40px;
                        height: 40px;
                        border-radius: 4px;
                    }

                    .preview-file {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 4px;
                        width: 40px;
                        height: 40px;

                        .file-type {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 13px;
                            font-weight: bold;
                        }
                    }

                    .file-info {
                        margin-left: 16px;

                        .file-name {
                            font-size: 13px;
                            font-weight: 500;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }

                        .file-size {
                            font-size: 13px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }

        .buttons {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin-top: 72px;

            .mat-stroked-button {
                margin: 0 16px 16px 0;

                &:last-child {
                    margin-right: 0;
                }

                > span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .mat-icon {
                    margin-right: 8px;
                    @include asm-icon-size(16);
                }
            }
        }

        .reply-form {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 64px;

            .textarea {
                min-height: 80px;
            }

            .actions {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .formatting {

                    button {

                        .mat-icon {
                            @include asm-icon-size(20);
                        }
                    }
                }

                .reply-form-buttons {
                    display: flex;
                    align-items: center;

                    button {
                        margin-right: 8px;

                        &:last-child {
                            margin-right: 0;
                        }

                        &.send-button {
                            min-width: 96px;
                        }
                    }
                }
            }
        }
    }

    .select-mail-to-read {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .mat-icon {
            @include asm-icon-size(96);
        }

        h4 {
            margin-top: 16px;
        }
    }
}

.mailbox-details-toggle-label-menu-panel {

    .mat-menu-item {
        padding: 0;

        .mat-checkbox {
            display: flex;
            align-items: center;
            height: 100%;

            .mat-checkbox-layout {
                align-items: center;
                padding: 0 16px;
                width: 100%;
                height: 100%;

                .mat-checkbox-inner-container {
                    margin: 0 12px 0 0;
                }
            }
        }
    }
}

.mailbox-info-details-panel {
    display: flex;
    padding: 16px 24px;
    max-width: 640px;
    border: 1px solid;
    border-radius: 6px;
    font-size: 13px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    @include asm-elevation(2);

    table {

        tbody {

            tr {

                td {
                    vertical-align: top;
                    padding-bottom: 6px;

                    &.title {
                        font-weight: 500;
                        text-align: right;
                        padding-right: 8px;
                    }

                    &.detail {
                        white-space: pre-wrap;
                    }
                }

                &:last-child {

                    td {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-theme {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $is-dark: map-get($theme, is-dark);
    $primary: map-get($theme, primary);

    mailbox-details {
        @if (not $is-dark) {
            background: map-get($background, card);
        }

        > .header {
            border-bottom-color: map-get($foreground, divider);
        }

        .thread {

            .header {

                .from-to-info {

                    .info {

                        .to {
                            color: map-get($foreground, secondary-text);
                        }
                    }
                }

                .action-buttons {

                    .toggle-important {

                        .important {
                            color: asm-color($asm-red);
                        }

                        .not-important {
                            color: map-get($foreground, secondary-text);
                        }
                    }

                    .toggle-starred {

                        .starred {
                            color: asm-color($asm-orange);
                        }

                        .not-starred {
                            color: map-get($foreground, secondary-text);
                        }
                    }
                }
            }

            .attachments {

                .title {

                    .mat-icon {
                        color: map-get($foreground, secondary-text);
                    }
                }

                .file {

                    .preview-file {
                        background-color: map-get($primary, 100);

                        .file-type {
                            color: map-get($primary, default);
                        }
                    }

                    .file-info {

                        .file-size {
                            color: map-get($foreground, secondary-text);
                        }
                    }
                }
            }
        }

        .select-mail-to-read {

            .mat-icon {
                color: map-get($foreground, secondary-text);
            }

            h4 {
                color: map-get($foreground, secondary-text);
            }
        }
    }

    .mailbox-info-details-panel {
        background: map-get($background, card);
        border-color: map-get($foreground, divider);
    }
}
