<div class="content-layout with-drawer with-inner-scroll">

    <mat-drawer-container class="content-layout with-drawer with-inner-scroll">

        <mat-drawer [mode]="isDrawerPersistent ? 'side' : 'over'"
                    [opened]="isDrawerPersistent"
                    #drawer>

            <!-- Drawer -->
            <div class="drawer-content">

                <!-- Mailbox sidebar -->
                <mailbox-sidebar asmScrollbar
                                 [asmScrollbarOptions]="{suppressScrollX: true}"></mailbox-sidebar>

            </div>

        </mat-drawer>

        <mat-drawer-content>

            <!-- Main -->
            <div class="main-content">

                <router-outlet></router-outlet>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
