@import './detail/detail.theme';
@import './list/list.theme';
@import './sidebar/sidebar.theme';

@mixin mailbox-theme($theme) {

    // Include partial theme files
    @include mailbox-detail-theme($theme);
    @include mailbox-list-theme($theme);
    @include mailbox-sidebar-theme($theme);

    $background: map-get($theme, background);
    $is-dark: map-get($theme, is-dark);

    mailbox {

        .mat-drawer {
            @if ($is-dark) {

            } @else {
                background: map-get($background, background);
            }
        }
    }
}
