<content-layout type="with-sidebar"
                [sidebarPersistentAt]="'gt-md'"
                [sidebarPosition]="'left'"
                [innerScroll]="true"
                #content>

    <!-- Sidebar -->
    <div class="sidebar-content"
         sidebarContent>

        <!-- Mailbox sidebar -->
        <mailbox-sidebar asmScrollbar
                         [asmScrollbarOptions]="{suppressScrollX: true}"></mailbox-sidebar>

    </div>

    <!-- Main -->
    <div class="main-content"
         mainContent>

        <router-outlet></router-outlet>

    </div>

</content-layout>
