<content-layout type="with-sidebar"
                [sidebarPersistentAt]="'gt-md'"
                [sidebarPosition]="'left'"
                [innerScroll]="true"
                #content>

    <!-- Sidebar -->
    <div class="sidebar-content"
         sidebarContent>

        <!-- Mailbox sidebar -->
        <mailbox-sidebar [folders]="(this.folders$ | async)"
                         [filters]="(this.filters$ | async)"
                         [labels]="(this.labels$ | async)"
                         asmScrollbar
                         [asmScrollbarOptions]="{suppressScrollX: true}"></mailbox-sidebar>

    </div>

    <!-- Main -->
    <div class="main-content"
         mainContent>

        <!-- Mailbox list -->
        <mailbox-list [content]="content"
                      [mails]="(this.mails$ | async)"
                      [pagination]="(this.pagination$ | async)"
                      [selectedMail]="(this.mail$ | async)"
                      (pageChanged)="onPageChanged($event)"
                      (mailSelected)="onMailSelected($event)"
                      asmScrollbar
                      [asmScrollbarOptions]="{suppressScrollX: true}"></mailbox-list>

        <!-- Mailbox detail -->
        <mailbox-detail [mail]="(this.mail$ | async)"
                        asmScrollbar
                        [asmScrollbarOptions]="{suppressScrollX: true}"></mailbox-detail>

    </div>

</content-layout>
