<div class="content-layout with-direction-column with-centered-content">

    <!-- Card style selector - Remove this in production -->
    <mat-form-field class="mb-32"
                    [appearance]="'outline'">
        <mat-label>Card style</mat-label>
        <mat-select [value]="'classic'"
                    #cardStyle>
            <mat-option [value]="'classic'">Classic</mat-option>
            <mat-option [value]="'modern'">Modern</mat-option>
            <mat-option [value]="'modern-relaxed'">Modern Relaxed</mat-option>
            <mat-option [value]="'modern flipped'">Modern (Flipped)</mat-option>
            <mat-option [value]="'modern-relaxed flipped'">Modern Relaxed (Flipped)</mat-option>
        </mat-select>
    </mat-form-field>
    <!-- / Card style selector -->

    <!-- Card - Can be 'classic', 'modern', 'modern-relaxed', 'modern flipped', 'modern-relaxed flipped' -->
    <asm-card [ngClass]="cardStyle.value">

        <!-- Primary content area -->
        <div class="primary-content">

            <!-- Logo -->
            <div class="logo">
                <img class="logo-dark"
                     src="assets/images/logo/logo-dark.svg">
                <img class="logo-light"
                     src="assets/images/logo/logo-light.svg">
            </div>

            <!-- Title -->
            <div class="title">Successfully logged out!</div>
            <div class="subtitle text-secondary">

                <!-- Redirect countdown -->
                <ng-container *ngIf="countdown > 0">
                    You will be redirected after {{countdown | i18nPlural: countdownMapping }}.
                </ng-container>

                <!-- Redirect message -->
                <ng-container *ngIf="countdown === 0">
                    You are now being redirected...
                </ng-container>

            </div>

            <!-- Login link -->
            <div class="login-link">
                <span class="text-secondary">Go to</span>
                <a class="link"
                   [routerLink]="['/pages/authentication/login']">login</a>
            </div>

        </div>

        <!-- Secondary content area -->
        <div class="secondary-content"></div>

    </asm-card>

</div>
