<!-- Basic -->
<ng-container *ngIf="layout === 'basic'">
    <layout type="basic"></layout>
</ng-container>

<!-- Classic -->
<ng-container *ngIf="layout === 'classic'">
    <layout type="classic"></layout>
</ng-container>

<!-- Classy -->
<ng-container *ngIf="layout === 'classy'">
    <layout type="classy"></layout>
</ng-container>

<!-- Compact -->
<ng-container *ngIf="layout === 'compact'">
    <layout type="compact"></layout>
</ng-container>

<!-- Dense -->
<ng-container *ngIf="layout === 'dense'">
    <layout type="dense"></layout>
</ng-container>

<!-- Empty -->
<ng-container *ngIf="layout === 'empty'">
    <layout type="empty"></layout>
</ng-container>

<!-- Modern -->
<ng-container *ngIf="layout === 'modern'">
    <layout type="modern"></layout>
</ng-container>

<!-- Thin -->
<ng-container *ngIf="layout === 'thin'">
    <layout type="thin"></layout>
</ng-container>

<!-- Thin light -->
<ng-container *ngIf="layout === 'thin-light'">
    <layout type="thin-light"></layout>
</ng-container>
