@import "src/@assembly/styles/assembly";

asm-menu {
    display: flex;
    flex-direction: column;
    padding: 8px 0;

    asm-menu-vertical-basic-item,
    asm-menu-vertical-collapsable-item,
    asm-menu-vertical-group-item {
        display: flex;
        flex-direction: column;

        .asm-menu-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 32px;
            height: 48px;
            text-decoration: none;

            .asm-menu-item-icon {
                margin-right: 16px;
            }

            .asm-menu-item-badge {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 11px;
                font-weight: bold;
                letter-spacing: -0.025em;
                min-width: 16px;
                height: 16px;
                padding: 2px 4px;
                border-radius: 2px;
                margin-left: auto;
            }
        }
    }

    asm-menu-vertical-basic-item,
    asm-menu-vertical-collapsable-item {

        .asm-menu-item {
            cursor: pointer;
        }
    }

    // Basic
    asm-menu-vertical-basic-item {

    }

    // Collapsable
    asm-menu-vertical-collapsable-item {

        .asm-menu-item {

            .asm-menu-item-badge {

                + .asm-menu-item-arrow {
                    margin-left: 8px;
                }
            }

            .asm-menu-item-arrow {
                transition: transform 300ms ease-in-out;
                margin-left: auto;
            }
        }

        &.asm-menu-item-expanded {

            > .asm-menu-item {

                .asm-menu-item-arrow {
                    transform: rotate(-180deg);
                }
            }
        }

        // 1st level
        .asm-menu-item-children {
            overflow: hidden;

            .asm-menu-item {
                padding-left: 64px;
            }

            // 2nd level
            .asm-menu-item-children {

                .asm-menu-item {
                    padding-left: 80px;
                }

                // 3rd level
                .asm-menu-item-children {

                    .asm-menu-item {
                        padding-left: 96px;
                    }

                    // 4th level
                    .asm-menu-item-children {

                        .asm-menu-item {
                            padding-left: 112px;
                        }
                    }
                }
            }
        }
    }

    // Group
    asm-menu-vertical-group-item {

        > .asm-menu-item {
            font-weight: bold;
        }

        + asm-menu-vertical-group-item {
            margin-top: 24px;
        }
    }
}