@import 'assembly';

mailbox-list {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    width: 100%;

    .list-wrapper {
        display: flex;
        flex: 0 1 auto;
        flex-direction: column;
        padding: 24px 32px 0 32px;
        width: 416px;
        min-width: 416px;
        max-width: 416px;

        @include asm-media-breakpoint('lt-lg') {
            width: 100%;
            max-width: none;
            min-width: 0;

            + router-outlet {

                + mailbox-details {
                    display: none;
                }
            }

            &.mail-selected {

                + router-outlet {

                    + mailbox-details {
                        display: flex;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 9;
                    }
                }
            }
        }

        > .header {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid;
            min-height: 80px;
            height: 80px;
            padding: 0 8px 0 16px;
            z-index: 9;

            .left {
                display: flex;
                align-items: center;

                .sidebar-toggle {
                    margin-right: 12px;

                    .mat-icon {
                        @include asm-icon-size(24);
                    }
                }

                .category {
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }

            .pagination {
                display: flex;
                align-items: center;

                .info {
                    display: flex;
                    align-items: center;
                    margin-right: 16px;
                    font-size: 13px;

                    .separator {
                        margin: 0 4px;
                    }
                }

                .previous-page,
                .next-page {

                    .mat-icon {
                        @include asm-icon-size(16);
                    }
                }

            }

            .loading-progress-bar {
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                height: 2px;
            }
        }

        .list {
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;

            .item-group {
                display: flex;
                align-items: center;
                margin: 0 24px 16px 24px;
                padding-top: 40px;
                font-size: 12px;
                font-weight: 500;
                line-height: 1;
                letter-spacing: 0.075em;
                text-transform: uppercase;

                + .item {

                    .item-content {
                        box-shadow: none !important;
                    }
                }
            }

            .item {
                position: relative;
                display: flex;
                padding: 0 24px 24px 24px;

                &.selected {
                    border-radius: 4px;

                    .item-content {
                        box-shadow: none !important;
                    }

                    + .item {

                        .item-content {
                            box-shadow: none !important;
                        }
                    }

                    + .item-group {
                        box-shadow: none !important;
                    }
                }

                .item-content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    width: 100%;
                    padding-top: 24px;

                    .unread-indicator {
                        position: absolute;
                        left: 10px;
                        top: 37px;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                    }

                    .info {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        line-height: normal;

                        .avatar {
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 32px;
                            min-width: 32px;
                            height: 32px;
                            min-height: 32px;
                            border-radius: 50%;
                            overflow: hidden;

                            &:before {
                                content: '';
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                border-radius: 50%;
                            }
                        }

                        .name {
                            font-size: 15px;
                            font-weight: 500;
                            margin-left: 12px;
                        }

                        .important-indicator {
                            margin-left: 8px;
                            @include asm-icon-size(12);
                        }

                        .date {
                            margin-left: auto;
                            font-size: 12px;
                            white-space: nowrap;
                            text-align: right;
                        }
                    }

                    .subject {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        margin-top: 16px;

                        span {
                            font-weight: 500;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            line-height: 16px;

                            + .indicators {
                                margin-left: auto;
                                padding-left: 8px;
                            }
                        }

                        .indicators {
                            display: flex;

                            .attachments-indicator {
                                display: flex;
                                justify-content: center;

                                .mat-icon {
                                    @include asm-icon-size(16);
                                }

                                + .starred-indicator {
                                    margin-left: 8px;
                                }
                            }

                            .starred-indicator {
                                display: flex;
                                justify-content: center;

                                .mat-icon {
                                    @include asm-icon-size(16);
                                }
                            }
                        }
                    }

                    .excerpt {
                        margin-top: 8px;
                        line-height: 1.4;
                        overflow: hidden;
                    }
                }
            }
        }

        .no-mails {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .mat-icon {
                @include asm-icon-size(96);
            }

            h4 {
                margin-top: 16px;
            }
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-theme {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $is-dark: map-get($theme, is-dark);

    mailbox-list {
        @if (not $is-dark) {
            background: map-get($background, card);
        }

        .list-wrapper {

            > .header {
                border-bottom-color: map-get($foreground, divider);

                .pagination {

                    .info {

                        .separator {
                            color: map-get($foreground, secondary-text);
                        }
                    }
                }
            }

            .list {

                .item-group {
                    color: map-get($foreground, secondary-text);

                    &:not(:first-child) {
                        @if ($is-dark) {
                            box-shadow: inset 0 1px 0 0 asm-color($asm-gray, 800);
                        } @else {
                            box-shadow: inset 0 1px 0 0 asm-color($asm-gray, 300);
                        }
                    }
                }

                .item {

                    &.selected {
                        @if ($is-dark) {
                            background: asm-dark-elevation(1);
                        } @else {
                            background: map-get($primary, 100);
                        }
                    }

                    .item-content {

                        @if ($is-dark) {
                            box-shadow: inset 0 1px 0 0 asm-color($asm-gray, 800);
                        } @else {
                            box-shadow: inset 0 1px 0 0 asm-color($asm-gray, 300);
                        }

                        .unread-indicator {
                            background: map-get($primary, default);
                        }

                        .avatar {

                            &:before {
                                box-shadow: inset 0 0 0 1px map-get($foreground, divider);
                            }
                        }

                        .info {

                            .important-indicator {
                                color: asm-color($asm-red);
                            }

                            .date {
                                color: map-get($foreground, hint-text);
                            }
                        }

                        .excerpt {
                            color: map-get($foreground, secondary-text);
                        }
                    }
                }
            }

            .no-mails {

                .mat-icon {
                    color: map-get($foreground, secondary-text);
                }

                h4 {
                    color: map-get($foreground, secondary-text);
                }
            }
        }
    }
}
