@import 'assembly';

mailbox-list {
    display: flex;
    flex: 1 1 auto;

    .list-wrapper {
        display: flex;
        flex: 0 1 auto;
        flex-direction: column;
        width: 400px;
        min-width: 400px;
        max-width: 400px;
        border-right: 1px solid;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;

        > .header {
            position: sticky;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid;
            min-height: 80px;
            height: 80px;
            top: 0;
            padding: 0 8px 0 16px;
            z-index: 9;

            .left {
                display: flex;
                align-items: center;

                .sidebar-toggle {
                    margin-right: 12px;

                    .mat-icon {
                        @include asm-icon-size(24);
                    }
                }

                .category {
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }

            .pagination {
                display: flex;
                align-items: center;

                .info {
                    display: flex;
                    align-items: center;
                    margin-right: 16px;
                    font-size: 13px;

                    .separator {
                        margin: 0 4px;
                    }
                }

                .previous-page,
                .next-page {

                    .mat-icon {
                        @include asm-icon-size(16);
                    }
                }

            }
        }

        .list {

            .item-group {
                display: flex;
                align-items: center;
                min-height: 32px;
                height: 32px;
                padding: 0 24px;
                font-size: 12px;
                font-weight: 500;
                border-bottom: 1px solid;
                text-transform: uppercase;
            }

            .item {
                position: relative;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 32px 24px;
                height: 152px;
                max-height: 152px;
                min-height: 152px;
                border-bottom: 1px solid;

                .unread-dot {
                    position: absolute;
                    left: 8px;
                    top: 48px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                }

                .indicators {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    top: 80px;
                    left: 33px;

                    .attachments-indicator {
                        display: flex;
                        justify-content: center;

                        .mat-icon {
                            @include asm-icon-size(18);
                        }

                        + .starred-indicator {
                            margin-top: 8px;
                        }
                    }

                    .starred-indicator {
                        display: flex;
                        justify-content: center;

                        .mat-icon {
                            @include asm-icon-size(18);
                        }
                    }
                }

                .avatar {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    min-width: 40px;
                    height: 40px;
                    min-height: 40px;
                    border-radius: 50%;
                    overflow: hidden;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        border-radius: 50%;
                    }
                }

                .details {
                    display: flex;
                    flex-direction: column;
                    min-width: 0;
                    height: 88px;
                    margin-left: 24px;

                    .info {
                        display: flex;
                        align-items: center;
                        line-height: normal;

                        .name {

                        }

                        .important-indicator {
                            margin-left: 4px;
                            @include asm-icon-size(12);
                        }

                        .date {
                            font-size: 12px;
                            font-weight: 500;
                            white-space: nowrap;
                            text-align: right;
                            margin-left: auto;
                        }
                    }

                    .subject {
                        font-weight: 500;
                        margin-top: 4px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .excerpt {
                        margin-top: auto;
                        line-height: 1.4;
                    }
                }
            }
        }

        .no-mails {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .mat-icon {
                @include asm-icon-size(96);
            }

            h4 {
                margin-top: 16px;
            }
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-angular-material-theme {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $is-dark: map-get($theme, is-dark);

    mailbox-list {
        background: map-get($background, card);

        .list-wrapper {
            border-right-color: map-get($foreground, divider);

            > .header {
                background: map-get($background, card);
                border-bottom-color: map-get($foreground, divider);

                .pagination {

                    .info {

                        .separator {
                            color: map-get($foreground, secondary-text);
                        }
                    }
                }
            }

            .list {

                .item-group {
                    background: map-get($background, background);
                    color: map-get($foreground, secondary-text);
                    border-color: map-get($foreground, divider);
                }

                .item {
                    border-bottom-color: map-get($foreground, divider);

                    &.selected {
                        @if ($is-dark) {
                            background: map-get($background, hover);
                        } @else {
                            background: rgba(map-get($primary, 50), 0.54);
                        }
                    }

                    .unread-dot {
                        background: map-get($primary, default);
                    }

                    .avatar {

                        &:before {
                            box-shadow: inset 0 0 0 1px map-get($foreground, divider);
                        }
                    }

                    .details {

                        .info {

                            .important-indicator {
                                color: asm-color($asm-red);
                            }

                            .date {
                                color: map-get($foreground, secondary-text);
                            }
                        }

                        .excerpt {
                            color: map-get($foreground, secondary-text);
                        }
                    }
                }
            }

            .no-mails {

                .mat-icon {
                    color: map-get($foreground, secondary-text);
                }

                h4 {
                    color: map-get($foreground, secondary-text);
                }
            }
        }
    }
}
