<div class="list-wrapper"
     [ngClass]="{'mail-selected': selectedMail && selectedMail.id}">

    <ng-container *ngIf="mails && mails.length > 0; else noMails">

        <!-- Mail list header -->
        <div class="header">

            <!-- Header left -->
            <div class="left">

                <!-- Sidebar toggle button -->
                <button class="sidebar-toggle"
                        mat-icon-button
                        (click)="mailboxComponent.drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>

                <!-- Category name -->
                <div class="category">{{category.name}}</div>

            </div>

            <!-- Pagination -->
            <div class="pagination">

                <!-- Pagination information -->
                <div class="info">
                    <span>{{pagination.startIndex + 1}}</span>
                    <span class="separator">-</span>
                    <span>{{pagination.endIndex + 1}}</span>
                    <span class="separator">of</span>
                    <span>{{pagination.totalResults}}</span>
                </div>

                <!-- Previous page button -->
                <a class="previous-page"
                   mat-icon-button
                   [disabled]="pagination.currentPage === 1"
                   [routerLink]="['../' + (pagination.currentPage > 1 ? pagination.currentPage - 1 : 1 )]">
                    <mat-icon>arrow_back_ios</mat-icon>
                </a>

                <!-- Next page button-->
                <a class="next-page"
                   mat-icon-button
                   [disabled]="pagination.currentPage === pagination.lastPage"
                   [routerLink]="['../' + (pagination.currentPage < pagination.lastPage ? pagination.currentPage + 1 : pagination.lastPage )]">
                    <mat-icon>arrow_forward_ios</mat-icon>
                </a>

            </div>

            <!-- Loading bar -->
            <mat-progress-bar class="loading-progress-bar"
                              *ngIf="mailsLoading"
                              [mode]="'indeterminate'"></mat-progress-bar>

        </div>

        <!-- Mail list -->
        <div class="list"
             #mailList>

            <!-- Mail list item loop -->
            <ng-container *ngFor="let mail of mails; let i = index; trackBy: trackById">

                <!-- Mail list item group -->
                <ng-container *ngIf="mailListGroupLabel(i)">

                    <div class="item-group">
                        {{mailListGroupLabel(i)}}
                    </div>

                </ng-container>

                <!-- Mail list item -->
                <a class="item"
                   [ngClass]="{'selected': (selectedMail && selectedMail.id === mail.id), 'unread': mail.unread}"
                   [routerLink]="[mail.id]"
                   (click)="onMailSelected(mail)">

                    <div class="item-content">

                        <!-- Unread indicator -->
                        <div class="unread-indicator"
                             *ngIf="mail.unread"></div>

                        <!-- Info -->
                        <div class="info">

                            <!-- Avatar -->
                            <div class="avatar">
                                <img [src]="mail.from.avatar">
                            </div>

                            <!-- Sender name -->
                            <div class="name">
                                {{mail.from.contact.split('<')[0].trim()}}
                            </div>

                            <!-- Important indicator -->
                            <mat-icon class="important-indicator"
                                      *ngIf="mail.important">
                                label_important
                            </mat-icon>

                            <!-- Date -->
                            <div class="date">
                                {{mail.date | date:'hh:mm a'}}
                            </div>

                        </div>

                        <!-- Subject -->
                        <div class="subject">

                            <span>{{mail.subject}}</span>

                            <!-- Indicators -->
                            <div class="indicators"
                                 *ngIf="(mail.attachments && mail.attachments.length > 0) || mail.starred">

                                <!-- Attachments indicator -->
                                <div class="attachments-indicator"
                                     *ngIf="mail.attachments && mail.attachments.length > 0">
                                    <mat-icon>attachment</mat-icon>
                                </div>

                                <!-- Starred indicator -->
                                <div class="starred-indicator"
                                     *ngIf="mail.starred">
                                    <mat-icon class="text-orange">star</mat-icon>
                                </div>

                            </div>

                        </div>

                        <!-- Excerpt -->
                        <div class="excerpt">
                            {{mail.content | slice:0:80}}
                            <ng-container *ngIf="mail.content.length > 80">...</ng-container>
                        </div>

                    </div>

                </a>

            </ng-container>

        </div>

    </ng-container>

    <!-- No mails template -->
    <ng-template #noMails>

        <div class="no-mails">
            <mat-icon [fontSet]="'iconsmind'">mail</mat-icon>
            <h4>There are no e-mails</h4>
        </div>

    </ng-template>

</div>

<!-- Mail details -->
<router-outlet></router-outlet>
