// -----------------------------------------------------------------------------------------------------
// @ Variables
// -----------------------------------------------------------------------------------------------------

// Breakpoint steps based on Material design specs
// Modify these steps if you want more/less breakpoints
$asm-breakpoints: (
    xs: '(max-width: 599px)',
    sm: '(min-width: 600px) and (max-width: 959px)',
    md: '(min-width: 960px) and (max-width: 1279px)',
    lg: '(min-width: 1280px) and (max-width: 1919px)',
    xl: '(min-width: 1920px) and (max-width: 5000px)',
    lt-sm: '(max-width: 599px)',
    lt-md: '(max-width: 959px)',
    lt-lg: '(max-width: 1279px)',
    lt-xl: '(max-width: 1919px)',
    gt-xs: '(min-width: 600px)',
    gt-sm: '(min-width: 960px)',
    gt-md: '(min-width: 1280px)',
    gt-lg: '(min-width: 1920px)'
) !default;


// -----------------------------------------------------------------------------------------------------
// @ Mixins
// -----------------------------------------------------------------------------------------------------

///
/// Wrap the mixin content with the given media breakpoint.
/// If breakpoint name does not exist on the breakpoints list,
/// apply the given name as a media rule.
///
/// @access public
/// @param {String} $breakpoint - Name of the breakpoint or a media rule
///
@mixin asm-media-breakpoint($breakpoint) {

    $mediaQuery: map-get($asm-breakpoints, $breakpoint);

    @if ($mediaQuery != null) {

        @media #{$mediaQuery} {
            @content
        }
    } @else {

        @media #{$breakpoint} {
            @content
        }
    }
}
