// -----------------------------------------------------------------------------------------------------
// @ Functions
// -----------------------------------------------------------------------------------------------------

///
/// Generate the elevation from the given elevation and color
///
/// @access private
/// @param {String} $elevation - The amount of the elevation that the element will have
/// @param {Color} $color - Color of the shadow
///
@function _get-elevation($elevation, $color) {

    $elevation-map: (
        0: 'none',
        1: '0 1px 3px 0 #{rgba($color, 0.12)}, 0 1px 2px 0 #{rgba($color, 0.06)}',
        2: '0 4px 6px -1px #{rgba($color, 0.1)}, 0 2px 4px -1px #{rgba($color, 0.06)}',
        3: '0 10px 15px -3px #{rgba($color, 0.1)}, 0 4px 6px -2px #{rgba($color, 0.05)}',
        4: '0 20px 25px -5px #{rgba($color, 0.1)}, 0 10px 10px -5px #{rgba($color, 0.04)}',
        5: '0 25px 50px -12px #{rgba($color, 0.25)}',
    );

    @return map-get($elevation-map, $elevation);
}


// -----------------------------------------------------------------------------------------------------
// @ Mixins
// -----------------------------------------------------------------------------------------------------

///
/// Adds an elevation
///
/// @access public
/// @param {String} $elevation - The amount of the elevation that the element will have
/// @param {Boolean} $important - Whether to add an !important tag to the shadow rule
/// @param {Color} $color - Color of the shadow
///
@mixin asm-elevation($elevation, $important: false, $color: rgb(0, 0, 0)) {
    box-shadow: #{_get-elevation($elevation, $color)} if($important, !important, null);
}

///
/// Adds an elevation on dark themes, based on Google's Material Dark specs.
///
/// @access public
/// @param {String} $elevation - The amount of the elevation that the element will have
/// @param {Boolean} $important - Whether to add an !important tag to the shadow rule
///
@function asm-dark-elevation($elevation) {

    // Elevations map
    $elevations: (
        0: 0,
        1: 0.05,
        2: 0.07,
        3: 0.08,
        4: 0.09,
        6: 0.11,
        8: 0.12,
        12: 0.14,
        16: 0.15,
        24: 0.16
    );

    // Get the opacity value
    $opacity: map-get($elevations, $elevation);

    // Throw an error if the elevation value does not exist
    @if ($opacity == null) {
        @error 'Elevation `' + $elevation + '` does not exists!';
    }

    // Return the background color
    @return rgba(255, 255, 255, $opacity);
}
