// -----------------------------------------------------------------------------------------------------
// @ Titles
// -----------------------------------------------------------------------------------------------------

%title-xs {
    font-size: 16px;
}

%title-sm {
    font-size: 18px;
}

%title-md {
    font-size: 20px;
}

%title-base {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
}

%title-lg {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25;
}

%title-xl {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.25;
}
