// -----------------------------------------------------------------------------------------------------
// @ Extendable styles
// -----------------------------------------------------------------------------------------------------

%title-base {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
}

%title-md {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25;
}

%title-lg {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.25;
}

%title-xl {
    font-size: 40px;
    font-weight: 900;
    line-height: 1.25;
}

%subtitle-base {
    font-size: 16px;
}

%subtitle-md {
    font-size: 18px;
}

%subtitle-lg {
    font-size: 20px;
}
