<ng-container *ngIf="(item.hidden && !item.hidden(item)) || !item.hidden">

    <!-- Item wrapper -->
    <div class="asm-navigation-item-wrapper"
         [class.asm-navigation-item-has-subtitle]="!!item.subtitle"
         [ngClass]="item.classes">

        <div class="asm-navigation-item">

            <!-- Icon -->
            <mat-icon class="asm-navigation-item-icon"
                      [ngClass]="item.iconClassNames"
                      *ngIf="item.icon"
                      [svgIcon]="item.icon"></mat-icon>

            <!-- Title & Subtitle -->
            <div class="asm-navigation-item-title-wrapper">

                <div class="asm-navigation-item-title">{{item.title}}</div>

                <div class="asm-navigation-item-subtitle text-hint"
                     *ngIf="item.subtitle">
                    {{item.subtitle}}
                </div>

            </div>

            <!-- Badge -->
            <div class="asm-navigation-item-badge"
                 *ngIf="item.badge">

                <div class="asm-navigation-item-badge-content"
                     [ngClass]="[(item.badge.style != undefined ? 'asm-navigation-item-badge-style-' + item.badge.style : ''),
                             (item.badge.background != undefined && !item.badge.background.startsWith('#') ? item.badge.background : ''),
                             (item.badge.color != undefined && !item.badge.color.startsWith('#') ? item.badge.color : '')]"
                     [ngStyle]="{'background-color': item.badge.background, 'color': item.badge.color}">
                    {{item.badge.title}}
                </div>

            </div>

        </div>

    </div>

    <ng-container *ngFor="let item of item.children; trackBy: trackByFn">

        <!-- Basic -->
        <asm-navigation-basic-item *ngIf="item.type === 'basic'"
                                   [item]="item"
                                   [name]="name"></asm-navigation-basic-item>

        <!-- Collapsable -->
        <asm-navigation-collapsable-item *ngIf="item.type === 'collapsable'"
                                         [item]="item"
                                         [name]="name"
                                         [autoCollapse]="autoCollapse"></asm-navigation-collapsable-item>

        <!-- Divider -->
        <asm-navigation-divider-item *ngIf="item.type === 'divider'"
                                     [item]="item"
                                     [name]="name"></asm-navigation-divider-item>

        <!-- Group -->
        <asm-navigation-group-item *ngIf="item.type === 'group'"
                                   [item]="item"
                                   [name]="name"></asm-navigation-group-item>

        <!-- Spacer -->
        <asm-navigation-spacer-item *ngIf="item.type === 'spacer'"
                                    [item]="item"
                                    [name]="name"></asm-navigation-spacer-item>

    </ng-container>

</ng-container>
