@import 'assembly';

auth-logout {

    .content-layout {
        margin: 32px;
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-angular-material-theme {

    $background: map-get($theme, background);
    $is-dark: map-get($theme, is-dark);

    auth-logout {

        .content-layout {

            .card {
                background: map-get($background, card);
                @include asm-shadow(1);

                .form-container {

                    .logo {

                        .logo-dark {

                            @if ($is-dark) {
                                display: none;
                            }
                        }

                        .logo-light {

                            @if (not $is-dark) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
