<ng-container *ngIf="!item.hidden">

    <!-- Item wrapper -->
    <div class="asm-navigation-item-wrapper"
         [class.asm-navigation-item-has-subtitle]="!!item.subtitle"
         [ngClass]="item.classes"
         [matTooltip]="item.title"
         [matTooltipPosition]="'right'"
         [matTooltipDisabled]="!showTooltips">

        <!-- Item with an internal link -->
        <a class="asm-navigation-item"
           *ngIf="item.link && !item.externalLink && !item.function"
           [routerLink]="[item.link]"
           [routerLinkActive]="'asm-navigation-item-active'"
           [routerLinkActiveOptions]="{exact: item.exactMatch || false}">

            <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>

        </a>

        <!-- Item with an external link -->
        <a class="asm-navigation-item"
           *ngIf="item.link && item.externalLink && !item.function"
           [href]="item.link">

            <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>

        </a>

        <!-- Item with a function -->
        <div class="asm-navigation-item"
             *ngIf="!item.link && item.function"
             (click)="item.function()">

            <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>

        </div>

        <!-- Item with an internal link and function -->
        <a class="asm-navigation-item"
           *ngIf="item.link && !item.externalLink && item.function"
           [routerLink]="[item.link]"
           [routerLinkActive]="'asm-navigation-item-active'"
           [routerLinkActiveOptions]="{exact: item.exactMatch || false}"
           (click)="item.function()">

            <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>

        </a>

        <!-- Item with an external link and function -->
        <a class="asm-navigation-item"
           *ngIf="item.link && item.externalLink && item.function"
           [href]="item.link"
           (click)="item.function()">

            <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>

        </a>

    </div>

    <!-- Item template -->
    <ng-template #itemTemplate>

        <!-- Icon -->
        <mat-icon class="asm-navigation-item-icon text-secondary icon-size-16"
                  *ngIf="item.icon"
                  [fontSet]="item.iconFontSet">
            {{item.icon}}
        </mat-icon>

        <!-- Title & Subtitle -->
        <div class="asm-navigation-item-title-wrapper">

            <div class="asm-navigation-item-title">{{item.title}}</div>

            <div class="asm-navigation-item-subtitle text-hint"
                 *ngIf="item.subtitle">
                {{item.subtitle}}
            </div>

        </div>

        <!-- Badge -->
        <div class="asm-navigation-item-badge"
             *ngIf="item.badge">

            <div class="asm-navigation-item-badge-content"
                 [ngClass]="'asm-navigation-item-badge-style-' + item.badge.style"
                 [ngStyle]="{'background-color': item.badge.background, 'color': item.badge.color}">
                {{item.badge.title}}
            </div>

            <div class="asm-navigation-item-badge-indicator"
                 [ngStyle]="{'background-color': item.badge.style === 'simple' ? item.badge.color : item.badge.background}">
            </div>

        </div>

    </ng-template>

</ng-container>
