<div class="content-layout fullwidth-standard-normal-scroll docs">

    <div class="header">

        <div class="container">

            <div class="breadcrumb">
                <span class="path">UI ELEMENTS</span>
                <span class="separator">/</span>
                <span class="path">HELPERS</span>
                <span class="separator">/</span>
                <span class="path current">ASSEMBLY</span>
            </div>
            <h1>Assembly helpers</h1>

        </div>

    </div>

    <div class="main">

        <div class="container">

            <!-- Form field helpers -->
            <h2>Form field helpers</h2>
            <p>
                Following helpers modify Angular Material's core <b>fill</b> form field appearance to make it more consistent and correctly aligned. You can experiment with them to
                see how they affect the fields.
            </p>
            <p>
                We don't recommend using other (<em>standard or outline</em>) field appearances as they do not offer the best look and user experience, so to be as consistent as
                possible, always use the <b>fill</b> appearance which is the default appearance for the form fields in Assembly.
            </p>
            <p>
                To see how we use Assembly form field helper
                classes correctly and efficiently, check <a class="link"
                                                            [routerLink]="['/ui/form-layouts']">Form Layouts</a> examples.
            </p>

            <h4>Required classes</h4>

            <ul>
                <li>
                    <b>Textarea</b> (<code>.asm-mat-textarea</code>) helper is required if you are using a textarea as your input. Since Angular Material doesn't differentiate
                    a textarea from a normal input while using them with <b>mat-form-field</b>, this helper class is required for <b>textarea</b> inputs to look good and
                    consistent.
                </li>
            </ul>

            <h4>Optional classes</h4>

            <ul>
                <li>
                    <b>Dense</b> (<code>.asm-mat-dense</code>) helper provides set of adjustments to make the fields denser. Dense fields are suitable for non-form usages and
                    places
                    where there isn't much space to work with such as small dialogs, menus, popovers and etc.
                </li>
                <li>
                    <b>Rounded</b> (<code>.asm-mat-rounded</code>) helper provides set of adjustments to make the fields look fully rounded.
                </li>
                <li>
                    <b>No subscript</b> (<code>.asm-mat-no-subscript</code>) helper provides set of adjustments to remove the bottom spacing where <em>hint</em> and <em>error</em>
                    messages placed. This helper is particularly useful to align the field easily if you don't need to show error messages or hint text. For example a search bar in
                    the toolbar uses this helper to fit the field to the toolbar without having an extra bottom spacing.
                </li>
                <li>
                    <b>Outline</b> (<code>.asm-mat-outline</code>) helper provides set of adjustments to make the field look like Material's <em>Outline</em> appearance except the
                    top border aligned floating label.
                </li>
            </ul>

            <h4>Usage</h4>
            <p>
                <code>&lt;mat-form-field class="{{getFormFieldHelpersAsString()}}"&gt;...&lt;mat-form-field&gt;</code>
            </p>

            <h4>With mat-label</h4>

            <p>
                <mat-button-toggle-group [(ngModel)]="formFieldHelpers"
                                         multiple>
                    <mat-button-toggle [value]="'asm-mat-dense'">Dense</mat-button-toggle>
                    <mat-button-toggle [value]="'asm-mat-rounded'">Rounded</mat-button-toggle>
                    <mat-button-toggle [value]="'asm-mat-no-subscript'">No subscript</mat-button-toggle>
                </mat-button-toggle-group>
            </p>

            <asm-card class="flex flex-col w-full max-w-720 mt-32 p-32">

                <form novalidate>

                    <div class="flex">
                        <mat-form-field class="flex-auto"
                                        [ngClass]="formFieldHelpers">
                            <mat-label>MMMMMMMM</mat-label>
                            <input matInput>
                            <mat-hint>This is a hint text</mat-hint>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="flex-auto"
                                        [ngClass]="formFieldHelpers">
                            <mat-label>Input with Prefix & Suffix</mat-label>
                            <input matInput>
                            <span matInputPrefix>$</span>
                            <span matInputSuffix>.00</span>
                            <mat-icon matPrefix
                                      [svgIcon]="'account_circle'"></mat-icon>
                            <mat-icon matSuffix
                                      [svgIcon]="'account_circle'"></mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="flex-auto"
                                        [ngClass]="formFieldHelpers">
                            <mat-label>Input with mat-icon-button as Prefix & Suffix</mat-label>
                            <input matInput>
                            <button mat-icon-button
                                    matPrefix>
                                <mat-icon [svgIcon]="'3d_rotation'"></mat-icon>
                            </button>
                            <button mat-icon-button
                                    matSuffix>
                                <mat-icon [svgIcon]="'visibility_off'"></mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="flex-auto"
                                        [ngClass]="formFieldHelpers">
                            <mat-label>Input with Text Prefix & Text Suffix</mat-label>
                            <input matInput>
                            <span matInputPrefix>$</span>
                            <span matInputSuffix>.00</span>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="flex-auto"
                                        [ngClass]="formFieldHelpers">
                            <mat-label>Input with Text Prefix & Text Suffix</mat-label>
                            <input class="text-right"
                                   matInput>
                            <span matInputPrefix>$</span>
                            <span matInputSuffix>.00</span>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="flex-auto"
                                        [ngClass]="formFieldHelpers">
                            <mat-label>Input with mat-select as Prefix & Suffix</mat-label>
                            <input matInput>
                            <mat-select [value]="'EU'"
                                        matPrefix>
                                <mat-option [value]="'EU'">EU</mat-option>
                                <mat-option [value]="'US'">US</mat-option>
                            </mat-select>
                            <mat-select [value]="'kg'"
                                        matSuffix>
                                <mat-option [value]="'kg'">kg</mat-option>
                                <mat-option [value]="'gr'">gr</mat-option>
                                <mat-option [value]="'oz'">oz</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="asm-mat-textarea flex-auto"
                                        [ngClass]="formFieldHelpers">
                            <mat-label>Textarea</mat-label>
                            <textarea matInput></textarea>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="asm-mat-textarea flex-auto"
                                        [ngClass]="formFieldHelpers">
                            <mat-label>Textarea with Prefix & Suffix</mat-label>
                            <textarea matInput></textarea>
                            <mat-icon matPrefix
                                      [svgIcon]="'account_circle'"></mat-icon>
                            <mat-icon matSuffix
                                      [svgIcon]="'account_circle'"></mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="asm-mat-textarea flex-auto"
                                        [ngClass]="formFieldHelpers">
                            <mat-label>Textarea with Autosize</mat-label>
                            <textarea matInput
                                      cdkTextareaAutosize
                                      [cdkAutosizeMinRows]="2"></textarea>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="asm-mat-textarea flex-auto"
                                        [ngClass]="formFieldHelpers">
                            <mat-label>Textarea with Autosize, Prefix & Suffix</mat-label>
                            <textarea matInput
                                      cdkTextareaAutosize
                                      [cdkAutosizeMinRows]="2"></textarea>
                            <mat-icon matPrefix
                                      [svgIcon]="'account_circle'"></mat-icon>
                            <mat-icon matSuffix
                                      [svgIcon]="'account_circle'"></mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="flex flex-col gt-xs:flex-row">
                        <mat-form-field class="flex-auto gt-xs:pr-12"
                                        [ngClass]="formFieldHelpers">
                            <mat-label>Select with Prefix</mat-label>
                            <mat-select>
                                <mat-option value="select1-1">Select 1-1 Select 1-1 Select 1-1 Select 1-1 Select 1-1 Select 1-1 Select 1-1</mat-option>
                                <mat-option value="select1-2">Select 1-2</mat-option>
                                <mat-option value="select1-3">Select 1-3</mat-option>
                            </mat-select>
                            <mat-icon matPrefix
                                      [svgIcon]="'room'"></mat-icon>
                        </mat-form-field>
                        <mat-form-field class="flex-auto gt-xs:pl-12"
                                        [ngClass]="formFieldHelpers">
                            <mat-label>Select with Suffix</mat-label>
                            <mat-select>
                                <mat-option value="select2-1">Select 2-1 Select 2-1 Select 2-1 Select 2-1 Select 2-1 Select 2-1 Select 2-1</mat-option>
                                <mat-option value="select2-2">Select 2-2</mat-option>
                                <mat-option value="select2-3">Select 2-3</mat-option>
                            </mat-select>
                            <mat-icon matSuffix
                                      [svgIcon]="'language'"></mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="flex flex-col gt-xs:flex-row">
                        <mat-form-field class="flex-auto gt-xs:pr-12"
                                        [ngClass]="formFieldHelpers">
                            <mat-label>Native select with Prefix</mat-label>
                            <select matNativeControl>
                                <option value=""></option>
                                <option value="select1-1">Select 1-1 Select 1-1 Select 1-1 Select 1-1 Select 1-1 Select 1-1 Select 1-1</option>
                                <option value="select1-2">Select 1-2</option>
                                <option value="select1-3">Select 1-3</option>
                            </select>
                            <mat-icon matPrefix
                                      [svgIcon]="'room'"></mat-icon>
                        </mat-form-field>
                        <mat-form-field class="flex-auto gt-xs:pl-12"
                                        [ngClass]="formFieldHelpers">
                            <mat-label>Native select with Suffix</mat-label>
                            <select matNativeControl>
                                <option value=""></option>
                                <option value="select2-1">Select 2-1 Select 2-1 Select 2-1 Select 2-1 Select 2-1 Select 2-1 Select 2-1</option>
                                <option value="select2-2">Select 2-2</option>
                                <option value="select2-3">Select 2-3</option>
                            </select>
                            <mat-icon matSuffix
                                      [svgIcon]="'language'"></mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="flex-auto"
                                        [ngClass]="formFieldHelpers">
                            <mat-chip-list #chipList01>
                                <mat-chip [removable]="true"
                                          [selectable]="true">
                                    Lemon
                                    <mat-icon matChipRemove
                                              [svgIcon]="'remove_circle'"></mat-icon>
                                </mat-chip>
                                <mat-chip [removable]="true"
                                          [selectable]="true">
                                    Lime
                                    <mat-icon matChipRemove
                                              [svgIcon]="'remove_circle'"></mat-icon>
                                </mat-chip>
                                <mat-chip [removable]="true"
                                          [selectable]="true">
                                    Apple
                                    <mat-icon matChipRemove
                                              [svgIcon]="'remove_circle'"></mat-icon>
                                </mat-chip>
                                <input [placeholder]="'New fruit...'"
                                       [matChipInputFor]="chipList01">
                            </mat-chip-list>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="flex-auto"
                                        [ngClass]="formFieldHelpers">
                            <mat-label>Choose a date</mat-label>
                            <input matInput
                                   [matDatepicker]="picker1">
                            <mat-datepicker-toggle matSuffix
                                                   [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>

                </form>

            </asm-card>

            <h4>Without mat-label</h4>

            <p>
                <mat-button-toggle-group [(ngModel)]="formFieldHelpers"
                                         multiple>
                    <mat-button-toggle [value]="'asm-mat-dense'">Dense</mat-button-toggle>
                    <mat-button-toggle [value]="'asm-mat-rounded'">Rounded</mat-button-toggle>
                    <mat-button-toggle [value]="'asm-mat-no-subscript'">No subscript</mat-button-toggle>
                </mat-button-toggle-group>
            </p>

            <asm-card class="flex flex-col w-full max-w-720 mt-32 p-32">

                <form novalidate>

                    <div class="flex">
                        <mat-form-field class="flex-auto"
                                        [ngClass]="formFieldHelpers">
                            <input matInput
                                   [placeholder]="'Input'">
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="flex-auto"
                                        [ngClass]="formFieldHelpers">
                            <input matInput
                                   [placeholder]="'Input with Prefix & Suffix'">
                            <mat-icon matPrefix
                                      [svgIcon]="'account_circle'"></mat-icon>
                            <mat-icon matSuffix
                                      [svgIcon]="'account_circle'"></mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="flex-auto"
                                        [ngClass]="formFieldHelpers">
                            <input matInput
                                   [placeholder]="'Input with mat-icon-button as Prefix & Suffix'">
                            <button mat-icon-button
                                    matPrefix>
                                <mat-icon [svgIcon]="'3d_rotation'"></mat-icon>
                            </button>
                            <button mat-icon-button
                                    matSuffix>
                                <mat-icon [svgIcon]="'visibility_off'"></mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="flex-auto"
                                        [ngClass]="formFieldHelpers">
                            <input matInput
                                   [placeholder]="'Input with Text Prefix & Text Suffix'">
                            <span matPrefix>$</span>
                            <span matSuffix>.00</span>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="flex-auto"
                                        [ngClass]="formFieldHelpers">
                            <input class="text-right"
                                   matInput
                                   [placeholder]="'Input with Text Prefix & Text Suffix'">
                            <span matPrefix>$</span>
                            <span matSuffix>.00</span>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="flex-auto"
                                        [ngClass]="formFieldHelpers">
                            <input matInput
                                   [placeholder]="'Input with mat-select as Prefix & Suffix'">
                            <mat-select [value]="'EU'"
                                        matPrefix>
                                <mat-option [value]="'EU'">EU</mat-option>
                                <mat-option [value]="'US'">US</mat-option>
                            </mat-select>
                            <mat-select [value]="'kg'"
                                        matSuffix>
                                <mat-option [value]="'kg'">kg</mat-option>
                                <mat-option [value]="'gr'">gr</mat-option>
                                <mat-option [value]="'oz'">oz</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="asm-mat-textarea flex-auto"
                                        [ngClass]="formFieldHelpers">
                            <textarea matInput
                                      [placeholder]="'Textarea'"></textarea>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="asm-mat-textarea flex-auto"
                                        [ngClass]="formFieldHelpers">
                            <textarea matInput
                                      [placeholder]="'Textarea with Prefix & Suffix'"></textarea>
                            <mat-icon matPrefix
                                      [svgIcon]="'account_circle'"></mat-icon>
                            <mat-icon matSuffix
                                      [svgIcon]="'account_circle'"></mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="asm-mat-textarea flex-auto"
                                        [ngClass]="formFieldHelpers">
                            <textarea matInput
                                      cdkTextareaAutosize
                                      [cdkAutosizeMinRows]="2"
                                      [placeholder]="'Textarea with Autosize'"></textarea>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="asm-mat-textarea flex-auto"
                                        [ngClass]="formFieldHelpers">
                            <textarea matInput
                                      cdkTextareaAutosize
                                      [cdkAutosizeMinRows]="2"
                                      [placeholder]="'Textarea with Autosize, Prefix & Suffix'"></textarea>
                            <mat-icon matPrefix
                                      [svgIcon]="'account_circle'"></mat-icon>
                            <mat-icon matSuffix
                                      [svgIcon]="'account_circle'"></mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="flex flex-col gt-xs:flex-row">
                        <mat-form-field class="flex-auto gt-xs:pr-12"
                                        [ngClass]="formFieldHelpers">
                            <mat-select [placeholder]="'Select with Prefix'">
                                <mat-option value="select1-1">Select 1-1 Select 1-1 Select 1-1 Select 1-1 Select 1-1 Select 1-1 Select 1-1</mat-option>
                                <mat-option value="select1-2">Select 1-2</mat-option>
                                <mat-option value="select1-3">Select 1-3</mat-option>
                            </mat-select>
                            <mat-icon matPrefix
                                      [svgIcon]="'room'"></mat-icon>
                        </mat-form-field>
                        <mat-form-field class="flex-auto gt-xs:pl-12"
                                        [ngClass]="formFieldHelpers">
                            <mat-select [placeholder]="'Select with Suffix'">
                                <mat-option value="select2-1">Select 2-1 Select 2-1 Select 2-1 Select 2-1 Select 2-1 Select 2-1 Select 2-1</mat-option>
                                <mat-option value="select2-2">Select 2-2</mat-option>
                                <mat-option value="select2-3">Select 2-3</mat-option>
                            </mat-select>
                            <mat-icon matSuffix
                                      [svgIcon]="'language'"></mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="flex flex-col gt-xs:flex-row">
                        <mat-form-field class="flex-auto gt-xs:pr-12"
                                        [ngClass]="formFieldHelpers">
                            <select matNativeControl
                                    [placeholder]="'Native select with Prefix'">
                                <option value=""></option>
                                <option value="select1-1">Select 1-1 Select 1-1 Select 1-1 Select 1-1 Select 1-1 Select 1-1 Select 1-1</option>
                                <option value="select1-2">Select 1-2</option>
                                <option value="select1-3">Select 1-3</option>
                            </select>
                            <mat-icon matPrefix
                                      [svgIcon]="'room'"></mat-icon>
                        </mat-form-field>
                        <mat-form-field class="flex-auto gt-xs:pl-12"
                                        [ngClass]="formFieldHelpers">
                            <select matNativeControl
                                    [placeholder]="'Native select with Suffix'">
                                <option value=""></option>
                                <option value="select2-1">Select 2-1 Select 2-1 Select 2-1 Select 2-1 Select 2-1 Select 2-1 Select 2-1</option>
                                <option value="select2-2">Select 2-2</option>
                                <option value="select2-3">Select 2-3</option>
                            </select>
                            <mat-icon matSuffix
                                      [svgIcon]="'language'"></mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="flex-auto"
                                        [ngClass]="formFieldHelpers">
                            <mat-chip-list #chipList02>
                                <mat-chip [removable]="true"
                                          [selectable]="true">
                                    Lemon
                                    <mat-icon matChipRemove
                                              [svgIcon]="'remove_circle'"></mat-icon>
                                </mat-chip>
                                <mat-chip [removable]="true"
                                          [selectable]="true">
                                    Lime
                                    <mat-icon matChipRemove
                                              [svgIcon]="'remove_circle'"></mat-icon>
                                </mat-chip>
                                <mat-chip [removable]="true"
                                          [selectable]="true">
                                    Apple
                                    <mat-icon matChipRemove
                                              [svgIcon]="'remove_circle'"></mat-icon>
                                </mat-chip>
                                <input [placeholder]="'New fruit...'"
                                       [matChipInputFor]="chipList02">
                            </mat-chip-list>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="flex-auto"
                                        [ngClass]="formFieldHelpers">
                            <input matInput
                                   [matDatepicker]="picker2"
                                   [placeholder]="'Choose a date'">
                            <mat-datepicker-toggle matSuffix
                                                   [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>

                </form>

            </asm-card>


            <!-- Icon size helpers -->
            <h2>Icon size helpers</h2>
            <p>
                Assembly provides helpers for quickly changing the icon size on <code>mat-icon</code> elements. These helpers support both icon fonts and svg icons.
            </p>

            <h4>Class</h4>
            <ul>
                <li>
                    <code>.icon-size-[SIZE]</code>: <b>SIZE</b> parameter can be between <b>4</b> and <b>256</b> with the increments of <b>4</b> (4, 8, 12, 16, 20 ... 256).
                </li>
            </ul>

            <h4>Mixin</h4>
            <p>
                To change the icon size directly from the SCSS files, you can use the <code>@include asm-icon-size($size)</code> mixin. It has the same <b>$size</b> parameter rule
                as the helper class.
            </p>


            <!-- Breakpoint helpers -->
            <h2>Breakpoint helpers</h2>
            <p>
                Assembly provides helpers to quickly wrap the styles in a media query that's compatible with the Assembly's current set of breakpoints.
            </p>

            <h4>Mixin</h4>
            <p>
                Use the <code>@include asm-media-breakpoint($breakpoint)</code> mixin to add a media rule that wraps the code inside it:
            </p>
            <!-- @formatter:off -->
            <asm-highlight [lang]="'css'">
                <textarea>
                    @include asm-media-breakpoint('lt-md') {
                        top: 0;
                        height: 100vh;
                        min-height: 100vh;
                        max-height: 100vh;
                    }
                </textarea>
            </asm-highlight>
            <!-- @formatter:on -->
            <p>
                will result with the following code:
            </p>
            <!-- @formatter:off -->
            <asm-highlight [lang]="'css'">
                <textarea>
                    @media (max-width: 959px) {
                        top: 0;
                        height: 100vh;
                        min-height: 100vh;
                        max-height: 100vh;
                    }
                </textarea>
            </asm-highlight>
            <!-- @formatter:on -->

            <h4>Available breakpoints</h4>
            <p>
                All available breakpoints and their widths can be seen and modified in <code>/src/@assembly/styles/utilities/_breakpoints.scss</code> file.
            </p>

            <!-- Color & Contrast helpers -->
            <h2>Color & Contrast helpers</h2>
            <p>
                Assembly provides helpers to quickly add colors and contrasting colors to the elements. See all available pre-defined colors here:
                <a class="link"
                   [routerLink]="['/ui/colors']">Colors</a>.
            </p>
            <h4>Function</h4>
            <p>
                Use the <code>asm-color($palette, $hue, $opacity)</code> function to return the color from the Assembly's pre-defined color palettes.
            </p>
            <p>
                Use the <code>asm-contrast($palette, $hue, $opacity)</code> function to return the contrasting color of the given color.

            </p>
            <!-- @formatter:off -->
            <asm-highlight [lang]="'css'">
                <textarea>
                    .some-element {
                        background: asm-color($asm-red, 500);
                        color: asm-contrast($asm-red, 500);
                    }
                </textarea>
            </asm-highlight>
            <!-- @formatter:on -->
            <p>
                will result with the following code:
            </p>
            <!-- @formatter:off -->
            <asm-highlight [lang]="'css'">
                <textarea>
                    .some-element {
                        background: #F56565;
                        color: #742A2A;
                    }
                </textarea>
            </asm-highlight>
            <!-- @formatter:on -->

            <!-- Elevation helpers -->
            <h2>Elevation helpers (for Light themes)</h2>
            <p>
                Assembly provides helpers to quickly add an elevation to the elements.
            </p>

            <h4>Mixin</h4>
            <p>
                Use the <code>@include asm-elevation($elevation, $important, $color)</code> mixin to add an elevation based on box-shadow.
            </p>
            <!-- @formatter:off -->
            <asm-highlight [lang]="'css'">
                <textarea>
                    asm-card {
                        @include asm-elevation(2);
                    }
                </textarea>
            </asm-highlight>
            <!-- @formatter:on -->
            <p>
                will result with the following code:
            </p>
            <!-- @formatter:off -->
            <asm-highlight [lang]="'css'">
                <textarea>
                    asm-card {
                        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
                    }
                </textarea>
            </asm-highlight>
            <!-- @formatter:on -->

            <h4>Parameters</h4>
            <ul>
                <li>
                    <code>$elevation</code>: Available elevation values are: 0, 1, 2, 3, 4, 5.
                </li>
                <li>
                    <code>$important</code>: If <b>true</b>, the box-shadow rule will be appended with an <b>!important</b> tag.
                </li>
                <li>
                    <code>$color</code>: Color of the shadow, can be any valid SCSS color.
                </li>
            </ul>


            <!-- Elevation helper -->
            <h2>Elevation helper (for Dark themes)</h2>
            <p>
                Assembly provides helpers to quickly add an elevation to the elements.
            </p>

            <h4>Function</h4>
            <p>
                Use the <code>asm-dark-elevation($elevation, $important)</code> function to add an elevation based on a color. This elevation type is used on dark themes where
                box shadows are not clearly visible.
            </p>
            <!-- @formatter:off -->
            <asm-highlight [lang]="'css'">
                <textarea>
                    asm-card {
                        @if ($is-dark) {
                            background: asm-dark-elevation(1);
                        } @else {
                            background: map-get($background, card);
                        }
                    }
                </textarea>
            </asm-highlight>
            <!-- @formatter:on -->

            <h4>Parameters</h4>
            <ul>
                <li>
                    <code>$elevation</code>: Available elevation values are: 0, 1, 2, 3, 4, 6, 8, 12, 16, 24.
                </li>
                <li>
                    <code>$important</code>: If <b>true</b>, the rule will be appended with an <b>!important</b> tag.
                </li>
            </ul>

        </div>

    </div>

</div>
