@import 'src/@assembly/styles/assembly';

modern-layout {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;

    // Header
    .header {
        position: sticky;
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: start;
        width: 100%;
        height: 80px;
        max-height: 80px;
        min-height: 80px;
        top: 0;
        padding: 0 24px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05),
        0 2px 12px 0 rgba(0, 0, 0, 0.05);
        z-index: 10;

        + .container {

            .navigation {
                top: 128px;
                height: calc(100vh - 176px);
                min-height: calc(100vh - 176px);
                max-height: calc(100vh - 176px);

                @include media-breakpoint('lt-md') {
                    top: 80px;
                    height: calc(100vh - 80px);
                    min-height: calc(100vh - 80px);
                    max-height: calc(100vh - 80px);
                }
            }
        }
    }

    // Container
    > .container {
        position: relative;
        display: flex;
        flex: 1 1 auto;
        padding: 48px;
        z-index: 5;

        .navigation {
            top: 48px;
            height: calc(100vh - 96px);
            min-height: calc(100vh - 96px);
            max-height: calc(100vh - 96px);

            @include media-breakpoint('lt-md') {
                top: 0;
                height: 100vh;
                min-height: 100vh;
                max-height: 100vh;
            }

            // Side mode
            &.asm-navigation-mode-side {

                // Left positioned
                &.asm-navigation-position-left {
                    margin-left: -328px;

                    // Opened
                    &.asm-navigation-opened {
                        margin-left: 0;
                    }
                }

                // Right positioned
                &.asm-navigation-position-right {
                    margin-right: -328px;

                    // Opened
                    &.asm-navigation-opened {
                        margin-left: 0;
                    }
                }
            }
        }

        > .container {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            padding-left: 48px;

            @include media-breakpoint('lt-md') {
                padding-left: 0;
            }

            // Content
            .content {
                display: flex;
                flex: 1 1 auto;

                router-outlet {

                    + * {
                        padding: 0;
                    }
                }
            }

            // Footer
            .footer {
                display: flex;
                flex: 1 1 auto;
                align-items: center;
                justify-content: start;
                width: 100%;
                height: 80px;
                max-height: 80px;
                min-height: 80px;
                padding: 0 24px;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05),
                0 2px 12px 0 rgba(0, 0, 0, 0.05);
                z-index: 10;
            }
        }
    }
}
