@import 'treo';
//@variants treo;

finance {

    > div > div {

        //background: treo-color('red', 50);
        //box-shadow: #{map-get($treo-elevations2, 'outline')};
        @apply border-8 border-red;
        border-color: theme('colors.blue.500') !important;
        //border: 4px solid;
    }

    .mat-stroked-button {
        background: theme('colors.blue.500');
        color: white;

        .mat-icon {
            color: white !important;
        }
    }
}
