@import 'assembly';

auth-login {

    .content-layout {
        align-items: center;
        justify-content: center;

        asm-card {

            // Classic
            &.classic {

                .form {
                    max-width: 400px;
                    padding: 64px 56px;

                    @include asm-media-breakpoint('lt-sm') {
                        padding: 64px 40px;
                    }
                }

                .content {
                    display: none !important;
                }
            }

            // Modern & Modern alt.
            &.modern,
            &.modern-alt {
                max-width: 1200px;
                width: 100%;

                @include asm-media-breakpoint('lt-md') {
                    width: auto;
                }

                .form {
                    min-width: 480px;
                    max-width: 480px;
                    padding: 96px 64px;

                    @include asm-media-breakpoint('lt-md') {
                        min-width: 0;
                        max-width: 400px;
                        padding: 64px 56px;
                    }

                    @include asm-media-breakpoint('lt-sm') {
                        padding: 64px 48px;
                    }
                }
            }

            // Modern alt.
            &.modern-alt {

                .form {
                    order: 2;
                }

                .content {
                    order: 1;
                }
            }

            // Fullscreen & Fullscreen alt.
            &.fullscreen,
            &.fullscreen-alt {

                @include asm-media-breakpoint('gt-sm') {
                    margin: 0;
                    width: 100%;
                    max-width: none;
                    height: 100%;
                    box-shadow: none;
                    border-radius: 0;
                }

                .form {
                    min-width: 512px;
                    max-width: 512px;
                    padding: 128px 80px 80px 80px;
                    z-index: 10;
                    @include asm-elevation('lg');

                    @include asm-media-breakpoint('lt-md') {
                        max-width: 400px;
                        min-width: 0;
                        padding: 64px 56px;
                    }

                    @include asm-media-breakpoint('lt-sm') {
                        padding: 64px 48px;
                    }
                }
            }

            // Fullscreen alt.
            &.fullscreen-alt {

                .form {
                    order: 2;
                }

                .content {
                    order: 1;
                }
            }

            .form {
                display: flex;
                flex-direction: column;
                order: 1;
                width: 100%;

                .logo {
                    width: 200px;
                }

                h3 {
                    margin: 64px 0 0 0;
                }

                h6 {
                    margin: 4px 0 0 0;
                }

                asm-message {
                    margin-top: 40px;
                }

                form {
                    margin-top: 40px;

                    .mat-form-field {
                        width: 100%;
                    }

                    .field-link {
                        width: 100%;
                        font-size: 13px;
                        font-weight: 500;
                        text-align: right;
                    }

                    .submit-button {
                        width: 100%;
                        margin-top: 32px;
                    }

                    .footer-link {
                        width: 100%;
                        margin-top: 24px;
                        font-size: 13px;
                        font-weight: 500;

                        .link {
                            margin-left: 4px;
                        }
                    }
                }
            }

            .content {
                display: flex;
                order: 2;
                background-image: url('assets/images/pages/authentication/card-image.jpg');
                background-size: cover;
                background-position: center;
                width: 100%;

                @include asm-media-breakpoint('lt-md') {
                    display: none;
                }
            }
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-theme {

    $foreground: map-get($theme, foreground);
    $is-dark: map-get($theme, is-dark);

    auth-login {

        asm-card {

            .form {

                .logo {

                    .logo-dark {

                        @if ($is-dark) {
                            display: none;
                        }
                    }

                    .logo-light {

                        @if (not $is-dark) {
                            display: none;
                        }
                    }
                }

                h6 {
                    color: map-get($foreground, secondary-text);
                }

                form {

                    .footer-link {

                        span {
                            color: map-get($foreground, secondary-text);
                        }
                    }
                }
            }
        }
    }
}
