<div class="content-layout with-centered-card">

    <div class="card">

        <!-- Logo -->
        <div class="logo">
            <img class="logo-dark"
                 src="assets/images/logo/logo-dark.svg">
            <img class="logo-light"
                 src="assets/images/logo/logo-light.svg">
        </div>

        <!-- Title -->
        <div class="title-2 mt-64">Log in to your account</div>
        <div class="subtitle mt-8 secondary-text">Welcome back!</div>

        <!-- Message box -->
        <asm-message class="mt-48"
                     *ngIf="messageBox"
                     [appearance]="'solid'"
                     [type]="messageBox.type"
                     [@shake]="messageBoxAnimationState">
            <div asmMessageContent>{{messageBox.message}}</div>
        </asm-message>

        <!-- Login form -->
        <form class="mt-40"
              [formGroup]="loginForm"
              novalidate>

            <!-- Email field -->
            <mat-form-field class="w-full"
                            [appearance]="'standard'">
                <mat-label>Email</mat-label>
                <input id="email"
                       matInput
                       [formControlName]="'email'">
                <mat-icon matSuffix>mail</mat-icon>
                <mat-error *ngIf="loginForm.get('email').hasError('required')">
                    Email is required
                </mat-error>
                <mat-error *ngIf="loginForm.get('email').hasError('email')">
                    Please enter a valid email address
                </mat-error>
            </mat-form-field>

            <!-- Password field -->
            <mat-form-field class="w-full"
                            [appearance]="'standard'">
                <mat-label>Password</mat-label>
                <input id="password"
                       matInput
                       type="password"
                       [formControlName]="'password'"
                       #passwordField>
                <button class="w-24 h-24"
                        mat-icon-button
                        (mousedown)="passwordField.type = 'text'"
                        (mouseup)="passwordField.type = 'password'"
                        [disableRipple]="true"
                        tabindex="-1"
                        matSuffix>
                    <mat-icon *ngIf="passwordField.type === 'password'">visibility_on</mat-icon>
                    <mat-icon *ngIf="passwordField.type === 'text'">visibility_off</mat-icon>
                </button>
                <mat-error>
                    Password is required
                </mat-error>
            </mat-form-field>

            <!-- Forgot password link -->
            <div class="mt-8 w-full text-right secondary-text">
                <a [routerLink]="['/forgot-password']">Forgot password?</a>
            </div>

            <!-- Log in button -->
            <button class="asm-mat-button-large mt-48 w-full"
                    mat-raised-button
                    [color]="'primary'"
                    [disabled]="loginForm.disabled || loginForm.invalid"
                    (click)="login()">
                <span *ngIf="!loginForm.disabled">
                    Log In
                </span>
                <span *ngIf="loginForm.disabled">
                    <asm-spinner [appearance]="'material'"
                                 [diameter]="24"></asm-spinner>
                </span>
            </button>

            <!-- Create account link -->
            <div class="mt-24 w-full text-center">
                <span class="mr-4">Need an account?</span>
                <a class="link"
                   [routerLink]="['/signup']">Create one here</a>.
            </div>

        </form>

    </div>

</div>
