<div class="content-layout with-centered-content">

    <!-- Card -->
    <div class="card modern">

        <!-- Form container -->
        <div class="form-container">

            <!-- Logo -->
            <div class="logo">
                <img class="logo-dark"
                     src="assets/images/logo/logo-dark.svg">
                <img class="logo-light"
                     src="assets/images/logo/logo-light.svg">
            </div>

            <!-- Title -->
            <div class="title">Log in to your account</div>
            <div class="subtitle text-secondary">Welcome back!</div>

            <!-- Message -->
            <asm-message *ngIf="message"
                         [appearance]="'solid'"
                         [type]="message.type"
                         [@shake]="messageAnimationState">
                <div asmMessageContent>{{message.content}}</div>
            </asm-message>

            <!-- Login form -->
            <form [formGroup]="loginForm"
                  novalidate>

                <!-- Email field -->
                <mat-form-field class="email-field"
                                [appearance]="'standard'">
                    <mat-label>Email</mat-label>
                    <input id="email"
                           matInput
                           [formControlName]="'email'">
                    <mat-icon matSuffix>mail</mat-icon>
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="loginForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="password-field"
                                [appearance]="'standard'">
                    <mat-label>Password</mat-label>
                    <input id="password"
                           matInput
                           type="password"
                           [formControlName]="'password'"
                           #passwordField>
                    <button class="w-24 h-24"
                            mat-icon-button
                            (mousedown)="passwordField.type = 'text'"
                            (mouseup)="passwordField.type = 'password'"
                            [disableRipple]="true"
                            tabindex="-1"
                            matSuffix>
                        <mat-icon *ngIf="passwordField.type === 'password'">visibility_on</mat-icon>
                        <mat-icon *ngIf="passwordField.type === 'text'">visibility_off</mat-icon>
                    </button>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <!-- Forgot password link -->
                <div class="forgot-password-link text-secondary">
                    <a [routerLink]="['/forgot-password']">Forgot password?</a>
                </div>

                <!-- Login button -->
                <button class="login-button asm-mat-button-large"
                        mat-raised-button
                        [color]="'primary'"
                        [disabled]="loginForm.disabled || loginForm.invalid"
                        (click)="login()">
                    <span *ngIf="!loginForm.disabled">
                        Log In
                    </span>
                    <asm-spinner *ngIf="loginForm.disabled"
                                 [appearance]="'material'"
                                 [diameter]="24"></asm-spinner>
                </button>

                <!-- Create account link -->
                <div class="create-account-link">
                    <span>Need an account?</span>
                    <a class="link"
                       [routerLink]="['/signup']">Create one here</a>.
                </div>

            </form>

        </div>

        <!-- Content container -->
        <div class="content-container"></div>

    </div>

</div>
