<!-- WRAPPER -->
<div class="asm-navigation-wrapper"
     [ngClass]="asmConfig.layout.options.navigation.theme.background"
     [class.asm-navigation-dark-background]="asmConfig.layout.options.navigation.theme.isDark">

    <!-- NAVIGATION HEADER -->
    <div class="asm-navigation-header">
        <ng-content select="[asmNavigationHeader]"></ng-content>
    </div>
    <!-- / NAVIGATION HEADER -->

    <!-- NAVIGATION CONTENT -->
    <div class="asm-navigation-content"
         asmScrollbar
         [asmScrollbarOptions]="{wheelPropagation: false, suppressScrollX: true}">

        <!-- Content Top -->
        <div class="asm-navigation-content-top">
            <ng-content select="[asmNavigationContentTop]"></ng-content>
        </div>

        <!-- NAVIGATION ITEMS -->
        <ng-container *ngFor="let item of data; trackBy: trackById">

            <!-- Aside -->
            <asm-navigation-aside-item *ngIf="item.type === 'aside'"
                                       [item]="item"
                                       [skipChildren]="true"
                                       [active]="item.id === activeAsideItemId"
                                       (click)="toggleAside(item.id)"></asm-navigation-aside-item>

            <!-- Basic -->
            <asm-navigation-basic-item *ngIf="item.type === 'basic'"
                                       [item]="item"></asm-navigation-basic-item>

            <!-- Collapsable -->
            <asm-navigation-collapsable-item *ngIf="item.type === 'collapsable'"
                                             [item]="item"></asm-navigation-collapsable-item>

            <!-- Subheader -->
            <asm-navigation-subheader-item *ngIf="item.type === 'subheader'"
                                           [item]="item"></asm-navigation-subheader-item>

        </ng-container>
        <!-- / NAVIGATION ITEMS -->

        <!-- Content Bottom -->
        <div class="asm-navigation-content-bottom">
            <ng-content select="[asmNavigationContentBottom]"></ng-content>
        </div>

    </div>
    <!-- / NAVIGATION CONTENT -->

    <!-- NAVIGATION FOOTER -->
    <div class="asm-navigation-footer">
        <ng-content select="[asmNavigationFooter]"></ng-content>
    </div>
    <!-- / NAVIGATION FOOTER -->

</div>
<!-- / WRAPPER -->

<!-- ASIDE -->
<div class="asm-navigation-aside-wrapper"
     [ngClass]="asmConfig.layout.options.navigation.theme.background"
     [class.asm-navigation-dark-background]="asmConfig.layout.options.navigation.theme.isDark"
     *ngIf="activeAsideItemId"
     [@fadeIn]="position"
     [@fadeOut]="position"
     asmScrollbar
     [asmScrollbarOptions]="{wheelPropagation: false, suppressScrollX: true}">

    <!-- NAVIGATION ITEMS -->
    <ng-container *ngFor="let item of data; trackBy: trackById">

        <!-- Aside -->
        <asm-navigation-aside-item *ngIf="item.type === 'aside' && item.id === activeAsideItemId"
                                   [item]="item"></asm-navigation-aside-item>

    </ng-container>
    <!-- / NAVIGATION ITEMS -->

</div>
<!-- / ASIDE -->
