@mixin asm-navigation-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $is-dark: map-get($theme, is-dark);

    asm-navigation {

        .asm-navigation-item {
            color: currentColor;

            .asm-navigation-item-title {
                color: map-get($foreground, primary);
            }

            .asm-navigation-item-icon {
                color: map-get($foreground, active-icon);
            }

            &.asm-navigation-item-active {
                box-shadow: inset 3px 0 0 0 map-get($primary, default);
                background: rgba(0, 0, 0, 0.12);
            }
        }

        // Basic, Collapsable & Side
        asm-navigation-basic-item,
        asm-navigation-collapsable-item,
        asm-navigation-aside-item {

            > .asm-navigation-item {

                &:hover:not(.asm-navigation-item-active) {
                    background: rgba(0, 0, 0, 0.12);
                }
            }
        }

        // Collapsable
        asm-navigation-collapsable-item {

            > .asm-navigation-item {

                .asm-navigation-item-arrow {
                    color: map-get($foreground, active-icon);
                }
            }

            &.asm-navigation-item-expanded {
                background: rgba(0, 0, 0, 0.06);

                asm-navigation-collapsable-item {
                    background: transparent;
                }
            }
        }

        // Group
        asm-navigation-group-item {

            > .asm-navigation-item {

                .asm-navigation-item-title {
                    color: map-get($foreground, secondary);
                }
            }
        }

        // Side
        asm-navigation-group-item {

            > .asm-navigation-item-children {

            }
        }
    }
}
