@import "src/@assembly/styles/assembly";

asm-navigation {
    position: sticky;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    top: 0;
    width: 280px;
    min-width: 280px;
    max-width: 280px;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    z-index: 50;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05),
    0 2px 12px 0 rgba(0, 0, 0, 0.05);

    // -----------------------------------------------------------------------------------------------------
    // @ Navigation Drawer
    // -----------------------------------------------------------------------------------------------------

    // Animations
    &.asm-navigation-animations-enabled {
        transition-duration: 400ms;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-property: visibility, margin-left, margin-right, transform, width, max-width, min-width;

        // Wrapper
        .asm-navigation-wrapper {
            transition-duration: 400ms;
            transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
            transition-property: width, max-width, min-width;
        }
    }

    // Over mode
    &.asm-navigation-mode-over {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    // Left position
    &.asm-navigation-position-left {

        // Side mode
        &.asm-navigation-mode-side {
            margin-left: -280px;

            &.asm-navigation-opened {
                margin-left: 0;
            }
        }

        // Over mode
        &.asm-navigation-mode-over {
            left: 0;
            transform: translate3d(-100%, 0, 0);

            &.asm-navigation-opened {
                transform: translate3d(0, 0, 0);
            }
        }

        // Wrapper
        .asm-navigation-wrapper {
            left: 0;
        }
    }

    // Right position
    &.asm-navigation-position-right {

        // Side mode
        &.asm-navigation-mode-side {
            margin-right: -280px;

            &.asm-navigation-opened {
                margin-right: 0;
            }
        }

        // Over mode
        &.asm-navigation-mode-over {
            right: 0;
            transform: translate3d(100%, 0, 0);

            &.asm-navigation-opened {
                transform: translate3d(0, 0, 0);
            }
        }

        // Wrapper
        .asm-navigation-wrapper {
            right: 0;
        }
    }

    // Wrapper
    .asm-navigation-wrapper {
        position: absolute;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 10;

        // Header
        .asm-navigation-header {

        }

        // Content
        .asm-navigation-content {
            flex: 1 1 auto;
            margin: 8px 0;
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;

            // Subheader
            > asm-navigation-subheader-item {

                &:first-child {
                    margin-top: 0;
                }
            }
        }

        // Footer
        .asm-navigation-footer {

        }
    }

    // Aside wrapper
    .asm-navigation-aside-wrapper {
        position: absolute;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        top: 0;
        bottom: 0;
        left: 280px;
        width: 280px;
        height: 100%;
        z-index: 5;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        transition-duration: 400ms;
        transition-property: left, right;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);

        > asm-navigation-aside-item {

            > .asm-navigation-item {
                margin: 24px 0 12px 0 !important;
                padding-right: 32px !important;
                cursor: default;
                font-weight: 600;

                .asm-navigation-item-badge,
                .asm-navigation-item-icon {
                    display: none;
                }

                .asm-navigation-item-title {
                    font-size: 16px;
                }
            }
        }
    }

    &.asm-navigation-position-right {

        .asm-navigation-aside-wrapper {
            left: auto;
            right: 280px;
        }
    }

    // -----------------------------------------------------------------------------------------------------
    // @ Navigation Items
    // -----------------------------------------------------------------------------------------------------

    // Navigation items common
    asm-navigation-aside-item,
    asm-navigation-basic-item,
    asm-navigation-collapsable-item,
    asm-navigation-subheader-item {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;

        .asm-navigation-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 28px 0 32px;
            height: 52px;
            max-height: 52px;
            min-height: 52px;
            font-size: 13px;
            text-decoration: none;
            transition: box-shadow 225ms cubic-bezier(0.25, 0.8, 0.25, 1);

            .asm-navigation-item-icon {
                margin-right: 16px;
                user-select: none;
            }

            .asm-navigation-item-badge {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 11px;
                font-weight: 600;
                width: 24px;
                height: 24px;
                line-height: 1;
                border-radius: 50%;
                margin-left: auto;

                // Rectangle
                &.asm-navigation-item-badge-style-rectangle {
                    width: auto;
                    min-width: 24px;
                    height: 22px;
                    padding: 0 6px;
                    border-radius: 4px;
                }

                // Rounded
                &.asm-navigation-item-badge-style-rounded {
                    width: auto;
                    min-width: 24px;
                    padding: 0 6px;
                    border-radius: 12px;
                }

                // Simple
                &.asm-navigation-item-badge-style-simple {
                    width: auto;
                    font-size: 11px;
                    background-color: transparent !important;
                }
            }
        }
    }

    asm-navigation-aside-item,
    asm-navigation-basic-item,
    asm-navigation-collapsable-item {

        .asm-navigation-item {
            cursor: pointer;
        }
    }

    // Aside
    asm-navigation-aside-item {

    }

    // Basic
    asm-navigation-basic-item {

    }

    // Collapsable
    asm-navigation-collapsable-item {

        > .asm-navigation-item {

            .asm-navigation-item-badge {

                + .asm-navigation-item-arrow {
                    margin-left: 8px;
                }
            }

            .asm-navigation-item-arrow {
                transition: transform 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
                margin-left: auto;
            }
        }

        &.asm-navigation-item-expanded {

            > .asm-navigation-item {

                .asm-navigation-item-arrow {
                    transform: rotate(-180deg);
                }
            }
        }

        // 1st level
        .asm-navigation-item-children {
            overflow: hidden;

            .asm-navigation-item {
                padding-left: 64px;
            }

            // 2nd level
            .asm-navigation-item-children {

                .asm-navigation-item {
                    padding-left: 80px;
                }

                // 3rd level
                .asm-navigation-item-children {

                    .asm-navigation-item {
                        padding-left: 96px;
                    }

                    // 4th level
                    .asm-navigation-item-children {

                        .asm-navigation-item {
                            padding-left: 112px;
                        }
                    }
                }
            }
        }
    }

    // Subheader
    asm-navigation-subheader-item {
        margin-top: 24px;

        .asm-navigation-item {
            font-size: 12px;

            .asm-navigation-item-badge,
            .asm-navigation-item-icon {
                display: none;
            }

            .asm-navigation-item-title {
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }

    // -----------------------------------------------------------------------------------------------------
    // @ [appearance] Compact
    // -----------------------------------------------------------------------------------------------------

    &.asm-navigation-appearance-compact {
        width: 120px;
        min-width: 120px;
        max-width: 120px;

        // Left positioned
        &.asm-navigation-position-left {

            // Side mode
            &.asm-navigation-mode-side {
                margin-left: -120px;
            }

            // Opened
            &.asm-navigation-opened {
                margin-left: 0;
            }
        }

        // Right positioned
        &.asm-navigation-position-right {

            // Side mode
            &.asm-navigation-mode-side {
                margin-right: -120px;
            }

            // Opened
            &.asm-navigation-opened {
                margin-right: 0;
            }

            // Aside wrapper
            .asm-navigation-aside-wrapper {
                left: auto;
                right: 120px;
            }
        }

        // Wrapper
        .asm-navigation-wrapper {

            // Content
            .asm-navigation-content {

                > asm-navigation-collapsable-item,
                > asm-navigation-subheader-item {
                    display: none
                }

                > asm-navigation-aside-item,
                > asm-navigation-basic-item {

                    .asm-navigation-item {
                        flex-direction: column;
                        justify-content: center;
                        height: 110px;
                        min-height: 110px;
                        max-height: 110px;
                        padding: 0 16px;

                        .asm-navigation-item-icon {
                            margin-right: 0;
                            margin-bottom: 12px;
                            @include icon-size(32);
                        }
                    }
                }
            }
        }

        // Aside wrapper
        .asm-navigation-aside-wrapper {
            left: 120px;

            .asm-navigation-item {
                box-shadow: none;
                margin-right: 16px;
                padding-right: 16px;
                border-radius: 0 26px 26px 0;
            }

            > asm-navigation-aside-item {

                > .asm-navigation-item {
                    margin-top: 16px !important;
                }
            }
        }
    }

    // -----------------------------------------------------------------------------------------------------
    // @ [appearance] Dense
    // -----------------------------------------------------------------------------------------------------

    &.asm-navigation-appearance-dense {

        &:not(.asm-navigation-mode-over) {
            width: 80px;
            min-width: 80px;
            max-width: 80px;

            // Left positioned
            &.asm-navigation-position-left {

                // Side mode
                &.asm-navigation-mode-side {
                    margin-left: -80px;
                }

                // Opened
                &.asm-navigation-opened {
                    margin-left: 0;
                }
            }

            // Right positioned
            &.asm-navigation-position-right {

                // Side mode
                &.asm-navigation-mode-side {
                    margin-right: -80px;
                }

                // Opened
                &.asm-navigation-opened {
                    margin-right: 0;
                }

                // Aside wrapper
                .asm-navigation-aside-wrapper {
                    left: auto;
                    right: 80px;
                }

                &.asm-navigation-hover {

                    .asm-navigation-aside-wrapper {
                        left: auto;
                        right: 280px;
                    }
                }
            }
        }

        // Wrapper
        .asm-navigation-wrapper {

            // Content
            .asm-navigation-content {

                asm-navigation-aside-item,
                asm-navigation-basic-item,
                asm-navigation-collapsable-item,
                asm-navigation-subheader-item {

                    .asm-navigation-item {

                        .asm-navigation-item-arrow,
                        .asm-navigation-item-badge,
                        .asm-navigation-item-title {
                            white-space: nowrap;
                            transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
                        }
                    }
                }
            }
        }

        &:not(.asm-navigation-hover):not(.asm-navigation-mode-over) {

            // Wrapper
            .asm-navigation-wrapper {

                // Content
                .asm-navigation-content {

                    asm-navigation-aside-item,
                    asm-navigation-basic-item,
                    asm-navigation-collapsable-item,
                    asm-navigation-subheader-item {

                        .asm-navigation-item {

                            .asm-navigation-item-arrow,
                            .asm-navigation-item-badge,
                            .asm-navigation-item-title {
                                opacity: 0;
                            }
                        }
                    }

                    > asm-navigation-collapsable-item {

                        .asm-navigation-item-children {
                            display: none;
                        }
                    }

                    asm-navigation-subheader-item {

                        .asm-navigation-item {
                            position: relative;
                            padding: 0 32px;

                            &:before {
                                content: " ";
                                position: absolute;
                                top: 12px;
                                width: 16px;
                                height: 2px;
                                border-top: 2px solid;
                            }
                        }
                    }
                }
            }
        }

        // Aside wrapper
        .asm-navigation-aside-wrapper {
            left: 80px;
        }

        // Hover
        &.asm-navigation-hover {

            .asm-navigation-wrapper {
                width: 280px;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05),
                0 2px 12px 0 rgba(0, 0, 0, 0.05);
            }

            .asm-navigation-aside-wrapper {
                left: 280px;
            }
        }
    }

    // -----------------------------------------------------------------------------------------------------
    // @ [appearance] Thin
    // -----------------------------------------------------------------------------------------------------

    &.asm-navigation-appearance-thin {
        width: 80px;
        min-width: 80px;
        max-width: 80px;

        // Left positioned
        &.asm-navigation-position-left {

            &.asm-navigation-mode-side {
                margin-left: -80px;
            }

            &.asm-navigation-opened {
                margin-left: 0;
            }
        }

        // Right positioned
        &.asm-navigation-position-right {

            &.asm-navigation-mode-side {
                margin-right: -80px;
            }

            &.asm-navigation-opened {
                margin-right: 0;
            }

            .asm-navigation-aside-wrapper {
                left: auto;
                right: 80px;
            }
        }

        .asm-navigation-content {

            asm-navigation-collapsable-item {
                display: none;
            }

            asm-navigation-aside-item,
            asm-navigation-basic-item,
            asm-navigation-subheader-item {

                .asm-navigation-item {
                    justify-content: center;
                    padding: 0;

                    .asm-navigation-item-icon {
                        margin: 0;
                    }

                    .asm-navigation-item-arrow,
                    .asm-navigation-item-badge,
                    .asm-navigation-item-title {
                        display: none;
                    }
                }
            }

            asm-navigation-subheader-item {

                .asm-navigation-item {
                    position: relative;

                    &:before {
                        content: " ";
                        position: absolute;
                        top: 12px;
                        width: 16px;
                        height: 2px;
                        border-top: 2px solid;
                    }
                }
            }
        }

        asm-navigation-aside-item,
        asm-navigation-basic-item,
        asm-navigation-collapsable-item {

            .asm-navigation-item {
                position: relative;
                box-shadow: none;

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: -10px;
                    width: 3px;
                    transition-duration: 400ms;
                    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
                    transition-property: box-shadow, left;
                }

                &.asm-navigation-item-active {

                    &:before {
                        left: 0;
                    }
                }
            }
        }

        .asm-navigation-aside-wrapper {
            left: 80px;
        }
    }
}

// Overlay
.asm-navigation-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 49;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);

    + .asm-navigation-aside-overlay {
        background-color: transparent;
    }
}

// Aside overlay
.asm-navigation-aside-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 48;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
