@import './detail/detail.theme';
@import './list/list.theme';

@mixin mail-theme($theme) {

    // Include partial theme files
    @include mail-detail-theme($theme);
    @include mail-list-theme($theme);

    $background: map-get($theme, background);
    $is-dark: map-get($theme, is-dark);

    mail {

        .mat-drawer {
            @if ($is-dark) {

            } @else {
                background: map-get($background, background);
            }
        }
    }
}
