<content-layout type="with-sidebar"
                [sidebarPersistentAt]="'gt-md'"
                [sidebarPosition]="'left'"
                [innerScroll]="true"
                #content>

    <!-- Sidebar -->
    <div class="sidebar-content"
         sidebarContent>

        <!-- Mail sidebar -->
        <mail-sidebar asmScrollbar
                      [asmScrollbarOptions]="{suppressScrollX: true}"></mail-sidebar>

    </div>

    <!-- Main -->
    <div class="main-content"
         mainContent>

        <!-- Mail list -->
        <mail-list [content]="content"
                   asmScrollbar
                   [asmScrollbarOptions]="{suppressScrollX: true}"></mail-list>

        <!-- Mail detail -->
        <mail-detail asmScrollbar
                     [asmScrollbarOptions]="{suppressScrollX: true}"></mail-detail>

    </div>

</content-layout>
