<div class="content-layout fullwidth-standard docs">

    <div class="header">

        <div class="container">

            <div class="breadcrumb">
                <span class="path">ASSEMBLY</span>
                <span class="separator">/</span>
                <span class="path">COMPONENTS</span>
                <span class="separator">/</span>
                <span class="path current">MESSAGES</span>
            </div>
            <h1>Messages</h1>

        </div>

    </div>

    <div class="main">

        <div class="container">

            <!-- Introduction -->
            <h2>
                Introduction
            </h2>
            <p>
                <code>asm-message</code> is a highly customizable and detailed component
                for displaying all kinds of messages across your app. They can be controlled
                from your components as well as via the <code>AsmMessageService</code>.
            </p>

            <!-- Module -->
            <h2>
                Module
            </h2>
            <p>
                <code>import &#123; AsmMessageModule &#125; from '@assembly';</code>
            </p>

            <!-- Appearance -->
            <h2>
                Appearance
            </h2>
            <p>
                Message boxes have 2 different built-in appearances to choose from. You can
                use them as they are or modify them for your own needs and likings.
            </p>

            <div class="example-viewer">

                <!-- Solid -->
                <div class="title">
                    <h6>Solid (default)</h6>
                </div>

                <mat-tab-group [animationDuration]="'0ms'">

                    <mat-tab label="Preview">

                        <!-- Primary -->
                        <asm-message [type]="'primary'">
                            <mat-icon asmMessageIcon>check_circle</mat-icon>
                            <span asmMessageTitle>Primary message</span>
                            Thank you for joining our newsletter
                        </asm-message>

                        <!-- Accent -->
                        <asm-message [type]="'accent'">
                            <mat-icon asmMessageIcon>check_circle</mat-icon>
                            <span asmMessageTitle>Accent message</span>
                            Your changes has been saved
                        </asm-message>

                        <!-- Warn -->
                        <asm-message [type]="'warn'">
                            <mat-icon asmMessageIcon>remove_circle_outline</mat-icon>
                            <span asmMessageTitle>Warn message</span>
                            Fill all required fields to proceed next step
                        </asm-message>

                        <!-- Basic -->
                        <asm-message [type]="'basic'">
                            <mat-icon asmMessageIcon>check_circle</mat-icon>
                            <span asmMessageTitle>Basic message</span>
                            You have 3 new notifications
                        </asm-message>

                        <!-- Info -->
                        <asm-message [type]="'info'">
                            <span asmMessageTitle>Info message</span>
                            This is a message with an 'info' level severity
                        </asm-message>

                        <!-- Success -->
                        <asm-message [type]="'success'">
                            <span asmMessageTitle>Success message</span>
                            This is a message with an 'success' level severity
                        </asm-message>

                        <!-- Warning -->
                        <asm-message [type]="'warning'">
                            <span asmMessageTitle>Warning message</span>
                            This is a message with an 'warning' level severity
                        </asm-message>

                        <!-- Error -->
                        <asm-message [type]="'error'">
                            <span asmMessageTitle>Error message</span>
                            This is a message with an 'error' level severity
                        </asm-message>

                    </mat-tab>

                    <mat-tab label="HTML">

                        <asm-highlight [lang]="'html'">
                            <textarea>

                                <!-- Primary -->
                                <asm-message [type]="'primary'">
                                    <mat-icon asmMessageIcon>check_circle</mat-icon>
                                    <span asmMessageTitle>Primary message</span>
                                    Thank you for joining our newsletter
                                </asm-message>

                                <!-- Accent -->
                                <asm-message [type]="'accent'">
                                    <mat-icon asmMessageIcon>check_circle</mat-icon>
                                    <span asmMessageTitle>Accent message</span>
                                    Your changes has been saved
                                </asm-message>

                                <!-- Warn -->
                                <asm-message [type]="'warn'">
                                    <mat-icon asmMessageIcon>remove_circle_outline</mat-icon>
                                    <span asmMessageTitle>Warn message</span>
                                    Fill all required fields to proceed next step
                                </asm-message>

                                <!-- Basic -->
                                <asm-message [type]="'basic'">
                                    <mat-icon asmMessageIcon>check_circle</mat-icon>
                                    <span asmMessageTitle>Basic message</span>
                                    You have 3 new notifications
                                </asm-message>

                                <!-- Info -->
                                <asm-message [type]="'info'">
                                    <span asmMessageTitle>Info message</span>
                                    This is a message with an 'info' level severity
                                </asm-message>

                                <!-- Success -->
                                <asm-message [type]="'success'">
                                    <span asmMessageTitle>Success message</span>
                                    This is a message with an 'success' level severity
                                </asm-message>

                                <!-- Warning -->
                                <asm-message [type]="'warning'">
                                    <span asmMessageTitle>Warning message</span>
                                    This is a message with an 'warning' level severity
                                </asm-message>

                                <!-- Error -->
                                <asm-message [type]="'error'">
                                    <span asmMessageTitle>Error message</span>
                                    This is a message with an 'error' level severity
                                </asm-message>

                            </textarea>
                        </asm-highlight>

                    </mat-tab>

                </mat-tab-group>

            </div>

            <div class="example-viewer">

                <!-- Outline -->
                <div class="title">
                    <h6>Outline</h6>
                </div>

                <mat-tab-group [animationDuration]="'0ms'">

                    <mat-tab label="Preview">

                        <!-- Primary -->
                        <asm-message [type]="'primary'"
                                     [appearance]="'outline'">
                            <mat-icon asmMessageIcon>check_circle</mat-icon>
                            <span asmMessageTitle>Primary message</span>
                            Thank you for joining our newsletter
                        </asm-message>

                        <!-- Accent -->
                        <asm-message [type]="'accent'"
                                     [appearance]="'outline'">
                            <mat-icon asmMessageIcon>check_circle</mat-icon>
                            <span asmMessageTitle>Accent message</span>
                            Your changes has been saved
                        </asm-message>

                        <!-- Warn -->
                        <asm-message [type]="'warn'"
                                     [appearance]="'outline'">
                            <mat-icon asmMessageIcon>remove_circle_outline</mat-icon>
                            <span asmMessageTitle>Warn message</span>
                            Fill all required fields to proceed next step
                        </asm-message>

                        <!-- Basic -->
                        <asm-message [type]="'basic'"
                                     [appearance]="'outline'">
                            <mat-icon asmMessageIcon>check_circle</mat-icon>
                            <span asmMessageTitle>Basic message</span>
                            You have 3 new notifications
                        </asm-message>

                        <!-- Info -->
                        <asm-message [type]="'info'"
                                     [appearance]="'outline'">
                            <span asmMessageTitle>Info message</span>
                            This is a message with an 'info' level severity
                        </asm-message>

                        <!-- Success -->
                        <asm-message [type]="'success'"
                                     [appearance]="'outline'">
                            <span asmMessageTitle>Success message</span>
                            This is a message with an 'success' level severity
                        </asm-message>

                        <!-- Warning -->
                        <asm-message [type]="'warning'"
                                     [appearance]="'outline'">
                            <span asmMessageTitle>Warning message</span>
                            This is a message with an 'warning' level severity
                        </asm-message>

                        <!-- Error -->
                        <asm-message [type]="'error'"
                                     [appearance]="'outline'">
                            <span asmMessageTitle>Error message</span>
                            This is a message with an 'error' level severity
                        </asm-message>

                    </mat-tab>

                    <mat-tab label="HTML">

                        <asm-highlight [lang]="'html'">
                            <textarea>

                                <!-- Primary -->
                                <asm-message [type]="'primary'"
                                             [appearance]="'outline'">
                                    <mat-icon asmMessageIcon>check_circle</mat-icon>
                                    <span asmMessageTitle>Primary message</span>
                                    Thank you for joining our newsletter
                                </asm-message>

                                <!-- Accent -->
                                <asm-message [type]="'accent'"
                                             [appearance]="'outline'">
                                    <mat-icon asmMessageIcon>check_circle</mat-icon>
                                    <span asmMessageTitle>Accent message</span>
                                    Your changes has been saved
                                </asm-message>

                                <!-- Warn -->
                                <asm-message [type]="'warn'"
                                             [appearance]="'outline'">
                                    <mat-icon asmMessageIcon>remove_circle_outline</mat-icon>
                                    <span asmMessageTitle>Warn message</span>
                                    Fill all required fields to proceed next step
                                </asm-message>

                                <!-- Basic -->
                                <asm-message [type]="'basic'"
                                             [appearance]="'outline'">
                                    <mat-icon asmMessageIcon>check_circle</mat-icon>
                                    <span asmMessageTitle>Basic message</span>
                                    You have 3 new notifications
                                </asm-message>

                                <!-- Info -->
                                <asm-message [type]="'info'"
                                             [appearance]="'outline'">
                                    <span asmMessageTitle>Info message</span>
                                    This is a message with an 'info' level severity
                                </asm-message>

                                <!-- Success -->
                                <asm-message [type]="'success'"
                                             [appearance]="'outline'">
                                    <span asmMessageTitle>Success message</span>
                                    This is a message with an 'success' level severity
                                </asm-message>

                                <!-- Warning -->
                                <asm-message [type]="'warning'"
                                             [appearance]="'outline'">
                                    <span asmMessageTitle>Warning message</span>
                                    This is a message with an 'warning' level severity
                                </asm-message>

                                <!-- Error -->
                                <asm-message [type]="'error'"
                                             [appearance]="'outline'">
                                    <span asmMessageTitle>Error message</span>
                                    This is a message with an 'error' level severity
                                </asm-message>

                            </textarea>
                        </asm-highlight>

                    </mat-tab>

                </mat-tab-group>

            </div>

            <div class="example-viewer">

                <!-- Border -->
                <div class="title">
                    <h6>Border</h6>
                </div>

                <mat-tab-group [animationDuration]="'0ms'">

                    <mat-tab label="Preview">

                        <!-- Primary -->
                        <asm-message [type]="'primary'"
                                     [appearance]="'border'">
                            <mat-icon asmMessageIcon>check_circle</mat-icon>
                            <span asmMessageTitle>Primary message</span>
                            Thank you for joining our newsletter
                        </asm-message>

                        <!-- Accent -->
                        <asm-message [type]="'accent'"
                                     [appearance]="'border'">
                            <mat-icon asmMessageIcon>check_circle</mat-icon>
                            <span asmMessageTitle>Accent message</span>
                            Your changes has been saved
                        </asm-message>

                        <!-- Warn -->
                        <asm-message [type]="'warn'"
                                     [appearance]="'border'">
                            <mat-icon asmMessageIcon>remove_circle_outline</mat-icon>
                            <span asmMessageTitle>Warn message</span>
                            Fill all required fields to proceed next step
                        </asm-message>

                        <!-- Basic -->
                        <asm-message [type]="'basic'"
                                     [appearance]="'border'">
                            <mat-icon asmMessageIcon>check_circle</mat-icon>
                            <span asmMessageTitle>Basic message</span>
                            You have 3 new notifications
                        </asm-message>

                        <!-- Info -->
                        <asm-message [type]="'info'"
                                     [appearance]="'border'">
                            <span asmMessageTitle>Info message</span>
                            This is a message with an 'info' level severity
                        </asm-message>

                        <!-- Success -->
                        <asm-message [type]="'success'"
                                     [appearance]="'border'">
                            <span asmMessageTitle>Success message</span>
                            This is a message with an 'success' level severity
                        </asm-message>

                        <!-- Warning -->
                        <asm-message [type]="'warning'"
                                     [appearance]="'border'">
                            <span asmMessageTitle>Warning message</span>
                            This is a message with an 'warning' level severity
                        </asm-message>

                        <!-- Error -->
                        <asm-message [type]="'error'"
                                     [appearance]="'border'">
                            <span asmMessageTitle>Error message</span>
                            This is a message with an 'error' level severity
                        </asm-message>

                    </mat-tab>

                    <mat-tab label="HTML">

                        <asm-highlight [lang]="'html'">
                            <textarea>

                                <!-- Primary -->
                                <asm-message [type]="'primary'"
                                             [appearance]="'border'">
                                    <mat-icon asmMessageIcon>check_circle</mat-icon>
                                    <span asmMessageTitle>Primary message</span>
                                    Thank you for joining our newsletter
                                </asm-message>

                                <!-- Accent -->
                                <asm-message [type]="'accent'"
                                             [appearance]="'border'">
                                    <mat-icon asmMessageIcon>check_circle</mat-icon>
                                    <span asmMessageTitle>Accent message</span>
                                    Your changes has been saved
                                </asm-message>

                                <!-- Warn -->
                                <asm-message [type]="'warn'"
                                             [appearance]="'border'">
                                    <mat-icon asmMessageIcon>remove_circle_outline</mat-icon>
                                    <span asmMessageTitle>Warn message</span>
                                    Fill all required fields to proceed next step
                                </asm-message>

                                <!-- Basic -->
                                <asm-message [type]="'basic'"
                                             [appearance]="'border'">
                                    <mat-icon asmMessageIcon>check_circle</mat-icon>
                                    <span asmMessageTitle>Basic message</span>
                                    You have 3 new notifications
                                </asm-message>

                                <!-- Info -->
                                <asm-message [type]="'info'"
                                             [appearance]="'border'">
                                    <span asmMessageTitle>Info message</span>
                                    This is a message with an 'info' level severity
                                </asm-message>

                                <!-- Success -->
                                <asm-message [type]="'success'"
                                             [appearance]="'border'">
                                    <span asmMessageTitle>Success message</span>
                                    This is a message with an 'success' level severity
                                </asm-message>

                                <!-- Warning -->
                                <asm-message [type]="'warning'"
                                             [appearance]="'border'">
                                    <span asmMessageTitle>Warning message</span>
                                    This is a message with an 'warning' level severity
                                </asm-message>

                                <!-- Error -->
                                <asm-message [type]="'error'"
                                             [appearance]="'border'">
                                    <span asmMessageTitle>Error message</span>
                                    This is a message with an 'error' level severity
                                </asm-message>

                            </textarea>
                        </asm-highlight>

                    </mat-tab>

                </mat-tab-group>

            </div>

            <!-- Title and message -->
            <h2>
                Title and message
            </h2>
            <p>
                All message boxes have <b>title</b> and <b>message</b> content that can be customized.
            </p>

            <div class="example-viewer">

                <div class="title">
                    <h6>Example</h6>
                </div>

                <mat-tab-group [animationDuration]="'0ms'">

                    <mat-tab label="Preview">

                        <asm-message [appearance]="'outline'"
                                     [type]="'info'">
                            <span asmMessageTitle>Message title</span>
                            This is the message content
                        </asm-message>

                        <asm-message [appearance]="'outline'"
                                     [type]="'info'">
                            <span asmMessageTitle>Message title without any content</span>
                        </asm-message>

                        <asm-message [appearance]="'outline'"
                                     [type]="'info'">
                            Simple message without a title
                        </asm-message>

                    </mat-tab>

                    <mat-tab label="HTML">

                        <asm-highlight [lang]="'html'">
                            <textarea>

                                <asm-message [appearance]="'outline'"
                                             [type]="'info'">
                                    <span asmMessageTitle>Message title</span>
                                    This is the message content
                                </asm-message>

                                <asm-message [appearance]="'outline'"
                                             [type]="'info'">
                                    <span asmMessageTitle>Message title without any content</span>
                                </asm-message>

                                <asm-message [appearance]="'outline'"
                                             [type]="'info'">
                                    Simple message without a title
                                </asm-message>

                            </textarea>
                        </asm-highlight>

                    </mat-tab>

                </mat-tab-group>

            </div>

            <!-- Icons -->
            <h2>
                Icons
            </h2>
            <p>
                The <code>info</code>, <code>success</code>, <code>warning</code> and <code>error</code> type message boxes have
                default icons and they are visible by default. If you wish to hide those icons, use the <code>[showIcon]="false"</code>
                input.
            </p>

            <div class="example-viewer">

                <div class="title">
                    <h6>Example</h6>
                </div>

                <mat-tab-group [animationDuration]="'0ms'">

                    <mat-tab label="Preview">

                        <asm-message [appearance]="'outline'"
                                     [type]="'success'"
                                     [showIcon]="false">
                            Success message with no icon
                        </asm-message>

                    </mat-tab>

                    <mat-tab label="HTML">

                        <asm-highlight [lang]="'html'">
                            <textarea>

                                <asm-message [appearance]="'outline'"
                                             [type]="'success'"
                                             [showIcon]="false">
                                    Success message with no icon
                                </asm-message>

                            </textarea>
                        </asm-highlight>

                    </mat-tab>

                </mat-tab-group>

            </div>

            <!-- Custom icons -->
            <h2>
                Custom icons
            </h2>
            <p>
                All message boxes come with custom icon support. To use a custom icon, simply use
                <code>asmMessageIcon</code> attribute on an element you wish to use as the icon.
                If there is a default icon for the message box, custom icon will override it.
            </p>

            <div class="example-viewer">

                <div class="title">
                    <h6>Example</h6>
                </div>

                <mat-tab-group [animationDuration]="'0ms'">

                    <mat-tab label="Preview">

                        <asm-message [appearance]="'outline'"
                                     [type]="'info'">
                            <mat-icon asmMessageIcon>notifications</mat-icon>
                            Info message with a custom icon
                        </asm-message>

                    </mat-tab>

                    <mat-tab label="HTML">

                        <asm-highlight [lang]="'html'">
                            <textarea>

                                <asm-message [appearance]="'outline'"
                                             [type]="'info'">
                                    <mat-icon asmMessageIcon>notifications</mat-icon>
                                    Info message with a custom icon
                                </asm-message>

                            </textarea>
                        </asm-highlight>

                    </mat-tab>

                </mat-tab-group>

            </div>

            <!-- Dismissible messages -->
            <h2>
                Dismissible messages
            </h2>
            <p>
                Dismissible messages can be removed from the view by clicking their <b>X</b> button.
            </p>

            <div class="example-viewer">

                <div class="title">
                    <h6>Example</h6>
                    <button mat-button
                            [color]="'primary'"
                            (click)="show('dismissibleMessageBoxExample1Box1'); show('dismissibleMessageBoxExample1Box2')">
                        Reset
                    </button>
                </div>

                <mat-tab-group [animationDuration]="'0ms'">

                    <mat-tab label="Preview">

                        <asm-message [appearance]="'outline'"
                                     [dismissible]="true"
                                     [dismissed]="false"
                                     [name]="'dismissibleMessageBoxExample1Box1'"
                                     [type]="'success'">
                            Your subscription model is successfully upgraded to the <b>Lifetime Pro</b>.
                        </asm-message>

                        <asm-message [appearance]="'outline'"
                                     [dismissible]="true"
                                     [dismissed]="false"
                                     [name]="'dismissibleMessageBoxExample1Box2'"
                                     [type]="'info'">
                            This one has a lot of text so you can see how the text is going to be displayed. Also this is a dismissible message box which can be dismissed by
                            clicking the <b>close</b> button.
                        </asm-message>

                    </mat-tab>

                    <mat-tab label="HTML">

                        <asm-highlight [lang]="'html'">
                            <textarea>

                                <asm-message [appearance]="'outline'"
                                             [dismissible]="true"
                                             [dismissed]="false"
                                             [name]="'dismissibleMessageBoxExample1Box1'"
                                             [type]="'success'">
                                    Your subscription model is successfully upgraded to the <b>Lifetime Pro</b>.
                                </asm-message>

                                <asm-message [appearance]="'outline'"
                                             [dismissible]="true"
                                             [dismissed]="false"
                                             [name]="'dismissibleMessageBoxExample1Box2'"
                                             [type]="'info'">
                                    This one has a lot of text so you can see how the text is going to be displayed. Also this is a dismissible message box which can be dismissed
                                    by clicking the <b>close</b> button.
                                </asm-message>

                            </textarea>
                        </asm-highlight>

                    </mat-tab>

                </mat-tab-group>

            </div>

            <!-- Dismissible boxes controlled from the service -->
            <h2>
                Dismissible messages controlled from the service
            </h2>
            <p>
                Messages can be shown and dismissed via the <code>AsmMessageService</code>.
            </p>

            <div class="example-viewer">

                <div class="title">
                    <h6>Example</h6>
                    <div>
                        <button mat-button
                                [color]="'primary'"
                                (click)="show('dismissibleMessageBoxExample2Box1'); show('dismissibleMessageBoxExample2Box2')">
                            Show
                        </button>

                        <button mat-button
                                [color]="'primary'"
                                (click)="dismiss('dismissibleMessageBoxExample2Box1'); dismiss('dismissibleMessageBoxExample2Box2')">
                            Dismiss
                        </button>
                    </div>
                </div>

                <mat-tab-group [animationDuration]="'0ms'">

                    <mat-tab label="Preview">

                        <asm-message [appearance]="'outline'"
                                     [dismissible]="true"
                                     [dismissed]="false"
                                     [name]="'dismissibleMessageBoxExample2Box1'"
                                     [type]="'success'">
                            Your subscription model is successfully upgraded to the <b>Lifetime Pro</b>.
                        </asm-message>

                        <asm-message [appearance]="'outline'"
                                     [dismissible]="true"
                                     [dismissed]="false"
                                     [name]="'dismissibleMessageBoxExample2Box2'"
                                     [type]="'info'">
                            This one has a lot of text so you can see how the text is going to be displayed. Also this is a dismissible message box which can be dismissed by
                            clicking the <b>close</b> button.
                        </asm-message>

                    </mat-tab>

                    <mat-tab label="HTML">

                        <asm-highlight [lang]="'html'">
                            <textarea>

                                <asm-message [appearance]="'outline'"
                                             [dismissible]="true"
                                             [dismissed]="false"
                                             [name]="'dismissibleMessageBoxExample2Box1'"
                                             [type]="'success'">
                                    Your subscription model is successfully upgraded to the <b>Lifetime Pro</b>.
                                </asm-message>

                                <asm-message [appearance]="'outline'"
                                             [dismissible]="true"
                                             [dismissed]="false"
                                             [name]="'dismissibleMessageBoxExample2Box2'"
                                             [type]="'info'">
                                    This one has a lot of text so you can see how the text is going to be displayed. Also this is a dismissible message box which can be dismissed
                                    by clicking the <b>close</b> button.
                                </asm-message>

                            </textarea>
                        </asm-highlight>

                    </mat-tab>

                </mat-tab-group>

            </div>

        </div>

    </div>

</div>
