@import 'assembly';

messages {

    .main {

        .example-viewer {

            asm-message {
                margin-top: 0;

                .asm-message-container {
                    margin-bottom: 32px;
                }

                &:last-child {

                    .asm-message-container {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
