<div class="asm-vertical-navigation-wrapper">

    <!-- Header -->
    <div class="asm-vertical-navigation-header">
        <ng-content select="[asmVerticalNavigationHeader]"></ng-content>
    </div>

    <!-- Content -->
    <div class="asm-vertical-navigation-content"
         asmScrollbar
         [asmScrollbarOptions]="{wheelPropagation: inner, suppressScrollX: true}"
         #navigationContent>

        <!-- Content header -->
        <div class="asm-vertical-navigation-content-header">
            <ng-content select="[asmVerticalNavigationContentHeader]"></ng-content>
        </div>

        <!-- Items -->
        <ng-container *ngFor="let item of navigation; trackBy: trackByFn">

            <!-- Aside -->
            <asm-vertical-navigation-aside-item *ngIf="item.type === 'aside'"
                                       [item]="item"
                                       [name]="name"
                                       [skipChildren]="true"
                                       [autoCollapse]="autoCollapse"
                                       [active]="item.id === activeAsideItemId"
                                       (click)="toggleAside(item)"></asm-vertical-navigation-aside-item>

            <!-- Basic -->
            <asm-vertical-navigation-basic-item *ngIf="item.type === 'basic'"
                                       [item]="item"
                                       [name]="name"></asm-vertical-navigation-basic-item>

            <!-- Collapsable -->
            <asm-vertical-navigation-collapsable-item *ngIf="item.type === 'collapsable'"
                                             [item]="item"
                                             [name]="name"
                                             [autoCollapse]="autoCollapse"></asm-vertical-navigation-collapsable-item>

            <!-- Divider -->
            <asm-vertical-navigation-divider-item *ngIf="item.type === 'divider'"
                                         [item]="item"
                                         [name]="name"></asm-vertical-navigation-divider-item>

            <!-- Group -->
            <asm-vertical-navigation-group-item *ngIf="item.type === 'group'"
                                       [item]="item"
                                       [name]="name"
                                       [autoCollapse]="autoCollapse"></asm-vertical-navigation-group-item>

            <!-- Spacer -->
            <asm-vertical-navigation-spacer-item *ngIf="item.type === 'spacer'"
                                        [item]="item"
                                        [name]="name"></asm-vertical-navigation-spacer-item>

        </ng-container>

        <!-- Content footer -->
        <div class="asm-vertical-navigation-content-footer">
            <ng-content select="[asmVerticalNavigationContentFooter]"></ng-content>
        </div>

    </div>

    <!-- Footer -->
    <div class="asm-vertical-navigation-footer">
        <ng-content select="[asmVerticalNavigationFooter]"></ng-content>
    </div>

</div>

<!-- Aside -->
<div class="asm-vertical-navigation-aside-wrapper"
     *ngIf="activeAsideItemId"
     asmScrollbar
     [asmScrollbarOptions]="{wheelPropagation: false, suppressScrollX: true}"
     [@fadeInLeft]="position === 'left'"
     [@fadeInRight]="position === 'right'"
     [@fadeOutLeft]="position === 'left'"
     [@fadeOutRight]="position === 'right'">

    <!-- Items -->
    <ng-container *ngFor="let item of navigation; trackBy: trackByFn">

        <!-- Aside -->
        <asm-vertical-navigation-aside-item *ngIf="item.type === 'aside' && item.id === activeAsideItemId"
                                   [item]="item"
                                   [name]="name"
                                   [autoCollapse]="autoCollapse"></asm-vertical-navigation-aside-item>

    </ng-container>

</div>
