<div class="content-layout"
     [ngClass]="'fullwidth-tabs-' + scrollMode + '-scroll'">

    <!-- Header -->
    <div class="header">

        <div class="left">

            <div class="breadcrumb">
                <span class="path">CONTENT LAYOUTS</span>
                <span class="separator">/</span>
                <span class="path">FULLWIDTH</span>
                <span class="separator">/</span>
                <span class="path current">TABS</span>
            </div>

            <h1>Fullwidth tabs</h1>

        </div>

        <div class="right">

            <!-- Scroll mode menu -->
            <button mat-flat-button
                    [color]="'primary'"
                    [matMenuTriggerFor]="settingsMenu">
                <mat-icon class="icon-size-18">settings</mat-icon>
                <span class="ml-8 md:hidden xs:hidden">Scroll mode</span>
                <mat-icon class="icon-size-18 ml-12">keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #settingsMenu>
                <button mat-menu-item
                        (click)="scrollMode = 'normal'">
                    <span>Normal scroll</span>
                    <mat-icon class="ml-24 mr-0 icon-size-18"
                              *ngIf="scrollMode === 'normal'">
                        check
                    </mat-icon>
                </button>
                <button mat-menu-item
                        (click)="scrollMode = 'content'">
                    <span>Content scroll</span>
                    <mat-icon class="ml-24 mr-0 icon-size-18"
                              *ngIf="scrollMode === 'content'">
                        check
                    </mat-icon>
                </button>
                <button mat-menu-item
                        (click)="scrollMode = 'inner'">
                    <span>Inner scroll</span>
                    <mat-icon class="ml-24 mr-0 icon-size-18"
                              *ngIf="scrollMode === 'inner'">
                        check
                    </mat-icon>
                </button>
            </mat-menu>

        </div>

    </div>

    <!-- Main -->
    <div class="main">

        <!-- Tabs -->
        <mat-tab-group>

            <mat-tab label="First Tab">

                <!-- Demo content -->
                <asm-demo-content></asm-demo-content>

            </mat-tab>

            <mat-tab label="Second Tab">

                <!-- Demo content -->
                <asm-demo-content></asm-demo-content>

            </mat-tab>

            <mat-tab label="Third Tab">

                <!-- Demo content -->
                <asm-demo-content></asm-demo-content>

            </mat-tab>

            <mat-tab label="Fourth Tab">

                <!-- Demo content -->
                <asm-demo-content></asm-demo-content>

            </mat-tab>

            <mat-tab label="Fifth Tab">

                <!-- Demo content -->
                <asm-demo-content></asm-demo-content>

            </mat-tab>

            <mat-tab label="Sixth Tab">

                <!-- Demo content -->
                <asm-demo-content></asm-demo-content>

            </mat-tab>

        </mat-tab-group>

    </div>

</div>
