@import 'assembly';

asm-message {
    display: flex;
    align-items: center;
    min-height: 64px;
    padding: 16px 24px;
    line-height: 1;

    // Solid
    &.asm-message-appearance-solid {
        border-radius: 4px;
    }

    // Outline
    &.asm-message-appearance-outline {
        position: relative;
        overflow: hidden;
        border-radius: 4px;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 6px;
        }
    }

    // Icon
    .asm-message-icon:not(:empty) {
        margin-right: 16px;
    }

    // Content
    .asm-message-content {
        letter-spacing: 0.025em;
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-angular-material-theme() {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    asm-message {

        // Solid
        &.asm-message-appearance-solid {

            // Icon
            .asm-message-icon {

                .mat-icon {
                    color: white;
                }
            }

            // Basic
            &.asm-message-type-basic {
                background: mat-color($mat-gray, 200);
                color: map-get(map-get($mat-gray, contrast), 200);
            }

            // Primary
            &.asm-message-type-primary {
                background: map-get($primary, default);
                color: map-get($primary, default-contrast);
            }

            // Accent
            &.asm-message-type-accent {
                background: map-get($accent, default);
                color: map-get($accent, default-contrast);
            }

            // Warn
            &.asm-message-type-warn {
                background: map-get($warn, default);
                color: map-get($warn, default-contrast);
            }

            // Error
            &.asm-message-type-error {
                background: #E53935;
                color: #FFFFFF;
            }

            // Info
            &.asm-message-type-info {
                background: #1E88E5;
                color: #FFFFFF;
            }

            // Success
            &.asm-message-type-success {
                background: #4CAF50;
                color: #FFFFFF;
            }

            // Warning
            &.asm-message-type-warning {
                background: #FFB300;
                color: map-get($foreground, text);

                .asm-message-icon {

                    .mat-icon {
                        color: map-get($foreground, text);
                    }
                }
            }
        }

        // Outline
        &.asm-message-appearance-outline {
            background: map-get($background, hover);

            // Basic
            &.asm-message-type-basic {
                background: map-get($mat-gray, 100);
                box-shadow: inset 0 0 0 1px map-get($mat-grey, 400);

                .asm-message-icon {

                    .mat-icon {
                        color: map-get(map-get($mat-gray, contrast), 100);
                    }
                }
            }

            // Primary
            &.asm-message-type-primary {
                background: map-get($primary, 50);
                box-shadow: inset 0 0 0 1px map-get($primary, 200);

                .asm-message-icon {

                    .mat-icon {
                        color: map-get($primary, default);
                    }
                }
            }

            // Accent
            &.asm-message-type-accent {
                background: map-get($accent, 50);
                box-shadow: inset 0 0 0 1px map-get($accent, 200);

                .asm-message-icon {

                    .mat-icon {
                        color: map-get($accent, default);
                    }
                }
            }

            // Warn
            &.asm-message-type-warn {
                background: map-get($warn, 50);
                box-shadow: inset 0 0 0 1px map-get($warn, 200);

                .asm-message-icon {

                    .mat-icon {
                        color: map-get($warn, default);
                    }
                }
            }

            // Error
            &.asm-message-type-error {
                background: #FFEBEE;
                box-shadow: inset 0 0 0 1px #EF9A9A;

                .asm-message-icon {

                    .mat-icon {
                        color: #F44336;
                    }
                }
            }

            // Info
            &.asm-message-type-info {
                background: #E3F2FD;
                box-shadow: inset 0 0 0 1px #90CAF9;

                .asm-message-icon {

                    .mat-icon {
                        color: #2196F3;
                    }
                }
            }

            // Success
            &.asm-message-type-success {
                background: #E8F5E9;
                box-shadow: inset 0 0 0 1px #A5D6A7;

                .asm-message-icon {

                    .mat-icon {
                        color: #4CAF50;
                    }
                }
            }

            // Warning
            &.asm-message-type-warning {
                background: #FFF3E0;
                box-shadow: inset 0 0 0 1px #FFCC80;

                .asm-message-icon {

                    .mat-icon {
                        color: #FF9800;
                    }
                }
            }
        }
    }
}
