<ng-container *ngIf="showIcon">

    <div class="asm-message-icon">

        <!-- Custom icon -->
        <ng-container *ngIf="customIcon">
            <ng-content select="[asmMessageIcon]"></ng-content>
        </ng-container>

        <!-- Default icons -->
        <ng-container *ngIf="!customIcon">
            <mat-icon *ngIf="type === 'error'">error_outline</mat-icon>
            <mat-icon *ngIf="type === 'info'">info</mat-icon>
            <mat-icon *ngIf="type === 'success'">check_circle</mat-icon>
            <mat-icon *ngIf="type === 'warning'">error_outline</mat-icon>
        </ng-container>

    </div>

</ng-container>

<div class="asm-message-content">
    <ng-content select="[asmMessageContent]"></ng-content>
</div>
