<div class="asm-message-container"
     *ngIf="!dismissible || dismissible && !dismissed"
     [@fadeIn]="dismissible"
     [@fadeOut]="dismissible">

    <!-- Icon -->
    <div class="asm-message-icon"
         *ngIf="showIcon">

        <!-- Custom icon -->
        <ng-container *ngIf="customIcon">
            <ng-content select="[asmMessageIcon]"></ng-content>
        </ng-container>

        <!-- Default icons -->
        <ng-container *ngIf="!customIcon">
            <mat-icon *ngIf="type === 'info'">info</mat-icon>
            <mat-icon *ngIf="type === 'success'">check_circle</mat-icon>
            <mat-icon *ngIf="type === 'warning'">error_outline</mat-icon>
            <mat-icon *ngIf="type === 'error'">error_outline</mat-icon>
        </ng-container>

    </div>

    <!-- Content -->
    <div class="asm-message-content">
        <ng-content></ng-content>
        <ng-content select="[asmMessageContent]"></ng-content>
    </div>

    <!-- Dismiss button -->
    <button class="asm-message-dismiss-button"
            *ngIf="dismissible"
            mat-icon-button
            (click)="dismiss()">
        <mat-icon>close</mat-icon>
    </button>

</div>
