@import 'assembly';

asm-message {

    .asm-message-container {
        display: flex;
        align-items: center;
        min-height: 64px;
        padding: 16px 24px;
        font-size: 14px;
        line-height: 1;
    }

    // Dismissible
    &.asm-message-dismissible {

        .asm-message-container {
            padding: 16px 16px 16px 24px;
        }
    }

    // Solid
    &.asm-message-appearance-solid {

        .asm-message-container {
            border-radius: 4px;
        }
    }

    // Outline
    &.asm-message-appearance-outline {

        .asm-message-container {
            position: relative;
            overflow: hidden;
            border-radius: 4px;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 6px;
            }
        }
    }

    .asm-message-container {

        // Icon
        .asm-message-icon:not(:empty) {
            margin-right: 24px;
        }

        // Content
        .asm-message-content {
            letter-spacing: 0.025em;
            line-height: 1.5;
        }

        // Dismiss button
        .asm-message-dismiss-button {
            margin-left: 16px;
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-angular-material-theme {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    asm-message {

        .asm-message-container {

            // Icon
            .mat-icon {
                color: currentColor;
            }
        }

        // Solid
        &.asm-message-appearance-solid {

            .asm-message-container {

            }

            // Primary
            &.asm-message-type-primary {

                .asm-message-container {
                    background: map-get($primary, default);
                    color: map-get($primary, default-contrast);
                }
            }

            // Accent
            &.asm-message-type-accent {

                .asm-message-container {
                    background: map-get($accent, default);
                    color: map-get($accent, default-contrast);
                }
            }

            // Warn
            &.asm-message-type-warn {

                .asm-message-container {
                    background: map-get($warn, default);
                    color: map-get($warn, default-contrast);
                }
            }

            // Basic
            &.asm-message-type-basic {

                .asm-message-container {
                    background: asm-color($asm-blue-grey, 500);
                    color: asm-color($asm-blue-grey, 50);
                }
            }

            // Info
            &.asm-message-type-info {

                .asm-message-container {
                    background: #4299E1;
                    color: #EBF8FF;
                }
            }

            // Success
            &.asm-message-type-success {

                .asm-message-container {
                    background: #48BB78;
                    color: #F0FFF4;
                }
            }

            // Warning
            &.asm-message-type-warning {

                .asm-message-container {
                    background: #ED8936;
                    color: #FFFAF0;
                }
            }

            // Error
            &.asm-message-type-error {

                .asm-message-container {
                    background: #E53E3E;
                    color: #FFF5F5;
                }
            }
        }

        // Outline
        &.asm-message-appearance-outline {

            .asm-message-container {
                background: map-get($background, hover);
            }

            // Primary
            &.asm-message-type-primary {

                .asm-message-container {
                    background: map-get($primary, 100);
                    color: map-get($primary, 700);
                    box-shadow: inset 0 0 0 1px map-get($primary, 400);
                }
            }

            // Accent
            &.asm-message-type-accent {

                .asm-message-container {
                    background: map-get($accent, 100);
                    color: map-get($accent, 700);
                    box-shadow: inset 0 0 0 1px map-get($accent, 400);
                }
            }

            // Warn
            &.asm-message-type-warn {

                .asm-message-container {
                    background: map-get($warn, 100);
                    color: map-get($warn, 700);
                    box-shadow: inset 0 0 0 1px map-get($warn, 400);
                }

            }

            // Basic
            &.asm-message-type-basic {

                .asm-message-container {
                    background: asm-color($asm-blue-grey, 100);
                    color: asm-color($asm-blue-grey, 700);
                    box-shadow: inset 0 0 0 1px asm-color($asm-blue-grey, 400);
                }
            }

            // Info
            &.asm-message-type-info {

                .asm-message-container {
                    background: #EBF8FF;
                    color: #2B6CB0;
                    box-shadow: inset 0 0 0 1px #63B3ED;
                }
            }

            // Success
            &.asm-message-type-success {

                .asm-message-container {
                    background: #F0FFF4;
                    color: #2F855A;
                    box-shadow: inset 0 0 0 1px #68D391;
                }
            }

            // Warning
            &.asm-message-type-warning {

                .asm-message-container {
                    background: #FFFAF0;
                    color: #C05621;
                    box-shadow: inset 0 0 0 1px #F6AD55;
                }
            }

            // Error
            &.asm-message-type-error {

                .asm-message-container {
                    background: #FFF5F5;
                    color: #C53030;
                    box-shadow: inset 0 0 0 1px #FC8181;
                }
            }
        }
    }
}
