<material-components-doc-viewer
    documentUrl="assets/material-components-docs/docs-content/api-docs/{{componentViewer.componentDocItem.packageName}}-{{componentViewer.componentDocItem.id}}.html"
    class="docs-component-view-text-content docs-component-api">
</material-components-doc-viewer>

<material-components-doc-viewer *ngFor="let additionalApiDoc of componentViewer.componentDocItem.additionalApiDocs"
            documentUrl="assets/material-components-docs/docs-content/api-docs/{{additionalApiDoc.path}}"
            class="docs-component-view-text-content docs-component-api">
</material-components-doc-viewer>
