@import 'assembly';

material-components-component-viewer {

    nav {
        margin-bottom: 64px;
    }

    // Pre
    pre {
        margin: 8px 0 32px 0;
        padding: 32px;
        border-radius: 4px;
        @include asm-elevation();
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-theme {

    $background: map-get($theme, background);

    material-components-component-viewer {

        // Pre
        pre {
            background: map-get($background, card);

            code {
                background: none !important;
            }
        }
    }
}
