@import 'assembly';

material-components-component-api {

    .docs-api-class-name {
        margin-top: 28px;
        margin-bottom: 0;
        display: block;
        font-weight: 700;
        font-size: 20px;
        background: none;

        code {
            background: none;
        }
    }

    .docs-api-h3 {

    }

    .docs-api-h5 {
        margin: 24px 0;
        font-weight: 600;
    }

    .docs-api-method-name-cell,
    .docs-api-method-description-cell,
    .docs-api-class-export-label,
    .docs-api-directive-selectors,
    .docs-api-class-description,
    .docs-api-class-export-name {
        font-size: 13px;
    }

    .docs-api-class-description {
        line-height: 24px;
    }

    .docs-api-property-type {
        font-weight: 700;
        font-size: 14px;
        margin-top: 5px;
    }

    .docs-api-class-selector-name,
    .docs-api-class-export-name {
        padding: 3px 7px;
        font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }

    table {
        margin-bottom: 32px;
        border-collapse: collapse;
        @include asm-elevation(1);

        tr {

            td {
                border-width: 1px;
                border-style: solid;
                padding: 16px;

                &:first-child {
                    border-left-width: 0;
                }

                &:last-child {
                    border-right-width: 0;
                }

                &.docs-api-properties-name-cell {
                    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
                }

                p {

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}


// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-theme {

    $background: map-get($theme, background);

    material-components-component-api {

        table {
            background: map-get($background, card);
        }

        .docs-api-class-selector-name,
        .docs-api-class-export-name {
            background: map-get($background, hover);
        }
    }
}
