@import '../../../../../../@assembly/styles/assembly';

layout[type="classy"] {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    width: 100%;

    > asm-vertical-navigation {

        .asm-vertical-navigation-content-header {

            .actions {
                display: flex;
                align-items: center;
                width: 100%;
                padding: 16px;

                .spacer {
                    display: flex;
                    flex: 1 1 auto;
                    height: 1px;
                }
            }

            .user {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                padding: 16px 32px;

                .avatar {
                    position: relative;

                    img {
                        width: 96px;
                        min-width: 96px;
                        height: 96px;
                        min-height: 96px;
                        border-radius: 50%;
                    }

                    .status {
                        position: absolute;
                        right: 6px;
                        bottom: 0;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        border-width: 3px;
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    flex: 1 1 auto;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    min-width: 0;
                    margin-top: 24px;

                    .name,
                    .email {
                        width: 100%;
                        min-width: 0;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        text-align: center;
                        line-height: normal;
                    }

                    .email {
                        margin-top: 2px;
                    }

                    .menu {
                        margin-left: auto;

                        .mat-icon {
                            @include asm-icon-size(20);
                        }
                    }
                }
            }
        }

        .asm-vertical-navigation-content-footer {

            .logo {
                display: flex;
                align-items: center;
                height: 80px;
                min-height: 80px;
                max-height: 80px;
                padding: 0 32px;
                margin-left: 16px;
                opacity: 0.12;

                img {
                    max-width: 163px;
                }
            }
        }
    }

    > .wrapper {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        min-width: 0;

        .navigation-toggle-button {
            position: fixed;
            bottom: 24px;
            left: 24px;
            z-index: 45;
        }

        > .content {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;

            > *:not(router-outlet) {
                position: relative;
                display: flex;
                flex: 1 1 auto;
            }
        }
    }
}

.user-status-menu {

    .status {
        width: 16px;
        height: 16px;
        margin-right: 12px;
        border-radius: 50%;
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-theme {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $is-dark: map-get($theme, is-dark);

    layout[type='classy'] {

        > asm-vertical-navigation {

            .asm-vertical-navigation-content-header {

                .user {

                    .avatar {

                        .status {

                            &.online {
                                background: asm-color('green', 500);
                            }

                            &.away {
                                background: asm-color('orange', 500);
                            }

                            &.busy {
                                background: asm-color('red', 500);
                            }

                            &.not-visible {
                                background: asm-color('gray', 500);
                            }
                        }
                    }
                }
            }
        }

        > .wrapper {

            .navigation-toggle-button {
                background: map-get($primary, default);

                .mat-icon {
                    color: map-get($primary, default-contrast);
                }
            }
        }
    }

    .user-status-menu {

        .status {

            &.online {
                background: asm-color('green', 500);
            }

            &.away {
                background: asm-color('orange', 500);
            }

            &.busy {
                background: asm-color('red', 500);
            }

            &.not-visible {
                background: asm-color('gray', 500);
            }
        }
    }
}
