<div class="content-layout fullwidth-basic-normal-scroll">

    <!-- Auth card - cardStyle can be 'classic', 'modern', 'modern-alt', 'fullscreen', 'fullscreen-alt' -->
    <asm-card class="auth"
              [ngClass]="cardStyle">

        <!-- Form area -->
        <div class="form">

            <!-- Column -->
            <div class="column">

                <!-- Logo -->
                <div class="logo">
                    <img class="logo-dark"
                         src="assets/images/logo/logo-dark.svg">
                    <img class="logo-light"
                         src="assets/images/logo/logo-light.svg">
                </div>

                <!-- Title -->
                <h3>Almost there!</h3>
                <h6>Do you want to be notified when we are ready? Register below so we can notify you about the launch!</h6>

                <!-- Message -->
                <asm-message *ngIf="message"
                             [appearance]="'solid'"
                             [type]="message.type"
                             [@shake]="messageAnimationState">
                    <div asmMessageContent>{{message.content}}</div>
                </asm-message>

                <!-- Coming soon form -->
                <form [formGroup]="comingSoonForm">

                    <!-- Email field -->
                    <mat-form-field class="email-field">
                        <mat-label>Email</mat-label>
                        <input id="email"
                               matInput
                               [formControlName]="'email'">
                        <mat-icon matSuffix
                                  [svgIcon]="'mail'"></mat-icon>
                        <mat-error *ngIf="comingSoonForm.get('email').hasError('required')">
                            Email is required
                        </mat-error>
                        <mat-error *ngIf="comingSoonForm.get('email').hasError('email')">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>

                    <!-- Submit button -->
                    <button class="submit-button asm-mat-button-large"
                            mat-raised-button
                            [color]="'primary'"
                            [disabled]="comingSoonForm.disabled || comingSoonForm.invalid">
                        <span *ngIf="!comingSoonForm.disabled">
                            Register to Launch List
                        </span>
                        <asm-spinner *ngIf="comingSoonForm.disabled"
                                     [appearance]="'material'"
                                     [diameter]="24"></asm-spinner>
                    </button>

                    <!-- Footer -->
                    <div class="footer">
                        <p>You are not joining to a newsletter!</p>
                        <p>We will only send one e-mail to above address when we launch and that's it!</p>
                    </div>

                </form>

            </div>

        </div>

        <!-- Content area -->
        <div class="content"></div>

    </asm-card>

</div>
