@import 'assembly';

calendar-settings {

    .main {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding: 0 !important;
        width: 100%;

        .header {
            display: flex;
            align-items: center;
            height: 64px;
            min-height: 64px;
            max-height: 64px;
            padding: 8px 16px;
            border-bottom: 1px solid;

            .back {
                margin: 0 20px 0 0;
            }

            .title {
                margin: 0;
            }
        }

        .settings {
            display: flex;
            flex: 1 1 auto;
            padding: 32px;

            form {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .mat-flat-button {
                    margin-top: 8px;
                }
            }
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-theme {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $is-dark: map-get($theme, is-dark);

    calendar-settings {
        @if ($is-dark) {
            background: asm-color($asm-gray, 900);
        } @else {
            background: map-get($background, card);
        }

        .main {

            .header {
                border-bottom-color: map-get($foreground, divider);
            }
        }
    }
}
