mailbox-settings {

    .labels {
        display: flex;
        flex-direction: column;

        .label {
            display: flex;

            .icon {
                margin-right: 4px;
            }
        }
    }
}
