@import 'src/@assembly/styles/assembly';

@mixin mailbox-settings-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);

    mailbox-settings {
        background: map-get($background, card);
    }
}
