@import 'assembly';

@mixin pricing-modern-theme($theme) {

    $background: map-get($theme, background);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    pricing-modern {

        .cards {

            .card {
                background: map-get($background, card);
                @include asm-shadow(1);

                .tag {
                    background: map-get($accent, default);
                    color: map-get($accent, default-contrast)
                }

                .divider {
                    background: map-get($primary, default);
                }
            }
        }
    }
}
