<div class="content-layout">

    <!-- Background -->
    <div class="background">

        <!-- Inline SVG for easy customizations -->
        <svg viewBox="0 0 1920 752"
             preserveAspectRatio="xMidYMax slice"
             version="1.1"
             xmlns="http://www.w3.org/2000/svg">
            <g stroke="none"
               stroke-width="1"
               fill="none"
               fill-rule="evenodd">
                <g fill="#80DEEA">
                    <path d="M0,0 L1920,0 L1920,640 C1600,714.666667 1280,752 960,752 C640,752 320,714.666667 0,640 L0,0 Z"></path>
                </g>
            </g>
        </svg>

    </div>

    <!-- Content container -->
    <div class="content-container">

        <!-- Header -->
        <div class="header">

            <div class="title-xl text-center max-w-md">
                <span class="marker">Simple pricing</span>
                that scales with your business
            </div>

            <div class="subtitle-md text-center mt-32 max-w-sm">
                Whether you are an individual or a Fortune 500 enterprise, there is a plan that's right for you
            </div>

            <div class="flex items-center justify-center mt-64 lt-sm:mt-48">
                <span class="subtitle cursor-pointer select-none"
                      [ngClass]="{'text-hint' : annualBilling}"
                      (click)="annualBilling = false">
                    Monthly
                </span>
                <mat-slide-toggle class="mx-16"
                                  [(ngModel)]="annualBilling">
                </mat-slide-toggle>
                <span class="subtitle cursor-pointer select-none"
                      [ngClass]="{'text-hint' : !annualBilling}"
                      (click)="annualBilling = true">
                    Yearly
                </span>
            </div>

        </div>

        <!-- Cards -->
        <div class="cards">

            <!-- Card 1 -->
            <div class="card">

                <div class="title-md">Personal</div>
                <div class="subtitle text-secondary mt-8">Perfect for an individual or a small team starting to get bigger</div>

                <div class="divider"></div>

                <div class="title-md">
                    <span class="font-normal text-3xl">$</span>
                    <span class="font-bold">6.00</span>
                </div>

                <div class="flex flex-col text-secondary mt-8">
                    <span>per month, billed annually</span>
                    <span>or <b>$9.90</b> billed monthly</span>
                </div>

                <button class="mt-40 mb-48 asm-mat-button-large"
                        mat-stroked-button
                        [color]="'primary'">
                    Start Free Trial
                </button>

                <div class="flex flex-col">

                    <div class="font-bold mb-16">All core features, including:</div>

                    <div class="flex items-center">
                        <mat-icon class="text-green icon-size-20 mr-8">check</mat-icon>
                        <span><b>10</b> projects</span>
                    </div>

                    <div class="flex items-center mt-8">
                        <mat-icon class="text-green icon-size-20 mr-8">check</mat-icon>
                        <span><b>5GB</b> storage</span>
                    </div>

                    <div class="flex items-center mt-8">
                        <mat-icon class="text-green icon-size-20 mr-8">check</mat-icon>
                        <span>Analytics</span>
                    </div>

                    <div class="flex items-center mt-8">
                        <mat-icon class="text-green icon-size-20 mr-8">check</mat-icon>
                        <span>Free mobile app</span>
                    </div>

                    <div class="flex items-center mt-8">
                        <mat-icon class="text-green icon-size-20 mr-8">check</mat-icon>
                        <span>Access to support forums</span>
                    </div>

                </div>

            </div>

            <!-- Card 2 -->
            <div class="card">

                <div class="tag">POPULAR</div>

                <div class="title-md">Premium</div>
                <div class="subtitle text-secondary mt-8">Perfect for growing teams wanting to be in more control</div>

                <div class="divider"></div>

                <div class="title-md">
                    <span class="font-normal text-3xl">$</span>
                    <span class="font-bold">12.00</span>
                </div>

                <div class="flex flex-col text-secondary mt-8">
                    <span>per month, billed annually</span>
                    <span>or <b>$15.90</b> billed monthly</span>
                </div>

                <button class="mt-40 mb-48 asm-mat-button-large"
                        mat-raised-button
                        [color]="'primary'">
                    Start Free Trial
                </button>

                <div class="flex flex-col">

                    <div class="font-bold mb-16">Everything in Free, plus:</div>

                    <div class="flex items-center">
                        <mat-icon class="text-green icon-size-20 mr-8">check</mat-icon>
                        <span><b>Unlimited</b> projects</span>
                    </div>

                    <div class="flex items-center mt-8">
                        <mat-icon class="text-green icon-size-20 mr-8">check</mat-icon>
                        <span><b>Unlimited</b> storage</span>
                    </div>

                    <div class="flex items-center mt-8">
                        <mat-icon class="text-green icon-size-20 mr-8">check</mat-icon>
                        <span>Custom domain support</span>
                    </div>

                    <div class="flex items-center mt-8">
                        <mat-icon class="text-green icon-size-20 mr-8">check</mat-icon>
                        <span>Bulk editing</span>
                    </div>

                    <div class="flex items-center mt-8">
                        <mat-icon class="text-green icon-size-20 mr-8">check</mat-icon>
                        <span>12 / 5 support</span>
                    </div>

                </div>

            </div>

            <!-- Card 3 -->
            <div class="card">

                <div class="title-md">Enterprise</div>
                <div class="subtitle text-secondary mt-8">Perfect for companies wanting advanced tools and support</div>

                <div class="divider"></div>

                <div class="title-md">
                    <span class="font-normal text-3xl">$</span>
                    <span class="font-bold">49.00</span>
                </div>

                <div class="flex flex-col text-secondary mt-8">
                    <span>per month, billed annually</span>
                    <span>or <b>$69.90</b> billed monthly</span>
                </div>

                <button class="mt-40 mb-48 asm-mat-button-large"
                        mat-stroked-button
                        [color]="'primary'">
                    Start Free Trial
                </button>

                <div class="flex flex-col">

                    <div class="font-bold mb-16">Everything in Premium, plus:</div>

                    <div class="flex items-center">
                        <mat-icon class="text-green icon-size-20 mr-8">check</mat-icon>
                        <span><b>Dedicated</b> hardware</span>
                    </div>

                    <div class="flex items-center mt-8">
                        <mat-icon class="text-green icon-size-20 mr-8">check</mat-icon>
                        <span><b>%99.9 uptime</b> guarantee</span>
                    </div>

                    <div class="flex items-center mt-8">
                        <mat-icon class="text-green icon-size-20 mr-8">check</mat-icon>
                        <span>Advanced analytics</span>
                    </div>

                    <div class="flex items-center mt-8">
                        <mat-icon class="text-green icon-size-20 mr-8">check</mat-icon>
                        <span>3rd party integrations</span>
                    </div>

                    <div class="flex items-center mt-8">
                        <mat-icon class="text-green icon-size-20 mr-8">check</mat-icon>
                        <span>24 / 7 support</span>
                    </div>

                </div>

            </div>

        </div>

        <!-- Features -->
        <div class="features">

            <div class="features-title">
                <div class="title-md text-center">Core Features</div>
                <div class="subtitle text-center mt-8 text-secondary">List of features that are included into all plans</div>
            </div>

            <div class="features-grid">

                <div class="feature">

                    <div class="title">
                        <mat-icon class="primary">edit</mat-icon>
                        <div class="subtitle font-bold">Create and Edit Projects</div>
                    </div>

                    <div class="subtitle text-secondary">Create and edit projects, upload images via drag drop, add categories, add custom fields and more.</div>

                </div>

                <div class="feature">

                    <div class="title">
                        <mat-icon class="primary">filter_list</mat-icon>
                        <div class="subtitle font-bold">Search and Filter</div>
                    </div>

                    <div class="subtitle text-secondary">Search and filter within the projects, categories and custom fields. Save search and filter details for easy access.</div>

                </div>

                <div class="feature">

                    <div class="title">
                        <mat-icon class="primary">update</mat-icon>
                        <div class="subtitle font-bold">Real Time Updates</div>
                    </div>

                    <div class="subtitle text-secondary">Real time updates that doesn’t require page reload. Lean back and watch the changes happen in real time.</div>

                </div>

                <div class="feature">

                    <div class="title">
                        <mat-icon class="primary">label</mat-icon>
                        <div class="subtitle font-bold">Meta Information</div>
                    </div>

                    <div class="subtitle text-secondary">Add and remove meta information to custom fields to differentiate them in reports and analytics results.</div>

                </div>

                <div class="feature">

                    <div class="title">
                        <mat-icon class="primary">pageview</mat-icon>
                        <div class="subtitle font-bold">Pre-rendered Results</div>
                    </div>

                    <div class="subtitle text-secondary">Pre-render results to make reports and analytics more accessible by screen readers and other accesibility tools.</div>

                </div>

                <div class="feature">

                    <div class="title">
                        <mat-icon class="primary">bar_chart</mat-icon>
                        <div class="subtitle font-bold">Simple Analytics</div>
                    </div>

                    <div class="subtitle text-secondary">Simple analytics with no unnecessary data flow or weight. More readable results with less data consumption.</div>

                </div>

            </div>

        </div>

        <!-- Frequently asked questions -->
        <div class="faqs">

            <div class="faqs-title">
                <div class="title-md text-center">Frequently Asked Questions</div>
                <div class="subtitle text-center mt-8 text-secondary">Here are the most frequently asked questions you may check before getting started</div>
            </div>

            <div class="faqs-list">

                <div class="faq">

                    <div class="subtitle font-bold mb-8">What is the duration of the free trial?</div>
                    <div class="subtitle text-secondary">
                        <p>
                            Our app is free to try for 14 days, if you want more, you can provide
                            payment details which will extend your trial to 30 days providing you
                            an extra 16 more days to try our app.
                        </p>
                    </div>

                    <div class="subtitle font-bold mb-8 mt-48">What is the storage is for?</div>
                    <div class="subtitle text-secondary">
                        <p>
                            Since we provide an extremely detailed reporting and analytics
                            tool, they require quite a bit storage space. For average use, you
                            don’t have to worry about running out of space since the
                            Personal package limits the projects you can have.
                        </p>
                        <p>
                            For some reason if you run out of space, contact us and we will
                            see what can be done about it and make sure you are not
                            generating unnecessary reports and/or analytics data.
                        </p>
                    </div>

                </div>

                <div class="faq">

                    <div class="subtitle font-bold mb-8">What happens if I’m not satisfied?</div>
                    <div class="subtitle text-secondary">
                        <p>
                            If you are still in your free trial period, you can cancel your
                            account at anytime with a single click of a button. If you already
                            paid for your first month, we also offer 30-day money-back
                            guarantee with no questions asked.
                        </p>
                        <p>
                            After first month, you can still cancel your account at any time
                            but we will calculate the amount that corresponds to days you
                            have been using our app for that month and refund only the
                            remaining amount.
                        </p>
                    </div>

                    <div class="subtitle font-bold mb-8 mt-48">Are there discounts for non-profits or educational use?</div>
                    <div class="subtitle text-secondary">
                        <p>
                            Yes, our Personal and Premium packages are free for non-profits and
                            educational use. E-mail your details to us after starting your Free
                            Trial and we will upgrade your account if you qualify.
                        </p>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
