<div class="content-layout fullwidth-basic-normal-scroll">

    <!-- Background -->
    <div class="background">

        <!-- Inline SVG for easy customizations -->
        <svg viewBox="0 0 1920 752"
             preserveAspectRatio="xMidYMax slice"
             version="1.1"
             xmlns="http://www.w3.org/2000/svg">
            <g stroke="none"
               stroke-width="1"
               fill="none"
               fill-rule="evenodd">
                <g fill="#80DEEA">
                    <path d="M0,0 L1920,0 L1920,640 C1600,714.666667 1280,752 960,752 C640,752 320,714.666667 0,640 L0,0 Z"></path>
                </g>
            </g>
        </svg>

    </div>

    <!-- Container -->
    <div class="container">

        <!-- Header -->
        <div class="header">

            <h1>
                <span class="marked">Simple pricing</span>
                that scales with your business
            </h1>

            <h5>Whether you are an individual or a Fortune 500 enterprise, there is a plan that's right for you</h5>

            <div class="recurring-selector"
                 [ngClass]="{'annual-billing' : annualBilling}">
                <span (click)="annualBilling = false">MONTHLY</span>
                <mat-slide-toggle [(ngModel)]="annualBilling"
                                  [color]="'primary'"></mat-slide-toggle>
                <span (click)="annualBilling = true">YEARLY</span>
            </div>

        </div>

        <!-- Cards -->
        <div class="cards">

            <!-- Card 1 -->
            <div class="card">

                <div class="title">Personal</div>
                <div class="subtitle">Perfect for an individual or a small team starting to get bigger</div>

                <div class="divider"></div>

                <div class="price">
                    <span class="currency">$</span>
                    <span class="amount">
                        <ng-container *ngIf="annualBilling">6.00</ng-container>
                        <ng-container *ngIf="!annualBilling">9.00</ng-container>
                    </span>
                </div>

                <div class="price-details">
                    <ng-container *ngIf="annualBilling">
                        <span>billed annually</span>
                        <span>or <b>$9.00</b> billed monthly</span>
                    </ng-container>

                    <ng-container *ngIf="!annualBilling">
                        <span>billed monthly</span>
                        <span>or <b>$6.00</b> billed annually</span>
                    </ng-container>
                </div>

                <button class="cta-button asm-mat-button-large"
                        mat-stroked-button
                        [color]="'primary'">
                    Start Free Trial
                </button>

                <div class="features">

                    <div class="description">All core features, including:</div>

                    <div class="feature">
                        <mat-icon>check</mat-icon>
                        <span><b>10</b> projects</span>
                    </div>

                    <div class="feature">
                        <mat-icon>check</mat-icon>
                        <span><b>5GB</b> storage</span>
                    </div>

                    <div class="feature">
                        <mat-icon>check</mat-icon>
                        <span>Analytics</span>
                    </div>

                    <div class="feature">
                        <mat-icon>check</mat-icon>
                        <span>Free mobile app</span>
                    </div>

                    <div class="feature">
                        <mat-icon>check</mat-icon>
                        <span>Access to support forums</span>
                    </div>

                </div>

            </div>

            <!-- Card 2 -->
            <div class="card">

                <div class="tag">POPULAR</div>

                <div class="title">Premium</div>
                <div class="subtitle">Perfect for growing teams wanting to be in more control</div>

                <div class="divider"></div>

                <div class="price">
                    <span class="currency">$</span>
                    <span class="amount">
                        <ng-container *ngIf="annualBilling">12.00</ng-container>
                        <ng-container *ngIf="!annualBilling">15.00</ng-container>
                    </span>
                </div>

                <div class="price-details">
                    <ng-container *ngIf="annualBilling">
                        <span>billed annually</span>
                        <span>or <b>$15.00</b> billed monthly</span>
                    </ng-container>

                    <ng-container *ngIf="!annualBilling">
                        <span>billed monthly</span>
                        <span>or <b>$12.00</b> billed annually</span>
                    </ng-container>
                </div>

                <button class="cta-button asm-mat-button-large"
                        mat-raised-button
                        [color]="'primary'">
                    Start Free Trial
                </button>

                <div class="features">

                    <div class="description">Everything in Free, plus:</div>

                    <div class="feature">
                        <mat-icon>check</mat-icon>
                        <span><b>Unlimited</b> projects</span>
                    </div>

                    <div class="feature">
                        <mat-icon>check</mat-icon>
                        <span><b>Unlimited</b> storage</span>
                    </div>

                    <div class="feature">
                        <mat-icon>check</mat-icon>
                        <span>Custom domain support</span>
                    </div>

                    <div class="feature">
                        <mat-icon>check</mat-icon>
                        <span>Bulk editing</span>
                    </div>

                    <div class="feature">
                        <mat-icon>check</mat-icon>
                        <span>12 / 5 support</span>
                    </div>

                </div>

            </div>

            <!-- Card 3 -->
            <div class="card">

                <div class="title">Enterprise</div>
                <div class="subtitle">Perfect for companies wanting advanced tools and support</div>

                <div class="divider"></div>

                <div class="price">
                    <span class="currency">$</span>
                    <span class="amount">
                        <ng-container *ngIf="annualBilling">49.00</ng-container>
                        <ng-container *ngIf="!annualBilling">69.00</ng-container>
                    </span>
                </div>

                <div class="price-details">
                    <ng-container *ngIf="annualBilling">
                        <span>billed annually</span>
                        <span>or <b>$69.00</b> billed monthly</span>
                    </ng-container>

                    <ng-container *ngIf="!annualBilling">
                        <span>billed monthly</span>
                        <span>or <b>$49.00</b> billed annually</span>
                    </ng-container>
                </div>

                <button class="cta-button asm-mat-button-large"
                        mat-stroked-button
                        [color]="'primary'">
                    Start Free Trial
                </button>

                <div class="features">

                    <div class="description">Everything in Premium, plus:</div>

                    <div class="feature">
                        <mat-icon>check</mat-icon>
                        <span><b>Dedicated</b> hardware</span>
                    </div>

                    <div class="feature">
                        <mat-icon>check</mat-icon>
                        <span><b>%99.9 uptime</b> guarantee</span>
                    </div>

                    <div class="feature">
                        <mat-icon>check</mat-icon>
                        <span>Advanced analytics</span>
                    </div>

                    <div class="feature">
                        <mat-icon>check</mat-icon>
                        <span>3rd party integrations</span>
                    </div>

                    <div class="feature">
                        <mat-icon>check</mat-icon>
                        <span>24 / 7 support</span>
                    </div>

                </div>

            </div>

        </div>

        <!-- Features -->
        <div class="features-section">

            <div class="title-container">
                <div class="title">Core Features</div>
                <div class="subtitle">List of features that are included into all plans</div>
            </div>

            <div class="grid">

                <!-- Feature -->
                <div class="feature">

                    <div class="title-container">
                        <mat-icon>edit</mat-icon>
                        <div>Create and Edit Projects</div>
                    </div>

                    <div class="description">
                        Create and edit projects, upload images via drag drop, add categories, add custom fields and more.
                    </div>

                </div>

                <!-- Feature -->
                <div class="feature">

                    <div class="title-container">
                        <mat-icon>filter_list</mat-icon>
                        <div>Search and Filter</div>
                    </div>

                    <div class="description">
                        Search and filter within the projects, categories and custom fields. Save search and filter details for easy access.
                    </div>

                </div>

                <!-- Feature -->
                <div class="feature">

                    <div class="title-container">
                        <mat-icon>update</mat-icon>
                        <div>Real Time Updates</div>
                    </div>

                    <div class="description">
                        Real time updates that doesn’t require page reload. Lean back and watch the changes happen in real time.
                    </div>

                </div>

                <!-- Feature -->
                <div class="feature">

                    <div class="title-container">
                        <mat-icon>label</mat-icon>
                        <div>Meta Information</div>
                    </div>

                    <div class="description">
                        Add and remove meta information to custom fields to differentiate them in reports and analytics results.
                    </div>

                </div>

                <!-- Feature -->
                <div class="feature">

                    <div class="title-container">
                        <mat-icon>pageview</mat-icon>
                        <div>Pre-rendered Results</div>
                    </div>

                    <div class="description">
                        Pre-render results to make reports and analytics more accessible by screen readers and other accesibility tools.
                    </div>

                </div>

                <!-- Feature -->
                <div class="feature">

                    <div class="title-container">
                        <mat-icon>bar_chart</mat-icon>
                        <div>Simple Analytics</div>
                    </div>

                    <div class="description">
                        Simple analytics with no unnecessary data flow or weight. More readable results with less data consumption.
                    </div>

                </div>

            </div>

        </div>

        <!-- Frequently asked questions -->
        <div class="faqs-section">

            <div class="title-container">
                <div class="title">Frequently Asked Questions</div>
                <div class="subtitle">Here are the most frequently asked questions you may check before getting started</div>
            </div>

            <div class="grid">

                <!-- Column -->
                <div class="column">

                    <div class="question">
                        What is the duration of the free trial?
                    </div>
                    <div class="answer">
                        <p>
                            Our app is free to try for 14 days, if you want more, you can provide
                            payment details which will extend your trial to 30 days providing you
                            an extra 16 more days to try our app.
                        </p>
                    </div>

                    <div class="question">
                        What is the storage is for?
                    </div>
                    <div class="answer">
                        <p>
                            Since we provide an extremely detailed reporting and analytics
                            tool, they require quite a bit storage space. For average use, you
                            don’t have to worry about running out of space since the
                            Personal package limits the projects you can have.
                        </p>
                        <p>
                            For some reason if you run out of space, contact us and we will
                            see what can be done about it and make sure you are not
                            generating unnecessary reports and/or analytics data.
                        </p>
                    </div>

                </div>

                <!-- Column -->
                <div class="column">

                    <div class="question">
                        What happens if I’m not satisfied?
                    </div>
                    <div class="answer">
                        <p>
                            If you are still in your free trial period, you can cancel your
                            account at anytime with a single click of a button. If you already
                            paid for your first month, we also offer 30-day money-back
                            guarantee with no questions asked.
                        </p>
                        <p>
                            After first month, you can still cancel your account at any time
                            but we will calculate the amount that corresponds to days you
                            have been using our app for that month and refund only the
                            remaining amount.
                        </p>
                    </div>

                    <div class="question">
                        Are there discounts for non-profits or educational use?
                    </div>
                    <div class="answer">
                        <p>
                            Yes, our Personal and Premium packages are free for non-profits and
                            educational use. E-mail your details to us after starting your Free
                            Trial and we will upgrade your account if you qualify.
                        </p>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
