@import 'assembly';

mailbox-sidebar {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .title {
        margin: 40px 32px 24px 32px;
    }

    .compose-button {
        margin: 0 32px 40px 32px;

        .mat-icon {
            @include asm-icon-size(16);
            margin-right: 4px;
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-theme {

    $primary: map-get($theme, primary);
    $is-dark: map-get($theme, is-dark);

    mailbox-sidebar {
        @if ($is-dark) {
            background: asm-color($asm-gray, 900);
        }

        asm-vertical-menu {

            .asm-vertical-menu-item {

                &.asm-vertical-menu-item-active {
                    background: map-get($primary, 100);
                }
            }
        }
    }
}
