@import 'assembly';

mailbox-sidebar {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    .title {
        margin: 40px 32px 24px 32px;
    }

    .compose-button {
        margin: 0 32px;

        .mat-icon {
            @include asm-icon-size(18);
            margin-right: 4px;
        }
    }

    asm-navigation {

        .asm-navigation-wrapper {
            border-right-width: 0;
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-theme {

    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $is-dark: map-get($theme, is-dark);

    mailbox-sidebar {
        @if ($is-dark) {
            background: asm-color('gray', 900);
        }
    }
}
