<div class="my-32">

    <div class="title-md mx-32">
        MailBox
    </div>

    <div class="secondary-text mx-32 truncate">
        watkins.andrew@company.com
    </div>

</div>

<button class="compose-button mb-16 mx-32"
        mat-raised-button
        color="primary">
    <span>Compose</span>
</button>

<nav>
    <ul>
        <!-- Folders -->
        <li *ngFor="let folder of folders">
            <a [routerLink]="['/', 'apps', 'mailbox', folder.slug]"
               [routerLinkActive]="'active'">
                <mat-icon class="nav-icon">{{folder.icon}}</mat-icon>
                <span class="nav-label">{{folder.title}}</span>
            </a>
        </li>

        <!-- Filters -->
        <li *ngFor="let filter of filters">
            <a [routerLink]="['/', 'apps', 'mailbox', 'filter', filter.slug]"
               [routerLinkActive]="'active'">
                <mat-icon class="nav-icon">{{filter.icon}}</mat-icon>
                <span class="nav-label">{{filter.title}}</span>
            </a>
        </li>

        <!-- Labels -->
        <li *ngFor="let label of labels">
            <a [routerLink]="['/', 'apps', 'mailbox', 'label', label.slug]"
               [routerLinkActive]="'active'">
                <mat-icon class="nav-icon"
                          [ngClass]="label.color + '-fg'"
                          [fontSet]="'material-baseline-icons'">
                    label
                </mat-icon>
                <span class="nav-label">{{label.title}}</span>
            </a>
        </li>

        <!-- Settings -->
        <li>
            <a [routerLink]="['/', 'apps', 'mailbox', 'settings']"
               [routerLinkActive]="'active'">
                <mat-icon class="nav-icon">settings</mat-icon>
                <span class="nav-label">Settings</span>
            </a>
        </li>

    </ul>
</nav>
