@import 'src/@assembly/styles/assembly';

asm-spinner {
    display: flex;
    align-items: center;
    justify-content: center;

    // Material appearance
    &.asm-spinner-appearance-material {

        .loader {
            position: relative;
            margin: 0 auto;

            &:before {
                content: '';
                display: block;
                padding-top: 100%;
            }

            .circular {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                margin: auto;
                transform-origin: center center;
                animation: rotate 2s linear infinite;

                .path {
                    stroke-dasharray: 1, 200;
                    stroke-dashoffset: 0;
                    stroke-linecap: round;
                    animation: dash 1.5s ease-in-out infinite;
                }
            }
        }

        @keyframes rotate {
            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes dash {
            0% {
                stroke-dasharray: 1, 200;
                stroke-dashoffset: 0;
            }
            50% {
                stroke-dasharray: 89, 200;
                stroke-dashoffset: -35px;
            }
            100% {
                stroke-dasharray: 89, 200;
                stroke-dashoffset: -124px;
            }
        }
    }
}


// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-theme {

    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    asm-spinner {

        // Material appearance
        &.asm-spinner-appearance-material {

            // Current color
            &.asm-spinner-color-currentColor {

                .path {
                    stroke: currentColor;
                }
            }

            // Primary
            &.asm-spinner-color-primary {

                .path {
                    stroke: map-get($primary, default);
                }
            }

            // Accent
            &.asm-spinner-color-accent {

                .path {
                    stroke: map-get($accent, default);
                }
            }

            // Warn
            &.asm-spinner-color-warn {

                .path {
                    stroke: map-get($warn, default);
                }
            }
        }
    }
}
