// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@mixin asm-basic-navigation-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $is-dark: map-get($theme, is-dark);

    // -----------------------------------------------------------------------------------------------------
    // @ Basic navigation
    // -----------------------------------------------------------------------------------------------------
    nav {

        ul {

            li {

                a {

                    &:hover {
                        @if ($is-dark) {
                            background: map-get($background, hover);
                        } @else {
                            background: map-get($primary, 50);
                        }
                    }

                    &.active {
                        @if ($is-dark) {
                            background: map-get($background, hover);
                            color: map-get($foreground, base);
                        } @else {
                            background: map-get($primary, 50);
                            color: map-get($primary, default);
                        }

                        .nav-icon {
                            @if ($is-dark) {
                                color: map-get($foreground, base);
                            } @else {
                                color: map-get($primary, default);
                            }
                        }
                    }
                }
            }
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Basic navigation
// -----------------------------------------------------------------------------------------------------

nav {
    margin: 8px 0;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {

            a {
                display: flex;
                align-items: center;
                min-height: 48px;
                cursor: pointer;
                padding: 4px 32px;

                &.active {
                    // Prevent any pointer events from happening on active
                    // links to prevent re-clicking on the active menu item
                    pointer-events: none;
                }

                .nav-icon {
                    margin-right: 12px;
                    @include icon-size(16);
                }

                .nav-label {
                    word-break: break-all;
                }
            }
        }
    }
}
