@import "src/@assembly/styles/assembly";

tasks-details {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 64px 40px;
    overflow-y: auto;

    .divider {
        border-bottom: 1px solid;
    }

    .mark-as-button {
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            display: inline-flex;
            align-items: center;
            font-weight: 700;
        }
    }

    .title {
        margin: 0 16px 8px 16px;

        .mat-form-field {
            width: 100%;

            textarea {
                font-size: 24px;
                font-weight: 700;
                line-height: 1.25;
                overflow: hidden;
            }
        }
    }

    .tags {
        display: flex;
        flex: 0 0 auto;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        margin: 0 16px;

        .tag-wrapper {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 20px;
            width: auto;
            margin: 0 8px 8px 0;

            .mat-select-value {
                max-width: none;

                mat-select-trigger {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .mat-select-arrow-wrapper {
                display: none;
            }

            .tag {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 20px;
                padding: 0 0 0 10px;
                border-radius: 10px;

                .tag-title {
                    font-size: 11px;
                    font-weight: 700;
                    white-space: nowrap;
                    text-transform: uppercase;
                    margin-right: 2px;
                }

                .tag-remove-button {
                    width: 20px;
                    height: 20px;
                    line-height: 20px;

                    .mat-button-wrapper {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                    }
                }
            }
        }

        .add-tag {
            border-radius: 10px;
            width: 64px;
            height: 20px;
            line-height: 1;
            margin: 0 8px 8px 0;

            .mat-button-wrapper {

                span {
                    font-size: 11px;
                    font-weight: 700;
                }
            }
        }
    }

    .description {
        margin: 0 16px;

        .mat-form-field {
            width: 100%;

            textarea {
                white-space: pre-line;
                line-height: 1.8;
                overflow: hidden;
            }
        }
    }

    .due-priority {
        display: flex;
        align-items: center;
        margin: 0 16px;

        .due-date {
            width: 128px;
            margin-right: 48px;
        }

        .priority {
            width: 80px;
        }
    }
}

.tasks-details-add-tag-panel {
    min-width: 200px;
    max-width: 200px;
    margin: 4px;
    @include mat-elevation(6);

    .new-tag {
        display: flex;
        align-items: center;
        margin: 16px;

        input {
            margin: 0 4px 0 0;
            border: none;
            padding: 4px 0;
        }
    }

    .available-tags {
        max-height: 200px;
        overflow-y: auto;

        .mat-checkbox {
            display: flex;
            align-items: center;
            height: 24px;
            min-height: 24px;
            margin: 12px 16px;

            &:first-child {
                margin-top: 0;
            }

            .mat-checkbox-layout {
                align-items: center;
                height: 100%;

                .mat-checkbox-label {
                    font-size: 13px;
                }
            }
        }
    }

    .create-tag {
        position: relative;
        display: flex;
        align-items: center;
        padding: 16px 16px 16px 12px;
        cursor: pointer;

        div {
            width: 100%;
            word-break: break-all;
        }
    }
}

.tasks-details-tag-color-select-panel {
    overflow: hidden !important;
    max-height: none !important;

    .color-box-title {
        max-width: 192px;
        min-width: 192px;
        margin: 0 auto;
        padding: 20px 4px 0 4px;
        font-weight: 600;
    }

    .color-box-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 192px;
        margin: 16px auto 16px auto;

        .mat-option {
            display: flex;
            width: 48px !important;
            height: 48px !important;
            padding: 0;
            background: none !important;

            .mat-option-text {
                position: relative;
                width: 48px !important;
                height: 48px !important;

                .mat-icon {
                    position: absolute;
                    top: 14px;
                    left: 14px;
                    margin: 0;
                }

                .color-box {
                    display: flex;
                    width: 40px;
                    height: 40px;
                    margin: 4px;
                    border-radius: 50%;
                }
            }
        }
    }
}
