@import 'assembly';

animations {

    .content-layout {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            max-width: 1200px;
            width: 100%;

            .description {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                max-width: 480px;
                text-align: center;
                font-weight: 600;
                margin-bottom: 32px;

                span {
                    margin-bottom: 6px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .animation {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 32px 0 64px 0;
                width: 100%;

                .buttons {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 0 24px 0;

                    button {
                        margin-right: 16px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }

                .animated-box-area {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    max-width: 640px;
                    min-height: 360px;
                    padding: 120px 80px;
                    margin-top: 24px;
                    border-radius: 8px;
                    overflow: hidden;

                    .info {
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        padding: 8px 12px;
                        font-size: 12px;
                        font-weight: 600;
                        text-align: center;
                        z-index: 10;
                    }

                    + .description {
                        margin-top: 64px;
                    }

                    .animated-box {
                        width: 120px;
                        height: 120px;
                        overflow: hidden;
                        border-radius: 4px;
                        cursor: pointer;
                        user-select: none;

                        .animated-box-content {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex: 1 0 auto;
                            height: 100%;
                            text-align: center;
                            font-size: 11px;
                            font-weight: 900;
                        }
                    }
                }
            }
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-angular-material-theme {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    animations {

        .content-layout {

            .container {

                .description {

                    span {
                        color: map-get($foreground, secondary-text)
                    }
                }

                .animated-box-area {
                    background: mat-color($mat-blue-grey, 100);

                    .info {
                        background: mat-color($mat-blue-grey, 200);
                        color: map-get($foreground, secondary-text);
                    }

                    .animated-box {
                        background: map-get($background, card);
                        @include asm-shadow(1);

                        .animated-box-content {
                            color: map-get($foreground, secondary-text);
                        }
                    }
                }
            }
        }
    }
}
