// -----------------------------------------------------------------------------------------------------
// @ Generate and apply base theme colors
// -----------------------------------------------------------------------------------------------------
@include asm-theme {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    // Base color and background
    & {
        color: map-get($foreground, text);
        background: map-get($background, background);
    }

    // Base border color for all elements
    *,
    *::before,
    *::after {
        border-top-color: map-get($foreground, divider);
        border-right-color: map-get($foreground, divider);
        border-bottom-color: map-get($foreground, divider);
        border-left-color: map-get($foreground, divider);
    }

    // Force the disabled colors on disabled elements
    [disabled] {

        * {
            color: map-get($foreground, disabled) !important;
        }
    }

    .mat-icon {
        color: map-get($foreground, icon);
    }

    .text-secondary {
        color: map-get($foreground, secondary-text);
    }

    .text-hint {
        color: map-get($foreground, hint-text);
    }

    .text-disabled {
        color: map-get($foreground, disabled-text);
    }

    .divider {
        color: map-get($foreground, divider);
    }

    // Background colors
    .bg-base {
        background: map-get($background, background);
    }

    .bg-dialog,
    .bg-card {
        background: map-get($background, card);
    }

    .bg-hover {
        background: map-get($background, hover);
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Generate Assembly color classes from assembly color palettes
// -----------------------------------------------------------------------------------------------------
@include asm-color-classes($asm-palettes);
