// -----------------------------------------------------------------------------------------------------
// @ Base colors
// -----------------------------------------------------------------------------------------------------
@include asm-angular-material-theme {

    $is-dark: map-get($theme, is-dark);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    // Base colors
    & {
        color: map-get($foreground, text);

        // If it's a light theme, change the background color
        @if ($is-dark) {
            background: map-get($background, background);
        } @else {
            background: $asm-light-background;
        }
    }

    i,
    .icon,
    .mat-icon {
        color: map-get($foreground, icon);
    }

    .text-secondary {
        color: map-get($foreground, secondary-text);
    }

    .text-hint {
        color: map-get($foreground, hint-text);
    }

    .text-disabled {
        color: map-get($foreground, disabled-text);
    }

    .text-fade {
        color: rgba(map-get($foreground, base), 0.2);
    }

    .divider {
        color: map-get($foreground, divider);
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Generate Assembly color classes from assembly color palettes
// -----------------------------------------------------------------------------------------------------
@include asm-color-classes($asm-palettes);
