// -----------------------------------------------------------------------------------------------------
// @ Apply Angular Material theme and generate Assembly color classes for the theme
// -----------------------------------------------------------------------------------------------------
@include asm-theme {

    // Generate Angular Material theme
    @include angular-material-theme($theme);

    // Generate Assembly color classes for the theme
    @include asm-color-classes(
            (
                primary: map-get($theme, primary),
                accent: map-get($theme, accent),
                warn: map-get($theme, warn)
            )
    );
}
