// -----------------------------------------------------------------------------------------------------
// @ General
// -----------------------------------------------------------------------------------------------------
html, body {
    font-size: 14px;
    line-height: 1.5 !important;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

// Headings
h1, h2, h3, h4, h5, h6 {
    margin: 1.25em 0 0.5em 0;
}

h1,
.h1 {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: -0.022em;
    line-height: 1.25;
}

h2,
.h2 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.022em;
    line-height: 1.25;
}

h3,
.h3 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.019em;
    line-height: 1.25;
}

h4,
.h4 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.017em;
}

h5,
.h5 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.014em;
}

h6,
.h6 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.011em;
}

// Links
a {
    color: currentColor;
    text-decoration: none;
}

// Abbr
abbr {
    cursor: help;
    border-bottom: 1px dotted;
}

// Blockquote
blockquote {
    border-left: 3px solid;
    font-style: italic;
    margin: 1em 0;
    padding-left: 16px;

    footer {
        font-style: normal;

        &:before {
            content: '\2014 \00A0';
        }
    }

    &.reverse {
        border-left: none;
        border-right: 3px solid;
        text-align: right;
        padding-left: 0;
        padding-right: 16px;

        footer {

            &:before {
                content: '';
            }

            &:after {
                content: '\2014 \00A0';
            }
        }
    }
}

// Code
code:not([class*='language-']) {
    font-family: 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'monospace';
    font-size: 13px;
    padding: 3px 7px;
    border-radius: 3px;
}

// Definition lists
dl {

    dt {
        font-weight: 700;
    }

    dd {
        margin: 4px 0 16px 0;
    }
}

// Fieldset
fieldset {
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    width: 100%;
    border: 1px solid;
    border-radius: 4px;
    padding: 24px;

    legend {
        padding: 0 8px;
        margin-left: -8px;
    }
}

// Mark
mark {
    background: #F7F49A;
}

// Pre
pre {
    white-space: pre-wrap;
}

// -----------------------------------------------------------------------------------------------------
// @ Helpers
// -----------------------------------------------------------------------------------------------------

// Link
.link {
    cursor: pointer;

    &:focus,
    &:hover {
        text-decoration: underline;
    }
}

// Marked
.marked {
    position: relative;
    white-space: nowrap;

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: -4px;
        bottom: 10%;
        left: -4px;
        z-index: -1;
        background: asm-color($asm-yellow, 900);

        pointer-events: none;
    }
}

// Breadcrumb
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;

    .path {
        white-space: nowrap;

        &a {
            color: inherit;
        }

        &.current {

        }
    }

    .separator {
        margin: 0 6px;
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-theme {

    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $is-dark: map-get($theme, is-dark);

    // Abbr
    abbr {
        border-bottom-color: map-get($foreground, secondary-text);
    }

    // Blockquote
    blockquote {
        border-left-color: map-get($foreground, divider);

        &.reverse {
            border-right-color: map-get($foreground, divider);
        }
    }

    // Code
    code:not([class*='language-']) {

        @if ($is-dark) {
            color: #CDD3DE;
            background: #525252;
        } @else {
            color: #748DB9;
            background: #E2E8EF;
        }
    }

    // Fieldset
    fieldset {
        border-color: map-get($foreground, divider);
    }

    // -----------------------------------------------------------------------------------------------------
    // @ Helpers
    // -----------------------------------------------------------------------------------------------------

    // Marked
    .marked {

        &:after {
            @if ($is-dark) {
                background: asm-color($asm-pink, 600);
            } @else {
                background: asm-color($asm-yellow, 200);
            }
        }
    }

    // Link
    .link {
        color: map-get($primary, default);
        border-bottom-color: map-get($primary, default);
    }

    // Breadcrumb
    .breadcrumb {

        .path {
            color: map-get($primary, default);

            &.current {
                color: map-get($foreground, secondary-text);
            }
        }

        .separator {
            color: map-get($foreground, secondary-text);
        }
    }
}
