@mixin mailbox-list-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    mailbox-list {
        background: map-get($background, card);
        border-right-color: map-get($foreground, divider);
    }
}
