@import 'src/@assembly/styles/assembly';

@mixin mailbox-list-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);

    mailbox-list {
        background: map-get($background, card);

        .list-wrapper {
            border-right-color: map-get($foreground, divider);

            .header {
                border-bottom-color: map-get($foreground, divider);
            }

            .list {

                .item {
                    border-bottom-color: map-get($foreground, divider);

                    &.selected {
                        background: map-get($background, hover);

                        &:before {
                            background: map-get($primary, default);
                        }

                        .date,
                        .content {
                            color: map-get($primary, secondary-text);
                        }
                    }

                    .unread-indicator {
                        background: map-get($primary, default);
                    }

                    .avatar {

                        &:before {
                            box-shadow: inset 0 0 0 1px map-get($foreground, divider);
                        }
                    }
                }
            }
        }
    }
}
