mailbox-list {
    display: flex;
    flex: 1 1 auto;

    .list-wrapper {
        display: flex;
        flex: 0 1 auto;
        flex-direction: column;
        overflow-y: auto;
        width: 440px;
        min-width: 440px;
        max-width: 440px;
        border-right: 1px solid;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid;
            min-height: 96px;
            padding: 0 8px;

            .pagination-info {
                display: flex;
                align-items: center;
                margin-right: 16px;
                font-size: 13px;

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: normal;
                }
            }
        }

        .list {

            .item {
                position: relative;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                padding: 32px 24px;
                height: 152px;
                max-height: 152px;
                min-height: 152px;

                .unread-indicator {
                    position: absolute;
                    left: 10px;
                    top: 49px;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                }

                .left {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-content: flex-start;
                    justify-content: center;
                    width: 40px;
                    min-width: 40px;
                    max-width: 40px;

                    .avatar {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        overflow: hidden;

                        &:before {
                            content: "";
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            border-radius: 50%;
                        }
                    }

                    .indicators {
                        position: absolute;
                        width: 18px;
                        top: 40px;
                        left: 11px;
                    }
                }

                .date {
                    font-size: 12px;
                    white-space: nowrap;
                    text-align: right;
                }

                .content {
                    line-height: 1.3;
                }
            }
        }
    }
}
