<ng-container *ngIf="mails">

    <!-- Header -->
    <div class="header">

        <div class="flex">

            <button class="gt-md:hidden"
                    mat-icon-button
                    (click)="content.sidebar.toggle()">
                <mat-icon class="icon-size-24">menu</mat-icon>
            </button>

        </div>

        <div class="flex">

            <div class="pagination-info">
                <span class="">{{pagination.startIndex + 1}}</span>
                <span class="secondary-text mx-4">-</span>
                <span class="">{{pagination.endIndex + 1}}</span>
                <span class="secondary-text mx-4">of</span>
                <span class="">{{pagination.totalResults}}</span>
            </div>

            <button mat-icon-button
                    [disabled]="pagination.currentPage === 1"
                    (click)="onPageChanged(pagination.currentPage - 1)">
                <mat-icon class="icon-size-18">arrow_back_ios</mat-icon>
            </button>

            <button mat-icon-button
                    [disabled]="pagination.currentPage === pagination.lastPage"
                    (click)="onPageChanged(pagination.currentPage + 1)">
                <mat-icon class="icon-size-18">arrow_forward_ios</mat-icon>
            </button>

        </div>

    </div>

    <!-- Mails list -->
    <div class="list">

        <div class="item"
             *ngFor="let mail of mails"
             [ngClass]="{'selected': (selectedMail && selectedMail.id === mail.id)}"
             (click)="onMailSelected(mail)">

            <div class="unread-indicator"
                 *ngIf="mail.unread"></div>

            <div class="left">

                <div class="avatar">
                    <img [src]="mail.from.avatar">
                </div>

                <div class="indicators">

                    <div class="flex justify-center mt-8"
                         *ngIf="mail.attachments && mail.attachments.length > 0">
                        <mat-icon class="icon-size-18">attachment</mat-icon>
                    </div>

                    <div class="flex justify-center mt-8"
                         *ngIf="mail.starred">
                        <mat-icon class="orange-fg icon-size-18">star</mat-icon>
                    </div>

                </div>

            </div>

            <div class="min-w-0 ml-24">

                <div class="flex justify-between">

                    <div class="min-w-0 mr-24">

                        <div>
                            {{mail.from.contact.split('<')[0].trim()}}
                        </div>

                        <div class="truncate"
                             [ngClass]="{'font-bold': mail.unread}">
                            {{mail.subject}}
                        </div>

                    </div>

                    <div class="date secondary-text">
                        {{mail.date | date}}
                    </div>

                </div>

                <div class="content secondary-text mt-8">
                    {{mail.content.substring(0, 80)}}...
                </div>

            </div>

        </div>

    </div>

</ng-container>
