<div class="content-layout left-sidebar-fullheight-basic-inner-scroll">

    <mat-drawer-container>

        <!-- Drawer -->
        <mat-drawer [autoFocus]="false"
                    [mode]="drawerMode"
                    [opened]="drawerOpened"
                    #matDrawer>

            <!-- Demo sidebar content -->
            <asm-demo-sidebar-content></asm-demo-sidebar-content>

        </mat-drawer>

        <mat-drawer-content>

            <!-- Main -->
            <div class="main">

                <!-- Drawer toggle -->
                <button class="mb-24"
                        mat-stroked-button
                        (click)="matDrawer.toggle()">
                    <mat-icon class="icon-size-18">menu</mat-icon>
                    <span class="ml-8 md:hidden xs:hidden">Menu</span>
                </button>

                <!-- Demo content -->
                <asm-demo-content></asm-demo-content>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>


