<ng-container *ngIf="!item.hidden">

    <div class="asm-navigation-item-wrapper"
         [ngClass]="item.classes">

        <div class="asm-navigation-item">

            <!-- Icon -->
            <mat-icon *ngIf="item.icon"
                      [fontSet]="item.iconFontSet"
                      class="asm-navigation-item-icon hint-text s-18">
                {{item.icon}}
            </mat-icon>

            <!-- Title & Subtitle -->
            <div class="asm-navigation-item-title-wrapper">

                <div class="asm-navigation-item-title">{{item.title}}</div>

                <div *ngIf="item.subtitle"
                     class="asm-navigation-item-subtitle hint-text">
                    {{item.subtitle}}
                </div>

            </div>

            <!-- Badge -->
            <div *ngIf="item.badge"
                 class="asm-navigation-item-badge">

                <div class="asm-navigation-item-badge-content"
                     [ngClass]="'asm-navigation-item-badge-style-' + item.badge.style"
                     [ngStyle]="{'background-color': item.badge.background, 'color': item.badge.color}">
                    {{item.badge.title}}
                </div>

                <div class="asm-navigation-item-badge-indicator"
                     [ngStyle]="{'background-color': item.badge.style === 'simple' ? item.badge.color : item.badge.background}">
                </div>

            </div>

        </div>

    </div>

</ng-container>
