<div class="content-layout fullwidth-standard-normal-scroll docs">

    <div class="header">

        <div class="container">

            <div class="breadcrumb">
                <span class="path">UI ELEMENTS</span>
                <span class="separator">/</span>
                <span class="path current">FORM LAYOUTS</span>
            </div>
            <h1>Form Layouts</h1>

        </div>

    </div>

    <div class="main">

        <div class="container mb-32">

            <!-- Description -->
            <p>
                Forms are one of the most important and most used components of any web application. Below, you can find lots of ready to use form layout examples which you can
                modify for your needs and immediately start coding your logic.
            </p>
            <p>
                These examples uses <b>TailwindCSS</b> helper classes. We strongly recommend that you use <b>TailwindCSS</b> as well to build your form layouts. This not only
                allows an extreme flexibility on your forms but it also saves time since forms are more generic components and they don't necessarily require explicit id/class
                naming on the form or structural element when using them with Angular because of how Angular handles the forms.
            </p>

            <h2>Simple Form</h2>
            <p>
                Below is an example of a Simple Form layout. You can change the form field appearance using the below menu to test all Material Design field appearances. By
                default, Assembly uses the <b>Fill</b> style and apply numerous of tweaks on top of it to make it cleaner, better aligned and consistent across the app. We strongly
                recommend that you use the <b>Fill</b> style with Assembly.
            </p>

            <!-- Form field appearance menu -->
            <button class="mt-32 mb-8"
                    mat-flat-button
                    [color]="'primary'"
                    [matMenuTriggerFor]="appearanceMenu">
                <span class="ml-8">Field appearance: {{formFieldAppearance | titlecase}}</span>
                <mat-icon class="icon-size-18 ml-12"
                          [svgIcon]="'keyboard_arrow_down'"></mat-icon>
            </button>
            <mat-menu #appearanceMenu>
                <button mat-menu-item
                        (click)="formFieldAppearance = 'standard'">
                    <span>Standard</span>
                    <mat-icon class="ml-24 mr-0 icon-size-18"
                              *ngIf="formFieldAppearance === 'standard'"
                              [svgIcon]="'check'"></mat-icon>
                </button>
                <button mat-menu-item
                        (click)="formFieldAppearance = 'fill'">
                    <span>Fill</span>
                    <mat-icon class="ml-24 mr-0 icon-size-18"
                              *ngIf="formFieldAppearance === 'fill'"
                              [svgIcon]="'check'"></mat-icon>
                </button>
                <button mat-menu-item
                        (click)="formFieldAppearance = 'outline'">
                    <span>Outline</span>
                    <mat-icon class="ml-24 mr-0 icon-size-18"
                              *ngIf="formFieldAppearance === 'outline'"
                              [svgIcon]="'check'"></mat-icon>
                </button>
            </mat-menu>

            <!-- Simple form -->
            <asm-card class="flex flex-col w-full max-w-720 mt-32 p-32">

                <h3 class="my-0">Example Form</h3>
                <p class="text-secondary mt-8 mb-24">
                    This is an example of a very simple form layout that uses <b>{{formFieldAppearance}}</b> form field appearance.
                    This text also can be used as the main form description.
                </p>

                <form class="mt-8"
                      novalidate>

                    <div class="flex flex-col gt-xs:flex-row">
                        <mat-form-field class="flex-auto gt-xs:pr-12"
                                        [appearance]="formFieldAppearance">
                            <mat-label>First name</mat-label>
                            <input matInput>
                            <mat-icon matSuffix
                                      [svgIcon]="'account_circle'"></mat-icon>
                        </mat-form-field>
                        <mat-form-field class="flex-auto gt-xs:pl-12"
                                        [appearance]="formFieldAppearance">
                            <mat-label>Last name</mat-label>
                            <input matInput>
                            <mat-icon matSuffix
                                      [svgIcon]="'account_circle'"></mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="asm-mat-textarea flex-auto"
                                        [appearance]="formFieldAppearance">
                            <mat-label>Address</mat-label>
                            <textarea matInput
                                      cdkTextareaAutosize
                                      cdkAutosizeMinRows="3"></textarea>
                            <mat-icon matSuffix
                                      [svgIcon]="'room'"></mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="flex flex-col gt-md:flex-row">
                        <mat-form-field class="flex-auto gt-md:pr-12"
                                        [appearance]="formFieldAppearance">
                            <mat-label>City</mat-label>
                            <input matInput>
                            <mat-icon matSuffix
                                      [svgIcon]="'landscape'"></mat-icon>
                        </mat-form-field>
                        <mat-form-field class="flex-auto gt-md:pl-12"
                                        [appearance]="formFieldAppearance">
                            <mat-label>State</mat-label>
                            <input matInput>
                            <mat-icon matSuffix
                                      [svgIcon]="'landscape'"></mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="flex-auto"
                                        [appearance]="formFieldAppearance">
                            <mat-label>Postal code</mat-label>
                            <input matInput
                                   maxlength="5"
                                   #postalCode>
                            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                            <mat-icon matSuffix
                                      [svgIcon]="'mail'"></mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="flex items-center justify-end border-t -m-32 mt-32 px-32 py-20">
                        <button mat-button>
                            Cancel
                        </button>
                        <button class="px-24 ml-12"
                                mat-flat-button
                                [color]="'primary'">
                            Save
                        </button>
                    </div>

                </form>

            </asm-card>

            <h2>More examples</h2>
            <p>
                Here you can find examples of different form layouts. Choose one that fits your needs best, and start coding your logic.
            </p>
            <p>
                These examples are using Assembly's default <b>Fill</b> form field appearance and form field helper classes. To learn more about the available helper classes, check
                out the <a class="link"
                           [routerLink]="['./ui/helper-classes/assembly']">Assembly Helper Classes</a> page.
            </p>

        </div>

        <!-- Sectioned form with dividers -->
        <asm-card class="flex flex-col w-full max-w-720 p-32">

            <h3 class="my-0">Sectioned Form</h3>
            <p class="text-secondary my-8">
                This sectioned form example uses dividers to separate the different sections of the form. Form fields uses <em>placeholders</em> and don't have separate labels
                for more compact look.
            </p>

            <form novalidate>

                <mat-divider class="mt-32 mb-40"></mat-divider>

                <h5 class="my-0">Basic information</h5>
                <p class="text-secondary mt-4 mb-24">
                    Set your login preferences, help us personalize your experience and make big account changes here
                </p>

                <div class="flex">
                    <mat-form-field class="flex-auto">
                        <input matInput
                               [placeholder]="'Email Address'">
                        <mat-icon matPrefix
                                  [svgIcon]="'mail'"></mat-icon>
                    </mat-form-field>
                </div>

                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-12">
                        <mat-select [placeholder]="'Country / Region'">
                            <mat-option value="country-1">Country 1</mat-option>
                            <mat-option value="country-2">Country 2</mat-option>
                            <mat-option value="country-3">Country 3</mat-option>
                        </mat-select>
                        <mat-icon matPrefix
                                  [svgIcon]="'room'"></mat-icon>
                    </mat-form-field>
                    <mat-form-field class="flex-auto gt-xs:pl-12">
                        <mat-select [placeholder]="'Language'">
                            <mat-option value="language-1">Language 1</mat-option>
                            <mat-option value="language-2">Language 2</mat-option>
                            <mat-option value="language-3">Language 3</mat-option>
                        </mat-select>
                        <mat-icon matPrefix
                                  [svgIcon]="'language'"></mat-icon>
                    </mat-form-field>
                </div>

                <mat-divider class="mt-24 mb-40"></mat-divider>

                <h5 class="my-0">Profile</h5>
                <p class="text-secondary mt-4 mb-24">
                    People on this application will get to know you with this information
                </p>

                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-12">
                        <input matInput
                               [placeholder]="'First name'">
                        <mat-icon matPrefix
                                  [svgIcon]="'account_circle'"></mat-icon>
                    </mat-form-field>
                    <mat-form-field class="flex-auto gt-xs:pl-12">
                        <input matInput
                               [placeholder]="'Last name'">
                        <mat-icon matPrefix
                                  [svgIcon]="'account_circle'"></mat-icon>
                    </mat-form-field>
                </div>

                <div class="flex">
                    <mat-form-field class="flex-auto">
                        <input matInput
                               [placeholder]="'Username'">
                        <span matPrefix>www.example.com/</span>
                    </mat-form-field>
                </div>

                <div class="flex">
                    <mat-form-field class="asm-mat-textarea flex-auto">
                        <textarea matInput
                                  [placeholder]="'About'"
                                  [rows]="3"></textarea>
                        <mat-icon matPrefix
                                  [svgIcon]="'notes'"></mat-icon>
                    </mat-form-field>
                </div>

                <mat-divider class="mt-24 mb-40"></mat-divider>

                <h5 class="my-0">Notifications</h5>
                <p class="text-secondary mt-4 mb-24">
                    People on this application will get to know you with this information
                </p>

                <div class="flex flex-col gt-sm:flex-row">
                    <div class="flex flex-col">
                        <h6 class="font-medium mb-12">By Email</h6>
                        <div class="flex flex-col">
                            <mat-checkbox class="mb-4"
                                          [checked]="true"
                                          [color]="'primary'">
                                Company News
                            </mat-checkbox>
                            <mat-checkbox class="mb-4"
                                          [color]="'primary'">
                                Featured Products
                            </mat-checkbox>
                            <mat-checkbox [checked]="true"
                                          [color]="'primary'">
                                Messages
                            </mat-checkbox>
                        </div>
                    </div>
                    <div class="flex flex-col mt-32 gt-sm:mt-0 gt-sm:ml-80">
                        <h6 class="font-medium mb-12">Push Notifications</h6>
                        <mat-radio-group class="flex flex-col"
                                         [color]="'primary'"
                                         [value]="'just-good'">
                            <mat-radio-button class="mb-8"
                                              [value]="'everything'">
                                Everything
                            </mat-radio-button>
                            <mat-radio-button class="mb-8"
                                              [value]="'just-good'">
                                Just the good stuff
                            </mat-radio-button>
                            <mat-radio-button [value]="'no-push'">
                                No push notifications
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>

                <div class="flex items-center justify-end border-t -m-32 mt-32 px-32 py-20">
                    <button mat-button>
                        Cancel
                    </button>
                    <button class="px-24 ml-12"
                            mat-flat-button
                            [color]="'primary'">
                        Save
                    </button>
                </div>

            </form>

        </asm-card>

        <mat-divider class="my-128"></mat-divider>

        <!-- Sectioned form with dividers #2 -->
        <asm-card class="flex flex-col w-full max-w-800 p-32">

            <h3 class="my-0">Sectioned Form</h3>
            <p class="text-secondary my-8">
                This sectioned form example uses dividers to separate the different sections of the form, section title and description is horizontally aligned with the section
                fields. Form fields uses <em>mat-label</em> to have separate, floating labels.
            </p>

            <form novalidate>

                <mat-divider class="mt-32 mb-40"></mat-divider>

                <div class="flex items-start">

                    <div class="max-w-320 pr-48">
                        <h5 class="my-0">Basic information</h5>
                        <p class="text-secondary mt-4 mb-24">
                            Set your login preferences, help us personalize your experience and make big account changes here
                        </p>
                    </div>

                    <div class="flex-auto">
                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <mat-label>Email Address</mat-label>
                                <input matInput>
                                <mat-icon matPrefix
                                          [svgIcon]="'mail'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <mat-label>Country / Region</mat-label>
                                <mat-select>
                                    <mat-option value="country-1">Country 1</mat-option>
                                    <mat-option value="country-2">Country 2</mat-option>
                                    <mat-option value="country-3">Country 3</mat-option>
                                </mat-select>
                                <mat-icon matPrefix
                                          [svgIcon]="'room'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <mat-label>Language</mat-label>
                                <mat-select>
                                    <mat-option value="language-1">Language 1</mat-option>
                                    <mat-option value="language-2">Language 2</mat-option>
                                    <mat-option value="language-3">Language 3</mat-option>
                                </mat-select>
                                <mat-icon matPrefix
                                          [svgIcon]="'language'"></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>

                </div>

                <mat-divider class="mt-16 mb-48"></mat-divider>

                <div class="flex items-start">

                    <div class="max-w-320 pr-48">
                        <h5 class="my-0">Profile</h5>
                        <p class="text-secondary mt-4 mb-24">
                            People on this application will get to know you with this information
                        </p>
                    </div>

                    <div class="flex-auto">
                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <mat-label>First name</mat-label>
                                <input matInput>
                                <mat-icon matPrefix
                                          [svgIcon]="'account_circle'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <mat-label>Last name</mat-label>
                                <input matInput>
                                <mat-icon matPrefix
                                          [svgIcon]="'account_circle'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <input matInput
                                       [placeholder]="'username'">
                                <span matPrefix>www.example.com/</span>
                            </mat-form-field>
                        </div>

                        <div class="flex">
                            <mat-form-field class="asm-mat-textarea flex-auto">
                                <mat-label>About</mat-label>
                                <textarea matInput
                                          [rows]="3"></textarea>
                                <mat-icon matPrefix
                                          [svgIcon]="'notes'"></mat-icon>
                            </mat-form-field>
                        </div>
                    </div>

                </div>

                <mat-divider class="mt-16 mb-48"></mat-divider>

                <div class="flex items-start">

                    <div class="max-w-320 pr-48">
                        <h5 class="my-0">Notifications</h5>
                        <p class="text-secondary mt-4 mb-24">
                            People on this application will get to know you with this information
                        </p>
                    </div>

                    <div class="flex-auto">
                        <div class="flex flex-col">
                            <h6 class="font-medium mb-12">By Email</h6>
                            <div class="flex flex-col">
                                <mat-checkbox class="mb-4"
                                              [checked]="true"
                                              [color]="'primary'">
                                    Company News
                                </mat-checkbox>
                                <mat-checkbox class="mb-4"
                                              [color]="'primary'">
                                    Featured Products
                                </mat-checkbox>
                                <mat-checkbox [checked]="true"
                                              [color]="'primary'">
                                    Messages
                                </mat-checkbox>
                            </div>
                        </div>
                        <div class="flex flex-col mt-32">
                            <h6 class="font-medium mb-12">Push Notifications</h6>
                            <mat-radio-group class="flex flex-col"
                                             [color]="'primary'"
                                             [value]="'just-good'">
                                <mat-radio-button class="mb-8"
                                                  [value]="'everything'">
                                    Everything
                                </mat-radio-button>
                                <mat-radio-button class="mb-8"
                                                  [value]="'just-good'">
                                    Just the good stuff
                                </mat-radio-button>
                                <mat-radio-button [value]="'no-push'">
                                    No push notifications
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                </div>

                <div class="flex items-center justify-end border-t -m-32 mt-32 px-32 py-20">
                    <button mat-button>
                        Cancel
                    </button>
                    <button class="px-24 ml-12"
                            mat-flat-button
                            [color]="'primary'">
                        Save
                    </button>
                </div>

            </form>

        </asm-card>

        <mat-divider class="my-128"></mat-divider>

        <!-- Sectioned form with separate cards -->
        <form novalidate>

            <asm-card class="flex flex-col w-full max-w-720 p-32">
                <h3 class="my-0">Sectioned Form</h3>
                <p class="text-secondary my-8">
                    This sectioned form example uses cards to separate the sections of the form. This kind of form layouts are more suitable for <em>Settings</em> or similar pages.
                </p>
            </asm-card>

            <asm-card class="flex flex-col w-full max-w-720 mt-32 p-32">

                <h5 class="my-0">Basic information</h5>
                <p class="text-secondary mt-4 mb-24">
                    Set your login preferences, help us personalize your experience and make big account changes here
                </p>

                <mat-divider class="mt-8 mb-40"></mat-divider>

                <div class="flex">
                    <mat-form-field class="flex-auto">
                        <input matInput
                               [placeholder]="'Email Address'">
                        <mat-icon matPrefix
                                  [svgIcon]="'mail'"></mat-icon>
                    </mat-form-field>
                </div>

                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-12">
                        <mat-select [placeholder]="'Country / Region'">
                            <mat-option value="country-1">Country 1</mat-option>
                            <mat-option value="country-2">Country 2</mat-option>
                            <mat-option value="country-3">Country 3</mat-option>
                        </mat-select>
                        <mat-icon matPrefix
                                  [svgIcon]="'room'"></mat-icon>
                    </mat-form-field>
                    <mat-form-field class="flex-auto gt-xs:pl-12">
                        <mat-select [placeholder]="'Language'">
                            <mat-option value="language-1">Language 1</mat-option>
                            <mat-option value="language-2">Language 2</mat-option>
                            <mat-option value="language-3">Language 3</mat-option>
                        </mat-select>
                        <mat-icon matPrefix
                                  [svgIcon]="'language'"></mat-icon>
                    </mat-form-field>
                </div>

                <div class="flex items-center justify-end border-t -m-32 mt-32 px-32 py-20">
                    <button mat-button>
                        Cancel
                    </button>
                    <button class="px-24 ml-12"
                            mat-flat-button
                            [color]="'primary'">
                        Save
                    </button>
                </div>

            </asm-card>

            <asm-card class="flex flex-col w-full max-w-720 mt-32 p-32">

                <h5 class="my-0">Profile</h5>
                <p class="text-secondary mt-4 mb-24">
                    People on this application will get to know you with this information
                </p>

                <mat-divider class="mt-8 mb-40"></mat-divider>

                <div class="flex flex-col gt-xs:flex-row">
                    <mat-form-field class="flex-auto gt-xs:pr-12">
                        <input matInput
                               [placeholder]="'First name'">
                        <mat-icon matPrefix
                                  [svgIcon]="'account_circle'"></mat-icon>
                    </mat-form-field>
                    <mat-form-field class="flex-auto gt-xs:pl-12">
                        <input matInput
                               [placeholder]="'Last name'">
                        <mat-icon matPrefix
                                  [svgIcon]="'account_circle'"></mat-icon>
                    </mat-form-field>
                </div>

                <div class="flex">
                    <mat-form-field class="flex-auto">
                        <input matInput
                               [placeholder]="'Username'">
                        <span matPrefix>www.example.com/</span>
                    </mat-form-field>
                </div>

                <div class="flex">
                    <mat-form-field class="asm-mat-textarea flex-auto">
                        <textarea matInput
                                  [placeholder]="'About'"
                                  [rows]="3"></textarea>
                        <mat-icon matPrefix
                                  [svgIcon]="'notes'"></mat-icon>
                    </mat-form-field>
                </div>

                <div class="flex items-center justify-end border-t -m-32 mt-32 px-32 py-20">
                    <button mat-button>
                        Cancel
                    </button>
                    <button class="px-24 ml-12"
                            mat-flat-button
                            [color]="'primary'">
                        Save
                    </button>
                </div>

            </asm-card>

            <asm-card class="flex flex-col w-full max-w-720 mt-32 p-32">

                <h5 class="my-0">Notifications</h5>
                <p class="text-secondary mt-4 mb-24">
                    People on this application will get to know you with this information
                </p>

                <mat-divider class="mt-8 mb-40"></mat-divider>

                <div class="flex flex-col gt-sm:flex-row">
                    <div class="flex flex-col">
                        <h6 class="font-medium mb-12">By Email</h6>
                        <div class="flex flex-col">
                            <mat-checkbox class="mb-4"
                                          [checked]="true"
                                          [color]="'primary'">
                                Company News
                            </mat-checkbox>
                            <mat-checkbox class="mb-4"
                                          [color]="'primary'">
                                Featured Products
                            </mat-checkbox>
                            <mat-checkbox [checked]="true"
                                          [color]="'primary'">
                                Messages
                            </mat-checkbox>
                        </div>
                    </div>
                    <div class="flex flex-col mt-32 gt-sm:mt-0 gt-sm:ml-80">
                        <h6 class="font-medium mb-12">Push Notifications</h6>
                        <mat-radio-group class="flex flex-col"
                                         [color]="'primary'"
                                         [value]="'just-good'">
                            <mat-radio-button class="mb-8"
                                              [value]="'everything'">
                                Everything
                            </mat-radio-button>
                            <mat-radio-button class="mb-8"
                                              [value]="'just-good'">
                                Just the good stuff
                            </mat-radio-button>
                            <mat-radio-button [value]="'no-push'">
                                No push notifications
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>

                <div class="flex items-center justify-end border-t -m-32 mt-32 px-32 py-20">
                    <button mat-button>
                        Cancel
                    </button>
                    <button class="px-24 ml-12"
                            mat-flat-button
                            [color]="'primary'">
                        Save
                    </button>
                </div>

            </asm-card>

        </form>

        <mat-divider class="my-128"></mat-divider>


        <!-- Sectioned form with separate cards #2 -->
        <div class="flex flex-col w-full max-w-800">

            <h3 class="my-0">Sectioned Form</h3>
            <p class="text-secondary my-8">
                This sectioned form example uses cards and whitespace to separate the different sections of the form, section title and description is horizontally aligned with the
                section fields. Form fields have <em>separate labels</em> and <em>dense</em> style.
            </p>

            <form novalidate>

                <mat-divider class="mt-32 mb-40"></mat-divider>

                <div class="flex items-start">

                    <div class="max-w-320 pr-48">
                        <h5 class="my-0">Basic information</h5>
                        <p class="text-secondary mt-4 mb-24">
                            Set your login preferences, help us personalize your experience and make big account changes here
                        </p>
                    </div>

                    <asm-card class="flex flex-col flex-auto p-32 pb-2">
                        <div class="flex flex-col">
                            <span class="font-medium mb-4">Email Address</span>
                            <mat-form-field class="asm-mat-dense flex-auto">
                                <input matInput>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col">
                            <span class="font-medium mb-4">Country / Region</span>
                            <mat-form-field class="asm-mat-dense flex-auto">
                                <mat-select>
                                    <mat-option value="country-1">Country 1</mat-option>
                                    <mat-option value="country-2">Country 2</mat-option>
                                    <mat-option value="country-3">Country 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col">
                            <span class="font-medium mb-4">Language</span>
                            <mat-form-field class="asm-mat-dense flex-auto">
                                <mat-select>
                                    <mat-option value="language-1">Language 1</mat-option>
                                    <mat-option value="language-2">Language 2</mat-option>
                                    <mat-option value="language-3">Language 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </asm-card>

                </div>

                <div class="flex items-start mt-32">

                    <div class="max-w-320 pr-48">
                        <h5 class="my-0">Profile</h5>
                        <p class="text-secondary mt-4 mb-24">
                            People on this application will get to know you with this information
                        </p>
                    </div>

                    <asm-card class="flex flex-col flex-auto p-32 pb-2">
                        <div class="flex flex-col">
                            <span class="font-medium mb-4">First name</span>
                            <mat-form-field class="asm-mat-dense flex-auto">
                                <input matInput>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col">
                            <span class="font-medium mb-4">Last name</span>
                            <mat-form-field class="asm-mat-dense flex-auto">
                                <input matInput>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col">
                            <span class="font-medium mb-4">Username</span>
                            <mat-form-field class="asm-mat-dense flex-auto">
                                <input matInput>
                                <span matPrefix>www.example.com/</span>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col">
                            <span class="font-medium mb-4">About</span>
                            <mat-form-field class="asm-mat-textarea flex-auto">
                                <textarea matInput
                                          [rows]="3"></textarea>
                            </mat-form-field>
                        </div>
                    </asm-card>

                </div>

                <div class="flex items-start mt-32">

                    <div class="max-w-320 pr-48">
                        <h5 class="my-0">Notifications</h5>
                        <p class="text-secondary mt-4 mb-24">
                            People on this application will get to know you with this information
                        </p>
                    </div>

                    <asm-card class="flex flex-col flex-auto p-32">
                        <div class="flex flex-col">
                            <h6 class="font-medium mb-12">By Email</h6>
                            <div class="flex flex-col">
                                <mat-checkbox class="mb-4"
                                              [checked]="true"
                                              [color]="'primary'">
                                    Company News
                                </mat-checkbox>
                                <mat-checkbox class="mb-4"
                                              [color]="'primary'">
                                    Featured Products
                                </mat-checkbox>
                                <mat-checkbox [checked]="true"
                                              [color]="'primary'">
                                    Messages
                                </mat-checkbox>
                            </div>
                        </div>
                        <div class="flex flex-col mt-32">
                            <h6 class="font-medium mb-12">Push Notifications</h6>
                            <mat-radio-group class="flex flex-col"
                                             [color]="'primary'"
                                             [value]="'just-good'">
                                <mat-radio-button class="mb-8"
                                                  [value]="'everything'">
                                    Everything
                                </mat-radio-button>
                                <mat-radio-button class="mb-8"
                                                  [value]="'just-good'">
                                    Just the good stuff
                                </mat-radio-button>
                                <mat-radio-button [value]="'no-push'">
                                    No push notifications
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </asm-card>

                </div>

                <div class="flex items-center justify-end mt-40">
                    <button mat-button>
                        Cancel
                    </button>
                    <button class="px-24 ml-12"
                            mat-flat-button
                            [color]="'primary'">
                        Save
                    </button>
                </div>

            </form>

        </div>

    </div>

</div>
