<!-- LEFT NAVIGATION -->
<asm-navigation class="navigation"
                *ngIf="!asmConfig.layout.options.navigation.hidden"
                [name]="'leftNavigation'"
                [appearance]="'dense'"
                [mode]="isScreenSmall ? 'over' : 'side'"
                [opened]="!isScreenSmall">

    <div asmNavigationHeader>

        <div class="logo">

            <div class="logo-image">
                <img src="assets/images/logo/logo-white.svg">
            </div>

            <div class="logo-text">
                Assembly
            </div>

        </div>

    </div>

</asm-navigation>
<!-- / LEFT NAVIGATION -->

<!-- CONTAINER -->
<div class="container">

    <!-- HEADER -->
    <div class="header"
         *ngIf="!asmConfig.layout.options.header.hidden"
         [ngClass]="asmConfig.layout.options.header.background">

        <button mat-icon-button
                (click)="toggleNavigation('leftNavigation')">
            <mat-icon [svgIcon]="'menu'"></mat-icon>
        </button>

        Header

        <button mat-icon-button
                (click)="toggleDrawer('rightDrawer')">
            <mat-icon [svgIcon]="'settings_applications'"></mat-icon>
        </button>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <!--
            *ngIf="true" hack is required here for router-outlet to work correctly. Otherwise,
            it won't register the changes on the layout and won't update the view.
        -->
        <router-outlet *ngIf="true"></router-outlet>

    </div>
    <!-- / CONTENT -->

    <!-- FOOTER -->
    <div class="footer"
         *ngIf="!asmConfig.layout.options.footer.hidden"
         [ngClass]="asmConfig.layout.options.footer.background">

        Footer

    </div>
    <!-- / FOOTER -->

</div>
<!-- / CONTAINER -->

<!-- RIGHT DRAWER -->
<asm-drawer [name]="'rightDrawer'"
            [position]="'right'"
            [mode]="'over'">
    <asm-theme-configurator></asm-theme-configurator>
</asm-drawer>
<!-- / RIGHT DRAWER -->
