<div class="content-layout fullwidth-standard-normal-scroll docs">

    <div class="header">

        <div class="container">

            <div class="breadcrumb">
                <span class="path">UI ELEMENTS</span>
                <span class="separator">/</span>
                <span class="path">FORMS</span>
                <span class="separator">/</span>
                <span class="path current">WIZARDS</span>
            </div>
            <h1>Form Wizards</h1>

        </div>

    </div>

    <div class="main">

        <div class="container mb-32">

            <p>
                Form wizard examples in this page uses <code>mat-horizontal-stepper</code> and <code>mat-vertical-stepper</code> components from Angular Material. You can get more
                information about them over here: <a class="link"
                                                     href="https://material.angular.io/components/stepper/overview"
                                                     target="_blank">https://material.angular.io/components/stepper/overview</a>.
            </p>
            <p>
                We prepared couple examples to get you started, but these examples do not represent what you can do with stepper components. There are lots of options to them
                that you can configure, please take a look at the official guide to learn everything about them.
            </p>

            <!-- Horizontal stepper -->
            <h3 class="mt-72 mb-32">Horizontal Stepper</h3>

            <asm-card class="p-32">
                <form class="w-full"
                      [formGroup]="horizontalStepperForm">
                    <mat-horizontal-stepper [linear]="true"
                                            #horizontalStepper>
                        <mat-step [formGroupName]="'step1'"
                                  [stepControl]="horizontalStepperForm.get('step1')"
                                  #horizontalStepperStep1>
                            <ng-template matStepLabel>Basic information</ng-template>
                            <h6 class="text-secondary my-24">
                                Fill in your basic information to let us know your preferences
                            </h6>
                            <div class="flex">
                                <mat-form-field class="flex-auto">
                                    <input matInput
                                           [formControlName]="'email'"
                                           [placeholder]="'Email Address'"
                                           required>
                                    <mat-icon matPrefix
                                              [svgIcon]="'mail'"></mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="flex flex-col gt-xs:flex-row">
                                <mat-form-field class="flex-auto gt-xs:pr-12">
                                    <mat-select [formControlName]="'country'"
                                                [placeholder]="'Country / Region'"
                                                required>
                                        <mat-option value="country-1">Country 1</mat-option>
                                        <mat-option value="country-2">Country 2</mat-option>
                                        <mat-option value="country-3">Country 3</mat-option>
                                    </mat-select>
                                    <mat-icon matPrefix
                                              [svgIcon]="'room'"></mat-icon>
                                </mat-form-field>
                                <mat-form-field class="flex-auto gt-xs:pl-12">
                                    <mat-select [formControlName]="'language'"
                                                [placeholder]="'Language'"
                                                required>
                                        <mat-option value="language-1">Language 1</mat-option>
                                        <mat-option value="language-2">Language 2</mat-option>
                                        <mat-option value="language-3">Language 3</mat-option>
                                    </mat-select>
                                    <mat-icon matPrefix
                                              [svgIcon]="'language'"></mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="flex justify-end">
                                <button class="px-32"
                                        mat-flat-button
                                        [color]="'primary'"
                                        [disabled]="horizontalStepperStep1.stepControl.pristine || horizontalStepperStep1.stepControl.invalid"
                                        type="button"
                                        matStepperNext>
                                    Next
                                </button>
                            </div>
                        </mat-step>

                        <mat-step [formGroupName]="'step2'"
                                  [stepControl]="horizontalStepperForm.get('step2')"
                                  #horizontalStepperStep2>
                            <ng-template matStepLabel>Profile</ng-template>
                            <h6 class="text-secondary my-24">
                                People here will get to know you with this information
                            </h6>
                            <div class="flex flex-col gt-xs:flex-row">
                                <mat-form-field class="flex-auto gt-xs:pr-12">
                                    <input matInput
                                           [formControlName]="'firstName'"
                                           [placeholder]="'First name'"
                                           required>
                                    <mat-icon matPrefix
                                              [svgIcon]="'account_circle'"></mat-icon>
                                </mat-form-field>
                                <mat-form-field class="flex-auto gt-xs:pl-12">
                                    <input matInput
                                           [formControlName]="'lastName'"
                                           [placeholder]="'Last name'"
                                           required>
                                    <mat-icon matPrefix
                                              [svgIcon]="'account_circle'"></mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="flex">
                                <mat-form-field class="flex-auto">
                                    <input matInput
                                           [formControlName]="'userName'"
                                           [placeholder]="'Username'"
                                           required>
                                    <span matPrefix>www.example.com/</span>
                                </mat-form-field>
                            </div>
                            <div class="flex">
                                <mat-form-field class="asm-mat-textarea flex-auto">
                                    <textarea matInput
                                              [formControlName]="'about'"
                                              [placeholder]="'About'"
                                              [rows]="3"></textarea>
                                    <mat-icon matPrefix
                                              [svgIcon]="'notes'"></mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="flex justify-end">
                                <button class="px-32 mr-8"
                                        mat-flat-button
                                        [color]="'accent'"
                                        type="button"
                                        matStepperPrevious>
                                    Back
                                </button>
                                <button class="px-32"
                                        mat-flat-button
                                        [color]="'primary'"
                                        [disabled]="horizontalStepperStep2.stepControl.pristine || horizontalStepperStep2.stepControl.invalid"
                                        type="button"
                                        matStepperNext>
                                    Next
                                </button>
                            </div>
                        </mat-step>

                        <mat-step [formGroupName]="'step3'"
                                  [stepControl]="horizontalStepperForm.get('step3')">
                            <ng-template matStepLabel>Notifications</ng-template>
                            <h6 class="text-secondary my-24">
                                We'll always let you know about important changes, but you pick what else you want to hear about.
                            </h6>
                            <div class="flex flex-col gt-sm:flex-row">
                                <div class="flex flex-col">
                                    <span class="font-medium mb-8">By Email</span>
                                    <div class="flex flex-col"
                                         [formGroupName]="'byEmail'">
                                        <mat-checkbox class="mb-4"
                                                      [color]="'primary'"
                                                      [formControlName]="'companyNews'">
                                            Company News
                                        </mat-checkbox>
                                        <mat-checkbox class="mb-4"
                                                      [color]="'primary'"
                                                      [formControlName]="'featuredProducts'">
                                            Featured Products
                                        </mat-checkbox>
                                        <mat-checkbox [color]="'primary'"
                                                      [formControlName]="'messages'">
                                            Messages
                                        </mat-checkbox>
                                    </div>
                                </div>
                                <div class="flex flex-col mt-32 gt-sm:mt-0 gt-sm:ml-80">
                                    <span class="font-medium mb-8">Push Notifications</span>
                                    <mat-radio-group class="flex flex-col"
                                                     [color]="'primary'"
                                                     [formControlName]="'pushNotifications'">
                                        <mat-radio-button class="mb-8"
                                                          [value]="'everything'">
                                            Everything
                                        </mat-radio-button>
                                        <mat-radio-button class="mb-8"
                                                          [value]="'just-good'">
                                            Just the good stuff
                                        </mat-radio-button>
                                        <mat-radio-button [value]="'no-push'">
                                            No push notifications
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div class="flex justify-end mt-32">
                                <button class="px-32 mr-8"
                                        mat-flat-button
                                        [color]="'accent'"
                                        type="button"
                                        matStepperPrevious>
                                    Back
                                </button>
                                <button class="px-32"
                                        mat-flat-button
                                        [color]="'primary'"
                                        type="button"
                                        matStepperNext>
                                    Next
                                </button>
                            </div>
                        </mat-step>

                        <mat-step>
                            <ng-template matStepLabel>Done</ng-template>
                            <h6 class="my-24">
                                Thank you for completing our form! You can reset the form if you would like to change your information.
                            </h6>
                            <div class="flex justify-end mt-32">
                                <button class="px-32 mr-8"
                                        mat-flat-button
                                        [color]="'accent'"
                                        type="button"
                                        matStepperPrevious>
                                    Back
                                </button>
                                <button class="px-32"
                                        mat-flat-button
                                        [color]="'primary'"
                                        type="reset"
                                        (click)="horizontalStepper.reset();">
                                    Reset
                                </button>
                            </div>
                        </mat-step>
                    </mat-horizontal-stepper>
                </form>
            </asm-card>

            <!-- Vertical stepper -->
            <h3 class="mt-72 mb-32">Vertical Stepper</h3>

            <asm-card class="p-32">
                <form class="w-full"
                      [formGroup]="verticalStepperForm">
                    <mat-vertical-stepper [linear]="true"
                                          #verticalStepper>
                        <mat-step [formGroupName]="'step1'"
                                  [stepControl]="verticalStepperForm.get('step1')"
                                  #verticalStepperStep1>
                            <ng-template matStepLabel>Basic information</ng-template>
                            <h6 class="text-secondary my-24">
                                Fill in your basic information to let us know your preferences
                            </h6>
                            <div class="flex">
                                <mat-form-field class="flex-auto">
                                    <input matInput
                                           [formControlName]="'email'"
                                           [placeholder]="'Email Address'"
                                           required>
                                    <mat-icon matPrefix
                                              [svgIcon]="'mail'"></mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="flex flex-col gt-xs:flex-row">
                                <mat-form-field class="flex-auto gt-xs:pr-12">
                                    <mat-select [formControlName]="'country'"
                                                [placeholder]="'Country / Region'"
                                                required>
                                        <mat-option value="country-1">Country 1</mat-option>
                                        <mat-option value="country-2">Country 2</mat-option>
                                        <mat-option value="country-3">Country 3</mat-option>
                                    </mat-select>
                                    <mat-icon matPrefix
                                              [svgIcon]="'room'"></mat-icon>
                                </mat-form-field>
                                <mat-form-field class="flex-auto gt-xs:pl-12">
                                    <mat-select [formControlName]="'language'"
                                                [placeholder]="'Language'"
                                                required>
                                        <mat-option value="language-1">Language 1</mat-option>
                                        <mat-option value="language-2">Language 2</mat-option>
                                        <mat-option value="language-3">Language 3</mat-option>
                                    </mat-select>
                                    <mat-icon matPrefix
                                              [svgIcon]="'language'"></mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="flex justify-end">
                                <button class="px-32"
                                        mat-flat-button
                                        [color]="'primary'"
                                        [disabled]="verticalStepperStep1.stepControl.pristine || verticalStepperStep1.stepControl.invalid"
                                        type="button"
                                        matStepperNext>
                                    Next
                                </button>
                            </div>
                        </mat-step>

                        <mat-step [formGroupName]="'step2'"
                                  [stepControl]="verticalStepperForm.get('step2')"
                                  #verticalStepperStep2>
                            <ng-template matStepLabel>Profile</ng-template>
                            <h6 class="text-secondary my-24">
                                People here will get to know you with this information
                            </h6>
                            <div class="flex flex-col gt-xs:flex-row">
                                <mat-form-field class="flex-auto gt-xs:pr-12">
                                    <input matInput
                                           [formControlName]="'firstName'"
                                           [placeholder]="'First name'"
                                           required>
                                    <mat-icon matPrefix
                                              [svgIcon]="'account_circle'"></mat-icon>
                                </mat-form-field>
                                <mat-form-field class="flex-auto gt-xs:pl-12">
                                    <input matInput
                                           [formControlName]="'lastName'"
                                           [placeholder]="'Last name'"
                                           required>
                                    <mat-icon matPrefix
                                              [svgIcon]="'account_circle'"></mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="flex">
                                <mat-form-field class="flex-auto">
                                    <input matInput
                                           [formControlName]="'userName'"
                                           [placeholder]="'Username'"
                                           required>
                                    <span matPrefix>www.example.com/</span>
                                </mat-form-field>
                            </div>
                            <div class="flex">
                                <mat-form-field class="asm-mat-textarea flex-auto">
                                    <textarea matInput
                                              [formControlName]="'about'"
                                              [placeholder]="'About'"
                                              [rows]="3"></textarea>
                                    <mat-icon matPrefix
                                              [svgIcon]="'notes'"></mat-icon>
                                </mat-form-field>
                            </div>
                            <div class="flex justify-end">
                                <button class="px-32 mr-8"
                                        mat-flat-button
                                        [color]="'accent'"
                                        type="button"
                                        matStepperPrevious>
                                    Back
                                </button>
                                <button class="px-32"
                                        mat-flat-button
                                        [color]="'primary'"
                                        [disabled]="verticalStepperStep2.stepControl.pristine || verticalStepperStep2.stepControl.invalid"
                                        type="button"
                                        matStepperNext>
                                    Next
                                </button>
                            </div>
                        </mat-step>

                        <mat-step [formGroupName]="'step3'"
                                  [stepControl]="verticalStepperForm.get('step3')">
                            <ng-template matStepLabel>Notifications</ng-template>
                            <h6 class="text-secondary my-24">
                                We'll always let you know about important changes, but you pick what else you want to hear about.
                            </h6>
                            <div class="flex flex-col gt-sm:flex-row">
                                <div class="flex flex-col">
                                    <span class="font-medium mb-8">By Email</span>
                                    <div class="flex flex-col"
                                         [formGroupName]="'byEmail'">
                                        <mat-checkbox class="mb-4"
                                                      [color]="'primary'"
                                                      [formControlName]="'companyNews'">
                                            Company News
                                        </mat-checkbox>
                                        <mat-checkbox class="mb-4"
                                                      [color]="'primary'"
                                                      [formControlName]="'featuredProducts'">
                                            Featured Products
                                        </mat-checkbox>
                                        <mat-checkbox [color]="'primary'"
                                                      [formControlName]="'messages'">
                                            Messages
                                        </mat-checkbox>
                                    </div>
                                </div>
                                <div class="flex flex-col mt-32 gt-sm:mt-0 gt-sm:ml-80">
                                    <span class="font-medium mb-8">Push Notifications</span>
                                    <mat-radio-group class="flex flex-col"
                                                     [color]="'primary'"
                                                     [formControlName]="'pushNotifications'">
                                        <mat-radio-button class="mb-8"
                                                          [value]="'everything'">
                                            Everything
                                        </mat-radio-button>
                                        <mat-radio-button class="mb-8"
                                                          [value]="'just-good'">
                                            Just the good stuff
                                        </mat-radio-button>
                                        <mat-radio-button [value]="'no-push'">
                                            No push notifications
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div class="flex justify-end mt-32">
                                <button class="px-32 mr-8"
                                        mat-flat-button
                                        [color]="'accent'"
                                        type="button"
                                        matStepperPrevious>
                                    Back
                                </button>
                                <button class="px-32"
                                        mat-flat-button
                                        [color]="'primary'"
                                        type="button"
                                        matStepperNext>
                                    Next
                                </button>
                            </div>
                        </mat-step>

                        <mat-step>
                            <ng-template matStepLabel>Done</ng-template>
                            <h6 class="my-24">
                                Thank you for completing our form! You can reset the form if you would like to change your information.
                            </h6>
                            <div class="flex justify-end mt-32">
                                <button class="px-32 mr-8"
                                        mat-flat-button
                                        [color]="'accent'"
                                        type="button"
                                        matStepperPrevious>
                                    Back
                                </button>
                                <button class="px-32"
                                        mat-flat-button
                                        [color]="'primary'"
                                        type="reset"
                                        (click)="verticalStepper.reset();">
                                    Reset
                                </button>
                            </div>
                        </mat-step>
                    </mat-vertical-stepper>
                </form>
            </asm-card>

        </div>

    </div>

</div>
