treo-alert {
    display: block;

    /* Common */
    .treo-alert-container {
        position: relative;
        display: flex;
        padding: 16px;
        font-size: 14px;
        line-height: 1;

        /* All icons */
        .mat-icon {
            color: currentColor !important;
        }

        /* Icon */
        .treo-alert-icon {
            display: flex;
            align-items: flex-start;

            .treo-alert-custom-icon,
            .treo-alert-default-icon {
                display: none;
                align-items: center;
                justify-content: center;
                border-radius: 50%;

                &:not(:empty) {
                    display: flex;
                    margin-right: 12px;
                }
            }

            .treo-alert-default-icon {

                .mat-icon {
                    @apply icon-size-5;
                }
            }

            .treo-alert-custom-icon {
                display: none;

                &:not(:empty) {
                    display: flex;

                    + .treo-alert-default-icon {
                        display: none;
                    }
                }
            }
        }

        /* Content */
        .treo-alert-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 1;

            /* Title */
            .treo-alert-title {
                display: none;
                font-weight: 600;
                line-height: 20px;

                &:not(:empty) {
                    display: block;

                    /* Alert that comes after the title */
                    + .treo-alert-message {

                        &:not(:empty) {
                            margin-top: 8px;
                        }
                    }
                }
            }

            /* Alert */
            .treo-alert-message {
                display: none;
                line-height: 20px;

                &:not(:empty) {
                    display: block;
                }
            }
        }

        /* Dismiss button */
        .treo-alert-dismiss-button {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 32px !important;
            min-width: 32px !important;
            height: 32px !important;
            min-height: 32px !important;
            line-height: 32px !important;

            .mat-icon {
                @apply icon-size-4;
            }
        }
    }

    /* Dismissible */
    &.treo-alert-dismissible {

        .treo-alert-container {

            .treo-alert-content {
                margin-right: 32px;
            }
        }
    }

    &:not(.treo-alert-dismissible) {

        .treo-alert-container {

            .treo-alert-dismiss-button {
                display: none !important;
            }
        }
    }

    /* Border */
    &.treo-alert-appearance-border {

        .treo-alert-container {
            overflow: hidden;
            border-left-width: 4px;
            border-radius: 4px;
            @apply shadow-xl bg-card;

            .treo-alert-message {
                @apply text-secondary;
            }
        }

        /* Primary */
        &.treo-alert-type-primary {

            .treo-alert-container {
                @apply border-primary;

                .treo-alert-title,
                .treo-alert-icon {
                    @apply text-primary;
                }
            }
        }

        /* Accent */
        &.treo-alert-type-accent {

            .treo-alert-container {
                @apply border-accent;

                .treo-alert-title,
                .treo-alert-icon {
                    @apply text-accent;
                }
            }
        }

        /* Warn */
        &.treo-alert-type-warn {

            .treo-alert-container {
                @apply border-warn;

                .treo-alert-title,
                .treo-alert-icon {
                    @apply text-warn;
                }
            }
        }

        /* Basic */
        &.treo-alert-type-basic {

            .treo-alert-container {
                @apply border-gray-600;

                .treo-alert-title,
                .treo-alert-icon {
                    @apply text-gray-600;
                }
            }
        }

        /* Info */
        &.treo-alert-type-info {

            .treo-alert-container {
                @apply border-blue-600;

                .treo-alert-title,
                .treo-alert-icon {
                    @apply text-blue-700;
                }
            }
        }

        /* Success */
        &.treo-alert-type-success {

            .treo-alert-container {
                @apply border-green-500;

                .treo-alert-title,
                .treo-alert-icon {
                    @apply text-green-500;
                }
            }
        }

        /* Warning */
        &.treo-alert-type-warning {

            .treo-alert-container {
                @apply border-amber-500;

                .treo-alert-title,
                .treo-alert-icon {
                    @apply text-amber-500;
                }
            }
        }

        /* Error */
        &.treo-alert-type-error {

            .treo-alert-container {
                @apply border-red-600;

                .treo-alert-title,
                .treo-alert-icon {
                    @apply text-red-700;
                }
            }
        }
    }

    /* Fill */
    &.treo-alert-appearance-fill {

        .treo-alert-container {
            border-radius: 4px;
        }

        /* Primary */
        &.treo-alert-type-primary {

            .treo-alert-container {
                @apply bg-primary-500 text-primary-50;

                code {
                    @apply bg-primary-600 text-primary-50;
                }
            }
        }

        /* Accent */
        &.treo-alert-type-accent {

            .treo-alert-container {
                @apply bg-accent-500 text-primary-50;

                code {
                    @apply bg-accent-600 text-accent-50;
                }
            }
        }

        /* Warn */
        &.treo-alert-type-warn {

            .treo-alert-container {
                @apply bg-warn-500 text-warn-50;

                code {
                    @apply bg-warn-800 text-warn-50;
                }
            }
        }

        /* Basic */
        &.treo-alert-type-basic {

            .treo-alert-container {
                @apply bg-gray-500 text-gray-50;

                code {
                    @apply bg-gray-600 text-gray-50;
                }
            }
        }

        /* Info */
        &.treo-alert-type-info {

            .treo-alert-container {
                @apply bg-blue-600 text-blue-50;

                code {
                    @apply bg-blue-800 text-blue-50;
                }
            }
        }

        /* Success */
        &.treo-alert-type-success {

            .treo-alert-container {
                @apply bg-green-500 text-gray-50;

                code {
                    @apply bg-green-600 text-gray-50;
                }
            }
        }

        /* Warning */
        &.treo-alert-type-warning {

            .treo-alert-container {
                @apply bg-amber-500 text-amber-50;

                code {
                    @apply bg-amber-600 text-amber-50;
                }
            }
        }

        /* Error */
        &.treo-alert-type-error {

            .treo-alert-container {
                @apply bg-red-600 text-red-50;

                code {
                    @apply bg-red-800 text-red-50;
                }
            }
        }
    }

    /* Outline */
    &.treo-alert-appearance-outline {

        .treo-alert-container {
            border-radius: 4px;
        }

        /* Primary */
        &.treo-alert-type-primary {

            .treo-alert-container {
                box-shadow: inset 0 0 0 1px var(--primary-400);
                @apply text-primary-800 bg-primary-50;

                .treo-alert-icon {
                    @apply text-primary;
                }

                code {
                    @apply text-primary-800 bg-primary-200;
                }

                .dark & {
                    box-shadow: inset 0 0 0 1px var(--primary-300);
                    background: transparent;
                    @apply text-primary-300;

                    .treo-alert-icon {
                        color: currentColor;
                    }
                }
            }
        }

        /* Accent */
        &.treo-alert-type-accent {

            .treo-alert-container {
                box-shadow: inset 0 0 0 1px var(--accent-400);
                @apply text-accent-800 bg-accent-50;

                .treo-alert-icon {
                    @apply text-accent;
                }

                code {
                    @apply text-accent-800 bg-accent-200;
                }

                .dark & {
                    box-shadow: inset 0 0 0 1px var(--accent-300);
                    background: transparent;
                    @apply text-accent-300;

                    .treo-alert-icon {
                        color: currentColor;
                    }
                }
            }
        }

        /* Warn */
        &.treo-alert-type-warn {

            .treo-alert-container {
                box-shadow: inset 0 0 0 1px var(--warn-400);
                @apply text-warn-800 bg-warn-50;

                .treo-alert-icon {
                    @apply text-warn;
                }

                code {
                    @apply text-warn-800 bg-warn-200;
                }

                .dark & {
                    box-shadow: inset 0 0 0 1px var(--warn-300);
                    background: transparent;
                    @apply text-warn-300;

                    .treo-alert-icon {
                        color: currentColor;
                    }
                }
            }
        }

        /* Basic */
        &.treo-alert-type-basic {

            .treo-alert-container {
                box-shadow: inset 0 0 0 1px theme('colors.gray.400');
                @apply bg-gray-50 text-gray-800;

                .treo-alert-icon {
                    @apply text-gray-500;
                }

                code {
                    @apply bg-gray-200 text-gray-800;
                }

                .dark & {
                    box-shadow: inset 0 0 0 1px theme('colors.gray.300');
                    background: transparent;
                    @apply text-gray-300;

                    .treo-alert-icon {
                        color: currentColor;
                    }
                }
            }
        }

        /* Info */
        &.treo-alert-type-info {

            .treo-alert-container {
                box-shadow: inset 0 0 0 1px theme('colors.blue.400');
                @apply bg-blue-50 text-blue-800;

                .treo-alert-icon {
                    @apply text-blue-500;
                }

                code {
                    @apply bg-blue-200 text-blue-800;
                }

                .dark & {
                    box-shadow: inset 0 0 0 1px theme('colors.blue.300');
                    background: transparent;
                    @apply text-blue-300;

                    .treo-alert-icon {
                        color: currentColor;
                    }
                }
            }
        }

        /* Success */
        &.treo-alert-type-success {

            .treo-alert-container {
                box-shadow: inset 0 0 0 1px theme('colors.green.400');
                @apply bg-green-50 text-green-800;

                .treo-alert-icon {
                    @apply text-green-500;
                }

                code {
                    @apply bg-green-200 text-green-800;
                }

                .dark & {
                    box-shadow: inset 0 0 0 1px theme('colors.green.300');
                    background: transparent;
                    @apply text-green-300;

                    .treo-alert-icon {
                        color: currentColor;
                    }
                }
            }
        }

        /* Warning */
        &.treo-alert-type-warning {

            .treo-alert-container {
                box-shadow: inset 0 0 0 1px theme('colors.yellow.400');
                @apply bg-yellow-50 text-yellow-800;

                .treo-alert-icon {
                    @apply text-yellow-500;
                }

                code {
                    @apply bg-yellow-200 text-yellow-800;
                }

                .dark & {
                    box-shadow: inset 0 0 0 1px theme('colors.yellow.300');
                    background: transparent;
                    @apply text-yellow-300;

                    .treo-alert-icon {
                        color: currentColor;
                    }
                }
            }
        }

        /* Error */
        &.treo-alert-type-error {

            .treo-alert-container {
                box-shadow: inset 0 0 0 1px theme('colors.red.400');
                @apply bg-red-50 text-red-800;

                .treo-alert-icon {
                    @apply text-red-500;
                }

                code {
                    @apply bg-red-200 text-red-800;
                }

                .dark & {
                    box-shadow: inset 0 0 0 1px theme('colors.red.300');
                    background: transparent;
                    @apply text-red-300;

                    .treo-alert-icon {
                        color: currentColor;
                    }
                }
            }
        }
    }

    /* Soft */
    &.treo-alert-appearance-soft {

        .treo-alert-container {
            border-radius: 6px;
        }

        /* Primary */
        &.treo-alert-type-primary {

            .treo-alert-container {
                @apply bg-primary-50;

                .treo-alert-icon {
                    @apply text-primary-400;
                }

                .treo-alert-title {
                    @apply text-primary-800;
                }

                .treo-alert-message {
                    @apply text-primary-700;
                }

                code {
                    @apply text-primary-800 bg-primary-200;
                }

                .dark & {
                    @apply bg-primary-900;

                    .treo-alert-title {
                        @apply text-primary-400;
                    }

                    .treo-alert-message {
                        @apply text-primary-400;
                    }
                }
            }
        }

        /* Accent */
        &.treo-alert-type-accent {

            .treo-alert-container {
                @apply bg-accent-100;

                .treo-alert-icon {
                    @apply text-accent-400;
                }

                .treo-alert-title {
                    @apply text-accent-800;
                }

                .treo-alert-message {
                    @apply text-accent-700;
                }

                code {
                    @apply text-accent-800 bg-accent-200;
                }

                .dark & {
                    @apply bg-accent-900;

                    .treo-alert-title {
                        @apply text-accent-400;
                    }

                    .treo-alert-message {
                        @apply text-accent-400;
                    }
                }
            }
        }

        /* Warn */
        &.treo-alert-type-warn {

            .treo-alert-container {
                @apply bg-warn-50;

                .treo-alert-icon {
                    @apply text-warn-400;
                }

                .treo-alert-title {
                    @apply text-warn-800;
                }

                .treo-alert-message {
                    @apply text-warn-700;
                }

                code {
                    @apply text-warn-800 bg-warn-200;
                }

                .dark & {
                    @apply bg-warn-900;

                    .treo-alert-title {
                        @apply text-warn-400;
                    }

                    .treo-alert-message {
                        @apply text-warn-400;
                    }
                }
            }
        }

        /* Basic */
        &.treo-alert-type-basic {

            .treo-alert-container {
                @apply bg-gray-100;

                .treo-alert-icon {
                    @apply text-gray-400;
                }

                .treo-alert-title {
                    @apply text-gray-800;
                }

                .treo-alert-message {
                    @apply text-gray-700;
                }

                code {
                    @apply bg-gray-200 text-gray-800;
                }

                .dark & {
                    @apply bg-gray-900;

                    .treo-alert-title {
                        @apply text-gray-400;
                    }

                    .treo-alert-message {
                        @apply text-gray-300;
                    }
                }
            }
        }

        /* Info */
        &.treo-alert-type-info {

            .treo-alert-container {
                @apply bg-blue-50;

                .treo-alert-icon {
                    @apply text-blue-400;
                }

                .treo-alert-title {
                    @apply text-blue-800;
                }

                .treo-alert-message {
                    @apply text-blue-700;
                }

                code {
                    @apply bg-blue-200 text-blue-800;
                }

                .dark & {
                    @apply bg-blue-900;

                    .treo-alert-title {
                        @apply text-blue-400;
                    }

                    .treo-alert-message {
                        @apply text-blue-300;
                    }
                }
            }
        }

        /* Success */
        &.treo-alert-type-success {

            .treo-alert-container {
                @apply bg-green-50;

                .treo-alert-icon {
                    @apply text-green-400;
                }

                .treo-alert-title {
                    @apply text-green-800;
                }

                .treo-alert-message {
                    @apply text-green-700;
                }

                code {
                    @apply bg-green-200 text-green-800;
                }

                .dark & {
                    @apply bg-green-900;

                    .treo-alert-title {
                        @apply text-green-400;
                    }

                    .treo-alert-message {
                        @apply text-green-300;
                    }
                }
            }
        }

        /* Warning */
        &.treo-alert-type-warning {

            .treo-alert-container {
                @apply bg-yellow-50;

                .treo-alert-icon {
                    @apply text-yellow-300;
                }

                .treo-alert-title {
                    @apply text-yellow-800;
                }

                .treo-alert-message {
                    @apply text-yellow-700;
                }

                code {
                    @apply bg-yellow-200 text-yellow-800;
                }

                .dark & {
                    @apply bg-yellow-500;

                    .treo-alert-title {
                        @apply text-yellow-300;
                    }

                    .treo-alert-message {
                        @apply text-yellow-200;
                    }
                }
            }
        }

        /* Error */
        &.treo-alert-type-error {

            .treo-alert-container {
                @apply bg-red-50;

                .treo-alert-icon {
                    @apply text-red-400;
                }

                .treo-alert-title {
                    @apply text-red-800;
                }

                .treo-alert-message {
                    @apply text-red-700;
                }

                code {
                    @apply bg-red-200 text-red-800;
                }

                .dark & {
                    @apply bg-red-900;

                    .treo-alert-title {
                        @apply text-red-400;
                    }

                    .treo-alert-message {
                        @apply text-red-300;
                    }
                }
            }
        }
    }
}
