@import "src/@assembly/styles/assembly";

asm-search {
    display: flex;
    background: inherit;

    // Basic appearance
    &.asm-search-appearance-basic {
        width: 100%;
        max-width: 448px;

        .asm-search-container {
            display: flex;
            align-items: center;
            flex: 1 0 auto;
            height: 48px;
            overflow: hidden;

            .asm-search-icon {
                margin-left: 16px;
            }

            .asm-search-input {
                width: 100%;
            }
        }
    }

    // Bar & Fullscreen appearance
    &.asm-search-appearance-bar {

        .asm-search-container {
            position: absolute;
            display: flex;
            align-items: center;
            flex: 1 0 auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: 0 24px;
            background: inherit;

            .asm-search-input {
                flex: 1 0 auto;
                height: 100%;

                .mat-form-field-wrapper {
                    height: 100%;

                    .mat-form-field-flex {
                        height: 100%;
                        padding-right: 40px;

                        // Remove the border
                        .mat-form-field-outline {
                            border: none !important;
                        }
                    }
                }
            }

            .asm-search-toggle-close {
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: -20px;
                min-width: 40px;
                width: 40px;
                min-height: 40px;
                height: 40px;
            }
        }
    }

    // Fullscreen appearance
    &.asm-search-appearance-fullscreen {
        z-index: 99;

        .asm-search-container {
            position: fixed;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex: 1 0 auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 120px 72px 72px 72px;
            z-index: 999;

            .asm-search-input {
                flex: 1 0 auto;
                font-size: 32px;
                font-weight: 300;
                width: 100%;

                .mat-form-field-wrapper {
                    padding: 0 16px 16px 16px;
                    border-bottom: 1px solid;

                    .mat-form-field-flex {
                        padding: 0;

                        .mat-form-field-infix {
                            padding: 0;

                            .mat-input-element {
                                letter-spacing: -0.035em;
                            }
                        }

                        // Remove the border
                        .mat-form-field-outline {
                            border: none !important;
                        }

                        .mat-form-field-prefix {

                            .mat-icon {
                                @include asm-icon-size(32);
                            }
                        }
                    }
                }
            }

            .asm-search-toggle-close {
                position: absolute;
                top: 40px;
                right: 40px;
                min-width: 40px;
                width: 40px;
                min-height: 40px;
                height: 40px;

                .mat-icon {
                    @include asm-icon-size(40);
                }
            }
        }
    }
}

// Search results panel
.asm-search-results {
    max-height: 512px !important;
    margin-top: 12px;
    border-radius: 4px;

    // Fullscreen appearance
    &.asm-search-results-appearance-fullscreen {
        background: none !important;
        box-shadow: none !important;
        margin-top: 32px;
        letter-spacing: -0.035em;

        &:before,
        &:after {
            display: none
        }

        .mat-optgroup {

            .mat-optgroup-label {
                font-size: 15px;
                padding: 0 4px !important;
            }

            .mat-option {
                padding: 0 4px !important;

                .mat-option-text {
                    font-size: 16px;
                }
            }
        }
    }

    &:before,
    &:after {
        content: " ";
        position: absolute;
        width: 0;
        height: 0;
        bottom: 100%;
        left: 30px;
        border: solid transparent;
        pointer-events: none;
    }

    &:before {
        border-width: 9px;
        margin-left: -9px;
    }

    &:after {
        border-width: 8px;
        margin-left: -8px;
    }

    .mat-optgroup {

        &.asm-search-no-results {

            label {
                visibility: hidden;
                opacity: 0;
                height: 0;
                pointer-events: none;
            }

            .mat-option {
                pointer-events: none;
            }
        }

        .mat-option {
            padding: 0 16px !important;
            font-size: 14px;

            .mat-option-text {
                display: flex;
                align-items: center;

                .asm-search-result-image {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 32px;
                    min-width: 32px;
                    max-width: 32px;
                    height: 32px;
                    min-height: 32px;
                    max-height: 32px;
                    margin-right: 12px;
                    border-radius: 50%;
                    overflow: hidden;

                    img {
                    }

                    .mat-icon {
                        margin: 0;
                    }
                }

                .asm-search-result-multiline {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    overflow: hidden;
                    line-height: normal;
                }

                .asm-search-result-title {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .asm-search-result-hint {
                    font-size: 13px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-top: 2px;
                }
            }
        }
    }
}
