<div class="asm-search-container"
     matAutocompleteOrigin
     #matAutocompleteOrigin="matAutocompleteOrigin">

    <mat-form-field appearance="outline"
                    class="asm-search-input asm-mat-rounded asm-mat-no-subscript">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput
               [formControl]="searchControl"
               [placeholder]="placeholder"
               [matAutocomplete]="matAutocomplete"
               [matAutocompleteConnectedTo]="matAutocompleteOrigin">
    </mat-form-field>

    <mat-autocomplete #matAutocomplete="matAutocomplete"
                      [class]="'asm-search-results'">

        <div class="asm-search-results-scroll-container"
             asmScrollbar
             [asmScrollbarOptions]="{wheelPropagation: false, suppressScrollX: true}">

            <mat-optgroup class="asm-search-no-results"
                          *ngIf="results && results.length === 0">
                <mat-option>{{noResultsText}}</mat-option>
            </mat-optgroup>

            <mat-optgroup *ngFor="let group of results"
                          [label]="group.label">

                <mat-option *ngFor="let result of group.results">

                    <ng-template [ngTemplateOutlet]="resultTemplate"
                                 [ngTemplateOutletContext]="{$implicit: result}"></ng-template>

                </mat-option>

            </mat-optgroup>

        </div>

    </mat-autocomplete>

</div>

