<div class="content-layout fullwidth-standard">

    <!-- Header -->
    <div class="header">

        <div class="breadcrumb">
            <span class="path">CONTENT LAYOUTS</span>
            <span class="separator">/</span>
            <span class="path">FULLWIDTH</span>
            <span class="separator">/</span>
            <span class="path current">STANDARD</span>
        </div>
        <h1>Fullwidth standard layout</h1>

    </div>

    <!-- Main -->
    <div class="main">

        <!-- Demo content -->
        <asm-demo-content></asm-demo-content>

    </div>

</div>
