// -----------------------------------------------------------------------------------------------------
// @ Custom color maps for Assembly
// -----------------------------------------------------------------------------------------------------
$asm-white: (
    500: white,
    contrast: (
        500: $asm-dark-primary-text
    )
);

$asm-black: (
    500: black,
    contrast: (
        500: $asm-light-primary-text,
    )
);

$asm-navy: (
    50: #E6E6E9,
    100: #BFC2C8,
    200: #9599A3,
    300: #6B707E,
    400: #4B5162,
    500: #2B3246,
    600: #262D3F,
    700: #202637,
    800: #1A1F2F,
    900: #101320,
    A100: #637DFF,
    A200: #3052FF,
    A400: #002AFC,
    A700: #0026E2,
    contrast: (
        50: $asm-dark-primary-text,
        100: $asm-dark-primary-text,
        200: $asm-dark-primary-text,
        300: $asm-light-primary-text,
        400: $asm-light-primary-text,
        500: $asm-light-primary-text,
        600: $asm-light-primary-text,
        700: $asm-light-primary-text,
        800: $asm-light-primary-text,
        900: $asm-light-primary-text,
        A100: $asm-dark-primary-text,
        A200: $asm-light-primary-text,
        A400: $asm-light-primary-text,
        A700: $asm-light-primary-text,
    )
);

// Generate Assembly color classes for custom palettes
$custom_palettes: (
    asm-white: $asm-white,
    asm-black: $asm-black,
    asm-navy: $asm-navy
);

@include asm-color-classes($custom_palettes);

// -----------------------------------------------------------------------------------------------------
// @ Typography
// -----------------------------------------------------------------------------------------------------

// Angular Material typography
$typography: mat-typography-config(
    $font-family: 'Muli, Helvetica Neue, Arial, sans-serif',
    $title: mat-typography-level(20px, 32px, 600),
    $body-2: mat-typography-level(14px, 24px, 600),
    $button: mat-typography-level(14px, 14px, 600)
);

// Setup the typography
@include angular-material-typography($typography);

// -----------------------------------------------------------------------------------------------------
// @ Component theming
// -----------------------------------------------------------------------------------------------------

// Import app and page component themes here to enable theming for them
@import 'core/layouts/app/basic/basic.theme';
@import 'core/layouts/app/classic/classic.theme';
@import 'core/layouts/app/classy/classy.theme';
@import 'core/layouts/app/compact/compact.theme';
@import 'core/layouts/app/dense/dense.theme';
@import 'core/layouts/app/thin/thin.theme';
@import 'core/layouts/app/thin-light/thin-light.theme';

@import 'modules/apps/mailbox/mailbox.theme';
@import 'modules/apps/tasks/tasks.theme';

@import 'src/app/modules/docs/docs.theme';
@import 'src/app/modules/ui/icons/icons.theme';

// Define a mixin for easier access
@mixin components-theme($theme) {

    // Layouts
    @include basic-layout-theme($theme);
    @include classic-layout-theme($theme);
    @include classy-layout-theme($theme);
    @include compact-layout-theme($theme);
    @include dense-layout-theme($theme);
    @include thin-layout-theme($theme);
    @include thin-light-layout-theme($theme);

    // Apps
    @include mailbox-theme($theme);
    @include tasks-theme($theme);

    // Components
    @include docs-theme($theme);
    @include icons-theme($theme);
}

// -----------------------------------------------------------------------------------------------------
// @ Default theme
// -----------------------------------------------------------------------------------------------------

// Define the primary, accent and warn palettes
$default-primary-palette: mat-palette($mat-indigo, A700);
$default-accent-palette: mat-palette($asm-navy);
$default-warn-palette: mat-palette($mat-red);

// Create the Angular Material theme object
$default-theme: mat-light-theme($default-primary-palette, $default-accent-palette, $default-warn-palette);

// Adjust the Angular Material theme object to have smoother blacks
$default-theme: asm-adjust-angular-material-theme($default-theme);

// Add ".asm-theme-default" class to the body to activate this theme.
// Class name must start with "asm-theme-" !!!
body.asm-theme-default {

    // Create an Angular Material theme from the theme map
    @include angular-material-theme($default-theme);

    // Apply the theme to the Assembly Core
    @include asm-core-theme($default-theme);

    // Apply the theme to the user components
    @include components-theme($default-theme);

    // Generate Assembly color classes for primary, accent and warn colors
    $palettes: (
        primary: $default-primary-palette,
        accent: $default-accent-palette,
        warn: $default-warn-palette
    );

    @include asm-color-classes($palettes);
}

// -----------------------------------------------------------------------------------------------------
// @ Blue theme
// -----------------------------------------------------------------------------------------------------

$blue-primary-palette: mat-palette($mat-blue);
$blue-accent-palette: mat-palette($asm-navy);
$blue-warn-palette: mat-palette($mat-red);
$blue-theme: mat-light-theme($blue-primary-palette, $blue-accent-palette, $blue-warn-palette);
$blue-theme: asm-adjust-angular-material-theme($blue-theme);

body.asm-theme-blue {

    @include angular-material-theme($blue-theme);
    @include asm-core-theme($blue-theme);
    @include components-theme($blue-theme);

    $blue-palettes: (
        primary: $blue-primary-palette,
        accent: $blue-accent-palette,
        warn: $blue-warn-palette
    );

    @include asm-color-classes($blue-palettes);
}

// -----------------------------------------------------------------------------------------------------
// @ Blue-Grey theme
// -----------------------------------------------------------------------------------------------------

$blue-grey-primary-palette: mat-palette($mat-blue-grey);
$blue-grey-accent-palette: mat-palette($asm-navy);
$blue-grey-warn-palette: mat-palette($mat-red);
$blue-grey-theme: mat-dark-theme($blue-grey-primary-palette, $blue-grey-accent-palette, $blue-grey-warn-palette);
$blue-grey-theme: asm-adjust-angular-material-theme($blue-grey-theme);

body.asm-theme-blue-grey {

    @include angular-material-theme($blue-grey-theme);
    @include asm-core-theme($blue-grey-theme);
    @include components-theme($blue-grey-theme);

    $blue-grey-palettes: (
        primary: $blue-grey-primary-palette,
        accent: $blue-grey-accent-palette,
        warn: $blue-grey-warn-palette
    );

    @include asm-color-classes($blue-grey-palettes);
}
