@import 'src/@assembly/styles/assembly';

:host {

    .footer-content {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: start;
        width: 100%;
        height: 80px;
        max-height: 80px;
        min-height: 80px;
        padding: 0 24px;
    }
}
