@import 'assembly';

calendar-confirmation {
    display: flex;
    width: 320px;
    min-width: 320px;
    max-width: 320px;
    padding: 32px 24px 24px 24px;
    border-radius: 8px;
    @include asm-elevation(5);

    form {
        display: flex;
        flex-direction: column;
        width: 100%;

        h4 {
            margin: 0 0 32px 0;
        }

        .mat-radio-group {
            margin-bottom: 16px;

            .mat-radio-button {
                width: 100%;
                margin-bottom: 12px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .actions {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
}

.calendar-event-confirmation-dialog {

    .mat-dialog-container {
        padding: 0 !important;
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-theme {

}
