<ng-container *ngIf="!item.hidden">

    <div class="asm-navigation-item"
         (click)="toggleCollapsable()">

        <mat-icon *ngIf="item.icon"
                  class="asm-navigation-item-icon s-16">
            {{item.icon}}
        </mat-icon>

        <div class="asm-navigation-item-title">
            {{item.title}}
        </div>

        <div *ngIf="item.badge"
             class="asm-navigation-item-badge"
             [ngStyle]="{'background-color': item.badge.background, 'color': item.badge.color}">
            {{item.badge.title}}
        </div>

        <mat-icon class="asm-navigation-item-arrow s-16">keyboard_arrow_down</mat-icon>

    </div>

    <div class="asm-navigation-item-children"
         *ngIf="!isCollapsed"
         @expandCollapse>

        <ng-container *ngFor="let item of item.children">

            <!-- Group -->
            <asm-navigation-group-item *ngIf="item.type === 'group'"
                                       [item]="item"></asm-navigation-group-item>

            <!-- Collapsable -->
            <asm-navigation-collapsable-item *ngIf="item.type === 'collapsable'"
                                             [item]="item"></asm-navigation-collapsable-item>

            <!-- Basic -->
            <asm-navigation-basic-item *ngIf="item.type === 'item'"
                                       [item]="item"></asm-navigation-basic-item>

        </ng-container>

    </div>

</ng-container>
