<ng-container *ngIf="!item.hidden">

    <div class="asm-navigation-item-wrapper"
         [class.asm-navigation-item-has-subtitle]="!!item.subtitle"
         [ngClass]="item.classes"
         [matTooltip]="item.title"
         [matTooltipPosition]="'right'"
         [matTooltipDisabled]="!showTooltips">

        <div class="asm-navigation-item"
             (click)="toggleCollapsable()">

            <!-- Icon -->
            <mat-icon class="asm-navigation-item-icon"
                      [ngClass]="item.iconClassNames"
                      *ngIf="item.icon"
                      [svgIcon]="item.icon"></mat-icon>

            <!-- Title & Subtitle -->
            <div class="asm-navigation-item-title-wrapper">

                <div class="asm-navigation-item-title">{{item.title}}</div>

                <div class="asm-navigation-item-subtitle text-hint"
                     *ngIf="item.subtitle">
                    {{item.subtitle}}
                </div>

            </div>

            <!-- Badge -->
            <div class="asm-navigation-item-badge"
                 *ngIf="item.badge">

                <div class="asm-navigation-item-badge-content"
                     [ngClass]="[(item.badge.style != undefined ? 'asm-navigation-item-badge-style-' + item.badge.style : ''),
                             (item.badge.background != undefined && !item.badge.background.startsWith('#') ? item.badge.background : ''),
                             (item.badge.color != undefined && !item.badge.color.startsWith('#') ? item.badge.color : '')]"
                     [ngStyle]="{'background-color': item.badge.background, 'color': item.badge.color}">
                    {{item.badge.title}}
                </div>

                <div class="asm-navigation-item-badge-indicator"
                     [ngStyle]="{'background-color': item.badge.style === 'simple' ? item.badge.color : item.badge.background}">
                </div>

            </div>

            <!-- Arrow -->
            <mat-icon class="asm-navigation-item-arrow text-secondary icon-size-16"
                      [svgIcon]="'keyboard_arrow_down'"></mat-icon>

        </div>

    </div>

    <div class="asm-navigation-item-children"
         *ngIf="!isCollapsed"
         @expandCollapse>

        <ng-container *ngFor="let item of item.children; trackBy: trackById">

            <!-- Basic -->
            <asm-navigation-basic-item *ngIf="item.type === 'basic'"
                                       [item]="item"
                                       [name]="name"></asm-navigation-basic-item>

            <!-- Collapsable -->
            <asm-navigation-collapsable-item *ngIf="item.type === 'collapsable'"
                                             [item]="item"
                                             [name]="name"></asm-navigation-collapsable-item>

            <!-- Divider -->
            <asm-navigation-divider-item *ngIf="item.type === 'divider'"
                                         [item]="item"
                                         [name]="name"></asm-navigation-divider-item>

            <!-- Subheader -->
            <asm-navigation-subheader-item *ngIf="item.type === 'subheader'"
                                           [item]="item"
                                           [name]="name"></asm-navigation-subheader-item>

        </ng-container>

    </div>

</ng-container>
