<div class="flex flex-col w-full">

    <div class="flex flex-row">

        <!-- Last payment -->
        <div class="flex flex-row w-1/2 pr-16">
            <div class="flex flex-col flex-auto p-24 bg-card rounded-4 border-l-4 shadow-md"
                 [ngClass]="{'border-green': data.lastPayment.status === 'paid', 'border-orange': data.lastPayment.status === 'pending'}">
                <div class="flex flex-row items-baseline">
                    <div class="font-bold text-md text-secondary uppercase tracking-wider mr-16">Last Payment</div>
                    <div class="font-medium text-sm"
                         [ngClass]="{'text-green': data.lastPayment.status === 'paid', 'text-orange': data.lastPayment.status === 'pending'}">
                        {{data.lastPayment.date}}
                    </div>
                </div>
                <div class="flex flex-row justify-between mt-16">
                    <div class="flex flex-col mr-8">
                        <div class="font-semibold text-3xl">{{data.lastPayment.products}}</div>
                        <div class="font-medium text-sm text-hint leading-none mt-4">Products Cost</div>
                    </div>
                    <div class="flex flex-col mx-8">
                        <div class="font-semibold text-3xl">{{data.lastPayment.shipping}}</div>
                        <div class="font-medium text-sm text-hint leading-none mt-4">Shipping Cost</div>
                    </div>
                    <div class="flex flex-col ml-8">
                        <div class="font-semibold text-3xl">{{data.lastPayment.total}}</div>
                        <div class="font-medium text-sm text-hint leading-none mt-4">Total Cost</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Next payment -->
        <div class="flex flex-row w-1/2 pl-16">
            <div class="flex flex-col flex-auto p-24 bg-card rounded-4 border-l-4 shadow-md"
                 [ngClass]="{'border-green': data.nextPayment.status === 'paid', 'border-orange': data.nextPayment.status === 'pending'}">
                <div class="flex flex-row items-baseline">
                    <div class="font-bold text-md text-secondary uppercase tracking-wider mr-16">Next Payment</div>
                    <div class="font-medium text-sm"
                         [ngClass]="{'text-green': data.nextPayment.status === 'paid', 'text-orange': data.nextPayment.status === 'pending'}">
                        {{data.nextPayment.date}}
                    </div>
                </div>
                <div class="flex flex-row justify-between mt-16">
                    <div class="flex flex-col mr-8">
                        <div class="font-semibold text-3xl">{{data.nextPayment.products}}</div>
                        <div class="font-medium text-sm text-hint leading-none mt-4">Products Cost</div>
                    </div>
                    <div class="flex flex-col mx-8">
                        <div class="font-semibold text-3xl">{{data.nextPayment.shipping}}</div>
                        <div class="font-medium text-sm text-hint leading-none mt-4">Shipping Cost</div>
                    </div>
                    <div class="flex flex-col ml-8">
                        <div class="font-semibold text-3xl">{{data.nextPayment.total}}</div>
                        <div class="font-medium text-sm text-hint leading-none mt-4">Total Cost</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="flex flex-row mt-32">

        <div class="flex w-1/4 pr-16">

            <!-- Total orders -->
            <div class="flex flex-col bg-card shadow-md rounded-4">
                <div class="flex flex-col p-24 pb-0">
                    <div class="flex items-center justify-between">
                        <div class="font-bold text-md text-secondary uppercase tracking-wider">Total Orders</div>
                        <div class="font-medium text-sm text-hint">30 days</div>
                    </div>
                    <div class="font-semibold text-6xl mt-16">{{data.totalOrders.amount}}</div>
                    <div class="flex items-center">
                        <mat-icon class="mr-4 text-green"
                                  [svgIcon]="'trending_up'"></mat-icon>
                        <div class="font-medium text-sm text-secondary leading-none">
                            <span class="text-green">24%</span>
                            more orders
                        </div>
                    </div>
                </div>
                <div class="flex flex-auto">
                    <apx-chart class="w-full h-200"
                               [chart]="totalOrdersChart.chart"
                               [series]="totalOrdersChart.series"
                               [xaxis]="totalOrdersChart.xaxis"
                               #totalProductsChartComponent></apx-chart>
                </div>
            </div>

        </div>

        <div class="flex w-3/4 pl-16">

            <!-- Total revenue -->
            <div class="flex flex-col flex-auto bg-card shadow-md rounded-4">
                <div class="flex flex-col p-24 pb-4">
                    <div class="flex items-center justify-between">
                        <div class="font-bold text-md text-secondary uppercase tracking-wider mr-16">Total Revenue</div>
                        <div class="font-medium text-sm text-hint">{{data.totalRevenue.start}} - {{data.totalRevenue.end}}</div>
                    </div>
                    <div class="font-semibold text-3xl mt-16">{{data.totalRevenue.amount}}</div>
                </div>
                <div class="flex flex-auto px-12 pb-4">
                    <apx-chart class="w-full h-240"
                               [chart]="totalRevenueChart.chart"
                               [dataLabels]="totalRevenueChart.dataLabels"
                               [grid]="totalRevenueChart.grid"
                               [series]="totalRevenueChart.series"
                               [tooltip]="totalRevenueChart.tooltip"
                               [xaxis]="totalRevenueChart.xaxis"
                               [yaxis]="totalRevenueChart.yaxis"
                               #totalRevenueChartComponent></apx-chart>
                </div>
            </div>

        </div>

    </div>

    <div class="flex flex-auto mt-32 bg-card shadow-md rounded-4 overflow-hidden">

        <!-- Recent orders -->
        <table class="w-full"
               mat-table
               matSort
               [dataSource]="recentOrdersDataSource"
               [trackBy]="trackById"
               #recentOrdersTable>

            <!-- Order ID -->
            <ng-container matColumnDef="orderId">
                <th mat-header-cell
                    mat-sort-header
                    *matHeaderCellDef>
                    Order ID
                </th>
                <td mat-cell
                    *matCellDef="let order">
                    <span class="font-medium text-sm text-secondary">
                        {{order.orderId}}
                    </span>
                </td>
            </ng-container>

            <!-- Date -->
            <ng-container matColumnDef="date">
                <th mat-header-cell
                    mat-sort-header
                    *matHeaderCellDef>
                    Date
                </th>
                <td mat-cell
                    *matCellDef="let order">
                    {{order.date | date:'MMM dd, y'}}
                </td>
            </ng-container>

            <!-- Customer -->
            <ng-container matColumnDef="customer">
                <th mat-header-cell
                    mat-sort-header
                    *matHeaderCellDef>
                    Customer
                </th>
                <td mat-cell
                    *matCellDef="let order">
                    {{order.customer}}
                </td>
            </ng-container>

            <!-- Product -->
            <ng-container matColumnDef="product">
                <th mat-header-cell
                    mat-sort-header
                    *matHeaderCellDef>
                    Product
                </th>
                <td mat-cell
                    *matCellDef="let order">
                    {{order.product}}
                </td>
            </ng-container>

            <!-- Amount -->
            <ng-container matColumnDef="amount">
                <th mat-header-cell
                    mat-sort-header
                    *matHeaderCellDef>
                    Amount
                </th>
                <td mat-cell
                    *matCellDef="let order">
                    <span class="font-medium pr-24">
                        {{order.amount | currency}}
                    </span>
                </td>
            </ng-container>

            <!-- Status -->
            <ng-container matColumnDef="status">
                <th mat-header-cell
                    mat-sort-header
                    *matHeaderCellDef>
                    Status
                </th>
                <td mat-cell
                    *matCellDef="let order">
                    <span class="inline-flex items-center font-bold text-xs px-8 py-2 rounded-full tracking-wide uppercase"
                          [ngClass]="{'red-200': order.status === 'pending',
                                      'blue-200': order.status === 'paid',
                                      'purple-200': order.status === 'confirmed',
                                      'teal-200': order.status === 'shipped',
                                      'green-200': order.status === 'delivered'}">
                        <span class="w-8 h-8 rounded-full mr-8"
                              [ngClass]="{'bg-red': order.status === 'pending',
                                      'bg-blue': order.status === 'paid',
                                      'bg-purple': order.status === 'confirmed',
                                      'bg-teal': order.status === 'shipped',
                                      'bg-green': order.status === 'delivered'}"></span>
                        <span class="leading-relaxed pr-2">{{order.status}}</span>
                    </span>
                </td>
            </ng-container>

            <!-- Disclaimer column -->
            <ng-container matColumnDef="recentOrdersTableFooter">
                <td class="px-12"
                    mat-footer-cell
                    *matFooterCellDef
                    colspan="6">
                    <button mat-button
                            [color]="'primary'">
                        Show more orders
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row
                *matHeaderRowDef="recentOrdersTableColumns"></tr>
            <tr class="order-row h-64"
                mat-row
                *matRowDef="let row; columns: recentOrdersTableColumns;"></tr>
            <tr class="h-64" mat-footer-row
                *matFooterRowDef="['recentOrdersTableFooter']"></tr>

        </table>

    </div>

</div>
