<div class="content-layout with-centered-content">

    <!-- Card -->
    <div class="card auth modern">

        <!-- Form container -->
        <div class="form-container">

            <!-- Logo -->
            <div class="logo">
                <img class="logo-dark"
                     src="assets/images/logo/logo-dark.svg">
                <img class="logo-light"
                     src="assets/images/logo/logo-light.svg">
            </div>

            <!-- Title -->
            <div class="title-2 mt-64">Reset your password</div>
            <div class="subtitle mt-8 secondary-text">Fill the form to get a new one</div>

            <!-- Message box -->
            <asm-message class="mt-48"
                         *ngIf="messageBox"
                         [appearance]="'solid'"
                         [type]="messageBox.type"
                         [@shake]="messageBoxAnimationState">
                <div asmMessageContent>{{messageBox.message}}</div>
            </asm-message>

            <!-- Reset password form -->
            <form class="mt-40"
                  [formGroup]="resetPasswordForm"
                  novalidate>

                <!-- Password field -->
                <mat-form-field class="w-full"
                                [appearance]="'standard'">
                    <mat-label>Password</mat-label>
                    <input id="password"
                           matInput
                           type="password"
                           [formControlName]="'password'"
                           #passwordField>
                    <button class="w-24 h-24"
                            mat-icon-button
                            (mousedown)="passwordField.type = 'text'"
                            (mouseup)="passwordField.type = 'password'"
                            [disableRipple]="true"
                            tabindex="-1"
                            matSuffix>
                        <mat-icon *ngIf="passwordField.type === 'password'">visibility_on</mat-icon>
                        <mat-icon *ngIf="passwordField.type === 'text'">visibility_off</mat-icon>
                    </button>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <!-- Password confirm field -->
                <mat-form-field class="w-full"
                                [appearance]="'standard'">
                    <mat-label>Password (Confirm)</mat-label>
                    <input id="password-confirm"
                           matInput
                           type="password"
                           [formControlName]="'passwordConfirm'"
                           #passwordConfirmField>
                    <button class="w-24 h-24"
                            mat-icon-button
                            (mousedown)="passwordConfirmField.type = 'text'"
                            (mouseup)="passwordConfirmField.type = 'password'"
                            [disableRipple]="true"
                            tabindex="-1"
                            matSuffix>
                        <mat-icon *ngIf="passwordConfirmField.type === 'password'">visibility_on</mat-icon>
                        <mat-icon *ngIf="passwordConfirmField.type === 'text'">visibility_off</mat-icon>
                    </button>
                    <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        Passwords must match
                    </mat-error>
                </mat-form-field>

                <!-- Reset your password button -->
                <button class="asm-mat-button-large mt-48 w-full"
                        mat-raised-button
                        [color]="'primary'"
                        [disabled]="resetPasswordForm.disabled || resetPasswordForm.invalid">
                    <span *ngIf="!resetPasswordForm.disabled">
                        Reset Your Password
                    </span>
                    <span *ngIf="resetPasswordForm.disabled">
                        <asm-spinner [appearance]="'material'"
                                     [diameter]="24"></asm-spinner>
                    </span>
                </button>

                <!-- Login link -->
                <div class="mt-24 w-full text-center">
                    <span class="mr-4">Back to</span>
                    <a class="link"
                       [routerLink]="['/login']">login</a>.
                </div>

            </form>

        </div>

        <!-- Content container -->
        <div class="content-container"></div>

    </div>

</div>
