<div class="content-layout fullwidth-basic-normal-scroll">

    <!-- Card -->
    <asm-card class="modern">

        <!-- Form area -->
        <div class="form">

            <!-- Logo -->
            <div class="logo">
                <img class="logo-dark"
                     src="assets/images/logo/logo-dark.svg">
                <img class="logo-light"
                     src="assets/images/logo/logo-light.svg">
            </div>

            <!-- Title -->
            <h3>Reset your password</h3>
            <h6>Fill the form to get a new one</h6>

            <!-- Message -->
            <asm-message *ngIf="message"
                         [type]="message.type"
                         @shake>
                {{message.content}}
            </asm-message>

            <!-- Reset password form -->
            <form [formGroup]="resetPasswordForm">

                <!-- Password field -->
                <mat-form-field class="password-field">
                    <mat-label>Password</mat-label>
                    <input id="password"
                           matInput
                           type="password"
                           [formControlName]="'password'"
                           #passwordField>
                    <button mat-icon-button
                            (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                            tabindex="-1"
                            matSuffix>
                        <mat-icon *ngIf="passwordField.type === 'password'"
                                  [svgIcon]="'visibility'"></mat-icon>
                        <mat-icon *ngIf="passwordField.type === 'text'"
                                  [svgIcon]="'visibility_off'"></mat-icon>
                    </button>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <!-- Password confirm field -->
                <mat-form-field class="password-confirm-field">
                    <mat-label>Password (Confirm)</mat-label>
                    <input id="password-confirm"
                           matInput
                           type="password"
                           [formControlName]="'passwordConfirm'"
                           #passwordConfirmField>
                    <button mat-icon-button
                            (click)="passwordConfirmField.type === 'password' ? passwordConfirmField.type = 'text' : passwordConfirmField.type = 'password'"
                            tabindex="-1"
                            matSuffix>
                        <mat-icon *ngIf="passwordConfirmField.type === 'password'"
                                  [svgIcon]="'visibility'"></mat-icon>
                        <mat-icon *ngIf="passwordConfirmField.type === 'text'"
                                  [svgIcon]="'visibility_off'"></mat-icon>
                    </button>
                    <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        Passwords must match
                    </mat-error>
                </mat-form-field>

                <!-- Submit button -->
                <button class="submit-button asm-mat-button-large"
                        mat-raised-button
                        [color]="'primary'"
                        [disabled]="resetPasswordForm.disabled || resetPasswordForm.invalid">
                    <span *ngIf="!resetPasswordForm.disabled">
                        Reset Your Password
                    </span>
                    <asm-spinner *ngIf="resetPasswordForm.disabled"
                                 [appearance]="'material'"
                                 [diameter]="24"></asm-spinner>
                </button>

                <!-- Footer link -->
                <div class="footer-link">
                    <span>Back to</span>
                    <a class="link"
                       [routerLink]="['/login']">login</a>
                </div>

            </form>

        </div>

        <!-- Content area -->
        <div class="content"></div>

    </asm-card>

</div>
