<div class="w-3/4">
  <mat-accordion *ngIf="listaDeproductos | async as productos; else loading">
    <mat-expansion-panel *ngFor="let item of productos">
      <mat-expansion-panel-header [collapsedHeight]="'56px'">
        <mat-panel-title>{{ item.marca }}</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-tab-group animationDuration="0ms">
        <!-- Perros -->
        <mat-tab label="Perro">
          <li *ngFor="let perro of item.productos.perro">
            <div class="flex flex-1 space-x-2 items-center">
              <div class="flex-grow max-w-60">
                <p>{{ perro.producto }}</p>
              </div>
              <div class="flex-shrink">
                <div class="flex flex-col pt-4 w-40">
                  <mat-form-field class="select-none">
                    <input
                      (keyup.enter)="saveProduct(cantidad.value, perro)"
                      (keyup.enter)="cantidad.value = ''"
                      class="w-full"
                      type="number"
                      matInput
                      placeholder="Cantidad"
                      #cantidad
                      autocomplete="off"
                    />

                    <button
                      (click)="saveProduct(cantidad.value, perro)"
                      (click)="cantidad.value = ''"
                      mat-icon-button
                      class="green-300"
                    >
                      <mat-icon svgIcon="heroicons_outline:plus-sm"></mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </li>
        </mat-tab>
        <!-- Gatos -->
        <mat-tab *ngIf="item.productos.gato.length != 0" label="Gato">
          <li *ngFor="let gato of item.productos.gato">
            <div class="flex flex-1 space-x-2 items-center">
              <div class="flex-grow max-w-60">
                <p>{{ gato.producto }}</p>
              </div>
              <div class="flex-shrink">
                <div class="flex flex-col pt-4 w-40">
                  <mat-form-field class="select-none">
                    <input
                      (keyup.enter)="saveProduct(cantidad.value, gato)"
                      (keyup.enter)="cantidad.value = ''"
                      class="w-full"
                      type="number"
                      matInput
                      placeholder="Cantidad"
                      #cantidad
                      autocomplete="off"
                    />

                    <button
                      (click)="saveProduct(cantidad.value, gato)"
                      (click)="cantidad.value = ''"
                      mat-icon-button
                      class="green-300"
                    >
                      <mat-icon svgIcon="heroicons_outline:plus-sm"></mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </li>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-accordion>

  <ng-template #loading>
    <!-- <mat-progress-bar color="primary" mode="query"></mat-progress-bar> -->
    <p class="text-center text-lg text-indigo-500 bg-indigo-100 p-1">
      Cargando los Productos Por Favor Espere
    </p>
  </ng-template>
</div>
