@mixin classy-layout-theme($theme) {

    $background: map-get($theme, background);

    layout[type="classy"] {

        .navigation {

            .asm-navigation-wrapper {
                background: radial-gradient(circle at top left, #44505D 0%, #272F38 50%) !important;

                .asm-navigation-header {

                    .logo {
                        background-color: rgba(0, 0, 0, 0.12);
                    }
                }

                .asm-navigation-content {

                    .asm-navigation-content-top {

                        .user {

                            .user-image {
                                border-color: rgba(255, 255, 255, 0.12);
                            }
                        }
                    }
                }
            }

            .asm-navigation-aside-wrapper {
                background: radial-gradient(circle at top right, #44505D 0%, #272F38 50%) !important;
            }
        }
    }
}
