@import 'assembly';

error-500 {
    display: flex;
    padding: 32px;

    .image {
        max-width: 640px;
        width: 100%;
    }

    .title {
        @extend %title-xl;
        margin-top: 64px;
        text-align: center;
    }

    .subtitle {
        @extend %title-xs;
        margin-top: 12px;
        text-align: center;
    }

    .link {
        margin-top: 48px;
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-angular-material-theme {

    $foreground: map-get($theme, foreground);

    error-500 {

        .subtitle {
            color: map-get($foreground, secondary-text);
        }
    }
}
