<div class="content-layout with-direction-column with-centered-content">

    <!-- Card style selector - Remove this in production -->
    <mat-form-field class="mb-32"
                    [appearance]="'outline'">
        <mat-label>Card style</mat-label>
        <mat-select [value]="'classic'"
                    #cardStyle>
            <mat-option [value]="'classic'">Classic</mat-option>
            <mat-option [value]="'modern'">Modern</mat-option>
            <mat-option [value]="'modern-relaxed'">Modern Relaxed</mat-option>
            <mat-option [value]="'modern flipped'">Modern (Flipped)</mat-option>
            <mat-option [value]="'modern-relaxed flipped'">Modern Relaxed (Flipped)</mat-option>
        </mat-select>
    </mat-form-field>
    <!-- / Card style selector -->

    <!-- Card - Can be 'classic', 'modern', 'modern-relaxed', 'modern flipped', 'modern-relaxed flipped' -->
    <asm-card [ngClass]="cardStyle.value">

        <!-- Primary content area -->
        <div class="primary-content">

            <!-- Logo -->
            <div class="logo">
                <img class="logo-dark"
                     src="assets/images/logo/logo-dark.svg">
                <img class="logo-light"
                     src="assets/images/logo/logo-light.svg">
            </div>

            <!-- Title -->
            <div class="title">Reset your password</div>
            <div class="subtitle text-secondary">Fill the form to get a new one</div>

            <!-- Message -->
            <asm-message *ngIf="message"
                         [type]="message.type"
                         @shake>
                {{message.content}}
            </asm-message>

            <!-- Reset password form -->
            <form [formGroup]="resetPasswordForm"
                  novalidate>

                <!-- Password field -->
                <mat-form-field class="password-field"
                                [appearance]="'standard'">
                    <mat-label>Password</mat-label>
                    <input id="password"
                           matInput
                           type="password"
                           [formControlName]="'password'"
                           #passwordField>
                    <button mat-icon-button
                            (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                            tabindex="-1"
                            matSuffix>
                        <mat-icon *ngIf="passwordField.type === 'password'">visibility_on</mat-icon>
                        <mat-icon *ngIf="passwordField.type === 'text'">visibility_off</mat-icon>
                    </button>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <!-- Password confirm field -->
                <mat-form-field class="password-confirm-field"
                                [appearance]="'standard'">
                    <mat-label>Password (Confirm)</mat-label>
                    <input id="password-confirm"
                           matInput
                           type="password"
                           [formControlName]="'passwordConfirm'"
                           #passwordConfirmField>
                    <button mat-icon-button
                            (click)="passwordConfirmField.type === 'password' ? passwordConfirmField.type = 'text' : passwordConfirmField.type = 'password'"
                            tabindex="-1"
                            matSuffix>
                        <mat-icon *ngIf="passwordConfirmField.type === 'password'">visibility_on</mat-icon>
                        <mat-icon *ngIf="passwordConfirmField.type === 'text'">visibility_off</mat-icon>
                    </button>
                    <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        Passwords must match
                    </mat-error>
                </mat-form-field>

                <!-- Reset password button -->
                <button class="reset-password-button asm-mat-button-large"
                        mat-raised-button
                        [color]="'primary'"
                        [disabled]="resetPasswordForm.disabled || resetPasswordForm.invalid">
                    <span *ngIf="!resetPasswordForm.disabled">
                        Reset Your Password
                    </span>
                    <asm-spinner *ngIf="resetPasswordForm.disabled"
                                 [appearance]="'material'"
                                 [diameter]="24"></asm-spinner>
                </button>

                <!-- Login link -->
                <div class="login-link">
                    <span class="text-secondary">Go to</span>
                    <a class="link"
                       [routerLink]="['/pages/authentication/login']">login</a>
                </div>

            </form>

        </div>

        <!-- Secondary content area -->
        <div class="secondary-content"></div>

    </asm-card>

</div>
