<!-- Demo content -->
<asm-demo-content>

    <h1 class="mt-0">Fifth Tab Content</h1>
    <p>
        <em>Tabbed nav layout</em> features a tab-like navigation that works with <code>Router</code>. Clicking on a tab
        will trigger a route change and the active tab will also change accordingly. Watch the browser's url bar as you
        click on the tabs to see it in action. Manually navigating to the url also works.
    </p>
    <p>
        This type of layout is especially useful if you need a tab-like sub navigation within your page/app without having
        to put everything into single component like normal tabs.
    </p>

</asm-demo-content>
