treo-message {
    display: block;

    /* Common */
    .treo-message-container {
        position: relative;
        display: flex;
        padding: 16px;
        font-size: 14px;
        line-height: 1;

        /* All icons */
        .mat-icon {
            color: currentColor;
        }

        /* Icon */
        .treo-message-icon {
            display: flex;
            align-items: flex-start;

            .treo-message-custom-icon,
            .treo-message-default-icon {
                display: none;
                align-items: center;
                justify-content: center;
                border-radius: 50%;

                &:not(:empty) {
                    display: flex;
                    margin-right: 12px;
                }
            }

            .treo-message-default-icon {

                .mat-icon {
                    @apply icon-size-5;
                }
            }

            .treo-message-custom-icon {
                display: none;

                &:not(:empty) {
                    display: flex;

                    + .treo-message-default-icon {
                        display: none;
                    }
                }
            }
        }

        /* Content */
        .treo-message-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 1;

            /* Title */
            .treo-message-title {
                display: none;
                font-weight: 600;
                line-height: 20px;

                &:not(:empty) {
                    display: block;

                    /* Message that comes after the title */
                    + .treo-message-message {

                        &:not(:empty) {
                            margin-top: 8px;
                        }
                    }
                }
            }

            /* Message */
            .treo-message-message {
                display: none;
                line-height: 20px;

                &:not(:empty) {
                    display: block;
                }
            }
        }

        /* Dismiss button */
        .treo-message-dismiss-button {
            width: 32px !important;
            min-width: 32px !important;
            height: 32px !important;
            min-height: 32px !important;
            line-height: 32px !important;
            margin-left: auto;

            .mat-icon {
                @apply icon-size-5;
            }
        }
    }

    /* Dismissible */
    &:not(.treo-message-dismissible) {

        .treo-message-container {

            .treo-message-dismiss-button {
                display: none !important;
            }
        }
    }

    /* Border */
    &.treo-message-appearance-border {

        .treo-message-container {
            overflow: hidden;
            border-left-width: 4px;
            border-radius: 4px;
            background: var(--bg-card);
            @apply shadow-xl;

            .treo-message-message {
                color: var(--text-secondary);
            }
        }

        /* Primary */
        &.treo-message-type-primary {

            .treo-message-container {
                border-color: var(--primary);

                .treo-message-title,
                .treo-message-icon {
                    color: var(--primary);
                }
            }
        }

        /* Accent */
        &.treo-message-type-accent {

            .treo-message-container {
                border-color: var(--accent);

                .treo-message-title,
                .treo-message-icon {
                    color: var(--accent);
                }
            }
        }

        /* Warn */
        &.treo-message-type-warn {

            .treo-message-container {
                border-color: var(--warn);

                .treo-message-title,
                .treo-message-icon {
                    color: var(--warn);
                }
            }
        }

        /* Basic */
        &.treo-message-type-basic {

            .treo-message-container {
                @apply border-coolGray-600;

                .treo-message-title,
                .treo-message-icon {
                    @apply text-coolGray-600;
                }
            }
        }

        /* Info */
        &.treo-message-type-info {

            .treo-message-container {
                @apply border-blue-600;

                .treo-message-title,
                .treo-message-icon {
                    @apply text-blue-700;
                }
            }
        }

        /* Success */
        &.treo-message-type-success {

            .treo-message-container {
                @apply border-green-500;

                .treo-message-title,
                .treo-message-icon {
                    @apply text-green-500;
                }
            }
        }

        /* Warning */
        &.treo-message-type-warning {

            .treo-message-container {
                @apply border-amber;

                .treo-message-title,
                .treo-message-icon {
                    @apply text-amber;
                }
            }
        }

        /* Error */
        &.treo-message-type-error {

            .treo-message-container {
                @apply border-red-600;

                .treo-message-title,
                .treo-message-icon {
                    @apply text-red-700;
                }
            }
        }
    }

    /* Fill */
    &.treo-message-appearance-fill {

        .treo-message-container {
            border-radius: 4px;
        }

        /* Primary */
        &.treo-message-type-primary {

            .treo-message-container {
                background: var(--primary);
                color: var(--primary-contrast);

                code {
                    background: var(--primary-600);
                    color: var(--primary-600-contrast);
                }
            }
        }

        /* Accent */
        &.treo-message-type-accent {

            .treo-message-container {
                background: var(--accent);
                color: var(--accent-contrast);

                code {
                    background: var(--accent-600);
                    color: var(--accent-600-contrast);
                }
            }
        }

        /* Warn */
        &.treo-message-type-warn {

            .treo-message-container {
                background: var(--warn);
                color: var(--warn-contrast);

                code {
                    background: var(--warn-800);
                    color: var(--warn-800-contrast);
                }
            }
        }

        /* Basic */
        &.treo-message-type-basic {

            .treo-message-container {
                @apply bg-coolGray-500 text-coolGray-50;

                code {
                    @apply bg-coolGray-600 text-coolGray-50;
                }
            }
        }

        /* Info */
        &.treo-message-type-info {

            .treo-message-container {
                @apply bg-blue-600 text-blue-50;

                code {
                    @apply bg-blue-800 text-blue-50;
                }
            }
        }

        /* Success */
        &.treo-message-type-success {

            .treo-message-container {
                @apply bg-green-500 text-coolGray-50;

                code {
                    @apply bg-green-600 text-coolGray-50;
                }
            }
        }

        /* Warning */
        &.treo-message-type-warning {

            .treo-message-container {
                @apply bg-amber text-amber-50;

                code {
                    @apply bg-amber-600 text-amber-50;
                }
            }
        }

        /* Error */
        &.treo-message-type-error {

            .treo-message-container {
                @apply bg-red-600 text-red-50;

                code {
                    @apply bg-red-800 text-red-50;
                }
            }
        }
    }

    /* Outline */
    &.treo-message-appearance-outline {

        .treo-message-container {
            border-radius: 4px;
        }

        /* Primary */
        &.treo-message-type-primary {

            .treo-message-container {
                box-shadow: inset 0 0 0 1px var(--primary-400);
                background: var(--primary-50);
                color: var(--primary-800);

                .treo-message-icon {
                    color: var(--primary);
                }

                code {
                    background: var(--primary-200);
                    color: var(--primary-800);
                }

                .dark & {
                    box-shadow: inset 0 0 0 1px var(--primary-300);
                    background: transparent;
                    color: var(--primary-300);

                    .treo-message-icon {
                        color: currentColor;
                    }
                }
            }
        }

        /* Accent */
        &.treo-message-type-accent {

            .treo-message-container {
                box-shadow: inset 0 0 0 1px var(--accent-400);
                background: var(--accent-50);
                color: var(--accent-800);

                .treo-message-icon {
                    color: var(--accent);
                }

                code {
                    background: var(--accent-200);
                    color: var(--accent-800);
                }

                .dark & {
                    box-shadow: inset 0 0 0 1px var(--accent-300);
                    background: transparent;
                    color: var(--accent-300);

                    .treo-message-icon {
                        color: currentColor;
                    }
                }
            }
        }

        /* Warn */
        &.treo-message-type-warn {

            .treo-message-container {
                box-shadow: inset 0 0 0 1px var(--warn-400);
                background: var(--warn-50);
                color: var(--warn-800);

                .treo-message-icon {
                    color: var(--warn);
                }

                code {
                    background: var(--warn-200);
                    color: var(--warn-800);
                }

                .dark & {
                    box-shadow: inset 0 0 0 1px var(--warn-300);
                    background: transparent;
                    color: var(--warn-300);

                    .treo-message-icon {
                        color: currentColor;
                    }
                }
            }
        }

        /* Basic */
        &.treo-message-type-basic {

            .treo-message-container {
                box-shadow: inset 0 0 0 1px theme('colors.coolGray.400');
                @apply bg-coolGray-50 text-coolGray-800;

                .treo-message-icon {
                    @apply text-coolGray-500;
                }

                code {
                    @apply bg-coolGray-200 text-coolGray-800;
                }

                .dark & {
                    box-shadow: inset 0 0 0 1px theme('colors.coolGray.300');
                    background: transparent;
                    @apply text-coolGray-300;

                    .treo-message-icon {
                        color: currentColor;
                    }
                }
            }
        }

        /* Info */
        &.treo-message-type-info {

            .treo-message-container {
                box-shadow: inset 0 0 0 1px theme('colors.blue.400');
                @apply bg-blue-50 text-blue-800;

                .treo-message-icon {
                    @apply text-blue-500;
                }

                code {
                    @apply bg-blue-200 text-blue-800;
                }

                .dark & {
                    box-shadow: inset 0 0 0 1px theme('colors.blue.300');
                    background: transparent;
                    @apply text-blue-300;

                    .treo-message-icon {
                        color: currentColor;
                    }
                }
            }
        }

        /* Success */
        &.treo-message-type-success {

            .treo-message-container {
                box-shadow: inset 0 0 0 1px theme('colors.green.400');
                @apply bg-green-50 text-green-800;

                .treo-message-icon {
                    @apply text-green-500;
                }

                code {
                    @apply bg-green-200 text-green-800;
                }

                .dark & {
                    box-shadow: inset 0 0 0 1px theme('colors.green.300');
                    background: transparent;
                    @apply text-green-300;

                    .treo-message-icon {
                        color: currentColor;
                    }
                }
            }
        }

        /* Warning */
        &.treo-message-type-warning {

            .treo-message-container {
                box-shadow: inset 0 0 0 1px theme('colors.yellow.400');
                @apply bg-yellow-50 text-yellow-800;

                .treo-message-icon {
                    @apply text-yellow-500;
                }

                code {
                    @apply bg-yellow-200 text-yellow-800;
                }

                .dark & {
                    box-shadow: inset 0 0 0 1px theme('colors.yellow.300');
                    background: transparent;
                    @apply text-yellow-300;

                    .treo-message-icon {
                        color: currentColor;
                    }
                }
            }
        }

        /* Error */
        &.treo-message-type-error {

            .treo-message-container {
                box-shadow: inset 0 0 0 1px theme('colors.red.400');
                @apply bg-red-50 text-red-800;

                .treo-message-icon {
                    @apply text-red-500;
                }

                code {
                    @apply bg-red-200 text-red-800;
                }

                .dark & {
                    box-shadow: inset 0 0 0 1px theme('colors.red.300');
                    background: transparent;
                    @apply text-red-300;

                    .treo-message-icon {
                        color: currentColor;
                    }
                }
            }
        }
    }

    /* Soft */
    &.treo-message-appearance-soft {

        .treo-message-container {
            border-radius: 6px;
        }

        /* Primary */
        &.treo-message-type-primary {

            .treo-message-container {
                background: var(--primary-50);

                .treo-message-icon {
                    color: var(--primary-400);
                }

                .treo-message-title {
                    color: var(--primary-800);
                }

                .treo-message-message {
                    color: var(--primary-700);
                }

                code {
                    background: var(--primary-200);
                    color: var(--primary-800);
                }

                .dark & {
                    background: var(--primary-900);

                    .treo-message-title {
                        color: var(--primary-400);
                    }

                    .treo-message-message {
                        color: var(--primary-400);
                    }
                }
            }
        }

        /* Accent */
        &.treo-message-type-accent {

            .treo-message-container {
                background: var(--accent-100);

                .treo-message-icon {
                    color: var(--accent-400);
                }

                .treo-message-title {
                    color: var(--accent-800);
                }

                .treo-message-message {
                    color: var(--accent-700);
                }

                code {
                    background: var(--accent-200);
                    color: var(--accent-800);
                }

                .dark & {
                    background: var(--accent-900);

                    .treo-message-title {
                        color: var(--accent-400);
                    }

                    .treo-message-message {
                        color: var(--accent-400);
                    }
                }
            }
        }

        /* Warn */
        &.treo-message-type-warn {

            .treo-message-container {
                background: var(--warn-50);

                .treo-message-icon {
                    color: var(--warn-400);
                }

                .treo-message-title {
                    color: var(--warn-800);
                }

                .treo-message-message {
                    color: var(--warn-700);
                }

                code {
                    background: var(--warn-200);
                    color: var(--warn-800);
                }

                .dark & {
                    background: var(--warn-900);

                    .treo-message-title {
                        color: var(--warn-400);
                    }

                    .treo-message-message {
                        color: var(--warn-400);
                    }
                }
            }
        }

        /* Basic */
        &.treo-message-type-basic {

            .treo-message-container {
                @apply bg-coolGray-100;

                .treo-message-icon {
                    @apply text-coolGray-400;
                }

                .treo-message-title {
                    @apply text-coolGray-800;
                }

                .treo-message-message {
                    @apply text-coolGray-700;
                }

                code {
                    @apply bg-coolGray-200 text-coolGray-800;
                }

                .dark & {
                    @apply bg-coolGray-900;

                    .treo-message-title {
                        @apply text-coolGray-400;
                    }

                    .treo-message-message {
                        @apply text-coolGray-300;
                    }
                }
            }
        }

        /* Info */
        &.treo-message-type-info {

            .treo-message-container {
                @apply bg-blue-50;

                .treo-message-icon {
                    @apply text-blue-400;
                }

                .treo-message-title {
                    @apply text-blue-800;
                }

                .treo-message-message {
                    @apply text-blue-700;
                }

                code {
                    @apply bg-blue-200 text-blue-800;
                }

                .dark & {
                    @apply bg-blue-900;

                    .treo-message-title {
                        @apply text-blue-400;
                    }

                    .treo-message-message {
                        @apply text-blue-300;
                    }
                }
            }
        }

        /* Success */
        &.treo-message-type-success {

            .treo-message-container {
                @apply bg-green-50;

                .treo-message-icon {
                    @apply text-green-400;
                }

                .treo-message-title {
                    @apply text-green-800;
                }

                .treo-message-message {
                    @apply text-green-700;
                }

                code {
                    @apply bg-green-200 text-green-800;
                }

                .dark & {
                    @apply bg-green-900;

                    .treo-message-title {
                        @apply text-green-400;
                    }

                    .treo-message-message {
                        @apply text-green-300;
                    }
                }
            }
        }

        /* Warning */
        &.treo-message-type-warning {

            .treo-message-container {
                @apply bg-yellow-50;

                .treo-message-icon {
                    @apply text-yellow-300;
                }

                .treo-message-title {
                    @apply text-yellow-800;
                }

                .treo-message-message {
                    @apply text-yellow-700;
                }

                code {
                    @apply bg-yellow-200 text-yellow-800;
                }

                .dark & {
                    @apply bg-yellow-500;

                    .treo-message-title {
                        @apply text-yellow-300;
                    }

                    .treo-message-message {
                        @apply text-yellow-200;
                    }
                }
            }
        }

        /* Error */
        &.treo-message-type-error {

            .treo-message-container {
                @apply bg-red-50;

                .treo-message-icon {
                    @apply text-red-400;
                }

                .treo-message-title {
                    @apply text-red-800;
                }

                .treo-message-message {
                    @apply text-red-700;
                }

                code {
                    @apply bg-red-200 text-red-800;
                }

                .dark & {
                    @apply bg-red-900;

                    .treo-message-title {
                        @apply text-red-400;
                    }

                    .treo-message-message {
                        @apply text-red-300;
                    }
                }
            }
        }
    }
}
