<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Empty layout -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<empty-layout *ngIf="layout === 'empty'"></empty-layout>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Layouts with horizontal navigation -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<!-- Centered -->
<centered-layout *ngIf="layout === 'centered'"></centered-layout>

<!-- Enterprise -->
<enterprise-layout *ngIf="layout === 'enterprise'"></enterprise-layout>

<!-- Material -->
<material-layout *ngIf="layout === 'material'"></material-layout>

<!-- Modern -->
<modern-layout *ngIf="layout === 'modern'"></modern-layout>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Layouts with vertical navigation -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<!-- Basic -->
<basic-layout *ngIf="layout === 'basic'"></basic-layout>

<!-- Classic -->
<classic-layout *ngIf="layout === 'classic'"></classic-layout>

<!-- Classy -->
<classy-layout *ngIf="layout === 'classy'"></classy-layout>

<!-- Compact -->
<compact-layout *ngIf="layout === 'compact'"></compact-layout>

<!-- Dense -->
<dense-layout *ngIf="layout === 'dense'"></dense-layout>

<!-- Thin -->
<thin-layout *ngIf="layout === 'thin'"></thin-layout>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Configuration drawer - Remove this to remove the drawer and its button -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<div class="configuration-drawer-toggle fixed flex items-center justify-center right-0 w-12 h-12 shadow-md rounded-l-4 z-999 cursor-pointer bg-red-600"
     style="top: 310px"
     (click)="configurationDrawer.toggle()">
    <mat-icon class="icon-size-24 text-white"
              style="animation: rotation 2s infinite linear;"
              [svgIcon]="'settings'"></mat-icon>
</div>

<asm-drawer class="configuration-drawer"
            [fixed]="true"
            [name]="'configurationDrawer'"
            [position]="'right'"
            [mode]="'over'"
            [transparentOverlay]="true"
            #configurationDrawer>

    <div class="flex flex-col w-full light:bg-cool-gray-100 overflow-auto">

        <div class="flex flex-row items-center px-6 h-20 min-h-20 border-b">
            <mat-icon class="mr-3 text-secondary"
                      [svgIcon]="'settings'"></mat-icon>
            <div class="text-lg font-semibold tracking-wide">SETTINGS</div>
        </div>

        <div class="flex flex-col p-6">

            <!-- Dark theme -->
            <mat-slide-toggle class="mt-2 mb-8"
                              [checked]="theme === 'dark'"
                              (change)="setTheme($event)"
                              [color]="'primary'">
                Dark theme
            </mat-slide-toggle>

            <!-- Layout -->
            <ng-container *ngFor="let layoutType of ['empty', 'classic', 'basic', 'classy', 'compact', 'dense', 'thin', 'centered', 'enterprise', 'material', 'modern']">
                <div class="flex flex-col items-center cursor-pointer mb-8"
                     (click)="setLayout(layoutType)">
                    <div class="font-medium text-secondary mb-2"
                         [ngClass]="{'text-primary': layout === layoutType}">
                        {{layoutType | titlecase}}
                    </div>
                    <img class="w-full border-4 rounded"
                         [ngClass]="{'border-primary': layout === layoutType}"
                         [src]="'assets/images/demo/layouts/' + layoutType + '-' + theme + '.png'">
                </div>
            </ng-container>

        </div>

    </div>

</asm-drawer>

