<!-- back customer -->
<div class="flex flex-col w-full p-6">
        
  <div class="flex mb-4">
    <button *ngIf="!editMode || isNewCustomer === 'create' " mat-stroked-button [matTooltip]="'Close'" [routerLink]="['../']" (click)="closeDrawer()">
      <mat-icon [svgIcon]="'heroicons_outline:backspace'"></mat-icon>
      <span class="ml-2">Cerrar</span>
    </button>
  </div>
<div class="bg-white shadow overflow-hidden sm:rounded-base">
  <div class="px-4 py-5 sm:px-6">
      <div class="flex space-x-4 mb-4">
          <!-- cancel edit mode -->
        <div class="flex items-center mb-1">
          <button mat-stroked-button *ngIf="editMode && isNewCustomer !== 'create'" class="bg-red-500 text-white" [matTooltip]="'Cerrar edicion'" (click)="toggleEditMode()">
            <mat-icon class="icon-size-5 text-white" [svgIcon]="'heroicons_outline:arrow-left'"></mat-icon>
            <span class="ml-2">Cancelar Edicion</span>
          </button>
        </div>
        <!-- edit button -->
        <div *ngIf="!editMode" class="flex items-center mb-1">
          <button mat-stroked-button class="bg-yellow-500 text-white" (click)="toggleEditMode()">
            <mat-icon class="icon-size-5 text-white" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
            <span class="ml-2">Editar</span>
          </button>
        </div> 
        <p *ngIf="isNewCustomer !== 'create'" class="mt-1 max-w-2xl text-2xl text-gray-900">
            Informacion sobre el Cliente
        </p>
        <p *ngIf="isNewCustomer === 'create'" class="mt-1 max-w-2xl text-2xl text-gray-900">
            Informacion Nuevo Cliente
        </p>

      </div>

  </div>
  <form [formGroup]="customerForm" (ngSubmit)="processData()" autocomplete="off" >
    <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
      <dl class="sm:divide-y sm:divide-gray-200">
        <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-base font-medium text-gray-500">
            Comercio
          </dt>
          <!-- view -->
          <dd *ngIf="!editMode" class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2">
            {{customer.nombre_comercial}}
          </dd>
          <!-- edit -->
          <dd class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2 ">
            <mat-form-field *ngIf="editMode" class="name edit treo-mat-no-subscript w-1/2">
              <input matInput formControlName="nombre_comercial" [placeholder]="'Comercio'" [spellcheck]="false">
            </mat-form-field>
            <p class="text-sm text-red-500" *ngIf="fieldValidator('nombre_comercial')">Campo Obligatorio</p>
          </dd>
        </div>
        
        <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-base font-medium text-gray-500">
            Rut Empresa
          </dt>
          <!-- view -->
          <dd *ngIf=" !editMode" class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2">
            {{customer.rut_empresa}}
          </dd>
          <!-- edit -->
          <dd class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2" >
            <mat-form-field *ngIf="editMode" class="name edit treo-mat-no-subscript w-1/2">
              <input pattern="^\d{1,2}\.\d{3}\.\d{3}[-][0-9kK]{1}$" matInput formControlName="rut_empresa" [placeholder]="'76.585.325-7'" [spellcheck]="false">
            </mat-form-field>
            <p class="text-sm text-red-500" *ngIf="fieldValidator('rut_empresa')">Ingregre en el siguiente formato XX.XX.XXX-X</p>
          </dd>
        </div>

        <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-base font-medium text-gray-500">
            Email
          </dt>
          <!-- view -->
          <dd *ngIf=" !editMode" class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2">
            {{customer.email}}
          </dd>
          <!-- edit -->
          <dd class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2" >
            <mat-form-field *ngIf="editMode" class="name edit treo-mat-no-subscript w-1/2">
              <input matInput formControlName="email" type="email" [placeholder]="'correo@correo.com'" [spellcheck]="false">
            </mat-form-field>
            <p class="text-sm text-red-500" *ngIf="fieldValidator('email')">Campo Obligatorio </p>
            <p 
            *ngIf="customerForm.controls.email.errors?.email === true 
            && 
            customerForm.controls.email.touched">Ingrese correo valido</p>
          </dd>

        </div>

        <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-base font-medium text-gray-500">
            Telefono
          </dt>
          <dd *ngIf="!editMode" class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2">
            {{customer.telefono}}
          <!-- edit -->
          </dd>
          <dd class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2">
            <mat-form-field *ngIf="editMode" class="name edit treo-mat-no-subscript w-1/2">
              <input matInput type="number" formControlName="telefono" [placeholder]="'Telefono'" [spellcheck]="false">
            </mat-form-field>
            <p class="text-sm text-red-500" *ngIf="fieldValidator('telefono')">Campo Obligatorio</p>
          </dd>
        </div>
        <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-base font-medium text-gray-500">
            Direccion
          </dt>
          <dd *ngIf="!editMode" class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2">
            {{customer.Direccion}}
            <!-- edit -->
          </dd>
          <dd class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2">
            <mat-form-field *ngIf="editMode" class="name edit treo-mat-no-subscript w-1/2">
              <input matInput type="text" formControlName="Direccion" [placeholder]="'Direccion'" [spellcheck]="false">
            </mat-form-field>
            <p class="text-sm text-red-500" *ngIf="fieldValidator('Direccion')">Campo Obligatorio</p>
          </dd>
        </div>
        
        <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt  class="text-base font-medium text-gray-500">
            Region
          </dt>
          <dd *ngIf="!editMode" class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2">
            {{customer.Region}}
          </dd>
          <!-- edit -->
          <dd class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2">
            <mat-form-field *ngIf="editMode" class="w-1/2">
              <mat-label>Seleccione una Region</mat-label>
              <mat-select formControlName="Region" name="region">
                <mat-option *ngFor="let region of regions" [value]="region.name">
                  {{region.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <p class="text-sm text-red-500" *ngIf="fieldValidator('Region')">Campo Obligatorio</p>

          </dd>
        </div>
        
        <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-base font-medium text-gray-500">
            Comuna
          </dt>
          <dd *ngIf="!editMode" class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2">
            {{customer.Comuna}}
          </dd>
          <dd *ngIf="editMode" class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2">
            <mat-form-field  class="w-1/2">
              <mat-label>Seleccione una Comuna</mat-label>
              <mat-select formControlName="Comuna" name="comuna">
                <mat-option *ngFor="let comune of comunes" [value]="comune.name">
                  {{comune.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <p class="text-sm text-red-500" *ngIf="fieldValidator('Comuna')">Campo Obligatorio</p>

          </dd>         
        </div>
      </dl>
    </div>
      <div *ngIf="editMode " class="flex justify-items-end m-6">
        <button [disabled]="customerForm.invalid" mat-raised-button color="primary">Actualizar</button>
      </div>
  </form>
</div>
</div>