<!-- back customer -->
<div class="flex flex-col w-full p-6">

<div class="bg-white shadow overflow-hidden sm:rounded-base">
  <div class="px-4 py-5 sm:px-6">
      <div class="flex space-x-4 mb-4 ">
        <div class="flex-1 flex space-x-4">
          <p *ngIf="isNewCustomer !== 'create'" class="mt-1 max-w-2xl text-2xl font-semibold text-primary">
              Informacion sobre el Cliente
          </p>
          <p *ngIf="isNewCustomer === 'create'" class="mt-1 max-w-2xl text-2xl font-semibold text-primary">
              Informacion Nuevo Cliente
          </p>
                  <!-- edit button -->
          <button *ngIf="isNewCustomer !== 'create' " color="primary" mat-icon-button [matMenuTriggerFor]="menu" aria-label="acciones">
            <mat-icon svgIcon="heroicons_outline:dots-horizontal"></mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <!-- editar | cancelar -->
            <button *ngIf="!editMode" mat-menu-item (click)="toggleEditMode(true)">
              <mat-icon  svgIcon="heroicons_solid:pencil-alt"></mat-icon>
              <span>Editar</span>
            </button>

            <button *ngIf="editMode" mat-menu-item (click)="toggleEditMode(false)" >
            <mat-icon svgIcon="heroicons_solid:x"></mat-icon>
              <span >Cancelar</span>
            </button>

            <button [disabled]="editMode || customer.confirmed" mat-menu-item (click)="openDialogEnableAccount()">
              <mat-icon svgIcon="heroicons_outline:badge-check"></mat-icon>
              <span *ngIf="customer.confirmed">Cuenta Activada</span>
              <span *ngIf="!customer.confirmed" >Activar Cuenta</span>
            </button>

          </mat-menu>
        </div>
        <!-- Back menu -->
        <div class="ml-auto flex-0">
          <button *ngIf="!editMode || isNewCustomer === 'create' " color="warn"
            mat-icon-button [matTooltip]="'Close'" [routerLink]="['../']"
            (click)="closeDrawer()">
            <mat-icon [svgIcon]="'heroicons_outline:reply'"></mat-icon>
          </button>
        </div>
      </div>

  </div>
<form [formGroup]="customerForm" class="treo-mat-dense" (ngSubmit)="processData()" autocomplete="off">
  <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
    <dl class="sm:divide-y sm:divide-gray-200">
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-base font-medium text-gray-500">
          Comercio
        </dt>
        <!-- view -->
        <dd *ngIf="!editMode" class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2">
          {{customer.username}}
        </dd>
        <!-- edit -->
        <dd class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2 ">
          <mat-form-field *ngIf="editMode" class="name edit treo-mat-no-subscript w-1/2">
            <input matInput formControlName="username" [placeholder]="'Comercio'" [spellcheck]="false">
          </mat-form-field>
          <p class="text-sm text-red-500" *ngIf="fieldValidator('username')">Campo Obligatorio</p>
        </dd>
      </div>

      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-base font-medium text-gray-500">
          Rut Empresa
        </dt>
        <!-- view -->
        <dd *ngIf=" !editMode" class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2">
          {{customer.rut_empresa}}
        </dd>
        <!-- edit -->
        <dd class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2">
          <mat-form-field *ngIf="editMode" class="name edit treo-mat-no-subscript w-1/2">
            <input pattern="^\d{1,2}\.\d{3}\.\d{3}[-][0-9kK]{1}$" matInput formControlName="rut_empresa"
              [placeholder]="'76.585.325-7'" [spellcheck]="false">
          </mat-form-field>
          <p class="text-sm text-red-500" *ngIf="fieldValidator('rut_empresa')">Ingregre en el siguiente formato
            XX.XX.XXX-X</p>
          <mat-error
            *ngIf="customerForm.get('rut_empresa').hasError('rut_existe') && customerForm.get('rut_empresa').touched ">
            Ya existe este Rut</mat-error>
        </dd>
      </div>

      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-base font-medium text-gray-500">
          Email
        </dt>
        <!-- view -->
        <dd *ngIf=" !editMode" class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2">
          {{customer.email}}
        </dd>
        <!-- edit -->
        <dd class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2">
          <mat-form-field *ngIf="editMode" class="name edit treo-mat-no-subscript w-1/2">
            <input matInput formControlName="email" type="email" [placeholder]="'correo@correo.com'"
              [spellcheck]="false">
          </mat-form-field>
          <p class="text-sm text-red-500" *ngIf="fieldValidator('email')">Campo Obligatorio </p>
          <p *ngIf="customerForm.controls.email.errors?.email === true
            &&
            customerForm.controls.email.touched">Ingrese correo valido</p>
          <mat-error *ngIf="customerForm.get('email').hasError('email_existe') && customerForm.get('email').touched ">Ya
            existe este Email</mat-error>
        </dd>

      </div>

      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-base font-medium text-gray-500">
          Telefono
        </dt>
        <dd *ngIf="!editMode" class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2">
          {{customer.telefono}}
          <!-- edit -->
        </dd>
        <dd class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2">
          <mat-form-field *ngIf="editMode" class="name edit treo-mat-no-subscript w-1/2">
            <input matInput type="number" formControlName="telefono" [placeholder]="'Telefono'" [spellcheck]="false">
          </mat-form-field>
          <p class="text-sm text-red-500" *ngIf="fieldValidator('telefono')">Campo Obligatorio</p>
        </dd>
      </div>
      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-base font-medium text-gray-500">
          Direccion
        </dt>
        <dd *ngIf="!editMode" class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2">
          {{customer.direccion}}
          <!-- edit -->
        </dd>
        <dd class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2">
          <mat-form-field *ngIf="editMode" class="name edit treo-mat-no-subscript w-1/2">
            <input matInput type="text" formControlName="direccion" [placeholder]="'Direccion'" [spellcheck]="false">
          </mat-form-field>
          <p class="text-sm text-red-500" *ngIf="fieldValidator('direccion')">Campo Obligatorio</p>
        </dd>
      </div>

      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-base font-medium text-gray-500">
          Region
        </dt>
        <dd *ngIf="!editMode" class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2">
          {{customer.region}}
        </dd>
        <!-- edit -->
        <dd class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2">
          <mat-form-field *ngIf="editMode" class="w-1/2">
            <mat-label>Seleccione una Region</mat-label>
            <mat-select formControlName="region" name="region">
              <mat-option *ngFor="let region of regions" [value]="region.name">
                {{region.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <p class="text-sm text-red-500" *ngIf="fieldValidator('region')">Campo Obligatorio</p>

        </dd>
      </div>

      <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-base font-medium text-gray-500">
          Comuna
        </dt>
        <dd *ngIf="!editMode" class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2">
          {{customer.comuna}}
        </dd>
        <dd *ngIf="editMode" class="mt-1 text-base text-gray-900 sm:mt-0 sm:col-span-2">
          <mat-form-field class="w-1/2">
            <mat-label>Seleccione una Comuna</mat-label>
            <mat-select formControlName="comuna" name="comuna">
              <mat-option *ngFor="let comune of comunes" [value]="comune.name">
                {{comune.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <p class="text-sm text-red-500" *ngIf="fieldValidator('comuna')">Campo Obligatorio</p>

        </dd>
      </div>
    </dl>
  </div>

  <div *ngIf="editMode" class="flex justify-items-end m-6">

    <button *ngIf="isNewCustomer === 'create'" [disabled]="customerForm.invalid" mat-raised-button color="primary">Crear
      Cliente</button>

    <button *ngIf="isNewCustomer !== 'create'" [disabled]=" !customerForm.dirty || customerForm.invalid "
      mat-raised-button color="primary">Actualizar</button>

  </div>
</form>
</div>
</div>
