@import 'assembly';

mailbox {

    .mat-drawer-container {

        .mat-drawer-content {
            display: flex;
            overflow: hidden;

            .main {
                display: flex;
                flex: 1 1 auto;
                padding: 0 !important;
            }
        }

    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-angular-material-theme {

    $background: map-get($theme, background);
    $is-dark: map-get($theme, is-dark);

    mailbox {

        .mat-drawer {
            @if (not $is-dark) {
                background: map-get($background, background);
            }
        }
    }
}
