@import 'assembly';

mailbox {

    .mat-drawer-container {

        .mat-drawer-content {
            display: flex;
            overflow: hidden;

            .main {
                display: flex;
                flex: 1 1 auto;
                padding: 0 !important;
                width: 100%;
            }
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-theme {

    mailbox {

    }
}
