@import 'assembly';

mailbox {

    // Mat drawer
    .mat-drawer {
        overflow: hidden;

        .mat-drawer-inner-container {
            overflow: hidden;
        }
    }

    // Mat drawer content
    .mat-drawer-content {
        overflow: hidden;
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-angular-material-theme() {

    $background: map-get($theme, background);
    $is-dark: map-get($theme, is-dark);

    mailbox {

        .mat-drawer {
            @if ($is-dark) {

            } @else {
                background: map-get($background, background);
            }
        }
    }
}
