<form [formGroup]="recurrenceForm"
      novalidate>

    <h4>Recurrence rules</h4>

    <!-- Interval and frequency -->
    <div class="row interval-frequency">
        <div class="label">Repeat every</div>
        <div class="field">
            <mat-form-field class="interval asm-mat asm-mat-no-label asm-mat-no-subscript asm-mat-no-underline"
                            [appearance]="'fill'">
                <input type="number"
                       matInput
                       [autocomplete]="'off'"
                       [formControlName]="'interval'"
                       [min]="1">
            </mat-form-field>

            <mat-form-field class="frequency asm-mat asm-mat-no-label asm-mat-no-subscript asm-mat-no-underline"
                            [appearance]="'fill'">
                <mat-select [formControlName]="'freq'"
                            #freqSelector>
                    <mat-option [value]="'DAILY'">day(s)</mat-option>
                    <mat-option [value]="'WEEKLY'">week(s)</mat-option>
                    <mat-option [value]="'MONTHLY'">month(s)</mat-option>
                    <mat-option [value]="'YEARLY'">year(s)</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <!-- Weekly repeat options -->
    <div class="row weekly"
         *ngIf="recurrenceForm.get('freq').value === 'WEEKLY'">
        <div class="label">Repeat on</div>
        <div class="field">
            <mat-button-toggle-group [formControlName]="'byweekday'"
                                     [multiple]="true">
                <mat-button-toggle *ngFor="let weekday of weekdays"
                                   [disableRipple]="true"
                                   [value]="weekday.value"
                                   [matTooltip]="weekday.label">
                    {{weekday.abbr}}
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>

    <!-- Monthly repeat options -->
    <div class="row monthly"
         *ngIf="recurrenceForm.get('freq').value === 'MONTHLY'">
        <div class="label">Repeat on</div>
        <div class="field">
            <mat-form-field class="asm-mat asm-mat-no-label asm-mat-no-subscript asm-mat-no-underline"
                            [appearance]="'fill'">
                <mat-select [(value)]="monthlyRepeat">
                    <mat-option [value]="'onMonthday'">Monthly on day {{recurrenceForm.get('bymonthday').value}}</mat-option>
                    <mat-option [value]="'onNthWeekday'">Monthly on the {{ordinalBysetpos}} {{weekday.label}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <!-- Ends -->
    <div class="row ends">
        <div class="label">Ends</div>
        <div class="field">
            <mat-form-field class="end-option asm-mat asm-mat-no-label asm-mat-no-subscript asm-mat-no-underline"
                            [appearance]="'fill'">
                <mat-select [(value)]="end">
                    <mat-option [value]="'never'">Never</mat-option>
                    <mat-option [value]="'until'">On</mat-option>
                    <mat-option [value]="'count'">After</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="end-value until asm-mat asm-mat-no-label asm-mat-no-subscript asm-mat-no-underline"
                            *ngIf="end === 'until'"
                            [appearance]="'fill'">
                <input matInput
                       [matDatepicker]="untilDatePicker"
                       [formControlName]="'until'">
                <mat-datepicker-toggle matSuffix
                                       [for]="untilDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #untilDatePicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="end-value count asm-mat asm-mat-no-label asm-mat-no-subscript asm-mat-no-underline"
                            *ngIf="end === 'count'"
                            [appearance]="'fill'">
                <input type="number"
                       matInput
                       [autocomplete]="'off'"
                       [formControlName]="'count'"
                       [min]="1">
                <span matSuffix>occurrence(s)</span>
            </mat-form-field>
        </div>
    </div>

    <!-- Actions -->
    <button class="save"
            mat-flat-button
            [disabled]="recurrenceForm.pristine || recurrenceForm.invalid"
            [color]="'primary'"
            (click)="saveAndClose()">
        Save
    </button>

</form>
