@mixin content-with-sidebar-theme($theme) {

    $background: map-get($theme, background);
    $primary: map-get($theme, primary);
    $isDark: map-get($theme, is-dark);

    content-layout[type="with-sidebar"] {

    }
}
