@import 'assembly';

layout[type="thin"] {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    width: 100%;

    // Navigation
    > .navigation {

        .asm-navigation-header {

            .logo {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 80px;
                min-height: 80px;
                max-height: 80px;

                .logo-image {
                    width: 24px;
                    min-width: 24px;
                    max-width: 24px;
                }
            }
        }
    }

    // Container
    > .container {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        width: 100%;

        // Header
        > .header {
            display: flex;
            flex: 1 1 auto;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            height: 80px;
            max-height: 80px;
            min-height: 80px;
            padding: 0 24px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05),
            0 2px 12px 0 rgba(0, 0, 0, 0.05);
        }

        // Content
        > .content {
            display: flex;
            flex: 1 1 auto;

            > *:not(router-outlet) {
                position: relative;
                display: flex;
                flex: 1 0 auto;
                flex-wrap: wrap;
                width: 100%;
                min-width: 100%;
            }
        }

        // Footer
        > .footer {
            display: flex;
            flex: 1 1 auto;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            height: 80px;
            max-height: 80px;
            min-height: 80px;
            padding: 0 24px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05),
            0 2px 12px 0 rgba(0, 0, 0, 0.05);
        }
    }

    // Fixed header
    &.fixed-header {

        > .container {

            > .header {
                position: sticky;
                bottom: 0;
            }
        }
    }

    // Fixed footer
    &.fixed-footer {

        > .container {

            > .footer {
                position: sticky;
                bottom: 0;
            }
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-theme {

    $primary: map-get($theme, primary);

    layout[type="thin"] {

        // Navigation
        > .navigation {

            .asm-navigation-header {

                .logo {
                    background-color: map-get($primary, default);
                }
            }
        }
    }
}
