<form [formGroup]="taskForm">

    <div class="task-details">

        <div class="header">

            <!-- Mark as ... button -->
            <button class="mark-as-button"
                    mat-button
                    (click)="toggleCompleted()">

                <!-- Mark as complete -->
                <span class="complete"
                      *ngIf="!taskForm.get('completed').value">
                    <mat-icon>radio_button_unchecked</mat-icon>
                    <span>MARK AS COMPLETE</span>
                </span>

                <!-- Mark as incomplete -->
                <span class="incomplete"
                      *ngIf="taskForm.get('completed').value">
                    <mat-icon [color]="'primary'">check_circle</mat-icon>
                    <span>MARK AS INCOMPLETE</span>
                </span>

            </button>

            <!-- Close button -->
            <button mat-icon-button
                    [routerLink]="['../']">
                <mat-icon>close</mat-icon>
            </button>

        </div>

        <mat-divider></mat-divider>

        <!-- Title -->
        <div class="title">
            <mat-form-field class="asm-mat-simplify asm-mat-no-subscript asm-mat-no-label"
                            [appearance]="'standard'">
                <textarea matInput
                          cdkTextareaAutosize
                          [formControlName]="'title'"
                          [placeholder]="'Task title'"></textarea>
            </mat-form-field>
        </div>

        <!-- Tags -->
        <div class="tags"
             *ngIf="task.tags.length > 0">

            <div class="tag"
                 *ngFor="let tag of (task.tags | lookUpBy:'id':tags)">
                <span class="tag-title">{{tag.title}}</span>
            </div>

        </div>

        <!-- Details -->
        <div class="details">

            <!-- Priority -->
            <div class="priority">

                <div class="priority-icon">
                    <mat-icon class="low"
                              *ngIf="task.priority === 0">
                        arrow_downward
                    </mat-icon>
                    <mat-icon class="normal"
                              *ngIf="task.priority === 1">
                        remove
                    </mat-icon>
                    <mat-icon class="high"
                              *ngIf="task.priority === 2">
                        arrow_upward
                    </mat-icon>
                </div>

                <div class="priority-content">
                    <div class="priority-title">Priority</div>
                    <div class="priority-label">
                        <span class="low"
                              *ngIf="task.priority === 0">
                            Low
                        </span>
                        <span class="normal"
                              *ngIf="task.priority === 1">
                            Normal
                        </span>
                        <span class="high"
                              *ngIf="task.priority === 2">
                            High
                        </span>
                    </div>
                </div>

            </div>

            <!-- Due date -->
            <div class="due-date"
                 *ngIf="task.dueDate"
                 [ngClass]="{'overdue': isOverdue()}">

                <mat-icon class="due-date-icon">today</mat-icon>

                <div class="due-date-content">
                    <div class="due-date-title">Due date</div>
                    <div class="due-date-label">
                        {{task.dueDate | date:'longDate'}}
                    </div>
                </div>

            </div>

        </div>

        <!-- Notes -->
        <div class="notes"
             *ngIf="task.notes !== null">

            <mat-form-field class="asm-mat-simplify asm-mat-no-subscript asm-mat-no-label"
                            [appearance]="'standard'">
                <textarea matInput
                          cdkTextareaAutosize
                          [formControlName]="'notes'"
                          [placeholder]="'Type here to add notes'"></textarea>
            </mat-form-field>

        </div>

    </div>

    <div class="task-actions">

        <!-- Add / Change tags -->
        <div class="add-change-tags">

            <button mat-icon-button
                    [matTooltip]="task.tags.length > 0 ? 'Change tags' : 'Add tag'"
                    [matTooltipPosition]="'before'"
                    (click)="openTagsPanel()"
                    #tagsPanelOrigin>
                <mat-icon>label_outline</mat-icon>
            </button>

            <!-- Tags panel -->
            <ng-template #tagsPanel>

                <div class="tasks-details-tags-panel">

                    <div class="new-tag">
                        <mat-icon>search</mat-icon>
                        <input type="text"
                               placeholder="Enter tag name"
                               (input)="filterTags($event)"
                               (keydown)="filterTagsInputKeyDown($event)"
                               [maxLength]="50"
                               #newTagInput>
                    </div>

                    <div class="available-tags">

                        <mat-checkbox *ngFor="let tag of filteredTags"
                                      (change)="toggleTag(tag, $event)"
                                      [color]="'primary'"
                                      [checked]="task.tags.includes(tag.id)">
                            {{tag.title}}
                        </mat-checkbox>

                    </div>

                    <div class="create-tag"
                         *ngIf="shouldShowCreateTagButton(newTagInput.value)"
                         (click)="createTag(newTagInput.value); newTagInput.value = ''"
                         matRipple>
                        <mat-icon>add</mat-icon>
                        <div>Create "<b>{{newTagInput.value}}</b>"</div>
                    </div>

                </div>

            </ng-template>

        </div>

        <!-- Priority -->
        <div class="change-priority">

            <button mat-icon-button
                    [matTooltip]="'Change priority'"
                    [matTooltipPosition]="'before'"
                    (click)="openPriorityPanel()"
                    #priorityPanelOrigin>
                <mat-icon>error_outline</mat-icon>
            </button>

            <!-- Priority panel -->
            <ng-template #priorityPanel>

                <div class="tasks-details-priority-panel">

                    <mat-radio-group [color]="'primary'"
                                     [formControlName]="'priority'"
                                     (change)="closePriorityPanel()">

                        <mat-radio-button class="low"
                                          [value]="0">
                            <span>Low</span>
                            <mat-icon>arrow_downward</mat-icon>
                        </mat-radio-button>

                        <mat-radio-button class="normal"
                                          [value]="1">
                            <span>Normal</span>
                            <mat-icon>remove</mat-icon>
                        </mat-radio-button>

                        <mat-radio-button class="high"
                                          [value]="2">
                            <span>High</span>
                            <mat-icon>arrow_upward</mat-icon>
                        </mat-radio-button>

                    </mat-radio-group>

                </div>

            </ng-template>

        </div>

        <!-- Due date -->
        <div class="add-change-due-date">

            <button mat-icon-button
                    [matTooltip]="task.dueDate ? 'Change due date' : 'Add due date'"
                    [matTooltipPosition]="'before'"
                    (click)="openDueDatePanel()"
                    #dueDatePanelOrigin>
                <mat-icon>today</mat-icon>
            </button>

            <!-- Due date panel -->
            <ng-template #dueDatePanel>

                <div class="tasks-details-due-date-panel">

                    <mat-calendar [selected]="taskForm.get('dueDate').value"
                                  [startAt]="taskForm.get('dueDate').value"
                                  (selectedChange)="updateDueDate($event)"></mat-calendar>

                    <button mat-stroked-button
                            *ngIf="taskForm.get('dueDate').value"
                            (click)="removeDueDate()">
                        <mat-icon>remove_circle_outline</mat-icon>
                        Remove due date
                    </button>

                </div>

            </ng-template>

        </div>

        <!-- Toggle notes -->
        <div class="toggle-notes">
            <button mat-icon-button
                    [matTooltip]="task.notes === null ? 'Add notes' : 'Remove notes'"
                    [matTooltipPosition]="'before'"
                    (click)="toggleNotes()">
                <mat-icon>notes</mat-icon>
            </button>
            <mat-icon class="add"
                      *ngIf="task.notes === null">
                add
            </mat-icon>
            <mat-icon class="remove"
                      *ngIf="task.notes !== null">
                remove
            </mat-icon>
        </div>

    </div>

</form>
