<form [formGroup]="taskForm">

    <div class="flex flex-no-shrink items-center justify-between">

        <!-- MARK AS .... BUTTON -->
        <button class="mark-as-button"
                mat-button
                (click)="toggleCompleted()">

            <!-- MARK AS COMPLETE -->
            <ng-container *ngIf="!taskForm.get('completed').value">
                <mat-icon class="icon-size-20 mr-8">
                    radio_button_unchecked
                </mat-icon>
                <span>MARK AS COMPLETE</span>
            </ng-container>

            <!-- MARK AS NOT COMPLETE -->
            <ng-container *ngIf="taskForm.get('completed').value">
                <mat-icon class="icon-size-20 mr-8"
                          [color]="'primary'">
                    check_circle
                </mat-icon>
                <span>MARK AS NOT COMPLETE</span>
            </ng-container>

        </button>

        <!-- CLOSE BUTTON -->
        <button mat-icon-button
                [routerLink]="['../']">
            <mat-icon>close</mat-icon>
        </button>

    </div>

    <div class="divider mx-16 mt-24 mb-8"></div>

    <!-- TITLE -->
    <div class="title">
        <mat-form-field class="asm-mat-simplify"
                        [appearance]="'standard'">
            <textarea matInput
                      cdkTextareaAutosize
                      [formControlName]="'title'"
                      [placeholder]="'Task title'"></textarea>
        </mat-form-field>
    </div>

    <div class="tags">

        <!-- TAG WITH COLOR SELECTOR -->
        <mat-select class="tag-wrapper"
                    *ngFor="let tag of (task.tags | lookUpBy:'id':tags)"
                    (valueChange)="updateTagColor(tag.id, $event)"
                    [panelClass]="'tasks-details-tag-color-select-panel'"
                    [value]="tag.color"
                    [disableOptionCentering]="true">
            <mat-select-trigger>
                <div class="tag"
                     [ngClass]="[tag.color + '-fg', tag.color + '-50-bg']">
                    <span class="tag-title">{{tag.title}}</span>
                    <button class="tag-remove-button"
                            mat-icon-button
                            (click)="removeTag(tag)">
                        <mat-icon class="icon-size-14"
                                  [ngClass]="tag.color + '-fg'">
                            close
                        </mat-icon>
                    </button>
                </div>
            </mat-select-trigger>
            <div class="color-box-title">Change the tag color</div>
            <div class="color-box-container">
                <mat-option *ngFor="let color of tagColors"
                            [value]="color"
                            #matOption="matOption">
                    <mat-icon class="icon-size-20"
                              [ngClass]="color"
                              *ngIf="matOption.selected">
                        check
                    </mat-icon>
                    <span class="color-box"
                          [ngClass]="color"></span>
                </mat-option>
            </div>
        </mat-select>

        <!-- ADD TAG BUTTON -->
        <button class="add-tag"
                mat-icon-button
                (click)="openPanel()"
                #addTagPanelOrigin>
            <mat-icon class="icon-size-16 mr-4">add</mat-icon>
            <span class="text-secondary">ADD</span>
        </button>

        <!-- ADD TAG PANEL -->
        <ng-template #addTagPanel>

            <div class="tasks-details-add-tag-panel">

                <div class="new-tag">
                    <input type="text"
                           placeholder="Enter tag name"
                           (input)="filterTags($event)"
                           [maxLength]="50"
                           #newTagInput>
                    <mat-icon class="icon-size-16">search</mat-icon>
                </div>

                <div class="available-tags">

                    <mat-checkbox *ngFor="let tag of filteredTags"
                                  (change)="toggleTag(tag, $event)"
                                  [color]="'primary'"
                                  [checked]="task.tags.includes(tag.id)"
                                  [disableRipple]="true">
                        {{tag.title}}
                    </mat-checkbox>

                </div>

                <div class="create-tag"
                     *ngIf="shouldShowCreateTagButton(newTagInput.value)"
                     (click)="createTag(newTagInput.value); newTagInput.value = ''"
                     matRipple>
                    <mat-icon class="icon-size-18 mr-4">add</mat-icon>
                    <div>Create "<b>{{newTagInput.value}}</b>"</div>
                </div>

            </div>

        </ng-template>

    </div>

    <!-- DESCRIPTION -->
    <div class="description">
        <mat-form-field class="asm-mat-simplify"
                        [appearance]="'standard'">
            <textarea matInput
                      cdkTextareaAutosize
                      [formControlName]="'description'"
                      [placeholder]="'Task description'"></textarea>
        </mat-form-field>
    </div>

    <div class="divider mx-16 mt-8 mb-24"></div>

    <!-- DUE DATE & PRIORITY -->
    <div class="due-priority">

        <mat-form-field class="due-date asm-mat-simplify"
                        [appearance]="'standard'">
            <mat-label>Due date</mat-label>
            <input matInput
                   [formControlName]="'dueDate'"
                   [matDatepicker]="dueDatePicker">
            <mat-datepicker-toggle matSuffix
                                   [for]="dueDatePicker">
                <mat-icon class="icon-size-24"
                          matDatepickerToggleIcon>
                    arrow_drop_down
                </mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #dueDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="priority asm-mat-simplify"
                        [appearance]="'standard'">
            <mat-label>Priority</mat-label>
            <mat-select [formControlName]="'priority'">
                <mat-option [value]="0">Low</mat-option>
                <mat-option [value]="1">Normal</mat-option>
                <mat-option [value]="2">High</mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div class="divider mx-16 mt-8 mb-24"></div>


</form>
