<!-- HEADER -->
<div class="header">

    <button mat-icon-button
            (click)="toggleNavigation('leftNavigation')">
        <mat-icon [svgIcon]="'menu'"></mat-icon>
    </button>

    Header

    <button mat-icon-button
            (click)="toggleDrawer('rightDrawer')">
        <mat-icon [svgIcon]="'settings_applications'"></mat-icon>
    </button>

</div>
<!-- / HEADER -->

<!-- CONTAINER -->
<div class="container">

    <!-- LEFT NAVIGATION -->
    <asm-navigation class="navigation"
                    [name]="'leftNavigation'"
                    [appearance]="'compact'"
                    [mode]="isScreenSmall ? 'over' : 'side'"
                    [opened]="!isScreenSmall">
    </asm-navigation>
    <!-- / LEFT NAVIGATION -->

    <!-- CONTAINER -->
    <div class="container">

        <!-- CONTENT -->
        <div class="content">

            <!--
                *ngIf="true" hack is required here for router-outlet to work correctly. Otherwise,
                it won't register the changes on the layout and won't update the view.
            -->
            <router-outlet *ngIf="true"></router-outlet>

        </div>
        <!-- / CONTENT -->

        <!-- FOOTER -->
        <div class="footer">

            Footer

        </div>
        <!-- / FOOTER -->

    </div>
    <!-- / CONTAINER -->

</div>
<!-- / CONTAINER -->
