<div class="content-layout with-centered-content">

    <!-- Card -->
    <asm-card class="modern">

        <!-- Primary content area -->
        <div class="primary-content">

            <!-- Logo -->
            <div class="logo">
                <img class="logo-dark"
                     src="assets/images/logo/logo-dark.svg">
                <img class="logo-light"
                     src="assets/images/logo/logo-light.svg">
            </div>

            <!-- Title -->
            <div class="title">Lost your password?</div>
            <div class="subtitle text-secondary">Fill the form to reset your password</div>

            <!-- Message -->
            <asm-message *ngIf="message"
                         [appearance]="'solid'"
                         [type]="message.type"
                         [@shake]="messageAnimationState">
                <div asmMessageContent>{{message.content}}</div>
            </asm-message>

            <!-- Forgot password form -->
            <form [formGroup]="forgotPasswordForm"
                  novalidate>

                <!-- Email field -->
                <mat-form-field class="email-field"
                                [appearance]="'standard'">
                    <mat-label>Email</mat-label>
                    <input id="email"
                           matInput
                           [formControlName]="'email'">
                    <mat-icon matSuffix>mail</mat-icon>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <!-- Send reset link button -->
                <button class="send-reset-link-button asm-mat-button-large"
                        mat-raised-button
                        [color]="'primary'"
                        [disabled]="forgotPasswordForm.disabled || forgotPasswordForm.invalid">
                    <span *ngIf="!forgotPasswordForm.disabled">
                        Send Reset Link
                    </span>
                    <asm-spinner *ngIf="forgotPasswordForm.disabled"
                                 [appearance]="'material'"
                                 [diameter]="24"></asm-spinner>
                </button>

                <!-- Login link -->
                <div class="login-link mt-24 w-full text-center">
                    <span>Back to</span>
                    <a class="link"
                       [routerLink]="['/login']">login</a>.
                </div>

            </form>

        </div>

        <!-- Secondary content area -->
        <div class="secondary-content"></div>

    </asm-card>

</div>
