<div class="content-layout with-centered-content">

    <!-- Card -->
    <div class="card modern">

        <!-- Form container -->
        <div class="form-container">

            <!-- Logo -->
            <div class="logo">
                <img class="logo-dark"
                     src="assets/images/logo/logo-dark.svg">
                <img class="logo-light"
                     src="assets/images/logo/logo-light.svg">
            </div>

            <!-- Title -->
            <div class="title-2 mt-64">Lost your password?</div>
            <div class="subtitle mt-8 secondary-text">Fill the form to reset your password</div>

            <!-- Message box -->
            <asm-message class="mt-48"
                         *ngIf="messageBox"
                         [appearance]="'solid'"
                         [type]="messageBox.type"
                         [@shake]="messageBoxAnimationState">
                <div asmMessageContent>{{messageBox.message}}</div>
            </asm-message>

            <!-- Forgot password form -->
            <form class="mt-40"
                  [formGroup]="forgotPasswordForm"
                  novalidate>

                <!-- Email field -->
                <mat-form-field class="w-full"
                                [appearance]="'standard'">
                    <mat-label>Email</mat-label>
                    <input id="email"
                           matInput
                           [formControlName]="'email'">
                    <mat-icon matSuffix>mail</mat-icon>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <!-- Send reset link button -->
                <button class="asm-mat-button-large mt-48 w-full"
                        mat-raised-button
                        [color]="'primary'"
                        [disabled]="forgotPasswordForm.disabled || forgotPasswordForm.invalid">
                    <span *ngIf="!forgotPasswordForm.disabled">
                        Send Reset Link
                    </span>
                    <span *ngIf="forgotPasswordForm.disabled">
                        <asm-spinner [appearance]="'material'"
                                     [diameter]="24"></asm-spinner>
                    </span>
                </button>

                <!-- Login link -->
                <div class="mt-24 w-full text-center">
                    <span class="mr-4">Back to</span>
                    <a class="link"
                       [routerLink]="['/login']">login</a>.
                </div>

            </form>

        </div>

        <!-- Image -->
        <div class="image"></div>

    </div>

</div>
