<div class="content-layout fullwidth-basic-normal-scroll">

    <!-- Card -->
    <asm-card class="modern">

        <!-- Form area -->
        <div class="form">

            <!-- Logo -->
            <div class="logo">
                <img class="logo-dark"
                     src="assets/images/logo/logo-dark.svg">
                <img class="logo-light"
                     src="assets/images/logo/logo-light.svg">
            </div>

            <!-- Title -->
            <h3>Lost your password?</h3>
            <h6>Fill the form to reset your password</h6>

            <!-- Message -->
            <asm-message *ngIf="message"
                         [type]="message.type"
                         @shake>
                {{message.content}}
            </asm-message>

            <!-- Forgot password form -->
            <form [formGroup]="forgotPasswordForm"
                  novalidate>

                <!-- Email field -->
                <mat-form-field class="email-field">
                    <mat-label>Email</mat-label>
                    <input id="email"
                           matInput
                           [formControlName]="'email'">
                    <mat-icon matSuffix
                              [svgIcon]="'mail'"></mat-icon>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <!-- Submit button -->
                <button class="submit-button asm-mat-button-large"
                        mat-raised-button
                        [color]="'primary'"
                        [disabled]="forgotPasswordForm.disabled || forgotPasswordForm.invalid">
                    <span *ngIf="!forgotPasswordForm.disabled">
                        Send Reset Link
                    </span>
                    <asm-spinner *ngIf="forgotPasswordForm.disabled"
                                 [appearance]="'material'"
                                 [diameter]="24"></asm-spinner>
                </button>

                <!-- Footer link -->
                <div class="footer-link">
                    <span>Go to</span>
                    <a class="link"
                       [routerLink]="['/login']">login</a>
                </div>

            </form>

        </div>

        <!-- Content area -->
        <div class="content"></div>

    </asm-card>

</div>
