.docs {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    line-height: 1.7;
    padding: 0;

    // Container
    .container {
        max-width: 680px;
        width: 100%;
    }

    // H tags
    h1 {
        display: inline-block;
        @extend %title-lg;
    }

    h2 {
        display: inline-block;
        @extend %title-base;
        font-weight: 700;
        margin-top: 56px;
    }

    h3 {
        display: inline-block;
        @extend %subtitle-lg;
        font-weight: 600;
        margin-top: 40px;
    }

    // Paragraph
    p {
        margin: 12px 0 0 0;
    }

    // Lists
    ul, ol {
        margin: 12px 0 40px 0;
    }

    // AsmMessage
    asm-message {
        display: block;
        margin-top: 32px;
    }

    // AsmHighlight
    asm-highlight {
        display: block;
        margin: 32px 0;
    }

    // Header
    > .header {
        display: flex;
        flex-direction: column;
        padding: 64px;

        .breadcrumb {
            margin-bottom: 4px;
        }
    }

    // Content
    > .content {
        padding: 64px;

        .container {

            & > :first-child {
                margin-top: 0;
                padding-top: 0;
            }
        }

        // Example viewer
        .example-viewer {
            display: flex;
            flex-direction: column;
            margin-top: 32px;
            border-radius: 4px;
            overflow: hidden;
            @include asm-shadow(1);

            .title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 88px;
                min-height: 88px;
                max-height: 88px;
                padding: 0 40px;

                h6 {
                    font-weight: 700;
                }

                .controls {
                    display: flex;
                    align-items: center;

                    > * + * {
                        margin-left: 8px;
                    }
                }
            }

            mat-tab-group {

                .mat-tab-header {
                    border-top: 1px solid;
                }

                .mat-tab-body-content {
                    padding: 40px;

                    asm-highlight {
                        margin: 0;

                        pre {
                            padding: 0;
                            border-radius: 0;
                            box-shadow: none;
                        }
                    }
                }
            }
        }

        // Fieldset
        fieldset {
            margin-top: 32px;

            .fieldset-content {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        // Simple table
        .simple-table {
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            margin: 32px 0;

            &.with-background {
                border-radius: 4px;
                @include asm-shadow(1);

                table {

                    thead {

                        tr {

                            th {

                                &:first-child {
                                    padding-left: 24px;
                                }

                                &:last-child {
                                    padding-right: 24px;
                                }
                            }
                        }
                    }

                    tbody {

                        tr {

                            td {

                                &:first-child {
                                    padding-left: 24px;
                                }

                                &:last-child {
                                    padding-right: 24px;
                                }
                            }
                        }
                    }
                }
            }

            table {
                border: 0;
                border-collapse: collapse;
                width: 100%;

                thead {

                    tr {

                        th {
                            font-size: 14px;
                            text-transform: uppercase;
                            text-align: left;
                            padding: 16px 12px;
                            border-bottom: 1px solid;

                            &:first-child {
                                padding-left: 0;
                            }

                            &:last-child {
                                padding-right: 0;
                            }
                        }
                    }
                }

                tbody {

                    tr {

                        td {
                            text-align: left;
                            vertical-align: top;
                            padding: 24px 12px;
                            border-bottom: 1px solid;

                            &:first-child {
                                padding-left: 0;
                            }

                            &:last-child {
                                padding-right: 0;
                            }

                            code {
                                white-space: nowrap;
                            }

                            p {
                                margin: 0;

                                & + p {
                                    margin: 16px 0 0 0;
                                }
                            }

                            .label {
                                display: inline-flex;
                                height: 20px;
                                padding: 4px 6px;
                                font-size: 11px;
                                font-weight: 700;
                                line-height: 1;
                                border-radius: 4px;

                                + .label {
                                    margin-left: 4px;
                                }
                            }
                        }

                        &:last-child {

                            td {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-angular-material-theme {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $is-dark: map-get($theme, is-dark);

    // Light
    $td-bottom-border-color: rgba(0, 0, 0, 0.06);

    // Dark
    @if ($is-dark) {
        $td-bottom-border-color: rgba(255, 255, 255, 0.06);
    }

    .docs {


        .header {
            background: asm-color($asm-blue-grey, 300);
        }

        .content {

            // Example viewer
            .example-viewer {
                background: map-get($background, card);

                mat-tab-group {

                    .mat-tab-header {
                        background: asm-color($asm-blue-grey, 100);
                        border-color: transparentize(map-get($foreground, divider), 0.09)
                    }

                    .mat-tab-body-content {

                        asm-highlight {

                            pre {
                                background: none;
                            }
                        }
                    }
                }
            }

            // Simple table
            .simple-table {

                &.with-background {
                    background-color: map-get($background, card);
                }

                table {

                    thead {

                        tr {

                            th {
                                border-bottom-color: $td-bottom-border-color;
                            }
                        }
                    }

                    tbody {

                        tr {

                            td {
                                border-bottom-color: $td-bottom-border-color;

                                .label {
                                    color: map-get($foreground, secondary-text);
                                    background: asm-color($asm-blue-grey, 300);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
