search {

    .search-bar {

        .mat-form-field {
            flex: 1 0 auto;
            height: 100%;

            .mat-form-field-wrapper {
                height: 100%;

                .mat-form-field-flex {
                    height: 100%;
                    padding: 0 56px 0 24px;
                    border: none;
                    border-radius: 0 !important;
                    background: transparent;

                    @screen sm {
                        padding: 0 72px 0 32px;
                    }
                }
            }
        }
    }

    /* Basic appearance */
    &.search-appearance-basic {
        //width: 100%;
        //max-width: 400px;
        //background: transparent;

        .search-container {
            display: flex;
            align-items: center;
            flex: 1 0 auto;
            overflow: hidden;
        }
    }
}

/* Search results panel */
.search-results {
    max-height: 512px !important;

    &:before,
    &:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        bottom: 100%;
        left: 30px;
        border: solid transparent;
        pointer-events: none;
    }

    &:before {
        border-width: 9px;
        margin-left: -9px;
        border-bottom-color: var(--divider);
    }

    &:after {
        border-width: 8px;
        margin-left: -8px;
        border-bottom-color: var(--bg-card);
    }

    /* Bar appearance */
    &.search-results-appearance-bar {
        border-top-width: 1px;
        border-radius: 0 0 4px 4px;
        @apply shadow-md;

        .mat-option {
            padding: 0 24px;

            @screen sm {
                padding: 0 40px;
            }
        }
    }

    /* Basic appearance */
    &.search-results-appearance-basic {
        margin-top: 8px;
        border-radius: 4px;
        @apply shadow-2xl;

        .mat-option {
            padding: 0 24px;

            @screen sm {
                padding: 0 32px;
            }
        }
    }

    .mat-option {
        height: 56px;
        line-height: 56px;
        font-size: 14px;
        background: transparent !important;

        @screen sm {
            &:hover:not(.mat-option-disabled),
            &:focus:not(.mat-option-disabled) {
                box-shadow: inset 4px 0 0 var(--primary);
            }
        }

        &.no-results {
            pointer-events: none;

            .mat-option-text {
                color: var(--text-secondary);
            }
        }

        .mat-option-text {

            .result {
                display: flex;
                align-items: center;

                &.contact-result {

                    .badge {
                        @apply indigo;
                    }

                    .image {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 32px;
                        min-width: 32px;
                        max-width: 32px;
                        height: 32px;
                        min-height: 32px;
                        max-height: 32px;
                        margin-left: auto;
                        border-radius: 50%;
                        overflow: hidden;

                        .mat-icon {
                            margin: 0;
                            @apply icon-size-5;
                        }
                    }
                }

                &.page-result {

                    .badge {
                        @apply teal-600;
                    }

                    .title {
                        display: flex;
                        flex-direction: column;

                        span {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            line-height: normal;
                        }

                        .link {
                            margin-top: 4px;
                            line-height: normal;
                            font-size: 12px;
                            text-decoration: none !important;
                            color: var(--text-secondary);
                        }
                    }
                }

                .badge {
                    padding: 3px 6px;
                    margin-right: 16px;
                    border-radius: 3px;
                    font-size: 11px;
                    line-height: normal;
                }

                .title {
                    overflow: hidden;
                    text-overflow: ellipsis;

                    mark {
                        font-weight: 500;
                        background: transparent;
                        color: var(--primary);
                    }
                }

                .image {
                    background: var(--primary-100);

                    .dark & {
                        background: rgba(0, 0, 0, 0.05);
                    }

                    .mat-icon {
                        color: var(--primary);
                    }
                }
            }
        }
    }
}
