<!-- Bar search -->
<button mat-icon-button
        *ngIf="appearance === 'bar' && !opened"
        (click)="open()">
    <mat-icon [svgIcon]="'heroicons_outline:search'"></mat-icon>
</button>

<div class="search-bar absolute inset-0 flex items-center flex-shrink-0 z-99 bg-card"
     *ngIf="appearance === 'bar' && opened"
     @slideInTop
     @slideOutTop>
    <ng-container *ngTemplateOutlet="searchContent"></ng-container>
    <button class="absolute top-1/2 right-2 sm:right-8 flex-shrink-0 w-10 h-10 -mt-5"
            mat-icon-button
            *ngIf="appearance === 'bar'"
            (click)="close()">
        <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
</div>

<!-- Basic search -->
<div class="w-full sm:min-w-80"
     *ngIf="appearance === 'basic'">
    <ng-container *ngTemplateOutlet="searchContent"></ng-container>
</div>

<!-- Search content template -->
<ng-template #searchContent>

    <mat-form-field class="treo-mat-no-subscript w-full"
                    #searchInput>
        <mat-icon matPrefix
                  [svgIcon]="'heroicons_outline:search'"></mat-icon>
        <input matInput
               [formControl]="searchControl"
               [matAutocomplete]="matAutocomplete"
               [placeholder]="'Search for a page or a contact'"
               (keydown)="onKeydown($event)">
    </mat-form-field>

    <mat-autocomplete class="search-results"
                      [ngClass]="'search-results-appearance-' + appearance"
                      [disableRipple]="true"
                      #matAutocomplete="matAutocomplete">

        <mat-option class="no-pointer-events text-secondary"
                    *ngIf="results && !results.length">
            No results found!
        </mat-option>

        <mat-option *ngFor="let result of results"
                    [routerLink]="result.link">

            <!-- Page result -->
            <div class="result page-result"
                 *ngIf="result.resultType === 'page'">
                <div class="badge">Page</div>
                <div class="title">
                    <span [innerHTML]="result.title"></span>
                    <span class="link"
                          [routerLink]="result.link">{{result.link}}</span>
                </div>
            </div>

            <!-- Contact result -->
            <div class="result contact-result"
                 *ngIf="result.resultType === 'contact'">
                <div class="badge">Contact</div>
                <div class="title">
                    <span [innerHTML]="result.title"></span>
                </div>
                <div class="image">
                    <img *ngIf="result.avatar"
                         [src]="result.avatar">
                    <mat-icon *ngIf="!result.avatar"
                              [svgIcon]="'account_circle'"></mat-icon>
                </div>
            </div>

        </mat-option>

    </mat-autocomplete>

</ng-template>
