<!-- Navigation -->
<asm-navigation class="navigation"
                *ngIf="!asmConfig.layout.options.navigation.hidden"
                [name]="'leftNavigation'"
                [appearance]="'classic'"
                [mode]="isScreenSmall ? 'over' : 'side'"
                [opened]="!isScreenSmall">

    <div asmNavigationHeader>

        <div class="logo">
            <img src="assets/images/logo/logo-light.svg">
        </div>

    </div>

    <div asmNavigationContentTop>

        <div class="user">

            <div class="user-image">
                <img src="assets/images/avatars/andrew-watkins.jpg">
            </div>

            <div class="user-info">
                <div class="user-name">Andrew Watkins</div>
                <div class="user-email text-hint">watkins.andrew@company.com</div>
            </div>

        </div>

    </div>

</asm-navigation>

<!-- Wrapper -->
<div class="wrapper">

    <!-- Header -->
    <div class="header"
         *ngIf="!asmConfig.layout.options.header.hidden"
         [ngClass]="asmConfig.layout.options.header.background">

        <button class="navigation-toggle-button"
                mat-icon-button
                (click)="toggleNavigation('leftNavigation')">
            <mat-icon>menu</mat-icon>
        </button>

        <asm-search [appearance]="'basic'"
                    [fullscreenTitle]="'Search...'"
                    [results]="searchResults"
                    [minLength]="2"
                    [noResultsText]="'No results found!'"
                    [placeholder]="'Search for a page or a contact'"
                    (search)="onSearch($event)">

            <ng-template let-result>

                <div class="asm-search-result-image">
                    <mat-icon class="icon-size-16"
                              *ngIf="result.resultType === 'page'">
                        insert_drive_file
                    </mat-icon>
                    <img *ngIf="result.resultType ==='contact'"
                         [src]="result.image">
                </div>

                <div class="asm-search-result-title"
                     [innerHTML]="result.title">
                </div>

            </ng-template>

        </asm-search>

        <div>

            <asm-shortcuts [title]="'Quick Access'"
                           [subtitle]="'Shortcuts for links and functions'"
                           [addShortcutLabel]="'Add shortcut'"></asm-shortcuts>

            <mat-icon>notifications</mat-icon>

        </div>

    </div>

    <!-- Content -->
    <div class="content">

        <!--
            *ngIf="true" hack is required here for router-outlet to work correctly. Otherwise,
            it won't register the changes on the layout and won't update the view.
        -->
        <router-outlet *ngIf="true"></router-outlet>

    </div>

    <!-- Footer -->
    <div class="footer"
         *ngIf="!asmConfig.layout.options.footer.hidden"
         [ngClass]="asmConfig.layout.options.footer.background">

        Footer

    </div>

</div>

<!-- Drawer -->
<asm-drawer [name]="'rightDrawer'"
            [position]="'right'"
            [mode]="'over'">
    <asm-theme-configurator></asm-theme-configurator>
</asm-drawer>
