@import 'assembly';

layout[type="classy"] {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    width: 100%;

    // Navigation
    > .navigation {

        &.theme-dark {

            .asm-navigation-item {

                .asm-navigation-item-icon {
                    color: asm-color($asm-gray, 600);
                }
            }
        }

        .asm-navigation-content-top {

            .logo {
                display: flex;
                align-items: center;
                height: 80px;
                min-height: 80px;
                max-height: 80px;
                padding: 24px 32px 0 32px;

                img {
                    max-width: 163px;
                }
            }
        }
    }

    // Wrapper
    > .wrapper {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        min-width: 0;

        // Header
        > .header {
            position: relative;
            display: flex;
            flex: 1 1 auto;
            align-items: center;
            width: 100%;
            height: 80px;
            max-height: 80px;
            min-height: 80px;
            padding: 0 24px;
            z-index: 49;

            .spacer {
                display: flex;
                flex: 1 1 auto;
                height: 1px;
            }

            .navigation-toggle-button {
                margin-right: 8px;
            }

            asm-shortcuts {
                margin-right: 8px;
            }

            asm-search {

            }

            .messages {
                position: relative;
                margin-right: 8px;

                .dot {
                    position: absolute;
                    right: 6px;
                    top: 6px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    border-width: 2px;
                    z-index: 5;
                    pointer-events: none;
                }
            }

            .notifications {
                position: relative;
                margin-right: 8px;

                .dot {
                    position: absolute;
                    right: 9px;
                    top: 6px;
                    width: 10px;
                    height: 10px;
                    border-width: 2px;
                    border-radius: 50%;
                    z-index: 5;
                    pointer-events: none;
                }
            }

            .user {
                height: 48px;
                min-height: 48px;
                max-height: 48px;

                .avatar {
                    position: relative;

                    img {
                        width: 32px;
                        min-width: 32px;
                        height: 32px;
                        min-height: 32px;
                        border-radius: 50%;
                    }

                    .status {
                        position: absolute;
                        right: -2px;
                        bottom: -3px;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        border-width: 2px;
                    }
                }

                .info {
                    display: flex;
                    align-items: center;
                    margin-left: 12px;
                    overflow: hidden;

                    @include asm-media-breakpoint('xs') {
                        display: none;
                    }

                    .name {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        line-height: 1;
                    }

                    .menu {
                        margin-left: 4px;
                        height: 20px;
                        min-height: 20px;
                        max-height: 20px;

                        .mat-icon {
                            @include asm-icon-size(20);
                        }
                    }
                }
            }
        }

        // Content
        > .content {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;

            > *:not(router-outlet) {
                position: relative;
                display: flex;
                flex: 1 1 auto;
            }
        }

        // Footer
        > .footer {
            display: flex;
            flex: 1 1 auto;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            height: 80px;
            max-height: 80px;
            min-height: 80px;
            padding: 0 24px;
            z-index: 49;
        }
    }

    // Fixed header
    &.fixed-header {

        > .wrapper {

            > .header {
                position: sticky;
                top: 0;
            }
        }
    }

    // Fixed footer
    &.fixed-footer {

        > .wrapper {

            > .footer {
                position: sticky;
                bottom: 0;
            }
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-theme {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $is-dark: map-get($theme, is-dark);

    layout[type='classy'] {

        // Wrapper
        > .wrapper {

            // Header
            > .header {
                @if ($is-dark) {
                    background: asm-dark-elevation(1);
                } @else {
                    background: map-get($background, card);
                    @include asm-elevation(1);
                }

                .messages {

                    .dot {
                        background: asm-color($asm-blue, 600);
                        border-color: map-get($background, card);
                    }
                }

                .notifications {

                    .dot {
                        background: asm-color($asm-red, 600);
                        border-color: map-get($background, card);
                    }
                }

                .user {

                    .avatar {

                        .status {
                            border-color: map-get($background, card);

                            &.available {
                                background: #68D391;
                            }

                            &.away {
                                background: #F6AD55;
                            }

                            &.busy {
                                background: #FC8181;
                            }
                        }
                    }
                }
            }

            // Footer
            > .footer {
                @if ($is-dark) {
                    background: asm-dark-elevation(1);
                } @else {
                    background: map-get($background, card);
                    border-top-width: 1px;
                }

                color: map-get($foreground, secondary-text);
            }
        }
    }
}
