<!-- LEFT NAVIGATION -->
<asm-navigation class="navigation"
                *ngIf="!asmConfig.layout.options.navigation.hidden"
                [name]="'leftNavigation'"
                [appearance]="'classic'"
                [mode]="isScreenSmall ? 'over' : 'side'"
                [opened]="!isScreenSmall">

    <div asmNavigationHeader>

        <div class="logo">

            <div class="logo-image">
                <img src="assets/images/logo/logo.svg">
            </div>

            <div class="logo-text">
                Assembly
            </div>

        </div>

    </div>

    <div asmNavigationContentTop>

        <div class="user">

            <div class="user-image">
                <img src="assets/images/avatars/andrew-watkins.jpg">
            </div>

            <div class="user-info">
                <div class="user-name">Andrew Watkins</div>
                <div class="user-email hint-text">watkinsandrew@mail.com</div>
            </div>

        </div>

    </div>

</asm-navigation>
<!-- / LEFT NAVIGATION -->

<!-- CONTAINER -->
<div class="container">

    <!-- HEADER -->
    <div class="header"
         [ngClass]="asmConfig.layout.options.header.background"
         *ngIf="!asmConfig.layout.options.header.hidden">

        <button mat-icon-button
                class="navigation-toggle-button"
                (click)="toggleNavigation('leftNavigation')">
            <mat-icon>menu</mat-icon>
        </button>

        <asm-search (search)="onSearch($event)"
                    [appearance]="'basic'"
                    [fullscreenTitle]="'Search...'"
                    [results]="searchResults"
                    [minLength]="2"
                    [noResultsText]="'No results found!'"
                    [placeholder]="'Search for a page or a contact'">

            <ng-template let-result>

                <div class="asm-search-result-image">
                    <mat-icon class="icon-size-16"
                              *ngIf="result.resultType === 'page'">
                        insert_drive_file
                    </mat-icon>
                    <img *ngIf="result.resultType ==='contact'"
                         [src]="result.image">
                </div>

                <div class="asm-search-result-title"
                     [innerHTML]="result.title">
                </div>

            </ng-template>

        </asm-search>

        <div>
            <mat-icon>apps</mat-icon>
            <mat-icon>notifications</mat-icon>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <!--
            *ngIf="true" hack is required here for router-outlet to work correctly. Otherwise,
            it won't register the changes on the layout and won't update the view.
        -->
        <router-outlet *ngIf="true"></router-outlet>

    </div>
    <!-- / CONTENT -->

    <!-- FOOTER -->
    <div class="footer"
         [ngClass]="asmConfig.layout.options.footer.background"
         *ngIf="!asmConfig.layout.options.footer.hidden">

        Footer

    </div>
    <!-- / FOOTER -->

</div>
<!-- / CONTAINER -->

<!-- RIGHT DRAWER -->
<asm-drawer name="rightDrawer"
            [position]="'right'"
            [mode]="'over'">
    <asm-theme-configurator></asm-theme-configurator>
</asm-drawer>
<!-- / RIGHT DRAWER -->
