@import 'assembly';

layout[type="classy"] {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    width: 100%;

    // Navigation
    > .navigation {

        .asm-navigation-header {

            .logo {
                display: flex;
                align-items: center;
                height: 80px;
                min-height: 80px;
                max-height: 80px;
                padding: 0 32px;

                img {
                    max-width: 163px;
                }
            }
        }

        .asm-navigation-content {

            .asm-navigation-content-top {

                .user {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 40px 32px;

                    .user-image {
                        overflow: hidden;
                        width: 96px;
                        height: 96px;
                        border-radius: 50%;
                        border: 6px solid;
                    }

                    .user-info {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-top: 24px;

                        .user-name {

                        }

                        .user-email {
                            margin-top: 4px;
                        }
                    }
                }
            }
        }
    }

    // Wrapper
    > .wrapper {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        min-width: 0;

        // Header
        > .header {
            position: relative;
            display: flex;
            flex: 1 1 auto;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 80px;
            max-height: 80px;
            min-height: 80px;
            padding: 0 24px;
            z-index: 49;
        }

        // Content
        > .content {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;

            > *:not(router-outlet) {
                position: relative;
                display: flex;
                flex: 1 1 auto;
            }
        }

        // Footer
        > .footer {
            display: flex;
            flex: 1 1 auto;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            height: 80px;
            max-height: 80px;
            min-height: 80px;
            padding: 0 24px;
            z-index: 49;
        }
    }

    // Fixed header
    &.fixed-header {

        > .wrapper {

            > .header {
                position: sticky;
                top: 0;
            }
        }
    }

    // Fixed footer
    &.fixed-footer {

        > .wrapper {

            > .footer {
                position: sticky;
                bottom: 0;
            }
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-theme {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $is-dark: map-get($theme, is-dark);

    layout[type='classy'] {

        // Navigation
        > .navigation {

            .asm-navigation-wrapper {

                .asm-navigation-header {

                    .logo {
                        background-color: rgba(0, 0, 0, 0.12);
                    }
                }

                .asm-navigation-content {

                    .asm-navigation-content-top {

                        .user {

                            .user-image {
                                border-color: rgba(255, 255, 255, 0.12);
                            }
                        }
                    }
                }
            }
        }

        // Wrapper
        > .wrapper {

            // Header
            > .header {
                @if ($is-dark) {
                    background: asm-dark-elevation(1);
                } @else {
                    background: map-get($background, card);
                    @include asm-elevation(1);
                }
            }

            // Footer
            > .footer {
                background: map-get($background, card);
                border-top: 1px solid map-get($foreground, divider);
            }
        }
    }
}
