@import 'assembly';

layout[type="classy"] {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    width: 100%;

    // Navigation
    > .navigation {

        .asm-navigation-header {

            .logo {
                display: flex;
                align-items: center;
                height: 80px;
                min-height: 80px;
                max-height: 80px;
                padding: 0 32px;
            }
        }

        .asm-navigation-content {

            .asm-navigation-content-top {

                .user {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 40px 32px;

                    .user-image {
                        overflow: hidden;
                        width: 96px;
                        height: 96px;
                        border-radius: 50%;
                        border: 6px solid;
                    }

                    .user-info {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-top: 24px;

                        .user-name {

                        }

                        .user-email {
                            margin-top: 4px;
                        }
                    }
                }
            }
        }
    }

    // Wrapper
    > .wrapper {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        width: 100%;

        // Header
        > .header {
            position: relative;
            display: flex;
            flex: 1 1 auto;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 80px;
            max-height: 80px;
            min-height: 80px;
            padding: 0 24px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05),
            0 2px 12px 0 rgba(0, 0, 0, 0.05);
            z-index: 49;
        }

        // Content
        > .content {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;

            > *:not(router-outlet) {
                position: relative;
                display: flex;
                flex: 1 1 auto;
            }
        }

        // Footer
        > .footer {
            display: flex;
            flex: 1 1 auto;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            height: 80px;
            max-height: 80px;
            min-height: 80px;
            padding: 0 24px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05),
            0 2px 12px 0 rgba(0, 0, 0, 0.05);
            z-index: 49;
        }
    }

    // Fixed header
    &.fixed-header {

        > .wrapper {

            > .header {
                position: sticky;
                top: 0;
            }
        }
    }

    // Fixed footer
    &.fixed-footer {

        > .wrapper {

            > .footer {
                position: sticky;
                bottom: 0;
            }
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-angular-material-theme {

    $background: map-get($theme, background);

    layout[type='classy'] {

        > .navigation {

            .asm-navigation-wrapper {

                .asm-navigation-header {

                    .logo {
                        background-color: rgba(0, 0, 0, 0.12);
                    }
                }

                .asm-navigation-content {

                    .asm-navigation-content-top {

                        .user {

                            .user-image {
                                border-color: rgba(255, 255, 255, 0.12);
                            }
                        }
                    }
                }
            }
        }
    }
}
