<div class="content-layout with-centered-content">

    <!-- Card style selector -->
    <mat-form-field class="mb-64"
                    [appearance]="'outline'">
        <mat-label>Card style</mat-label>
        <mat-select [value]="'classic'"
                    #cardStyle>
            <mat-option [value]="'classic'">Classic</mat-option>
            <mat-option [value]="'modern'">Modern</mat-option>
            <mat-option [value]="'modern-relaxed'">Modern Relaxed</mat-option>
            <mat-option [value]="'modern-reverse'">Modern Reverse</mat-option>
            <mat-option [value]="'modern-relaxed-reverse'">Modern Relaxed Reverse</mat-option>
        </mat-select>
    </mat-form-field>


    <!-- Classic | Copy the contents of this ng-container to use this style -->
    <ng-container *ngIf="cardStyle.value === 'classic'">

        <!-- Card -->
        <div class="card auth classic">

            <!-- Form template projection -->
            <ng-container *ngTemplateOutlet="formTemplate"></ng-container>

        </div>

    </ng-container>


    <!-- Modern | Copy the contents of this ng-container to use this style -->
    <ng-container *ngIf="cardStyle.value === 'modern'">

        <!-- Card -->
        <div class="card auth modern">

            <!-- Form template projection -->
            <ng-container *ngTemplateOutlet="formTemplate"></ng-container>

            <!-- Content container -->
            <div class="content-container"></div>

        </div>

    </ng-container>


    <!-- Modern relaxed | Copy the contents of this ng-container to use this style -->
    <ng-container *ngIf="cardStyle.value === 'modern-relaxed'">

        <!-- Card -->
        <div class="card auth modern-relaxed">

            <!-- Form template projection -->
            <ng-container *ngTemplateOutlet="formTemplate"></ng-container>

            <!-- Content container -->
            <div class="content-container"></div>

        </div>

    </ng-container>


    <!-- Modern reverse | Copy the contents of this ng-container to use this style-->
    <ng-container *ngIf="cardStyle.value === 'modern-reverse'">

        <!-- Card -->
        <div class="card auth modern-reverse">

            <!-- Content container -->
            <div class="content-container"></div>

            <!-- Form template projection -->
            <ng-container *ngTemplateOutlet="formTemplate"></ng-container>

        </div>

    </ng-container>


    <!-- Modern relaxed reverse | Copy the contents of this ng-container to use this style -->
    <ng-container *ngIf="cardStyle.value === 'modern-relaxed-reverse'">

        <!-- Card -->
        <div class="card auth modern-relaxed-reverse">

            <!-- Content container -->
            <div class="content-container"></div>

            <!-- Form template projection -->
            <ng-container *ngTemplateOutlet="formTemplate"></ng-container>

        </div>

    </ng-container>

</div>

<!-- Form template -->
<ng-template #formTemplate>

    <!-- Form container -->
    <div class="form-container">

        <!-- Logo -->
        <div class="logo">
            <img class="logo-dark"
                 src="assets/images/logo/logo-dark.svg">
            <img class="logo-light"
                 src="assets/images/logo/logo-light.svg">
        </div>

        <!-- Title -->
        <div class="title-2 mt-64">Confirmation required!</div>

        <!-- Content -->
        <p class="mt-32">
            A confirmation mail has been sent to <b>{{email}}</b>
        </p>

        <p>
            Click on the <b>"Confirm my e-mail address"</b> link from the e-mail to confirm your address.
        </p>

        <!-- Login link -->
        <div class="mt-40 w-full text-center">
            <span class="mr-4">Back to</span>
            <a class="link"
               [routerLink]="['/pages/authentication/login']">login</a>.
        </div>

    </div>

</ng-template>
