@import 'assembly';

auth-confirmation-required {

    .content-layout {
        margin: 32px;

        .card {

            .form-container {

                .title {
                    @extend %title;
                    margin-top: 64px;
                }

                .content {
                    margin-top: 32px;
                }

                .login-link {
                    width: 100%;
                    margin-top: 40px;

                    .link {
                        margin-left: 4px;
                    }
                }
            }
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-angular-material-theme {

    $background: map-get($theme, background);
    $is-dark: map-get($theme, is-dark);

    auth-confirmation-required {

        .content-layout {

            .card {
                background: map-get($background, card);
                @include asm-shadow(1);

                .form-container {

                    .logo {

                        .logo-dark {

                            @if ($is-dark) {
                                display: none;
                            }
                        }

                        .logo-light {

                            @if (not $is-dark) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
