<div class="content-layout fullwidth-basic-normal-scroll">

    <!-- Card style selector - Remove this in production -->
    <mat-form-field class="asm-mat" [appearance]="'standard'">
        <mat-label>Card style</mat-label>
        <mat-select [value]="'classic'"
                    #cardStyle>
            <mat-option [value]="'classic'">Classic</mat-option>
            <mat-option [value]="'modern'">Modern</mat-option>
            <mat-option [value]="'modern-relaxed'">Modern Relaxed</mat-option>
            <mat-option [value]="'modern flipped'">Modern (Flipped)</mat-option>
            <mat-option [value]="'modern-relaxed flipped'">Modern Relaxed (Flipped)</mat-option>
        </mat-select>
    </mat-form-field>
    <!-- / Card style selector -->

    <!-- Card - Can be 'classic', 'modern', 'modern-relaxed', 'modern flipped', 'modern-relaxed flipped' -->
    <asm-card [ngClass]="cardStyle.value">

        <!-- Primary content area -->
        <div class="primary-content">

            <!-- Logo -->
            <div class="logo">
                <img class="logo-dark"
                     src="assets/images/logo/logo-dark.svg">
                <img class="logo-light"
                     src="assets/images/logo/logo-light.svg">
            </div>

            <!-- Title -->
            <h3>Confirmation required!</h3>

            <!-- Description -->
            <div class="description">

                <p>
                    A confirmation mail has been sent to <b>{{email}}</b>
                </p>

                <p>
                    Click on the <b>"Confirm my e-mail address"</b> link from the e-mail to confirm your address.
                </p>

            </div>

            <!-- Login link -->
            <div class="login-link">
                <span>Go to</span>
                <a class="link"
                   [routerLink]="['/pages/authentication/login']">login</a>
            </div>

        </div>

        <!-- Secondary content area -->
        <div class="secondary-content"></div>

    </asm-card>

</div>
