<!-- Navigation -->
<asm-navigation class="navigation bg-gray-800 theme-dark"
                [appearance]="'classic'"
                [data]="data.navigation.default"
                [mode]="isScreenSmall ? 'over' : 'side'"
                [name]="'mainNavigation'"
                [opened]="!isScreenSmall">

    <div asmNavigationContentTop>
        <div class="logo">
            <img src="assets/images/logo/logo-light.svg">
        </div>
    </div>

</asm-navigation>

<!-- Wrapper -->
<div class="wrapper">

    <!-- Header -->
    <div class="header">

        <!-- Navigation toggle button -->
        <button class="navigation-toggle-button"
                mat-icon-button
                (click)="toggleNavigation('mainNavigation')">
            <mat-icon [svgIcon]="'menu'"></mat-icon>
        </button>

        <!-- Shortcuts -->
        <asm-shortcuts (save)="onShortcutSave($event)"
                       (delete)="onShortcutDelete($event)">
            <span asmShortcutsTitle>Quick Access</span>
            <span asmShortcutsSubtitle>Shortcuts for apps and links</span>
        </asm-shortcuts>

        <!-- Search -->
        <asm-search [appearance]="'bar'"
                    [results]="searchResults"
                    [minLength]="2"
                    [noResultsText]="'No results found!'"
                    [placeholder]="'Search for a page or a contact'"
                    (search)="onSearch($event)">

            <ng-template let-result>

                <div class="asm-search-result-image">
                    <mat-icon class="icon-size-16"
                              *ngIf="result.resultType === 'page'"
                              [svgIcon]="'insert_drive_file'"></mat-icon>
                    <ng-container *ngIf="result.resultType === 'contact'">
                        <img *ngIf="result.avatar"
                             [src]="result.avatar">
                        <mat-icon class="icon-size-20"
                                  *ngIf="!result.avatar"
                                  [svgIcon]="'account_circle'"></mat-icon>
                    </ng-container>
                </div>

                <div class="asm-search-result-title"
                     [innerHTML]="result.title">
                </div>

            </ng-template>

        </asm-search>

        <!-- Spacer -->
        <div class="spacer"></div>

        <!-- Cart -->
        <div class="cart">
            <div class="dot"></div>
            <button mat-icon-button>
                <mat-icon [svgIcon]="'shopping_cart'"></mat-icon>
            </button>
        </div>

        <!-- Messages -->
        <div class="messages">
            <div class="dot"></div>
            <button mat-icon-button>
                <mat-icon [svgIcon]="'message'"></mat-icon>
            </button>
        </div>

        <!-- Notifications -->
        <asm-notifications (itemChange)="onNotificationItemChange($event)"
                           (itemRemoved)="onNotificationItemRemoved($event)"
                           (markedAllAsRead)="onNotificationsMarkedAllAsRead()">
            <span asmNotificationsTitle>Notifications</span>
            <span asmNotificationsMarkAsRead>Mark all as read</span>
        </asm-notifications>

        <!-- User -->
        <button class="user"
                mat-button
                [matMenuTriggerFor]="userActions">
            <div class="avatar">
                <img [src]="user.avatar">
                <div class="status"
                     [ngClass]="user.status"></div>
            </div>
            <div class="info">
                <div class="name">{{user.name}}</div>
                <div class="menu">
                    <mat-icon [svgIcon]="'keyboard_arrow_down'"></mat-icon>
                </div>
            </div>

            <mat-menu class="user-actions-menu"
                      [xPosition]="'before'"
                      #userActions="matMenu">
                <button mat-menu-item>
                    <mat-icon [svgIcon]="'account_circle'"></mat-icon>
                    <span>Profile</span>
                </button>
                <button mat-menu-item>
                    <mat-icon [svgIcon]="'settings_applications'"></mat-icon>
                    <span>Settings</span>
                </button>
                <button mat-menu-item
                        [matMenuTriggerFor]="userStatus">
                    <mat-icon [svgIcon]="'radio_button_unchecked'"></mat-icon>
                    <span>Status</span>
                </button>
                <mat-divider class="my-8"></mat-divider>
                <button mat-menu-item>
                    <mat-icon [svgIcon]="'power_settings_new'"></mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>

            <mat-menu class="user-status-menu"
                      #userStatus="matMenu">
                <button mat-menu-item
                        (click)="updateUserStatus('online')">
                    <span class="status online"></span>
                    <span>Online</span>
                </button>
                <button mat-menu-item
                        (click)="updateUserStatus('away')">
                    <span class="status away"></span>
                    <span>Away</span>
                </button>
                <button mat-menu-item
                        (click)="updateUserStatus('busy')">
                    <span class="status busy"></span>
                    <span>Busy</span>
                </button>
                <button mat-menu-item
                        (click)="updateUserStatus('not-visible')">
                    <span class="status not-visible"></span>
                    <span>Invisible</span>
                </button>
            </mat-menu>
        </button>

    </div>

    <!-- Content -->
    <div class="content">

        <!-- *ngIf="true" hack is required here for router-outlet to work correctly. Otherwise,
             it won't register the changes on the layout and won't update the view. -->
        <router-outlet *ngIf="true"></router-outlet>

    </div>

    <!-- Footer -->
    <div class="footer">
        Assembly &copy; {{currentYear}}
    </div>

</div>

<!-- Drawer -->
<asm-drawer [name]="'rightDrawer'"
            [position]="'right'"
            [mode]="'over'">
    <asm-theme-configurator></asm-theme-configurator>
</asm-drawer>
