<div class="content-layout left-sidebar-fullheight-basic-inner-scroll"
     cdkScrollable>

    <mat-drawer-container>

        <!-- Drawer -->
        <mat-drawer [autoFocus]="false"
                    [mode]="drawerMode"
                    [opened]="drawerOpened">

            Sidebar

        </mat-drawer>

        <mat-drawer-content>

            <!-- Main -->
            <div class="main">

                <mat-button-toggle-group [name]="'view'"
                                         (change)="changeView(viewChanger.value)"
                                         [value]="view"
                                         #viewChanger="matButtonToggleGroup">
                    <mat-button-toggle [value]="'dayGridMonth'">Month</mat-button-toggle>
                    <mat-button-toggle [value]="'timeGridWeek'">Week</mat-button-toggle>
                    <mat-button-toggle [value]="'timeGridDay'">Day</mat-button-toggle>
                    <mat-button-toggle [value]="'listMonth'">Schedule</mat-button-toggle>
                </mat-button-toggle-group>

                <button mat-flat-button
                        [color]="'primary'"
                        (click)="previous()">
                    Previous
                </button>

                <button mat-flat-button
                        (click)="today()">
                    Today
                </button>

                <button mat-flat-button
                        [color]="'primary'"
                        (click)="next()">
                    Next
                </button>

                <!-- Month view -->
                <full-calendar [defaultView]="view"
                               [events]="events"
                               [firstDay]="1"
                               [fixedWeekCount]="false"
                               [height]="'parent'"
                               [plugins]="calendarPlugins"
                               [windowResizeDelay]="15"
                               (dateClick)="onDateClick($event)"
                               (eventClick)="onEventClick($event)"
                               #fullCalendar></full-calendar>

                <!-- Event panel -->
                <ng-template #eventPanel>

                    <form [formGroup]="eventForm"
                          novalidate>

                        <mat-form-field class="asm-mat"
                                        [appearance]="'standard'">
                            <input matInput
                                   [formControlName]="'title'"
                                   [placeholder]="'Event title'">
                            <mat-error>This field is required</mat-error>
                        </mat-form-field>

                        <asm-date-range [formControlName]="'range'"
                                        [timeRange]="!eventForm.get('allDay').value"></asm-date-range>

                        <mat-checkbox [formControlName]="'allDay'"
                                      color="primary">
                            All day
                        </mat-checkbox>

                        <button mat-flat-button
                                [disabled]="eventForm.pristine || eventForm.invalid"
                                [color]="'primary'"
                                (click)="updateEvent()">
                            Save
                        </button>

                    </form>

                </ng-template>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>


