<div class="content-layout left-sidebar-fullheight-basic-inner-scroll"
     cdkScrollable>

    <mat-drawer-container>

        <!-- Drawer -->
        <mat-drawer [autoFocus]="false"
                    [mode]="drawerMode"
                    [opened]="drawerOpened">

            <div class="calendars">
                <ng-container *ngFor="let calendar of calendars">
                    <mat-checkbox [value]="calendar.id"
                                  [(ngModel)]="calendar.visible"
                                  (change)="updateCalendar(calendar)">
                        {{calendar.title}}
                    </mat-checkbox>
                </ng-container>
            </div>

        </mat-drawer>

        <mat-drawer-content>

            <!-- Main -->
            <div class="main">

                <div class="header">

                    <button class="today"
                            mat-stroked-button
                            (click)="today()">
                        Today
                    </button>

                    <button class="previous"
                            mat-icon-button
                            (click)="previous()">
                        <mat-icon>chevron_left</mat-icon>
                    </button>

                    <button class="next"
                            mat-icon-button
                            (click)="next()">
                        <mat-icon>chevron_right</mat-icon>
                    </button>

                    <h4 class="title">
                        {{viewTitle}}
                    </h4>

                    <a class="settings"
                       [routerLink]="['settings']"
                       mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </a>

                    <mat-form-field class="asm-mat asm-mat-dense asm-mat-no-label asm-mat-no-subscript view-changer"
                                    [appearance]="'outline'">
                        <mat-select (selectionChange)="changeView(viewChanger.value)"
                                    [value]="view"
                                    #viewChanger="matSelect">
                            <mat-option [value]="'dayGridMonth'">Month</mat-option>
                            <mat-option [value]="'timeGridWeek'">Week</mat-option>
                            <mat-option [value]="'timeGridDay'">Day</mat-option>
                            <mat-option [value]="'listMonth'">Schedule</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>

                <div class="calendar">

                    <!-- Month view -->
                    <full-calendar [defaultView]="view"
                                   [events]="events"
                                   [eventLimit]="3"
                                   [eventTimeFormat]="eventTimeFormat"
                                   [firstDay]="settings.startWeekOn"
                                   [fixedWeekCount]="false"
                                   [header]="false"
                                   [height]="'parent'"
                                   [plugins]="calendarPlugins"
                                   [handleWindowResize]="false"
                                   (dateClick)="onDateClick($event)"
                                   (eventClick)="onEventClick($event)"
                                   (eventRender)="onEventRender($event)"
                                   #fullCalendar></full-calendar>

                </div>

                <!-- Event panel -->
                <ng-template #eventPanel>

                    <form [formGroup]="eventForm"
                          novalidate>

                        <!-- Title -->
                        <div class="row title">

                            <mat-icon>edit</mat-icon>

                            <mat-form-field class="field asm-mat asm-mat-no-label"
                                            [appearance]="'standard'">
                                <input matInput
                                       [formControlName]="'title'"
                                       [placeholder]="'Event title'">
                                <mat-error>This field is required</mat-error>
                            </mat-form-field>

                        </div>

                        <!-- Dates -->
                        <div class="row dates">

                            <mat-icon>date_range</mat-icon>

                            <div class="field">

                                <asm-date-range [formControlName]="'range'"
                                                [dateFormat]="settings.dateFormat"
                                                [timeRange]="!eventForm.get('allDay').value"
                                                [timeFormat]="settings.timeFormat"></asm-date-range>

                                <mat-checkbox [color]="'primary'"
                                              [formControlName]="'allDay'">
                                    All day
                                </mat-checkbox>

                            </div>

                        </div>

                        <!-- Recurrence -->
                        <div class="row recurrence">

                            <mat-icon class="mirror">cached</mat-icon>

                            <div class="field"
                                 (click)="openCustomRecurrenceDialog()"
                                 #recurrencePanelOrigin>
                                <div class="status"
                                     [ngSwitch]="recurrenceStatus">
                                    <span *ngSwitchCase="'no-recurrence'">Does not repeat</span>
                                </div>
                                <div class="mat-select-arrow-wrapper">
                                    <div class="mat-select-arrow"></div>
                                </div>
                            </div>

                        </div>

                        <!-- Calendar -->
                        <div class="row calendar">

                            <mat-icon>event</mat-icon>

                            <mat-form-field class="field asm-mat asm-mat-no-label asm-mat-no-subscript asm-mat-no-underline"
                                            [appearance]="'fill'">
                                <mat-select [formControlName]="'calendarId'"
                                            [panelClass]="'calendar-event-panel-calendar-selector'"
                                            (change)="$event.stopImmediatePropagation()">
                                    <mat-select-trigger>
                                        <span class="calendar-color"
                                              [style.backgroundColor]="getCalendar(eventForm.get('calendarId').value)?.color"></span>
                                        <span class="calendar-title">{{getCalendar(eventForm.get('calendarId').value)?.title}}</span>
                                    </mat-select-trigger>
                                    <mat-option *ngFor="let calendar of calendars"
                                                [value]="calendar.id">
                                        <span class="calendar-color"
                                              [style.backgroundColor]="calendar.color"></span>
                                        <span class="calendar-title">{{calendar.title}}</span>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>

                        <!-- Description -->
                        <div class="row description">

                            <mat-icon>notes</mat-icon>

                            <mat-form-field class="field asm-mat asm-mat-no-label asm-mat-no-subscript asm-mat-no-underline"
                                            [appearance]="'fill'">
                                <textarea matInput
                                          cdkTextareaAutosize
                                          [formControlName]="'description'"
                                          [placeholder]="'Event description'">
                                </textarea>
                            </mat-form-field>

                        </div>

                        <!-- Actions -->
                        <button class="save"
                                mat-flat-button
                                [disabled]="eventForm.pristine || eventForm.invalid"
                                [color]="'primary'"
                                (click)="updateEvent()">
                            Save
                        </button>

                    </form>

                </ng-template>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>


