<div class="header">
    <div class="title">New Message</div>
    <button class="close-button"
            mat-icon-button
            (click)="saveAndClose()"
            [tabIndex]="-1">
        <mat-icon [svgIcon]="'close'"></mat-icon>
    </button>
</div>

<form [formGroup]="composeForm"
      novalidate>

    <!-- To -->
    <mat-form-field class="to asm-mat asm-mat-no-underline"
                    [appearance]="'fill'">
        <mat-label>To</mat-label>
        <input matInput
               [formControlName]="'to'">
        <div class="copy-fields-toggles"
             matSuffix>
            <span class="cc-toggle"
                  *ngIf="!copyFields.cc"
                  (click)="showCopyField('cc')">
                Cc
            </span>
            <span class="bcc-toggle"
                  *ngIf="!copyFields.bcc"
                  (click)="showCopyField('bcc')">
                Bcc
            </span>
        </div>
    </mat-form-field>

    <!-- Cc -->
    <mat-form-field class="cc asm-mat asm-mat-no-underline"
                    *ngIf="copyFields.cc"
                    [appearance]="'fill'">
        <mat-label>Cc</mat-label>
        <input matInput
               [formControlName]="'cc'">
    </mat-form-field>

    <!-- Bcc -->
    <mat-form-field class="bcc asm-mat asm-mat-no-underline"
                    *ngIf="copyFields.bcc"
                    [appearance]="'fill'">
        <mat-label>Bcc</mat-label>
        <input matInput
               [formControlName]="'bcc'">
    </mat-form-field>

    <!-- Subject -->
    <mat-form-field class="subject asm-mat asm-mat-no-underline"
                    [appearance]="'fill'">
        <mat-label>Subject</mat-label>
        <input matInput
               [formControlName]="'subject'">
    </mat-form-field>

    <!-- Body -->
    <mat-form-field class="body asm-mat asm-mat-no-underline"
                    [appearance]="'fill'">
        <mat-label>Message</mat-label>
        <textarea class="textarea"
                  matInput
                  [formControlName]="'body'"
                  [placeholder]="'Type your message here'"
                  [rows]="16"></textarea>
    </mat-form-field>

    <div class="actions">

        <div class="formatting">

            <!-- Attach file -->
            <button mat-icon-button>
                <mat-icon [svgIcon]="'attach_file'"></mat-icon>
            </button>

            <!-- Insert link -->
            <button mat-icon-button>
                <mat-icon [svgIcon]="'link'"></mat-icon>
            </button>

            <!-- Insert emoji -->
            <button mat-icon-button>
                <mat-icon [svgIcon]="'insert_emoticon'"></mat-icon>
            </button>

            <!-- Insert image -->
            <button mat-icon-button>
                <mat-icon [svgIcon]="'image'"></mat-icon>
            </button>

        </div>

        <div class="buttons">

            <!-- Discard -->
            <button class="discard-button"
                    mat-button
                    (click)="discard()">
                <mat-icon [svgIcon]="'delete'"></mat-icon>
                <span>Discard</span>
            </button>

            <!-- Save as draft -->
            <button class="save-button"
                    mat-button
                    (click)="saveAsDraft()">
                <mat-icon [svgIcon]="'save'"></mat-icon>
                <span>Save as draft</span>
            </button>

            <!-- Send -->
            <button class="send-button"
                    mat-raised-button
                    [color]="'primary'"
                    [disabled]="composeForm.pristine || composeForm.invalid"
                    (click)="send()">
                <span>Send</span>
            </button>

        </div>

    </div>

</form>
