<div class="content-layout fullwidth-standard docs">

    <div class="header">

        <div class="container">

            <div class="breadcrumb">
                <span class="path">UI ELEMENTS</span>
                <span class="separator">/</span>
                <span class="path current">ANGULAR MATERIAL</span>
            </div>
            <h1>Angular Material</h1>

        </div>

    </div>

    <div class="main">

        <div class="container">

            <!-- Introduction -->
            <h2>
                Introduction
            </h2>
            <p>
                Assembly uses Angular Material as its primary user interface library. It offers form controls,
                buttons, tabs, sidebars, icons, modals, tooltips, data tables and many more well tested and
                widely used components.
            </p>
            <p>
                Even though Assembly doesn't follow Google's Material design specifications, Angular Material
                is one of the best Angular component libraries out there and since it's developed and maintained
                by Google itself, it offers the best compatibility and support for Angular.
            </p>
            <p>
                Assembly is 100% compatible with all Angular Material components.
            </p>

            <!-- Official docs -->
            <h2>
                Official docs
            </h2>
            <p>
                Official Angular Material documentation:
                <a class="link"
                   href="https://material.angular.io/components/categories"
                   target="_blank">
                    https://material.angular.io/components/categories
                </a>
            </p>

        </div>

    </div>

</div>
