<div class="content-layout fullwidth-standard-normal-scroll docs">

    <div class="header">

        <div class="container">

            <div class="breadcrumb">
                <span class="path">UI ELEMENTS</span>
                <span class="separator">/</span>
                <span class="path">FORMS</span>
                <span class="separator">/</span>
                <span class="path current">FIELDS</span>
            </div>
            <h1>Form Fields</h1>

        </div>

    </div>

    <div class="main">

        <div class="container mb-32">
            <p>
                By default, Assembly uses the <b>Fill</b> style form fields and apply numerous of tweaks on top of it to make it cleaner, better aligned and consistent across the
                app. We absolutely do NOT recommend using any other Angular Material form field style other than <b>Fill</b>.
            </p>
            <p>
                These examples use <a class="link"
                                      href="https://tailwindcss.com/"
                                      target="_blank">TailwindCSS</a> helper classes. We strongly recommend you to use <b>TailwindCSS</b> to build your form layouts. This not only
                allows an extreme flexibility on your forms but it also saves time since forms are more generic components and they don't necessarily require explicit id/class
                naming on the form itself or on structural elements when using them with Angular because of how Angular handles the forms.
            </p>
            <p>
                To learn more about the available helper classes for <b>Fill</b> field style, check out the <a class="link"
                                                                                                               [routerLink]="['/ui/helper-classes/assembly']">Assembly Helper
                Classes</a> page.
            </p>

            <!-- Appearance -->
            <div class="mt-48">

                <h3 class="my-0">Appearance</h3>
                <p class="mt-8 mb-24">
                    Here's a very simple form layout to showcase the <b>Fill</b> form field appearance.
                </p>

                <asm-card class="flex flex-col mt-32 p-32 pb-20">

                    <form class="mt-8">

                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field class="flex-auto gt-xs:pr-12">
                                <mat-label>First name</mat-label>
                                <input matInput>
                                <mat-icon matSuffix
                                          [svgIcon]="'account_circle'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pl-12">
                                <mat-label>Last name</mat-label>
                                <input matInput>
                                <mat-icon matSuffix
                                          [svgIcon]="'account_circle'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex">
                            <mat-form-field class="asm-mat-textarea flex-auto">
                                <mat-label>Address</mat-label>
                                <textarea matInput
                                          cdkTextareaAutosize
                                          cdkAutosizeMinRows="3"></textarea>
                                <mat-icon matSuffix
                                          [svgIcon]="'room'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex flex-col gt-md:flex-row">
                            <mat-form-field class="flex-auto gt-md:pr-12">
                                <mat-label>City</mat-label>
                                <input matInput>
                                <mat-icon matSuffix
                                          [svgIcon]="'landscape'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-md:pl-12">
                                <mat-label>State</mat-label>
                                <input matInput>
                                <mat-icon matSuffix
                                          [svgIcon]="'landscape'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <mat-label>Postal code</mat-label>
                                <input matInput
                                       maxlength="5"
                                       #postalCode>
                                <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                                <mat-icon matSuffix
                                          [svgIcon]="'mail'"></mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="flex items-center justify-end border-t -mx-32 mt-20 px-32 pt-20">
                            <button mat-button>
                                Cancel
                            </button>
                            <button class="px-24 ml-12"
                                    mat-flat-button
                                    [color]="'primary'">
                                Save
                            </button>
                        </div>

                    </form>

                </asm-card>

            </div>

            <!-- Label positions -->
            <div class="mt-64">

                <h3 class="my-0">Label positions</h3>
                <p class="mt-8 mb-40">
                    Following form contains different examples to showcase the possible label positions for the default (<b>fill</b>) form field appearance. All fields are normal
                    <em>inputs</em> but all label positions can be applied to other input types such as <em>Textarea</em>, <em>Select</em>, <em>Chips</em> etc.
                </p>

                <asm-card class="flex flex-col mt-32 p-32 pb-20">

                    <form class="mt-8">

                        <mat-form-field class="w-full">
                            <mat-label>Floating label</mat-label>
                            <input matInput>
                        </mat-form-field>

                        <mat-form-field class="w-full">
                            <input matInput
                                   [placeholder]="'Placeholder only'">
                        </mat-form-field>

                        <mat-divider class="mt-24 mb-40"></mat-divider>

                        <label class="asm-mat-label">
                            <span>Label on top</span>
                            <mat-form-field class="flex-auto">
                                <input matInput>
                            </mat-form-field>
                        </label>

                        <label class="asm-mat-label">
                            <span>Label on top</span>
                            <mat-form-field class="flex-auto">
                                <input matInput
                                       [placeholder]="'with optional placeholder'">
                            </mat-form-field>
                        </label>

                        <mat-divider class="mt-24 mb-48"></mat-divider>

                        <label class="asm-mat-label asm-start">
                            <span>Label on start</span>
                            <mat-form-field class="flex-auto">
                                <input matInput>
                            </mat-form-field>
                        </label>

                        <label class="asm-mat-label asm-start">
                            <span>Label on start</span>
                            <mat-form-field class="flex-auto">
                                <input matInput
                                       [placeholder]="'with optional placeholder'">
                            </mat-form-field>
                        </label>

                        <mat-divider class="mt-24 mb-40"></mat-divider>

                        <label class="asm-mat-label asm-end">
                            <span>Label on end</span>
                            <mat-form-field class="flex-auto">
                                <input matInput>
                            </mat-form-field>
                        </label>

                        <label class="asm-mat-label asm-end">
                            <span>Label on end</span>
                            <mat-form-field class="flex-auto">
                                <input matInput
                                       [placeholder]="'with optional placeholder'">
                            </mat-form-field>
                        </label>

                        <div class="flex items-center justify-end border-t -mx-32 mt-20 px-32 pt-20">
                            <button mat-button>
                                Cancel
                            </button>
                            <button class="px-24 ml-12"
                                    mat-flat-button
                                    [color]="'primary'">
                                Save
                            </button>
                        </div>

                    </form>

                </asm-card>

            </div>

        </div>

    </div>

</div>
