@import 'src/@assembly/styles/assembly';

compact-layout {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;

    // Header
    .header {
        position: sticky;
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: start;
        width: 100%;
        height: 80px;
        max-height: 80px;
        min-height: 80px;
        top: 0;
        padding: 0 24px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05),
        0 2px 12px 0 rgba(0, 0, 0, 0.05);
        z-index: 10;

        + .container {

            .navigation {
                top: 80px;
                height: calc(100vh - 80px);
                min-height: calc(100vh - 80px);
                max-height: calc(100vh - 80px);
            }
        }
    }

    // Container
    > .container {
        position: relative;
        display: flex;
        flex: 1 1 auto;
        z-index: 5;

        // Navigation
        .navigation {
            width: 120px;
            min-width: 120px;
            max-width: 120px;

            // Left positioned
            &.asm-navigation-position-left {

                &.asm-navigation-mode-side {
                    margin-left: -120px;
                }

                &.asm-navigation-opened {
                    margin-left: 0;
                }
            }

            // Right positioned
            &.asm-navigation-position-right {

                &.asm-navigation-mode-side {
                    margin-right: -120px;
                }

                &.asm-navigation-opened {
                    margin-right: 0;
                }

                .asm-navigation-aside-wrapper {
                    left: auto;
                    right: 120px;
                }
            }

            .asm-navigation-content {
                margin: 16px 0;

                > asm-navigation-collapsable-item,
                > asm-navigation-group-item {
                    display: none
                }

                > asm-navigation-aside-item,
                > asm-navigation-basic-item {

                    .asm-navigation-item {
                        flex-direction: column;
                        justify-content: center;
                        height: 110px;
                        min-height: 110px;
                        max-height: 110px;
                        padding: 0 16px;

                        .asm-navigation-item-icon {
                            margin-right: 0;
                            margin-bottom: 12px;
                            @include icon-size(32);
                        }
                    }
                }
            }

            .asm-navigation-aside-wrapper {
                left: 120px;

                .asm-navigation-item {
                    box-shadow: none;
                    margin-right: 16px;
                    padding-right: 16px;
                    border-radius: 0 26px 26px 0;
                }
            }
        }

        > .container {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;

            // Content
            .content {
                display: flex;
                flex: 1 1 auto;
            }

            // Footer
            .footer {
                display: flex;
                flex: 1 1 auto;
                align-items: center;
                justify-content: start;
                width: 100%;
                height: 80px;
                max-height: 80px;
                min-height: 80px;
                padding: 0 24px;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05),
                0 2px 12px 0 rgba(0, 0, 0, 0.05);
                z-index: 10;
            }
        }
    }

    // Fixed footer
    &.fixed-footer {

        > .container {

            > .container {

                .footer {
                    position: sticky;
                    bottom: 0;
                }
            }
        }
    }
}
