@font-face {
    font-family: 'dripicons';
    src: url('fonts/dripicons.ttf?q8gtss') format('truetype'),
    url('fonts/dripicons.woff?q8gtss') format('woff'),
    url('fonts/dripicons.svg?q8gtss#dripicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

i.dripicons, .dripicons {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'dripicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dripicons-alarm:before {
    content: "\e900";
}

.dripicons-align_center:before {
    content: "\e901";
}

.dripicons-align_justify:before {
    content: "\e902";
}

.dripicons-align_left:before {
    content: "\e903";
}

.dripicons-align_right:before {
    content: "\e904";
}

.dripicons-anchor:before {
    content: "\e905";
}

.dripicons-archive:before {
    content: "\e906";
}

.dripicons-arrow_down:before {
    content: "\e907";
}

.dripicons-arrow_left:before {
    content: "\e908";
}

.dripicons-arrow_right:before {
    content: "\e909";
}

.dripicons-arrow_thin_down:before {
    content: "\e90a";
}

.dripicons-arrow_thin_left:before {
    content: "\e90b";
}

.dripicons-arrow_thin_right:before {
    content: "\e90c";
}

.dripicons-arrow_thin_up:before {
    content: "\e90d";
}

.dripicons-arrow_up:before {
    content: "\e90e";
}

.dripicons-article:before {
    content: "\e90f";
}

.dripicons-backspace:before {
    content: "\e910";
}

.dripicons-basket:before {
    content: "\e911";
}

.dripicons-basketball:before {
    content: "\e912";
}

.dripicons-battery_empty:before {
    content: "\e913";
}

.dripicons-battery_full:before {
    content: "\e914";
}

.dripicons-battery_low:before {
    content: "\e915";
}

.dripicons-battery_medium:before {
    content: "\e916";
}

.dripicons-bell:before {
    content: "\e917";
}

.dripicons-blog:before {
    content: "\e918";
}

.dripicons-bluetooth:before {
    content: "\e919";
}

.dripicons-bold:before {
    content: "\e91a";
}

.dripicons-bookmark:before {
    content: "\e91b";
}

.dripicons-bookmarks:before {
    content: "\e91c";
}

.dripicons-box:before {
    content: "\e91d";
}

.dripicons-briefcase:before {
    content: "\e91e";
}

.dripicons-brightness_low:before {
    content: "\e91f";
}

.dripicons-brightness_max:before {
    content: "\e920";
}

.dripicons-brightness_medium:before {
    content: "\e921";
}

.dripicons-broadcast:before {
    content: "\e922";
}

.dripicons-browser_upload:before {
    content: "\e923";
}

.dripicons-browser:before {
    content: "\e924";
}

.dripicons-brush:before {
    content: "\e925";
}

.dripicons-calendar:before {
    content: "\e926";
}

.dripicons-camcorder:before {
    content: "\e927";
}

.dripicons-camera:before {
    content: "\e928";
}

.dripicons-card:before {
    content: "\e929";
}

.dripicons-cart:before {
    content: "\e92a";
}

.dripicons-checklist:before {
    content: "\e92b";
}

.dripicons-checkmark:before {
    content: "\e92c";
}

.dripicons-chevron_down:before {
    content: "\e92d";
}

.dripicons-chevron_left:before {
    content: "\e92e";
}

.dripicons-chevron_right:before {
    content: "\e92f";
}

.dripicons-chevron_up:before {
    content: "\e930";
}

.dripicons-clipboard:before {
    content: "\e931";
}

.dripicons-clock:before {
    content: "\e932";
}

.dripicons-clockwise:before {
    content: "\e933";
}

.dripicons-cloud_download:before {
    content: "\e934";
}

.dripicons-cloud_upload:before {
    content: "\e935";
}

.dripicons-cloud:before {
    content: "\e936";
}

.dripicons-code:before {
    content: "\e937";
}

.dripicons-contract_2:before {
    content: "\e938";
}

.dripicons-contract:before {
    content: "\e939";
}

.dripicons-conversation:before {
    content: "\e93a";
}

.dripicons-copy:before {
    content: "\e93b";
}

.dripicons-crop:before {
    content: "\e93c";
}

.dripicons-cross:before {
    content: "\e93d";
}

.dripicons-crosshair:before {
    content: "\e93e";
}

.dripicons-cutlery:before {
    content: "\e93f";
}

.dripicons-device_desktop:before {
    content: "\e940";
}

.dripicons-device_mobile:before {
    content: "\e941";
}

.dripicons-device_tablet:before {
    content: "\e942";
}

.dripicons-direction:before {
    content: "\e943";
}

.dripicons-disc:before {
    content: "\e944";
}

.dripicons-document_delete:before {
    content: "\e945";
}

.dripicons-document_edit:before {
    content: "\e946";
}

.dripicons-document_new:before {
    content: "\e947";
}

.dripicons-document_remove:before {
    content: "\e948";
}

.dripicons-document:before {
    content: "\e949";
}

.dripicons-dot:before {
    content: "\e94a";
}

.dripicons-dots_2:before {
    content: "\e94b";
}

.dripicons-dots_3:before {
    content: "\e94c";
}

.dripicons-download:before {
    content: "\e94d";
}

.dripicons-duplicate:before {
    content: "\e94e";
}

.dripicons-enter:before {
    content: "\e94f";
}

.dripicons-exit:before {
    content: "\e950";
}

.dripicons-expand_2:before {
    content: "\e951";
}

.dripicons-expand:before {
    content: "\e952";
}

.dripicons-experiment:before {
    content: "\e953";
}

.dripicons-export:before {
    content: "\e954";
}

.dripicons-feed:before {
    content: "\e955";
}

.dripicons-flag:before {
    content: "\e956";
}

.dripicons-flashlight:before {
    content: "\e957";
}

.dripicons-folder_open:before {
    content: "\e958";
}

.dripicons-folder:before {
    content: "\e959";
}

.dripicons-forward:before {
    content: "\e95a";
}

.dripicons-gaming:before {
    content: "\e95b";
}

.dripicons-gear:before {
    content: "\e95c";
}

.dripicons-graduation:before {
    content: "\e95d";
}

.dripicons-graph_bar:before {
    content: "\e95e";
}

.dripicons-graph_line:before {
    content: "\e95f";
}

.dripicons-graph_pie:before {
    content: "\e960";
}

.dripicons-headset:before {
    content: "\e961";
}

.dripicons-heart:before {
    content: "\e962";
}

.dripicons-help:before {
    content: "\e963";
}

.dripicons-home:before {
    content: "\e964";
}

.dripicons-hourglass:before {
    content: "\e965";
}

.dripicons-inbox:before {
    content: "\e966";
}

.dripicons-information:before {
    content: "\e967";
}

.dripicons-italic:before {
    content: "\e968";
}

.dripicons-jewel:before {
    content: "\e969";
}

.dripicons-lifting:before {
    content: "\e96a";
}

.dripicons-lightbulb:before {
    content: "\e96b";
}

.dripicons-link_broken:before {
    content: "\e96c";
}

.dripicons-link:before {
    content: "\e96d";
}

.dripicons-list:before {
    content: "\e96e";
}

.dripicons-loading:before {
    content: "\e96f";
}

.dripicons-location:before {
    content: "\e970";
}

.dripicons-lock_open:before {
    content: "\e971";
}

.dripicons-lock:before {
    content: "\e972";
}

.dripicons-mail:before {
    content: "\e973";
}

.dripicons-map:before {
    content: "\e974";
}

.dripicons-media_loop:before {
    content: "\e975";
}

.dripicons-media_next:before {
    content: "\e976";
}

.dripicons-media_pause:before {
    content: "\e977";
}

.dripicons-media_play:before {
    content: "\e978";
}

.dripicons-media_previous:before {
    content: "\e979";
}

.dripicons-media_record:before {
    content: "\e97a";
}

.dripicons-media_shuffle:before {
    content: "\e97b";
}

.dripicons-media_stop:before {
    content: "\e97c";
}

.dripicons-medical:before {
    content: "\e97d";
}

.dripicons-menu:before {
    content: "\e97e";
}

.dripicons-message:before {
    content: "\e97f";
}

.dripicons-meter:before {
    content: "\e980";
}

.dripicons-microphone:before {
    content: "\e981";
}

.dripicons-minus:before {
    content: "\e982";
}

.dripicons-monitor:before {
    content: "\e983";
}

.dripicons-move:before {
    content: "\e984";
}

.dripicons-music:before {
    content: "\e985";
}

.dripicons-network_1:before {
    content: "\e986";
}

.dripicons-network_2:before {
    content: "\e987";
}

.dripicons-network_3:before {
    content: "\e988";
}

.dripicons-network_4:before {
    content: "\e989";
}

.dripicons-network_5:before {
    content: "\e98a";
}

.dripicons-pamphlet:before {
    content: "\e98b";
}

.dripicons-paperclip:before {
    content: "\e98c";
}

.dripicons-pencil:before {
    content: "\e98d";
}

.dripicons-phone:before {
    content: "\e98e";
}

.dripicons-photo_group:before {
    content: "\e98f";
}

.dripicons-photo:before {
    content: "\e990";
}

.dripicons-pill:before {
    content: "\e991";
}

.dripicons-pin:before {
    content: "\e992";
}

.dripicons-plus:before {
    content: "\e993";
}

.dripicons-power:before {
    content: "\e994";
}

.dripicons-preview:before {
    content: "\e995";
}

.dripicons-print:before {
    content: "\e996";
}

.dripicons-pulse:before {
    content: "\e997";
}

.dripicons-question:before {
    content: "\e998";
}

.dripicons-reply_all:before {
    content: "\e999";
}

.dripicons-reply:before {
    content: "\e99a";
}

.dripicons-return:before {
    content: "\e99b";
}

.dripicons-retweet:before {
    content: "\e99c";
}

.dripicons-rocket:before {
    content: "\e99d";
}

.dripicons-scale:before {
    content: "\e99e";
}

.dripicons-search:before {
    content: "\e99f";
}

.dripicons-shopping_bag:before {
    content: "\e9a0";
}

.dripicons-skip:before {
    content: "\e9a1";
}

.dripicons-stack:before {
    content: "\e9a2";
}

.dripicons-star:before {
    content: "\e9a3";
}

.dripicons-stopwatch:before {
    content: "\e9a4";
}

.dripicons-store:before {
    content: "\e9a5";
}

.dripicons-suitcase:before {
    content: "\e9a6";
}

.dripicons-swap:before {
    content: "\e9a7";
}

.dripicons-tag_delete:before {
    content: "\e9a8";
}

.dripicons-tag:before {
    content: "\e9a9";
}

.dripicons-tags:before {
    content: "\e9aa";
}

.dripicons-thumbs_down:before {
    content: "\e9ab";
}

.dripicons-thumbs_up:before {
    content: "\e9ac";
}

.dripicons-ticket:before {
    content: "\e9ad";
}

.dripicons-time_reverse:before {
    content: "\e9ae";
}

.dripicons-to_do:before {
    content: "\e9af";
}

.dripicons-toggles:before {
    content: "\e9b0";
}

.dripicons-trash:before {
    content: "\e9b1";
}

.dripicons-trophy:before {
    content: "\e9b2";
}

.dripicons-upload:before {
    content: "\e9b3";
}

.dripicons-user_group:before {
    content: "\e9b4";
}

.dripicons-user_id:before {
    content: "\e9b5";
}

.dripicons-user:before {
    content: "\e9b6";
}

.dripicons-vibrate:before {
    content: "\e9b7";
}

.dripicons-view_apps:before {
    content: "\e9b8";
}

.dripicons-view_list-large:before {
    content: "\e9b9";
}

.dripicons-view_list:before {
    content: "\e9ba";
}

.dripicons-view_thumb:before {
    content: "\e9bb";
}

.dripicons-volume_full:before {
    content: "\e9bc";
}

.dripicons-volume_low:before {
    content: "\e9bd";
}

.dripicons-volume_medium:before {
    content: "\e9be";
}

.dripicons-volume_off:before {
    content: "\e9bf";
}

.dripicons-wallet:before {
    content: "\e9c0";
}

.dripicons-warning:before {
    content: "\e9c1";
}

.dripicons-web:before {
    content: "\e9c2";
}

.dripicons-weight:before {
    content: "\e9c3";
}

.dripicons-wifi:before {
    content: "\e9c4";
}

.dripicons-wrong:before {
    content: "\e9c5";
}

.dripicons-zoom_in:before {
    content: "\e9c6";
}

.dripicons-zoom_out:before {
    content: "\e9c7";
}
