<div class="content-layout with-centered-content">

    <!-- Card style selector -->
    <mat-form-field class="mb-64"
                    [appearance]="'outline'">
        <mat-label>Card style</mat-label>
        <mat-select [value]="'classic'"
                    #cardStyle>
            <mat-option [value]="'classic'">Classic</mat-option>
            <mat-option [value]="'modern'">Modern</mat-option>
            <mat-option [value]="'modern-relaxed'">Modern Relaxed</mat-option>
            <mat-option [value]="'modern-reverse'">Modern Reverse</mat-option>
            <mat-option [value]="'modern-relaxed-reverse'">Modern Relaxed Reverse</mat-option>
        </mat-select>
    </mat-form-field>


    <!-- Classic | Copy the contents of this ng-container to use this style -->
    <ng-container *ngIf="cardStyle.value === 'classic'">

        <!-- Card -->
        <div class="card auth classic">

            <!-- Form template projection -->
            <ng-container *ngTemplateOutlet="formTemplate"></ng-container>

        </div>

    </ng-container>


    <!-- Modern | Copy the contents of this ng-container to use this style -->
    <ng-container *ngIf="cardStyle.value === 'modern'">

        <!-- Card -->
        <div class="card auth modern">

            <!-- Form template projection -->
            <ng-container *ngTemplateOutlet="formTemplate"></ng-container>

            <!-- Content container -->
            <div class="content-container"></div>

        </div>

    </ng-container>


    <!-- Modern relaxed | Copy the contents of this ng-container to use this style -->
    <ng-container *ngIf="cardStyle.value === 'modern-relaxed'">

        <!-- Card -->
        <div class="card auth modern-relaxed">

            <!-- Form template projection -->
            <ng-container *ngTemplateOutlet="formTemplate"></ng-container>

            <!-- Content container -->
            <div class="content-container"></div>

        </div>

    </ng-container>


    <!-- Modern reverse | Copy the contents of this ng-container to use this style-->
    <ng-container *ngIf="cardStyle.value === 'modern-reverse'">

        <!-- Card -->
        <div class="card auth modern-reverse">

            <!-- Content container -->
            <div class="content-container"></div>

            <!-- Form template projection -->
            <ng-container *ngTemplateOutlet="formTemplate"></ng-container>

        </div>

    </ng-container>


    <!-- Modern relaxed reverse | Copy the contents of this ng-container to use this style -->
    <ng-container *ngIf="cardStyle.value === 'modern-relaxed-reverse'">

        <!-- Card -->
        <div class="card auth modern-relaxed-reverse">

            <!-- Content container -->
            <div class="content-container"></div>

            <!-- Form template projection -->
            <ng-container *ngTemplateOutlet="formTemplate"></ng-container>

        </div>

    </ng-container>

</div>

<!-- Form template -->
<ng-template #formTemplate>

    <!-- Form container -->
    <div class="form-container">

        <!-- Logo -->
        <div class="logo">
            <img class="logo-dark"
                 src="assets/images/logo/logo-dark.svg">
            <img class="logo-light"
                 src="assets/images/logo/logo-light.svg">
        </div>

        <!-- Title -->
        <div class="title mt-64">Lost your password?</div>
        <div class="subtitle mt-8 secondary-text">Fill the form to reset your password</div>

        <!-- Message box -->
        <asm-message class="mt-48"
                     *ngIf="messageBox"
                     [appearance]="'solid'"
                     [type]="messageBox.type"
                     [@shake]="messageBoxAnimationState">
            <div asmMessageContent>{{messageBox.message}}</div>
        </asm-message>

        <!-- Forgot password form -->
        <form class="mt-40"
              [formGroup]="forgotPasswordForm"
              novalidate>

            <!-- Email field -->
            <mat-form-field class="w-full"
                            [appearance]="'standard'">
                <mat-label>Email</mat-label>
                <input id="email"
                       matInput
                       [formControlName]="'email'">
                <mat-icon matSuffix>mail</mat-icon>
                <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                    Email is required
                </mat-error>
                <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                    Please enter a valid email address
                </mat-error>
            </mat-form-field>

            <!-- Send reset link button -->
            <button class="asm-mat-button-large mt-48 w-full"
                    mat-raised-button
                    [color]="'primary'"
                    [disabled]="forgotPasswordForm.disabled || forgotPasswordForm.invalid">
                <span *ngIf="!forgotPasswordForm.disabled">
                    Send Reset Link
                </span>
                <span *ngIf="forgotPasswordForm.disabled">
                    <asm-spinner [appearance]="'material'"
                                 [diameter]="24"></asm-spinner>
                </span>
            </button>

            <!-- Login link -->
            <div class="mt-24 w-full text-center">
                <span class="mr-4">Back to</span>
                <a class="link"
                   [routerLink]="['/pages/authentication/login']">login</a>.
            </div>

        </form>

    </div>

</ng-template>
