@import 'assembly';

forgot-password {

    .content-layout {

        asm-card {

            // Classic
            &.classic {

                .primary-content {
                    max-width: 400px;
                    padding: 64px;

                    @include asm-media-breakpoint('lt-sm') {
                        padding: 64px 40px;
                    }
                }

                .secondary-content {
                    display: none !important;
                }
            }

            // Modern
            &.modern {
                max-width: 960px;
                width: 100%;

                @include asm-media-breakpoint('lt-md') {
                    width: auto;
                }

                .primary-content {
                    min-width: 400px;
                    max-width: 400px;
                    padding: 64px;

                    @include asm-media-breakpoint('lt-sm') {
                        padding: 64px 40px;
                        width: auto;
                        min-width: 0;
                    }
                }
            }

            // Modern relaxed
            &.modern-relaxed {
                max-width: 960px;
                width: 100%;

                @include asm-media-breakpoint('lt-md') {
                    width: auto;
                }

                .primary-content {
                    min-width: 512px;
                    max-width: 512px;
                    padding: 64px 96px;

                    @include asm-media-breakpoint('lt-sm') {
                        padding: 64px 40px;
                        max-width: 400px;
                        min-width: 0;
                        width: auto;
                    }
                }
            }

            // Flip the order of primary and secondary content
            &.flipped {

                .primary-content {
                    order: 2;
                }

                .secondary-content {
                    order: 1;
                }
            }

            .primary-content {
                display: flex;
                flex-direction: column;
                order: 1;
                width: 100%;

                .title {
                    @extend %title;
                    margin-top: 64px;
                }

                .subtitle {
                    @extend %subtitle;
                    margin-top: 4px;
                }

                asm-message {
                    margin-top: 48px;
                }

                form {
                    margin-top: 40px;

                    .mat-form-field {
                        width: 100%;
                    }

                    .send-reset-link-button {
                        width: 100%;
                        margin-top: 48px;
                    }

                    .login-link {
                        width: 100%;
                        margin-top: 24px;
                        text-align: center;

                        .link {
                            margin-left: 4px;
                        }
                    }
                }
            }

            .secondary-content {
                display: flex;
                order: 2;
                background-image: url('assets/images/pages/authentication/card-image.jpg');
                background-size: cover;
                background-position: center;
                width: 100%;

                @include asm-media-breakpoint('lt-md') {
                    display: none;
                }
            }
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-angular-material-theme {

    $is-dark: map-get($theme, is-dark);

    forgot-password {

        .content-layout {

            asm-card {

                .primary-content {

                    .logo {

                        .logo-dark {

                            @if ($is-dark) {
                                display: none;
                            }
                        }

                        .logo-light {

                            @if (not $is-dark) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
