@import 'assembly';

:host {
    flex-direction: column;
    align-items: center;
    padding: 32px;

    .icons-header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 32px;

        .icons-filter-input {
            max-width: 400px;
            width: 100%;
            margin-right: 32px;
        }
    }

    .icon-tiles {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        width: 100%;

        .icon-tile {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 16px;
            padding: 16px;
            min-width: 160px;
            max-width: 160px;
            width: 160px;
            min-height: 160px;
            max-height: 160px;
            height: 160px;
            border-radius: 8px;
            border: 1px solid;

            .icon-preview {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 24px;
            }

            .icon-name {
                text-align: center;
                word-break: break-all;
                font-weight: 600;
            }
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-angular-material-theme() {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .icon-tiles {

        .icon-tile {
            background: map-get($background, card);
            border-color: map-get($foreground, divider);

            .icon-preview {

                .mat-icon {
                    color: map-get($foreground, hint-text) !important;
                }
            }

            .icon-name {
                color: map-get($foreground, secondary-text) !important;
            }
        }
    }
}
