<!-- Shortcuts toggle -->
<button class="asm-shortcuts-toggle"
        mat-icon-button
        (click)="openPanel()"
        #shortcutsOrigin>
    <mat-icon [svgIcon]="'apps'"></mat-icon>
</button>

<!-- Shortcuts panel -->
<ng-template #shortcutsPanel>

    <div class="asm-shortcuts-panel">

        <div class="header">

            <div class="left">
                <div class="title"
                     *ngIf="title">
                    {{title}}
                </div>
                <div class="subtitle"
                     *ngIf="subtitle">
                    {{subtitle}}
                </div>
            </div>

            <div class="right">

                <!-- View mode -->
                <ng-container *ngIf="mode === 'view'">

                    <!-- Enter 'modify' mode -->
                    <button mat-icon-button
                            (click)="changeMode('modify')"
                            [matTooltip]="'Edit shortcuts'">
                        <mat-icon [svgIcon]="'edit'"></mat-icon>
                    </button>

                    <!-- Enter 'add' mode -->
                    <button mat-icon-button
                            (click)="newShortcut()"
                            [matTooltip]="'Add shortcut'">
                        <mat-icon [svgIcon]="'add_circle'"></mat-icon>
                    </button>

                </ng-container>

                <!-- Modify mode -->
                <ng-container *ngIf="mode === 'modify'">

                    <!-- Enter 'view' mode -->
                    <button mat-icon-button
                            (click)="changeMode('view')"
                            [matTooltip]="'Cancel'">
                        <mat-icon [svgIcon]="'arrow_back'"></mat-icon>
                    </button>

                </ng-container>

                <!-- Add mode -->
                <ng-container *ngIf="mode === 'add'">

                    <!-- Enter 'view' mode -->
                    <button mat-icon-button
                            (click)="changeMode('view')">
                        <mat-icon [svgIcon]="'arrow_back'"
                                  [matTooltip]="'Cancel'"></mat-icon>
                    </button>

                </ng-container>

                <!-- Edit mode -->
                <ng-container *ngIf="mode === 'edit'">

                    <!-- Enter 'modify' mode -->
                    <button mat-icon-button
                            (click)="changeMode('modify')">
                        <mat-icon [svgIcon]="'arrow_back'"
                                  [matTooltip]="'Cancel'"></mat-icon>
                    </button>

                </ng-container>

            </div>

        </div>

        <div class="content"
             [ngClass]="'mode-' + mode">

            <!-- View mode -->
            <ng-container *ngIf="mode === 'view' || mode === 'modify'">

                <!-- Shortcuts -->
                <ng-container *ngFor="let shortcut of shortcuts">

                    <div class="shortcut">

                        <button class="edit-shortcut"
                                mat-icon-button
                                (click)="editShortcut(shortcut)">
                            <mat-icon [svgIcon]="'edit'"></mat-icon>
                        </button>

                        <a [href]="shortcut.link">
                            <mat-icon [svgIcon]="shortcut.icon"></mat-icon>
                            <div class="label">{{shortcut.label}}</div>
                            <div class="description">{{shortcut.description}}</div>
                        </a>

                    </div>

                </ng-container>

            </ng-container>

            <!-- Form mode -->
            <ng-container *ngIf="mode === 'add' || mode === 'edit'">

                <form [formGroup]="shortcutForm">

                    <mat-form-field>
                        <input matInput
                               [formControlName]="'label'"
                               required>
                        <mat-label>Label</mat-label>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput
                               [formControlName]="'description'">
                        <mat-label>Description</mat-label>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput
                               [formControlName]="'icon'"
                               required>
                        <mat-label>Icon</mat-label>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput
                               [formControlName]="'link'"
                               required>
                        <mat-label>Link</mat-label>
                    </mat-form-field>

                    <div class="actions">

                        <button class="delete"
                                *ngIf="mode === 'edit'"
                                mat-flat-button
                                type="button"
                                (click)="deleteShortcut()">
                            Delete
                        </button>

                        <button mat-flat-button
                                [color]="'primary'"
                                [disabled]="!shortcutForm.valid"
                                type="button"
                                (click)="saveShortcut()">
                            <ng-container *ngIf="mode === 'add'">Add</ng-container>
                            <ng-container *ngIf="mode === 'edit'">Update</ng-container>
                        </button>

                    </div>

                </form>

            </ng-container>

        </div>

    </div>

</ng-template>
