// -----------------------------------------------------------------------------------------------------
// @ Content layout
// -----------------------------------------------------------------------------------------------------
.content-layout {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    max-width: 100%;
    min-width: 0;

    // -----------------------------------------------------------------------------------------------------
    // @ Common
    // -----------------------------------------------------------------------------------------------------
    > .header {

        .breadcrumb {
            margin-bottom: 8px;
        }

        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6 {
            margin: 0;
        }
    }

    // -----------------------------------------------------------------------------------------------------
    // @ Fullwidth basic
    // -----------------------------------------------------------------------------------------------------
    &.fullwidth-basic {
        padding: 64px;

        @include asm-media-breakpoint('lt-sm') {
            padding: 32px;
        }
    }

    // -----------------------------------------------------------------------------------------------------
    // @ Fullwidth basic inner scroll
    // -----------------------------------------------------------------------------------------------------
    &.fullwidth-basic-inner-scroll {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;

        > .main {
            width: 100%;
            padding: 64px;
            overflow-x: auto;

            @include asm-media-breakpoint('lt-sm') {
                padding: 32px;
            }
        }
    }

    // -----------------------------------------------------------------------------------------------------
    // @ Fullwidth standard
    // -----------------------------------------------------------------------------------------------------
    &.fullwidth-standard {
        flex-direction: column;

        > .header {
            padding: 64px;

            @include asm-media-breakpoint('lt-sm') {
                padding: 64px 32px;
            }
        }

        > .main {
            padding: 64px;

            @include asm-media-breakpoint('lt-sm') {
                padding: 32px;
            }
        }
    }

    // -----------------------------------------------------------------------------------------------------
    // @ Fullwidth standard inner scroll
    // -----------------------------------------------------------------------------------------------------
    &.fullwidth-standard-inner-scroll {
        position: absolute;
        flex-direction: column;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;

        > .header {
            padding: 64px;

            @include asm-media-breakpoint('lt-sm') {
                padding: 64px 32px;
            }
        }

        > .main {
            padding: 64px;
            overflow-x: auto;

            @include asm-media-breakpoint('lt-sm') {
                padding: 32px;
            }
        }
    }

    // -----------------------------------------------------------------------------------------------------
    // @ Fullwidth tabbed
    // -----------------------------------------------------------------------------------------------------
    &.fullwidth-tabbed {
        flex-direction: column;

        > .header {
            padding: 64px 64px 40px 64px;

            @include asm-media-breakpoint('lt-sm') {
                padding: 64px 32px;
            }
        }

        > .mat-tab-group {

            .mat-tab-header {
                padding: 0 64px;
                border-bottom: none;
            }

            .mat-tab-body-wrapper {

                .mat-tab-body {

                    .mat-tab-body-content {
                        padding: 64px;

                        @include asm-media-breakpoint('lt-sm') {
                            padding: 32px;
                        }
                    }
                }
            }
        }
    }

    // -----------------------------------------------------------------------------------------------------
    // @ Fullwidth tabbed inner scroll
    // -----------------------------------------------------------------------------------------------------
    &.fullwidth-tabbed-inner-scroll {
        position: absolute;
        flex-direction: column;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;

        > .header {
            padding: 64px 64px 40px 64px;

            @include asm-media-breakpoint('lt-sm') {
                padding: 64px 32px;
            }
        }

        > .mat-tab-group {

            .mat-tab-header {
                padding: 0 64px;
                border-bottom: none;
            }

            .mat-tab-body-wrapper {

                .mat-tab-body {

                    .mat-tab-body-content {
                        padding: 64px;

                        @include asm-media-breakpoint('lt-sm') {
                            padding: 32px;
                        }
                    }
                }
            }
        }
    }

    // -----------------------------------------------------------------------------------------------------
    // @ Fullwidth tabbed nav
    // -----------------------------------------------------------------------------------------------------
    &.fullwidth-tabbed-nav {
        flex-direction: column;

        > .header {
            padding: 64px 64px 40px 64px;

            @include asm-media-breakpoint('lt-sm') {
                padding: 64px 32px;
            }
        }

        > nav {
            margin: 0;
            padding: 0 64px;

            &.mat-tab-nav-bar {
                border-bottom: none;
            }
        }

        > .main {
            padding: 64px;

            @include asm-media-breakpoint('lt-sm') {
                padding: 32px;
            }
        }
    }

    // -----------------------------------------------------------------------------------------------------
    // @ Fullwidth tabbed nav inner scroll
    // -----------------------------------------------------------------------------------------------------
    &.fullwidth-tabbed-nav-inner-scroll {
        position: absolute;
        flex-direction: column;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;

        > .header {
            padding: 64px 64px 40px 64px;

            @include asm-media-breakpoint('lt-sm') {
                padding: 64px 32px;
            }
        }

        > nav {
            margin: 0;
            padding: 0 64px;

            &.mat-tab-nav-bar {
                border-bottom: none;
            }
        }

        > .main {
            padding: 64px;
            overflow-x: auto;

            @include asm-media-breakpoint('lt-sm') {
                padding: 32px;
            }
        }
    }






    // Inner scroll
    &.with-inner-scroll {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
    }

    // Drawer
    &.with-drawer {

        // Mat drawer container
        > .mat-drawer-container {
            display: flex;
            flex: 1 1 auto;

            // Mat drawer
            > .mat-drawer {
                display: flex;
                flex: 1 0 auto;
                min-width: 280px;
                max-width: 280px;

                // Mat drawer inner container
                .mat-drawer-inner-container {
                    display: flex;

                    // Drawer content
                    .drawer-content {
                        display: flex;
                        flex: 1 1 auto;
                        width: 100%;
                    }
                }
            }

            // Mat drawer content
            > .mat-drawer-content {
                display: flex;
                flex: 1 1 auto;

                // Main content
                .main-content {
                    display: flex;
                    flex: 1 1 auto;
                    flex-direction: column;
                }
            }
        }
    }

    // Centered content
    &.with-centered-content {
        align-items: center;
        justify-content: center;
    }

    // Column
    &.with-direction-column {
        flex-direction: column;
    }

    // No padding
    &.with-no-padding {
        padding: 0 !important;
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-angular-material-theme {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $is-dark: map-get($theme, is-dark);

    .content-layout {

        // -----------------------------------------------------------------------------------------------------
        // @ Common
        // -----------------------------------------------------------------------------------------------------
        > .header {

            @if ($is-dark) {
                background: map-get($background, card);
            } @else {
                background: asm-color($asm-blue-grey, 300);
            }
        }

        // -----------------------------------------------------------------------------------------------------
        // @ Fullwidth tabbed
        // -----------------------------------------------------------------------------------------------------
        &.fullwidth-tabbed {

            > .mat-tab-group {

                .mat-tab-header {

                    @if ($is-dark) {
                        background: map-get($background, card);
                    } @else {
                        background: asm-color($asm-blue-grey, 300);
                    }
                }
            }
        }

        // -----------------------------------------------------------------------------------------------------
        // @ Fullwidth tabbed inner scroll
        // -----------------------------------------------------------------------------------------------------
        &.fullwidth-tabbed-inner-scroll {

            > .mat-tab-group {

                .mat-tab-header {

                    @if ($is-dark) {
                        background: map-get($background, card);
                    } @else {
                        background: asm-color($asm-blue-grey, 300);
                    }
                }
            }
        }

        // -----------------------------------------------------------------------------------------------------
        // @ Fullwidth tabbed nav
        // -----------------------------------------------------------------------------------------------------
        &.fullwidth-tabbed-nav {

            > nav {

                @if ($is-dark) {
                    background: map-get($background, card);
                } @else {
                    background: asm-color($asm-blue-grey, 300);
                }
            }
        }

        // -----------------------------------------------------------------------------------------------------
        // @ Fullwidth tabbed nav inner scroll
        // -----------------------------------------------------------------------------------------------------
        &.fullwidth-tabbed-nav-inner-scroll {

            > nav {

                @if ($is-dark) {
                    background: map-get($background, card);
                } @else {
                    background: asm-color($asm-blue-grey, 300);
                }
            }
        }
    }
}
