@mixin docs-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $is-dark: map-get($theme, is-dark);

    // Light
    $td-bottom-border-color: rgba(0, 0, 0, 0.06);
    $td-odd-background-color: #F5F8FB;

    // Dark
    @if ($is-dark) {
        $td-bottom-border-color: rgba(255, 255, 255, 0.06);
        $td-odd-background-color: rgba(255, 255, 255, 0.04);
    }

    docs {

        > div {

            .docs-simple-table {
                background-color: map-get($background, card);

                table {

                    thead {

                        tr {

                            th {
                                border-right: 1px solid map-get($foreground, divider);

                                &:last-child {
                                    border-right: none;
                                }
                            }
                        }
                    }

                    tbody {

                        tr {

                            td {
                                border-right: 1px solid map-get($foreground, divider);

                                &:last-child {
                                    border-right: none;
                                }

                                .required {
                                    background-color: #8CC592;
                                    color: #FFFFFF;
                                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12);
                                }
                            }

                            &:nth-child(2n-1) {

                                td {
                                    background-color: $td-odd-background-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
