@import 'assembly';

tasks-list {
    display: flex;
    flex: 1 1 auto;

    .mat-drawer-container {

        .mat-drawer {
            min-width: 496px !important;
            max-width: 496px !important;
            width: 496px !important;

            @include asm-media-breakpoint('lt-sm') {
                min-width: 100% !important;
                max-width: 100% !important;
                width: 100% !important;
            }
        }

        .mat-drawer-content {

            .main {
                padding: 56px 16px !important;
                min-height: 100%;

                @include asm-media-breakpoint('lt-sm') {
                    padding: 40px 8px !important;
                }

                .header {
                    display: flex;
                    flex: 1 1 auto;
                    align-items: center;
                    margin: 0 48px;

                    @include asm-media-breakpoint('lt-sm') {
                        flex-direction: column;
                        align-items: flex-start;
                        margin: 0 40px;
                    }

                    .title {

                        h1 {
                            margin: 0;
                        }
                    }

                    .main-actions {
                        margin-left: auto;

                        @include asm-media-breakpoint('lt-sm') {
                            margin-left: 0;
                        }

                        .add-task {
                            margin-right: 16px;

                            @include asm-media-breakpoint('lt-sm') {
                                margin-right: 12px;
                            }
                        }

                        .add-task,
                        .add-section {

                            @include asm-media-breakpoint('lt-sm') {
                                margin-top: 24px;
                            }

                            .mat-icon {
                                margin-right: 8px;
                                @include asm-icon-size(20);

                                + span {
                                    margin-right: 6px;
                                }
                            }
                        }
                    }
                }

                .search {
                    margin: 32px 48px 48px 48px;

                    @include asm-media-breakpoint('lt-sm') {
                        margin: 32px 40px 16px 40px;
                    }

                    .mat-form-field {
                        width: 100%;
                    }
                }

                .tasks-list {

                    &.cdk-drop-list-dragging {

                        .task {
                            transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);

                            &.cdk-drag-placeholder {
                                z-index: 10;
                            }

                            &:hover {

                                .task-content {

                                    .drag-handle {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }

                    .task {
                        position: relative;
                        display: flex;
                        align-items: center;
                        padding: 4px 32px;
                        height: 72px;
                        min-height: 72px;
                        max-height: 72px;
                        user-select: none;

                        @include asm-media-breakpoint('lt-sm') {
                            padding: 4px 16px 4px 24px;
                        }

                        &.cdk-drag-disabled {

                            .task-content {

                                .drag-handle {
                                    display: none;
                                }
                            }
                        }

                        &:hover {

                            .task-content {

                                .drag-handle {
                                    visibility: visible;
                                    pointer-events: auto;
                                    opacity: 1;
                                }
                            }
                        }

                        &.type-section {
                            font-size: 20px;
                            font-weight: 500;

                            .task-content {
                                padding: 0 16px;
                            }
                        }

                        &.type-task {

                        }

                        .task-content {
                            display: flex;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                            padding: 0 16px 0 8px;
                            border-radius: 8px;

                            .drag-handle {
                                position: absolute;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                top: 0;
                                bottom: 0;
                                left: -16px;
                                width: 48px;
                                visibility: hidden;
                                pointer-events: none;
                                opacity: 0;
                                cursor: grab;

                                .mat-icon {
                                    @include asm-icon-size(18);
                                }
                            }

                            .complete-task {
                                margin-right: 8px;
                                line-height: 1;

                                .mat-icon {
                                    @include asm-icon-size(26);
                                }
                            }

                            a {
                                display: flex;
                                flex: 1 1 auto;
                                align-items: center;
                                min-width: 0;
                                height: 100%;

                                .title {
                                    flex: 1 1 auto;
                                    margin-right: 8px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;

                                    .placeholder {
                                        user-select: none;
                                    }
                                }

                                .priority {
                                    width: 18px;
                                    height: 18px;

                                    @include asm-media-breakpoint('lt-sm') {
                                        display: none;
                                    }

                                    .low,
                                    .high {
                                        @include asm-icon-size(16);
                                    }
                                }
                            }
                        }
                    }

                    .no-tasks {
                        padding: 0 48px;
                        height: 64px;
                        line-height: 64px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.tasks-list-search-results-panel {

    > .mat-optgroup {

        &.no-results {

            label {
                visibility: hidden;
                opacity: 0;
                height: 0;
                pointer-events: none;
            }

            .mat-option {
                pointer-events: none;
            }
        }
    }

    > .mat-option {

        .mat-option-text {
            display: flex;
            align-items: center;
            font-size: 14px;
        }

        .mat-icon {
            margin-right: 12px;
            @include asm-icon-size(26);
        }
    }
}

.cdk-drag-preview {

    &.task {
        display: none !important;
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-theme {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $is-dark: map-get($theme, is-dark);

    tasks-list {

        .mat-drawer-container {
            @if (not $is-dark) {
                background: map-get($background, card);
            }

            .mat-drawer-content {

                .main {

                    .header {

                        .remaining-tasks-count {
                            color: map-get($foreground, secondary-text);
                        }
                    }

                    .tasks-list {

                        &.cdk-drop-list-dragging {

                            .task {

                                &:hover {

                                    &.type-task {

                                        .task-content {
                                            background: none;
                                        }
                                    }
                                }
                            }
                        }

                        .task {

                            &.completed {

                                a {

                                    .title {
                                        color: map-get($foreground, disabled-text);
                                    }
                                }
                            }

                            &.cdk-drag-placeholder {

                                &.type-task {

                                    .task-content {
                                        background: map-get($background, hover) !important;
                                    }
                                }
                            }

                            &:hover,
                            &.selected {

                                .task-content {
                                    @if ($is-dark) {
                                        background: asm-dark-elevation(1);
                                    } @else {
                                        background: map-get($primary, 100);
                                    }
                                }
                            }

                            .task-content {

                                .drag-handle {

                                    .mat-icon {
                                        color: map-get($foreground, hint-text);
                                    }
                                }

                                a {

                                    .title {

                                        .placeholder {
                                            color: map-get($foreground, hint-text);
                                        }
                                    }

                                    .priority {

                                        .low {
                                            @if ($is-dark) {
                                                color: asm-color($asm-green, 400);
                                            } @else {
                                                color: asm-color($asm-green, 600);
                                            }
                                        }

                                        .high {
                                            @if ($is-dark) {
                                                color: asm-color($asm-red, 400);
                                            } @else {
                                                color: asm-color($asm-red, 600);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .mat-drawer {
                @if ($is-dark) {
                    background: map-get($background, background);
                }
            }
        }
    }

    .tasks-list-search-results-panel {

        .mat-option {

            .result {

                .result-notes {
                    color: map-get($foreground, secondary-text);
                }
            }
        }
    }
}
