@import 'assembly';

tasks-list {
    display: flex;
    flex: 1 1 auto;

    .mat-drawer-container {

        .mat-drawer {
            min-width: 576px !important;
            max-width: 576px !important;
        }
    }

    .main-content {
        padding: 56px 16px;
        overflow-y: auto;

        .search-and-filters {
            margin: 24px 48px 64px 48px;
        }

        .tasks-list {

            .task {
                position: relative;
                display: flex;
                align-items: center;

                &:first-child {

                    &.type-section,
                    &.type-task {
                        margin-top: 0;
                    }
                }

                &:hover {

                    .drag-handle {
                        visibility: visible;
                        pointer-events: auto;
                        opacity: 1;
                    }
                }

                &.type-section {
                    font-size: 20px;
                    font-weight: 800;
                    padding-bottom: 12px;
                    margin: 64px 48px 16px 48px;
                    line-height: 1.2;

                    + .type-task {
                        margin-top: 0;
                    }
                }

                &.type-task {
                    padding: 0 32px;
                    margin-top: 4px;
                    height: 56px;
                    min-height: 56px;
                    max-height: 56px;

                    .task-content {
                        border-radius: 8px;
                        padding: 0 16px 0 12px;
                    }

                    &.completed {

                        .task-content {

                            a {

                                .title {
                                    position: relative;
                                }
                            }
                        }
                    }
                }

                .drag-handle {
                    position: absolute;
                    left: 0;
                    visibility: hidden;
                    pointer-events: none;
                    opacity: 0;
                    cursor: grab;
                    user-select: none;
                    margin: 0 !important;
                }

                .task-content {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 100%;

                    .completed {
                        width: 32px;
                        height: 32px;
                        line-height: 1;
                        margin-right: 8px;
                    }

                    a {
                        display: flex;
                        flex: 1 1 auto;
                        align-items: center;
                        justify-content: space-between;
                        min-width: 0;
                        height: 100%;

                        .title {
                            margin-right: 8px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .tags {
                            display: flex;
                            flex: 0 0 auto;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: flex-start;

                            .tag {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 16px;
                                padding: 0 8px;
                                margin-right: 8px;
                                border-radius: 8px;
                                font-size: 11px;
                                font-weight: bold;
                                white-space: nowrap;
                                text-transform: uppercase;

                                &:last-child {
                                    margin-right: 0;
                                }
                            }

                            .hidden-tags {
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                width: 32px;
                                height: 16px;
                                border-radius: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include asm-angular-material-theme() {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $is-dark: map-get($theme, is-dark);

    tasks-list {

        .main-content {
            background: map-get($background, card);

            .tasks-list {

                .task {

                    &.type-section {
                        box-shadow: 0 1px 0 0 map-get($foreground, divider);
                    }

                    &.type-task {

                        &:hover {

                            .task-content {
                                background: map-get($background, hover);
                            }
                        }
                    }

                    &.completed {

                        a {

                            .title {
                                color: map-get($foreground, disabled-text);
                            }
                        }
                    }

                    .tags {

                        .hidden-tags {

                            @if ($is-dark) {
                                background: map-get($background, background);
                            } @else {
                                background: #EEEEEE;
                            }
                        }
                    }
                }
            }
        }
    }
}
