<div class="content-layout right-sidebar-fullheight-basic-inner-scroll">

    <mat-drawer-container (backdropClick)="onBackdropClicked()">

        <!-- Drawer -->
        <mat-drawer [mode]="drawerMode"
                    [opened]="false"
                    [position]="'end'"
                    [disableClose]="true"
                    #matDrawer>

            <router-outlet></router-outlet>

        </mat-drawer>

        <mat-drawer-content>

            <!-- Main -->
            <div class="main">

                <!-- Header -->
                <div class="header">

                    <!-- Title -->
                    <div class="title">

                        <h2>Tasks</h2>

                        <div class="remaining-tasks-count">
                            <span *ngIf="incompleteTasksCount === 0">All tasks completed!</span>
                            <span *ngIf="incompleteTasksCount !== 0">{{incompleteTasksCount}} remaining tasks</span>
                        </div>

                    </div>

                    <!-- Main actions -->
                    <div class="main-actions">

                        <!-- Add task button -->
                        <button class="add-task"
                                mat-flat-button
                                [color]="'primary'">
                            <mat-icon>add</mat-icon>
                            <span>Add Task</span>
                        </button>

                        <!-- Add section button -->
                        <button class="add-section"
                                mat-flat-button
                                [color]="'accent'">
                            <mat-icon>add</mat-icon>
                            Add Section
                        </button>

                    </div>

                </div>

                <!-- Search -->
                <div class="search">

                    <mat-form-field class="asm-mat-simplify asm-mat-dense asm-mat-no-label asm-mat-no-subscript"
                                    [appearance]="'outline'">

                        <mat-icon matPrefix>search</mat-icon>

                        <input matInput
                               [formControl]="searchInputControl"
                               [matAutocomplete]="searchAutocomplete"
                               [autocomplete]="'off'"
                               [placeholder]="'Search tasks'"
                               #searchInput>

                        <mat-autocomplete class="tasks-list-search-results-panel"
                                          (optionSelected)="this.goToTask($event)"
                                          #searchAutocomplete="matAutocomplete">

                            <mat-optgroup class="no-results"
                                          *ngIf="searchResults && !searchResults.length">
                                <mat-option>No tasks found for <b>'{{searchInput.value}}'</b></mat-option>
                            </mat-optgroup>

                            <mat-option [id]="task.id"
                                        *ngFor="let task of searchResults"
                                        [routerLink]="[task.id]">
                                <mat-icon [color]="'primary'"
                                          *ngIf="task.completed">
                                    check_circle
                                </mat-icon>
                                <mat-icon *ngIf="!task.completed">
                                    radio_button_unchecked
                                </mat-icon>
                                <div class="result-title"
                                     [innerHTML]="task.title"></div>
                            </mat-option>

                        </mat-autocomplete>

                    </mat-form-field>

                </div>

                <!-- Tasks list -->
                <div class="tasks-list"
                     cdkDropList
                     [cdkDropListData]="tasks"
                     (cdkDropListDropped)="dropped($event)">

                    <ng-container *ngIf="tasks && tasks.length > 0; else noTasks">

                        <!-- Task -->
                        <div [id]="'task-' + task.id"
                             class="task"
                             [class.completed]="task.completed"
                             [class.selected]="selectedTask && selectedTask.id === task.id"
                             [ngClass]="'type-' + task.type"
                             *ngFor="let task of tasks; trackBy: trackById"
                             cdkDrag>

                            <!-- Task content -->
                            <div class="task-content">

                                <!-- Drag handle -->
                                <div class="drag-handle"
                                     cdkDragHandle>
                                    <mat-icon>drag_indicator</mat-icon>
                                </div>

                                <!-- Complete task button -->
                                <button class="complete-task"
                                        *ngIf="task.type === 'task'"
                                        (click)="toggleCompleted(task)"
                                        mat-icon-button>

                                    <mat-icon [color]="'primary'"
                                              *ngIf="task.completed">
                                        check_circle
                                    </mat-icon>

                                    <mat-icon *ngIf="!task.completed">
                                        radio_button_unchecked
                                    </mat-icon>

                                </button>

                                <!-- Task link -->
                                <a [routerLink]="[task.id]">

                                    <div class="title">{{task.title}}</div>

                                    <div class="tags"
                                         *ngIf="task.type === 'task' && organizeTags(task.tags).visible.length > 0">

                                        <div class="tag"
                                             *ngFor="let tag of organizeTags(task.tags).visible; trackBy: trackById">
                                            {{tag.title}}
                                        </div>

                                        <div class="tag"
                                             *ngIf="organizeTags(task.tags).hidden"
                                             [matTooltip]="organizeTags(task.tags).hidden">
                                            <span>+{{organizeTags(task.tags).hidden.split(',').length}}</span>
                                        </div>

                                    </div>

                                    <div class="priority"
                                         *ngIf="task.type === 'task'">

                                        <!-- Low -->
                                        <mat-icon class="low"
                                                  *ngIf="task.priority === 0"
                                                  [title]="'Low'">
                                            arrow_downward
                                        </mat-icon>

                                        <!-- Normal -->
                                        <mat-icon class="normal"
                                                  *ngIf="task.priority === 1"
                                                  [title]="'Normal'">
                                            remove
                                        </mat-icon>

                                        <!-- High -->
                                        <mat-icon class="high"
                                                  *ngIf="task.priority === 2"
                                                  [title]="'High'">
                                            arrow_upward
                                        </mat-icon>

                                    </div>

                                </a>

                            </div>

                        </div>

                    </ng-container>

                    <ng-template #noTasks>
                        <div class="no-tasks">There are no tasks!</div>
                    </ng-template>

                </div>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
