// -----------------------------------------------------------------------------------------------------
// @ Angular Material styles, overrides and extensions
// -----------------------------------------------------------------------------------------------------

// Include core Angular Material styles from '~@angular/material/theming'
@include mat-core();

// -----------------------------------------------------------------------------------------------------
// @ Accordion
// -----------------------------------------------------------------------------------------------------
.mat-accordion {

    .mat-expansion-panel {
        margin-bottom: 24px;
        border-radius: 8px !important;
        transition: box-shadow 225ms cubic-bezier(0.4, 0.0, 0.2, 1);
        @include asm-elevation(1, true);

        &:last-child {
            margin-bottom: 0;
        }

        &.mat-expanded,
        &:hover {
            @include asm-elevation(3, true);
        }

        .mat-expansion-panel-header {
            font-size: 14px;

            &[aria-disabled=true] {

                .mat-expansion-panel-header-description {
                    margin-right: 28px;
                }
            }

            .mat-expansion-indicator {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 12px;
                height: 12px;

                // Do not override the border color of the expansion panel indicator
                &:after {
                    border-color: currentColor !important;
                }
            }
        }

        .mat-expansion-panel-body {
            line-height: 1.5;
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Buttons
// -----------------------------------------------------------------------------------------------------
.mat-button,
.mat-fab,
.mat-flat-button,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button,
.mat-stroked-button {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    line-height: 1 !important;

    .mat-button-wrapper {
        display: inline-flex !important;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    // Large button
    &.asm-mat-button-large {
        height: 48px;
        min-height: 48px;
        max-height: 48px;
    }
}

.mat-fab {
    max-height: 56px;
}

// -----------------------------------------------------------------------------------------------------
// @ Button Toggle
// -----------------------------------------------------------------------------------------------------
.mat-button-toggle-group {

    &.mat-button-toggle-group-appearance-standard {

        .mat-button-toggle + .mat-button-toggle {
            background-clip: padding-box;
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Chip
// -----------------------------------------------------------------------------------------------------
.mat-chip {
    font-weight: 500 !important;
}

// -----------------------------------------------------------------------------------------------------
// @ Form fields
// -----------------------------------------------------------------------------------------------------

// Assembly only uses 'fill' style form fields and therefore
// only provides fixes and tweaks for that style
.mat-form-field.mat-form-field-appearance-fill {

    // Adjustments for no mat-label
    &:not(.mat-form-field-has-label) {

        .mat-form-field-wrapper {

            .mat-form-field-flex {

                .mat-form-field-infix {

                    [matInputPrefix],
                    [matInputSuffix] {
                        margin-top: 0;
                        opacity: 1 !important;
                    }

                    .mat-input-element {
                        margin-top: 0;
                        transform: none !important;
                    }

                    // Textarea
                    textarea {
                        margin: 12px 0 !important;
                        min-height: 48px !important;
                    }

                    // Select
                    .mat-select {

                        .mat-select-value {
                            top: 0 !important;
                        }
                    }
                }
            }
        }
    }

    // Fix the arrow for native select
    &.mat-form-field-type-mat-native-select {

        .mat-form-field-infix {

            &:after {
                margin-top: -3px;
            }
        }
    }

    // Show input prefix and suffix on label float
    &.mat-form-field-should-float {

        .mat-form-field-wrapper {

            .mat-form-field-flex {

                .mat-form-field-infix {

                    [matInputPrefix],
                    [matInputSuffix] {
                        opacity: 1;
                        transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
                    }
                }
            }
        }
    }

    // Default style tweaks and enhancements
    .mat-form-field-wrapper {
        margin-bottom: 12px;

        .mat-form-field-flex {
            display: flex;
            align-items: stretch;
            min-height: 3.5em;
            border-radius: 4px;
            padding: 0 1em;
            border-width: 1px;
            border-style: solid;

            .mat-form-field-prefix {

                .mat-icon {
                    margin-right: 12px;
                }
            }

            .mat-form-field-suffix {

                .mat-icon {
                    margin-left: 12px;
                }
            }

            .mat-form-field-prefix,
            .mat-form-field-suffix {
                display: inline-flex;
                align-items: center;
                justify-content: center;

                * {
                    min-height: 16px;
                    line-height: normal;
                }

                .mat-icon-button {
                    width: 40px;
                    min-width: 40px;
                    height: 40px;
                    min-height: 40px;
                }

                // Remove the margins from the mat-icon
                // if it's inside a button
                .mat-button,
                .mat-raised-button,
                .mat-icon-button,
                .mat-stroked-button,
                .mat-flat-button,
                .mat-fab,
                .mat-mini-fab {

                    .mat-icon {
                        margin: 0 !important;
                    }
                }

                // Make mat-select usable as
                // prefix and suffix
                .mat-select {
                    display: flex;
                    align-items: center;

                    .mat-select-trigger {
                        display: flex;
                        align-items: center;

                        .mat-select-value {
                            display: flex;
                            max-width: none;

                            mat-select-trigger {

                                .mat-icon {
                                    margin: 0 !important;
                                }
                            }
                        }

                        .mat-select-arrow-wrapper {
                            display: flex;
                            align-items: center;
                            transform: none;
                            margin-left: 8px;

                            .mat-select-arrow {
                                min-height: 0;
                            }
                        }
                    }
                }
            }

            .mat-form-field-prefix {

                .mat-icon-button {
                    margin: 0 4px 0 -8px;
                }

                .mat-select {
                    margin-right: 12px;
                }
            }

            .mat-form-field-suffix {

                .mat-icon-button {
                    margin: 0 -8px 0 4px;
                }

                .mat-select {
                    margin-left: 12px;
                }
            }

            .mat-form-field-infix {
                display: flex;
                align-items: center;
                min-height: 48px;
                width: 88px;
                padding: 0;
                border: 0;

                [matInputPrefix],
                [matInputSuffix] {
                    display: flex;
                    align-items: center;
                    min-height: 16px;
                    margin-top: 0;
                    opacity: 0;
                    line-height: normal;
                    transform: translateY(0.6em);
                }

                [matInputPrefix] {
                    order: 1;
                }

                [matInputSuffix] {
                    order: 3;
                }

                .mat-input-element {
                    order: 2;
                    min-height: 16px;
                    margin-top: 0;
                    line-height: normal;
                    transform: translateY(0.6em);
                }

                // Textarea
                textarea.mat-input-element {
                    display: flex;
                    align-self: stretch;
                    min-height: 0;
                    margin: 1.7em 0 0.5em 0;
                    padding: 4px 0;
                    transform: none;
                    line-height: 1.5;

                    + .mat-form-field-label-wrapper {
                        top: 1.28571em;
                        transform: none;
                    }
                }

                // Select
                .mat-select {

                    .mat-select-placeholder {
                        min-height: 16px;
                        line-height: normal;
                    }

                    .mat-select-value {
                        position: relative;
                        top: 8px;
                        min-height: 16px;
                        line-height: normal;
                    }

                    .mat-select-arrow-wrapper {
                        transform: translateY(0);

                        .mat-select-arrow {
                            margin: 0 0 0 8px;
                        }
                    }
                }

                // Chips
                .mat-chip-list {
                    width: 100%;

                    .mat-chip-input {
                        margin: 0 0 0 8px;
                    }
                }

                .mat-form-field-label-wrapper {
                    top: 50%;
                    transform: translateY(-50%);
                    height: auto;
                    padding-top: 0;
                    overflow: visible;

                    .mat-form-field-label {
                        position: relative;
                        top: 0;
                        min-height: 16px;
                        margin-top: 0;
                        line-height: normal;
                    }
                }
            }
        }

        // Remove the underline
        .mat-form-field-underline {
            display: none;
        }

        // Subscript tweaks
        .mat-form-field-subscript-wrapper {
            padding: 0;
        }
    }

    // Adds better alignment for textarea inputs
    &.asm-mat-textarea {

        &.mat-form-field.mat-form-field-appearance-fill {

            .mat-form-field-wrapper {

                .mat-form-field-flex {

                    .mat-form-field-prefix,
                    .mat-form-field-suffix {
                        align-items: flex-start;
                        padding: 1em 0;
                    }
                }
            }
        }
    }

    // Removes subscript space
    &.asm-mat-no-subscript {

        &.mat-form-field.mat-form-field-appearance-fill {

            .mat-form-field-wrapper {
                padding-bottom: 0;
                margin-bottom: 0;

                .mat-form-field-subscript-wrapper {
                    display: none !important;
                    height: 0 !important;
                }
            }
        }
    }

    // Rounded
    &.asm-mat-rounded {

        &.mat-form-field.mat-form-field-appearance-fill {

            .mat-form-field-wrapper {

                .mat-form-field-flex {
                    border-radius: 28px;
                }
            }
        }
    }

    // Dense
    &.asm-mat-dense {

        &.mat-form-field.mat-form-field-appearance-fill {

            .mat-form-field-wrapper {

                .mat-form-field-flex {
                    min-height: 2em;

                    .mat-form-field-prefix,
                    .mat-form-field-suffix {

                        .mat-icon-button {
                            width: 32px;
                            min-width: 32px;
                            height: 32px;
                            min-height: 32px;
                        }
                    }

                    .mat-form-field-infix {
                        min-height: 40px;
                    }
                }
            }
        }

        // Rounded
        &.asm-mat-rounded {

            &.mat-form-field.mat-form-field-appearance-fill {

                .mat-form-field-wrapper {

                    .mat-form-field-flex {
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Icon
// -----------------------------------------------------------------------------------------------------
.mat-icon {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
}

// -----------------------------------------------------------------------------------------------------
// @ Stepper
// -----------------------------------------------------------------------------------------------------
.mat-step-icon {

    // Do not override the mat-icon color
    .mat-icon {
        color: currentColor !important;
    }
}

// -----------------------------------------------------------------------------------------------------
// @ Tabs
// -----------------------------------------------------------------------------------------------------
.mat-tab-label {
    opacity: 0.87 !important;
}

// -----------------------------------------------------------------------------------------------------
// @ Textarea
// -----------------------------------------------------------------------------------------------------
textarea.mat-input-element {
    box-sizing: content-box !important;
}

// -----------------------------------------------------------------------------------------------------
// @ Theming overrides and fixes
// -----------------------------------------------------------------------------------------------------
@include asm-theme {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    $warn: map-get($theme, warn);
    $is-dark: map-get($theme, is-dark);

    // -----------------------------------------------------------------------------------------------------
    // @ Accordion
    // -----------------------------------------------------------------------------------------------------
    .mat-accordion {

        .mat-expansion-panel {

            &:not(.mat-expanded) {

                .mat-expansion-panel-header {

                    &:not([aria-disabled=true]) {

                        &.cdk-keyboard-focused,
                        &.cdk-program-focused,
                        &:hover {
                            background: transparent !important;
                        }
                    }
                }
            }

            .mat-expansion-panel-body {
                color: map-get($foreground, secondary-text);
            }
        }
    }

    // -----------------------------------------------------------------------------------------------------
    // @ Buttons
    // -----------------------------------------------------------------------------------------------------

    // Colored background buttons
    .mat-flat-button,
    .mat-raised-button,
    .mat-fab,
    .mat-mini-fab {

        // Apply palette's contrasting color rather than main foreground color
        @each $palette in (primary, accent, warn) {

            $palette-contrast-color: map-get(map-get($theme, $palette), default-contrast);

            &.mat-#{$palette}:not([disabled]) {

                .mat-icon {
                    color: $palette-contrast-color;
                }
            }
        }

        .mat-icon {
            color: currentColor !important;
        }

        // Add hover and focus style on all buttons
        .mat-button-focus-overlay {
            @if ($is-dark) {
                background-color: asm-dark-elevation(1);
            } @else {
                background-color: rgba(asm-color($asm-gray, 500), 0.2);
            }
        }

        // On palette colored buttons, use a darker color
        @each $palette in (primary, accent, warn) {

            &.mat-#{$palette} {

                .mat-button-focus-overlay {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
        }

        &:hover,
        &.cdk-keyboard-focused,
        &.cdk-program-focused {

            .mat-button-focus-overlay {
                opacity: 1;
            }
        }

        @media (hover: none) {

            &:hover {

                .mat-button-focus-overlay {
                    opacity: 0 !important;
                }
            }
        }

        &[disabled] {

            .mat-button-focus-overlay {
                opacity: 0 !important;
            }
        }
    }

    // Transparent background buttons
    .mat-button,
    .mat-icon-button,
    .mat-stroked-button {

        // Apply palette's color rather than main foreground color
        @each $palette in (primary, accent, warn) {

            $palette-color: map-get(map-get($theme, $palette), default);

            &.mat-#{$palette}:not([disabled]) {

                .mat-icon {
                    color: $palette-color;
                }
            }
        }

        // Add hover and focus styles
        .mat-button-focus-overlay {
            @if ($is-dark) {
                background-color: asm-dark-elevation(1) !important;
            } @else {
                background-color: rgba(asm-color($asm-gray, 500), 0.2) !important;
            }
        }

        // On palette colored buttons, use a the palette color
        @each $palette in (primary, accent, warn) {

            &.mat-#{$palette} {

                .mat-button-focus-overlay {
                    background-color: rgba(map-get(map-get($theme, $palette), default), 0.1) !important;
                }
            }
        }

        &:hover,
        &.cdk-keyboard-focused,
        &.cdk-program-focused {

            .mat-button-focus-overlay {
                opacity: 1;
            }
        }

        @media (hover: none) {

            &:hover {

                .mat-button-focus-overlay {
                    opacity: 0 !important;
                }
            }
        }

        &[disabled] {

            .mat-button-focus-overlay {
                opacity: 0 !important;
            }
        }
    }

    // All buttons
    .mat-flat-button,
    .mat-raised-button,
    .mat-fab,
    .mat-mini-fab,
    .mat-button,
    .mat-icon-button,
    .mat-stroked-button {

        // Move mat-button-wrapper above the ripple and focus overlay
        .mat-button-wrapper {
            position: relative;
            z-index: 2;
        }

        .mat-button-focus-overlay,
        .mat-button-ripple {
            z-index: 1;
        }
    }

    // Stroked buttons
    .mat-stroked-button {

        // Border color
        &:not([disabled]) {
            @if ($is-dark) {
                border-color: map-get($asm-gray, 600);
            } @else {
                border-color: map-get($asm-gray, 400);
            }
        }

        &[disabled] {
            @if ($is-dark) {
                border-color: map-get($asm-gray, 700);
            } @else {
                border-color: map-get($asm-gray, 300);
            }
        }
    }

    // -----------------------------------------------------------------------------------------------------
    // @ Drawer
    // -----------------------------------------------------------------------------------------------------
    .mat-drawer-backdrop.mat-drawer-shown {
        @if ($is-dark) {
            background-color: asm-dark-elevation(4);
        } @else {
            background-color: rgba(asm-color($asm-gray, 900), 0.6);
        }
    }

    // -----------------------------------------------------------------------------------------------------
    // @ Form fields
    // -----------------------------------------------------------------------------------------------------

    .mat-form-field.mat-form-field-appearance-fill {

        &:not(.mat-focused):not(.mat-form-field-invalid) .mat-form-field-label,
        .mat-hint {
            color: map-get($foreground, secondary-text);
        }

        &.mat-form-field-invalid {

            .mat-form-field-wrapper {

                .mat-form-field-flex {
                    border-color: map-get($warn, default);
                }
            }
        }

        &.mat-focused {

            .mat-form-field-wrapper {

                .mat-form-field-flex {
                    background-color: map-get($background, card);
                    border-color: map-get($primary, default);
                }
            }
        }

        .mat-form-field-wrapper {

            .mat-form-field-flex {
                @if ($is-dark) {
                    background-color: asm-dark-elevation(1);
                    border-color: asm-color($asm-gray, 600);
                } @else {
                    background-color: asm-color($asm-gray, 100);
                    border-color: asm-color($asm-gray, 400);
                }

                .mat-form-field-prefix,
                .mat-form-field-suffix {
                    color: map-get($foreground, secondary-text);
                }

                .mat-form-field-infix {

                    [matInputPrefix],
                    [matInputSuffix] {
                        color: map-get($foreground, secondary-text);
                    }
                }
            }
        }
    }

    // -----------------------------------------------------------------------------------------------------
    // @ Inputs
    // -----------------------------------------------------------------------------------------------------
    .mat-input-element {

        // Placeholder color
        &::placeholder {
            color: map-get($foreground, secondary-text);
        }

        &::-moz-placeholder {
            color: map-get($foreground, secondary-text);
        }

        &::-webkit-input-placeholder {
            color: map-get($foreground, secondary-text);
        }

        &:-ms-input-placeholder {
            color: map-get($foreground, secondary-text);
        }
    }

    .mat-form-field-invalid {

        .mat-input-element {

            // Placeholder color (error)
            &::placeholder {
                color: map-get($warn, default);
            }

            &::-moz-placeholder {
                color: map-get($warn, default);
            }

            &::-webkit-input-placeholder {
                color: map-get($warn, default);
            }

            &:-ms-input-placeholder {
                color: map-get($warn, default);
            }
        }
    }

    // -----------------------------------------------------------------------------------------------------
    // @ Select
    // -----------------------------------------------------------------------------------------------------
    .mat-select {

        // Placeholder color
        .mat-select-placeholder {
            color: map-get($foreground, secondary-text);
        }
    }

    // -----------------------------------------------------------------------------------------------------
    // @ Toolbar
    // -----------------------------------------------------------------------------------------------------
    .mat-toolbar {

        // Apply palette's contrasting color rather than main foreground color
        @each $palette in (primary, accent, warn) {

            $palette-contrast-color: map-get(map-get($theme, $palette), default-contrast);

            &.mat-#{$palette} {

                .mat-icon {
                    color: $palette-contrast-color;
                }

                .text-secondary {
                    color: rgba(rgba($palette-contrast-color, 1), 0.6);
                }

                .text-hint {
                    color: rgba(rgba($palette-contrast-color, 1), 0.38);
                }

                .text-disabled {
                    color: rgba(rgba($palette-contrast-color, 1), 0.38);
                }

                .divider {
                    color: rgba($palette-contrast-color, 0.12);
                }
            }
        }
    }
}
